<div class="adsh-campaign-list__item">
  <div
    class="
      row
      align-center
      adsh-copy
      adsh-copy--semi"
  >
    <div
      class="
        col-xs-3
        row
        align-center"
    >
      <div
        class="
          adsh-heading
          adsh-heading--secondary"
      >
        ***REMOVED***
      </div>
    </div>
    <div
      class="
        col-xs-2
        row
        align-center
        adsh-heading
        adsh-heading--secondary"
    >
      Publisher
    </div>
    <div
      class="
        col-xs-2
        row
        align-center
        adsh-heading
        adsh-heading--secondary">
      + $42.00
    </div>
    <div
      class="
        col-xs-4
        row
        align-center"
    >
      <div class="adsh-chip-box">
        England
      </div>
      <div class="adsh-chip-box">
        English
      </div>
      <div class="adsh-chip-box">
        Manchester
      </div>
    </div>
    <div
      class="
        col-xs-1
        row
        align-center
        justify-center
        adsh-campaign-list__item-campaign-details"
    >
      <a>
        <img
          src="/assets/images/chevron--right.svg"
          alt="Campaign Details Icon"
        >
      </a>
    </div>
  </div>
</div>
