<div class="user-item">
  <div
    class="
      row
      align-center
      adsh-copy
      adsh-copy--semi"
  >
    <div
      class="
        col-xs-3
        row
        align-center"
    >
      <div
        class="
          adsh-heading
          adsh-heading--secondary"
      >
        {{ userInfoStats.email }}
      </div>
    </div>
    <div
      class="
        col-xs-2
        row
        align-center
        adsh-heading
        adsh-heading--secondary"
    >
      Publisher
    </div>
    <div
      class="
        col-xs-2
        row
        align-center
        adsh-heading
        adsh-heading--secondary">
      + ${{ userInfoStats.profit }}
    </div>
    <div
      class="
        col-xs-4
        row
        align-center"
    >
      <div class="adsh-chip-box" *ngFor="let keyword of userInfoStats.topKeywords">
        {{ keyword }}
      </div>
    </div>
    <div
      class="
        col-xs-1
        row
        align-center
        justify-center
        user-details"
    >
      <a>
        <img
          src="/assets/images/chevron--right.svg"
          alt="User Details Icon"
        >
      </a>
    </div>
  </div>
</div>
