.funds-actions {
  margin: 20px 0;

  .dwmth-btn {
    margin-right: 20px;
  }
}

.withdrawal {
  margin-bottom: 15px;
  max-width: 400px;

  & > div {
    max-width: 250px;
  }
}

.period {
  text-transform: lowercase;
}
