.funds-actions {
  margin: 20px 0;

  .dwmth-btn {
    margin-right: 20px;
  }
}

.withdrawal {
  margin-bottom: 15px;
  max-width: 400px;

  & > div {
    max-width: 250px;
  }
}

.period {
  text-transform: lowercase;
}

.user-wallet {
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;

  &__wallet-box {
    height: 100%;

    &--with-margin {
      margin-right: 8px;
    }
  }
}
