<section class="preferences user-wallet">
  <div
    class="
      user-wallet__wallet-box
      user-wallet__wallet-box--with-margin"
  >
    <h2 class="user-wallet__title"
    >
      Your Wallet
    </h2>
    <p class="user-wallet__sub-title"
    >
      Deposit or withdraw funds
    </p>

    <div class="user-wallet__content-container"
    >
      <h1 class="user-wallet__funds"
          data-test="user-total-funds"
      >
        {{ wallet.walletBalance | adsharesTokenValue }}
      </h1>
      <div class="user-wallet__funds-actions">
        <button
          class="user-wallet__btn--white"
          (click)="openAddFundsDialog()"
          data-test="add-funds-dialog-open-button"
        >
          <img
            class="user-wallet__icon"
            src="assets/images/credit-card--blue.svg"
          >
          Deposit Funds
        </button>
        <button
          class="user-wallet__btn"
          (click)="openWithdrawFundsDialog()"
          data-test="withdraw-funds-dialog-open-button"
        >
          <img
            class="user-wallet__icon"
            src="assets/images/credit-card--white.svg"
          >
          Withdraw Funds
        </button>
      </div>
    </div>
    <a
      [href]="faqLink"
      target="_blank"
      class="user-wallet__link"
      data-test="settings-faq-link"
    >
      Check our FAQ
    </a>
  </div>

  <div
    class="user-wallet__wallet-box">
    <div class="user-wallet__content-container">
      <h2 class="user-wallet__title">
        BONUS
      </h2>
      <p class="user-wallet__sub-title">
        You can spend your bonus funds on advertising but you can't withdraw them.
      </p>
      <strong class="user-wallet__funds"
              data-test="user-total-funds"
      >
        {{ wallet.bonusBalance > 0 ?
        (wallet.bonusBalance | adsharesTokenValue) : (wallet.bonusBalance | adsharesTokenValue:'':2) }}
      </strong>
    </div>
  </div>
</section>
