@import "../../../../styles/mixins";
@import "../../../../styles/colors";


.user-wallet {
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  &__wallet-box {
    @include container(20px, 20px,
    $border-color: pal(gray)
    );
    min-width: 450px;
    flex: 1;
    &--with-margin {
      margin-bottom: 8px;
    }
    @media (min-width: 1358px) {
      &--with-margin {
        margin-bottom: 0;
        margin-right: 8px;
      }
    }
  }

  &__title,
  &__funds {
    @include copy($color: pal(primary), $font-weight: bold, $font-size: 32)
  }

  &__funds-in-currency {
    @include copy($color: pal(gray), $font-size: 22);
    margin-top: 16px;
  }

  &__sub-title {
    @include copy($font-size: 22, $margin-vertical: 5px);
    overflow: initial;
  }

  &__content-container {
    @include container(0, 0, $border-color: pal(light));
    display: flex;
    flex-direction: column;
  }

  &__funds-actions {
    display: flex;
    flex-flow: row wrap;
    margin-top: 20px;
  }

  &__btn {
    @include btn();
    max-height: 75px;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-right: 24px;
    margin-bottom: 15px;
    white-space: nowrap;

    &--white {
      color: pal(secondary);
      background-color: pal(light);
      border-color: pal(gray);

      &:focus,
      &:hover:not([disabled]) {
        background-color: pal(light);
      }

      &[disabled] {
        background-color: pal(light);
        border-color: pal(light);
      }
    }

    small {
      font-size: 80%;
    }
  }

  &__icon {
    height: 16px;
    margin-right: 16px;
  }

  &__link {
    @include copy($color: pal(secondary));

    &:hover {
      color: pal(secondary);
    }
  }
}
