<section class="preferences">
  <div
    class="
      adsh-box
      adsh-box--large"
  >
    <div class="col">
      <h2
        class="
          adsh-heading
          adsh-heading--primary"
      >
        Your Wallet
      </h2>
      <p
        class="
          adsh-copy
          adsh-copy--large"
      >
        Here you can change the email address you use on Adshares and your password
      </p>

      <div
        class="
          row
          align-start"
      >
        <div class="col-xs-7">
          <div
            class="
              col
              adsh-box
              adsh-box--light-border
              adsh-box--large"
          >
            <h1
              class="
                adsh-heading
                adsh-heading--primary"
            >
              -- Adst
              <span
                class="
                  adsh-copy--semi
                  adsh-copy--light"
              >
                ($ -)
              </span>
            </h1>
            <p
              class="
                adsh-copy
                adsh-copy--large"
            >
              Last successful payment: 24/06/2017, 6:55 AM
            </p>
            <div
              class="
                row
                funds-actions"
            >
              <button
                class="
                  adsh-btn
                  adsh-btn--white
                  adsh-blue"
              >
                <img
                  class="
                    adsh-icon
                    adsh-icon--prepend"
                  src="assets/images/credit-card--blue.svg"
                >
                  Deposit Funds
              </button>
              <button
                class="
                  adsh-btn
                  adsh-btn--blue"
              >
                <img
                  class="
                    adsh-icon
                    adsh-icon--prepend"
                  src="assets/images/credit-card--white.svg"
                >
                  Withdraw Funds
              </button>
            </div>
          </div>
        </div>
        <div
          class="
            col-xs-5
            adsh-box
            adsh-box--large"
        >
          <div
            class="
              row
              justify-between
              no-wrap
              withdrawal"
          >
            <div class="col">
              <p class="adsh-copy">
                Your withdraws address
              </p>
              <p
                class="
                  adsh-heading
                  adsh-heading--secondary"
              >
                j12-jwo90-110p
              </p>
            </div>
            <button
              class="
                adsh-btn
                adsh-btn--white
                adsh-btn--no-border
                adsh-blue"
              (click)="foo()"
            >
              Change Address
            </button>
          </div>
          <div
            class="
              row
              justify-between
              no-wrap
              withdrawal"
          >
            <div class="col">
              <p class="adsh-copy">
                Automatic Withdraws
              </p>
              <p
                class="
                  adsh-heading
                  adsh-heading--secondary"
              >
                After 300 AD Tokens is accrued or after 30 days
              </p>
            </div>
            <button
              class="
                adsh-btn
                adsh-btn--white
                adsh-btn--no-border
                adsh-blue"
              (click)="foo()"
            >
              Change Withdraw
            </button>
          </div>
        </div>
      </div>

      <div
        class="
          row
          align-center"
      >
        <p
          class="
            adsh-copy
            adsh-copy--large"
        >
          We do our best to give you a great experience - we'll be sad to see you leave us.
        </p>
        <button
          class="
            adsh-btn
            adsh-btn--white
            adsh-btn--no-border
            adsh-blue"
          (click)="foo()"
        >
          Check our FAQ
        </button>
      </div>
    </div>
  </div>
</section>
