@import '../../../styles';

.add-new-site-wrapper {
  padding: 80px 0 60px;

  > * {
    margin: 20px 0;
  }
}

.chart {
  height: 250px !important;

  &-wrapper {
    height: 250px;
    width: 100%;
  }
}

.dashboard {
  &__chart-wrapper {
    overflow: hidden;
    overflow-x: auto;
    margin-bottom: 24px;
  }

  &__chart {
    min-width: 650px;
    width: 100%;
  }
}
