<section class="dashboard-view" *ngIf="sitesLoaded; else loading">
  <div class="container">
    <div class="row no-gutters justify-end">
      <button
        routerLink="/publisher/classifier"
        data-test="publisher-navigate-to-classifier"
        class="ap-btn ap-btn--primary">
        Reject banner ads
      </button>
    </div>

    <ng-container *ngIf="!!sites.length">
      <div class="ap-box">
        <h2 class="ap-heading ap-heading--h2 box-title">Statistics</h2>
        <div class="box-content">
          <div class="row justify-between">
            <app-chart-filter-by-type
              (updateId)="appChartRef.updateChartDataAssetId($event)"
              (updateSeries)="appChartRef.updateChartDataSeries($event)"></app-chart-filter-by-type>
            <app-chart-filter
              *ngIf="!!sites.length"
              (filter)="appChartRef.updateChartData($event); loadSites($event.from, $event.to)"></app-chart-filter>
          </div>
          <div class="dashboard__chart-wrapper">
            <div class="dashboard__chart">
              <app-chart
                class="chart row align-center justify-center"
                (update)="getChartData($event)"
                [barChartData]="barChartData"
                [barChartLabels]="barChartLabels"></app-chart>
            </div>
          </div>
          <div class="row justify-end">
            <button
              (click)="downloadReport()"
              class="ap-btn ap-btn--secondary"
              data-test="publisher-download-report-button">
              Generate a report
            </button>
          </div>
        </div>
      </div>

      <div class="ap-box ap-copy">
        <div class="row justify-between box-title">
          <h2 class="ap-heading ap-heading--h2">List of all sites</h2>
          <button
            *ngIf="sites.length > 5"
            class="ap-btn ap-btn--secondary"
            (click)="navigateToCreateSite()"
            data-test="publisher-create-new-site">
            <fa-icon [icon]="faPlusCircle" class="ap-icon ap-icon--prepend"></fa-icon>
            Add new site
          </button>
        </div>
        <div class="box-content">
          <app-site-list [dataLoaded]="dataLoaded" [sites]="sites" [sitesTotals]="sitesTotals"></app-site-list>
        </div>
        <div class="box-content row justify-end">
          <button
            class="ap-btn ap-btn--secondary"
            (click)="navigateToCreateSite()"
            data-test="publisher-create-new-site">
            <fa-icon [icon]="faPlusCircle" class="ap-icon ap-icon--prepend"></fa-icon>
            Add new site
          </button>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="!sites.length">
      <div class="ap-box col align-center justify-center text-center add-new-site-wrapper">
        <img src="/assets/images/publisher-account-illustration.svg" alt="Publisher New Site Illustration" />
        <div class="ap-customize__box-description">
          <h2 class="ap-heading ap-heading--h2">Add your first site</h2>
        </div>
        <button
          routerLink="/publisher/create-site/basic-information"
          data-test="publisher-create-new-site"
          class="row align-center ap-btn ap-btn--primary">
          <fa-icon class="ap-icon ap-icon--prepend" [icon]="faPlusCircle"></fa-icon>
          Create now
        </button>
      </div>
    </ng-container>
  </div>
</section>
<ng-template #loading>
  <div class="loading-wrapper">
    <mat-spinner [diameter]="30" [strokeWidth]="4"></mat-spinner>
  </div>
</ng-template>
