<app-confirmation-alert></app-confirmation-alert>
<section
  class="
    adsh-publisher-wrapper
    dashboard-view"
>
  <div class="container">
    <div
      class="
        row
        justify-between"
    >
      <div class="col-xs-4">
        <h1
          class="
            adsh-heading
            adsh-heading--primary"
        >
          My Sites
        </h1>
        <p
          class="
            adsh-copy
            adsh-copy--large"
        >
          Etiam pretium dapibus congue. Praesent a lorem erat.
        </p>
      </div>
      <div class="col-xs-8">
        <app-chart-filter *ngIf="!sites"></app-chart-filter>
      </div>
    </div>

    <div *ngIf="!sites">
      <!--mock chart-->
      <div
        class="
          adsh-box
          adsh-box--large"
      >
        <div class="row">
          <div
            class="col-xs-4"
            *ngFor="let i of [1,2,3,4,5,6]"
          >
            <img
              src="/assets/images/chart.png"
              style="max-width: 100%; height: 150px; padding: 5px">
          </div>
        </div>
      </div>

      <app-site-list></app-site-list>
    </div>


    <div *ngIf="sites">
      <div
        class="
          adsh-box
          adsh-box--large
          col
          align-center
          justify-center
          text-center
          add-new-site-wrapper"
      >
        <img
          src="/assets/images/add-new.svg"
          alt="Publisher New Site Illustration">
        <div class="adsh-customize__box-description">
          <h2
            class="
              adsh-heading
              adsh-heading--primary"
          >
            Add your First Site
          </h2>

          <p
            class="
              adsh-copy
              adsh-copy--large"
          >
            Etiam pretium dapibus congue.
            Praesent a lorem erat.
            Morbi mollis posuere lacus, vel semper risus.
          </p>
        </div>
        <a
          routerLink="/publisher/create-site/basic-information"
          [queryParams]="{step: 1}"
        >
          <button
            class="
              row
              align-center
              adsh-btn
              adsh-btn--large
              adsh-btn--white
              adsh-btn--no-border"
          >
            <img
              src="assets/images/plus-circle--blue.svg"
              alt="Add new icon"
              class="
                adsh-icon
                adsh-icon--prepend"
            >
            <span
              class="
                adsh-heading
                adsh-heading--secondary"
            >
              Create now
            </span>
          </button>
        </a>
      </div>
    </div>
    <app-funds-summary></app-funds-summary>

  </div>
</section>
