<section
  class="
    col
    dwmth-posters-list"
>
  <div class="dwmth-posters-list__items">
    <div class="dwmth-box">
      <app-table-navigation
        [navigationName]="'adListNavigation'"
        class="
          row
          dwmth-copy
          dwmth-copy--small"
        (sortTable)="sortTable($event)"
      ></app-table-navigation>
    </div>

    <app-poster-list-item
      *ngFor="let ad of adList"
      [ad]="ad"
      [campaign]="campaign"
    ></app-poster-list-item>
  </div>
</section>
