<section
  class="
  col
  adsh-ad-list"
>
  <div class="adsh-ad-list__items">
    <div class="adsh-box">
      <app-table-navigation
        [navigationName]="'adListNavigation'"
        class="
      row
      adsh-copy
      adsh-copy--small"
      >
      </app-table-navigation>
    </div>

    <app-ad-list-item
      *ngFor="let ad of adList"
      [ad]="ad"
    >
    </app-ad-list-item>

    <div class="adsh-box">
      <div
        class="
        row
        justify-center"
      >
        <button
          class="
            row
            align-center
            adsh-btn
            adsh-btn--large
            adsh-btn--white
            adsh-btn--no-border"
        >
          <img
            src="assets/images/plus-circle--blue.svg"
            alt="Add new icon"
            class="
              adsh-icon
              adsh-icon--prepend"
          >
          <span
            class="
              adsh-heading
              adsh-heading--secondary"
              >
            Create new Ad
          </span>
        </button>
      </div>
    </div>
  </div>
</section>
