<div class="row justify-end align-center finances-settings__submit">
  <button class="dwmth-btn dwmth-btn--blue"
          [disabled]="!canSubmit"
          (click)="saveSettings()">
    Save settings
  </button>
</div>
<article class="row finances finances-settings__commisions-wrapper">
  <app-earnings-settings
    [title]="'Advertiser commission'"
    [desc]=" 'Set a commission that will be subtracted from event payments. It will be a part of your income.'"
    [max]="100"
    [min]="0"
    [step]="0.01"
    [format]="'%'"
    [value]="settings.advertiserCommission"
    (valueChanged)="updateSettings($event, 'advertiserCommission')"
  >
  </app-earnings-settings>
  <app-earnings-settings
    [title]="'Publisher commission'"
    [desc]="'Set a commission that will be subtracted from publishers’ revenue from ads that were displayed. It will be a part of your income'"
    [max]="100"
    [min]="0"
    [step]="0.01"
    [format]="'%'"
    [value]="settings.publisherCommission"
    (valueChanged)="updateSettings($event, 'publisherCommission')"
  >
  </app-earnings-settings>
</article>

<article class="dwmth-box finances-settings__cold-wallet">
  <section class="row justify-between align-center">
    <h1 class="dwmth-heading dwmth-heading--primary finances-settings__header">Wallet status</h1>
  </section>
  <p class="row justify-between dwmth-copy dwmth-copy--large finances-settings__wallet-entry">
    <span>
      Total balance:
    </span>
    <span>
     {{wallet.balance | formatMoney:4:crypto:code}}
    </span>
  </p>
  <p class="row justify-between dwmth-copy">
    It is the total balance of all users' accounts.
    It is an amount that should be at least equal to the sum of funds stored on hot and cold ADS wallets.
    The amount exceeding this value is operator's profit.
  </p>
  <p class="row justify-between dwmth-copy dwmth-copy--large finances-settings__wallet-entry">
    <span>
      Unused bonuses:
    </span>
    <span>
     {{wallet.unusedBonuses | formatMoney:4:crypto:code}}
    </span>
  </p>
  <p class="row justify-between dwmth-copy">
    It is the total amount of all bonuses that were added to users' accounts but have not been used so far.
  </p>
</article>

<article class="dwmth-box finances-settings__cold-wallet">
  <section class="row justify-between align-center">
    <h1 class="dwmth-heading dwmth-heading--primary finances-settings__header">Referral settings</h1>
    <mat-checkbox [checked]="settings.referralRefundEnabled === 1"
                  (change)="updateSettings($event.checked, 'referralRefundEnabled')">
      Enable refund referral
    </mat-checkbox>
  </section>
  <p *ngIf="settings.referralRefundEnabled"
     class="dwmth-copy dwmth-copy--medium">
    <!--placeholder for settings general description-->
  </p>
  <div *ngIf="settings.referralRefundEnabled"
       class="row finances-settings__referral-wrapper">
    <app-earnings-settings
      [title]=""
      [desc]=" 'Set a commission that will refund to the referral program members'"
      [max]="100"
      [min]="0"
      [step]="0.01"
      [format]="'%'"
      [value]="settings.referralRefundCommission"
      [message]="referralRefundMessage"
      [messageClass]="'dwmth-copy--orange'"
      (valueChanged)="updateSettings($event, 'referralRefundCommission')"
    >
    </app-earnings-settings>
  </div>
</article>

<article class="dwmth-box finances-settings__cold-wallet">
  <section class="row justify-between align-center">
    <h1 class="dwmth-heading dwmth-heading--primary finances-settings__header">Cold wallet settings</h1>
    <mat-checkbox [checked]="settings.coldWalletIsActive === 1"
                  (change)="updateSettings($event.checked, 'coldWalletIsActive')">
      Enable cold wallet
    </mat-checkbox>
  </section>
  <p *ngIf="settings.coldWalletIsActive"
     class="dwmth-copy dwmth-copy--medium">
    <!--placeholder for settings general description-->
  </p>
  <div *ngIf="settings.coldWalletIsActive"
       class="row finances-settings__thresholds-wrapper">
    <app-input
      [label]="'Min threshold value'"
      [max]="'1000000'"
      [min]="'0'"
      [type]="'number'"
      [step]="10"
      [value]="settings.hotwalletMinValue"
      [format]="ADS_TOKEN_CODE"
      helper="Set a minimum amount required to run operations. In case the amount drops below the
      specified threshold, you will be notified via e-mail"
      (valueChanged)="updateSettings($event, 'hotwalletMinValue')"
    ></app-input>
    <app-input
      [label]="'Max threshold value'"
      [max]="'1000000'"
      [min]="'0'"
      [type]="'number'"
      [step]="10"
      [value]="settings.hotwalletMaxValue"
      [format]="ADS_TOKEN_CODE"
      helper="Set a maximum amount that can be stored on a hot wallet. All funds exceeding this amount
      will be automatically transferred to your cold wallet."
      (valueChanged)="updateSettings($event, 'hotwalletMaxValue')"
    ></app-input>
    <app-input
      [label]="'Cold wallet address'"
      [type]="'text'"
      [value]="settings.coldWalletAddress"
      helper="Enter your ADS account address"
      (valueChanged)="updateSettings($event, 'coldWalletAddress')"
    ></app-input>
  </div>
</article>
