<div class="row justify-end align-center finances-settings__submit">
  <button class="dwmth-btn dwmth-btn--blue"
          [disabled]="!canSubmit"
          (click)="saveSettings()">
    Save settings
  </button>
</div>
<article class="row finances finances-settings__commisions-wrapper">
  <app-earnings-settings
    [title]="'Advertiser commission'"
    [desc]=" 'Set a commission that will be subtracted from event payments. It will be a part of your income.'"
    [max]="'100'"
    [min]="'0'"
    [step]="0.01"
    [format]="'%'"
    [value]="settings.advertiserCommission"
    (valueChanged)="updateSettings($event, 'advertiserCommission')"
  >
  </app-earnings-settings>
  <app-earnings-settings
    [title]="'Publisher commission'"
    [desc]="'Set a commission that will be subtracted from publishers’ revenue from ads that were displayed. It will be a part of your income'"
    [max]="'100'"
    [min]="'0'"
    [step]="0.01"
    [format]="'%'"
    [value]="settings.publisherCommission"
    (valueChanged)="updateSettings($event, 'publisherCommission')"
  >
  </app-earnings-settings>
</article>

<article class="dwmth-box finances-settings__cold-wallet">
  <section class="row justify-between align-center">
    <h1 class="dwmth-heading dwmth-heading--primary finances-settings__header">Cold wallet settings</h1>
    <mat-checkbox [checked]="settings.hotwalletIsActive"
                  (change)="updateSettings($event.checked, 'hotwalletIsActive')">
      Enable Cold Wallet
    </mat-checkbox>
  </section>
  <p *ngIf="settings.hotwalletIsActive"
     class="dwmth-copy dwmth-copy--large finances-settings__desc">
    <!--placeholder for settings general description-->
  </p>
  <div *ngIf="settings.hotwalletIsActive"
       class="row finances-settings__thresholds-wrapper">
    <app-input
      [label]="'Min threshold value'"
      [max]="1000000"
      [min]="0"
      [type]="'number'"
      [step]="10"
      [value]="settings.hotwalletMinValue"
      [format]="'ADS'"
      helper="Set a minimum amount required to run operations. In case the amount drops below the
      specified threshold, you will be notified via e-mail"
      (valueChanged)="updateSettings($event, 'hotwalletMinValue')"
    ></app-input>
    <app-input
      [label]="'Max threshold value'"
      [max]="1000000"
      [min]="0"
      [type]="'number'"
      [step]="10"
      [value]="settings.hotwalletMaxValue"
      [format]="'ADS'"
      helper="Set a maximum amount that can be stored on a hot wallet. All funds exceeding this amount
      will be automatically transferred to your cold wallet."
      (valueChanged)="updateSettings($event, 'hotwalletMaxValue')"
    ></app-input>
    <app-input
      [label]="'Hot wallet address'"
      [type]="'text'"
      [value]="settings.hotwalletAddress"
      helper="Enter your ADS account address"
      (valueChanged)="updateSettings($event, 'hotwalletAddress')"
    ></app-input>
  </div>
</article>
