<div
  class="dwmth-box"
  data-test="advertiser-navigate-to-campaign-details"
>
  <div class="dwmth-campaign-list__item">
    <ng-template #loading>
      <mat-spinner [diameter]="20" [strokeWidth]="2" color="accent"></mat-spinner>
    </ng-template>
    <div
      *ngIf="campaign; else loading"
      class="
        row
        align-center
        dwmth-copy"
    >
      <div
        class="
          col-xs-1
          row
          align-center"
      >
        <div class="dwmth-status"
             [attr.data-status]="currentCampaignStatus"
        >
          {{ currentCampaignStatus }}
          <div class="status-wrapper__list-item">
            <mat-select [value]=" "
                        data-test="advertiser-campaign-status-select"
            >

              <mat-option *ngFor="let option of campaignStatusesEnumArray"
                          [ngClass]="{'hidden': (
                                    option === campaignStatusesEnum[campaignStatusesEnum.DRAFT].toLowerCase() ||
                                    option === campaignStatusesEnum[campaignStatusesEnum.SUSPENDED].toLowerCase())}"
                          [value]="option"
                          (click)="onCampaignStatusChange(option)"
                          data-test="advertiser-campaign-status-select-option"
              >
                {{ option }}
              </mat-option>
            </mat-select>
          </div>
        </div>
      </div>
      <div
        class="
          col-xs-4
          row
          clickable-row
          align-center"
      >
        <span class="dwmth-copy dwmth-copy--no-wrap dwmth-copy--bold"
          (click)="navigateToCampaignDetails(campaign.id)"
          data-test="advertiser-campaign-name"
        >
          {{ campaign.basicInformation.name }}
        </span>
      </div>
      <div
        class="
          col-xs-1
          row
          align-center"
        data-test="advertiser-campaign-bduget"
      >
        <span>
          {{ campaign.basicInformation.budget | campaignBudgetPerDay | adsharesTokenValue:2 }}/day
        </span>
      </div>
      <div
        class="
          col-xs-1
          row
          align-center"
        data-test="advertiser-campaign-clicks"
      >
        <span>{{ campaign.clicks || 0 }}</span>
      </div>
      <div
        class="
          col-xs-1
          row
          align-center"
        data-test="advertiser-campaign-impressions"
      >
        <span>{{ campaign.impressions || 0}}</span>
      </div>
      <div
        class="
          col-xs-1
          row
          align-center"
        data-test="advertiser-campaign-ctr"
      >
        <span>{{  (campaign.ctr || 0) | percent:'1.2-2' }}</span>
      </div>
      <div
        class="
          col-xs-1
          row
          align-center"
        data-test="advertiser-campaign-average-cpc"
      >
        <span [title]="(campaign.averageCpc || 0) | adsharesTokenValue">
          {{ (campaign.averageCpc || 0) | adsharesTokenValue:2}} </span>
      </div>
      <div
        class="
          col-xs-1
          row
          align-center"
        data-test="advertiser-campaign-cost"
      >
        <span [title]="(campaign.cost || 0) | adsharesTokenValue">
          {{ (campaign.cost || 0) | adsharesTokenValue:2 }}</span>
      </div>
      <div
        class="
          col-xs-1
          row
          clickable-row
          align-center
          justify-center
          dwmth-campaign-list__item-campaign-details"
        (click)="navigateToCampaignDetails(campaign.id)"
      >
        <img
          src="/assets/images/chevron--right.svg"
          [alt]="'Go to '+ campaign.basicInformation.name + ' details'"
        >
      </div>
    </div>
  </div>
</div>
