@import '../../../../styles.scss';

.ap-campaign-list {
  &__item {
    @include container();
    border-bottom: 1px solid pal(gray);
  }

  &__item-campaign-details {
    &:focus,
    &:hover {
      animation: slide-right 0.5s cubic-bezier(0.42, 0, 0, 1.45);
      animation-fill-mode: forwards;
    }
  }

  &__status-cell {
    position: relative;
    padding-right: 30px;
    @include status-cell;
    flex-flow: row;
  }

  &__status {
    cursor: pointer;
  }

  &__classification {
    position: absolute;
    right: 0;
  }
}
