@import '../../../../styles.scss';

.dwmth-campaign-list {

  &__item-campaign-details {
    &:focus,
    &:hover {
      animation: slide-right 0.5s cubic-bezier(0.42, 0, 0, 1.45);
      animation-fill-mode: forwards;
    }
  }

  &__status-cell {
    @include status-cell;
    cursor: pointer;
  }
}
