<section class="dwmth-funds-summary">
  <div
    class="
      dwmth-box
      dwmth-box--large"
  >
    <div
      class="
        row
        align-center
        justify-between"
    >
      <div
        class="
          row
          no-gutters
          col-xs-12
          col-lg-7
          financial-data"
      >
        <div
          class="
            col
            col-xs-12
            col-sm-4
            dwmth-funds-summary__totals"
        >
          <h6
            class="
              dwmth-copy
              dwmth-copy--small"
          >
            Total Funds:
          </h6>
          <span
            class="
              dwmth-heading
              dwmth-heading--primary"
            data-test="user-total-funds"
          >
            {{ totalFunds | adsharesTokenValue:2 }}
          </span>
          <span
            class="
              dwmth-copy
              dwmth-copy--x-small
              dwmth-blue
              dwmth-copy--bold"
            data-test="user-total-funds-change"
          >
            {{ adserverWallet.totalFundsChange }} ( {{ adserverWallet.totalFundsChange / totalFunds | percent }})
          </span>
        </div>
        <div
          class="
            col
            col-xs-12
            col-sm-4
            dwmth-funds-summary__automatic-withdrawal"
        >
          <h6
            class="
              dwmth-copy
              dwmth-copy--small"
          >
            Automatic Withdraws
          </h6>
          <p
            class="
              withdraw-data
              dwmth-copy
              dwmth-copy--dark
              dwmth-copy--semi"
          >
            <span data-test="user-automatic-withdraw-amount">
              {{ adserverWallet.autoWithdrawAmount | adsharesTokenValue }}
            </span>
            after
            <span
              class="period"
              data-test="user-automatic-withdraw-amount"
            >
              {{ periodsEnum[adserverWallet.autoWithdrawPeriod] }}
            </span>
          </p>
          <a
            class="
              dwmth-copy
              dwmth-copy--large
              dwmth-blue"
            (click)="openChangeAutomaticWithdrawsDialog()"
            data-test="change-automatic-withdraw-dialog-open-button"
          >
            Change
          </a>
        </div>
        <div
          class="
            col
            col-xs-12
            col-sm-4
            dwmth-funds-summary__withdrawal-address"
        >
          <h6
            class="
              dwmth-copy
              dwmth-copy--small"
          >
            Your Withdraw Address
          </h6>
          <p
            class="
              break-word
              withdraw-data
              dwmth-copy
              dwmth-copy--dark
              dwmth-copy--semi"
            data-test="user-address"
          >
            {{ adserverWallet.adsharesAddress }}
          </p>
          <a
            class="
              dwmth-copy
              dwmth-copy--large
              dwmth-blue"
            (click)="openChangeAddressDialog()"
            data-test="change-address-dialog-open-button"
          >
            Change
          </a>
        </div>
      </div>
      <div
        class="
          col-xs-12
          col-lg-5"
      >
        <div
          class="
            row
            align-center
            financial-actions-buttons"
        >
          <button
            class="
              dwmth-btn
              dwmth-btn--large
              dwmth-btn--white
              row
              align-center
              dwmth-funds-summary__deposit-funds"
            (click)="openAddFundsDialog()"
            data-test="add-funds-dialog-open-button"
          >
            <img
              src="/assets/images/credit-card--blue.svg"
              alt="Credit Card Icon"
              class="
                dwmth-icon
                dwmth-icon--prepend"
            >
            <span
              class="
                dwmth-copy
                dwmth-blue"
            >
              Deposit Funds
            </span>
          </button>
          <button
            class="
              dwmth-btn
              dwmth-btn--large
              dwmth-btn--blue
              row
              align-center
              dwmth-funds-summary__withdraw-funds"
            *ngIf="totalFunds > 0 || selectedRole !== 'Publisher'"
            (click)="openWithdrawFundsDialog()"
            data-test="withdraw-funds-dialog-open-button"
          >
            <img
              src="/assets/images/credit-card--white.svg"
              alt="Credit Card Icon"
              class="
                dwmth-icon
                dwmth-icon--prepend"
            >
            <span
              class="
                dwmth-copy
                dwmth-white"
            >
              Withdraw Funds
            </span>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
