<section class="adsh-funds-summary">
  <div
    class="
      adsh-box
      adsh-box--large"
  >
    <div
      class="
        row
        align-center
        justify-between"
    >
      <div
        class="
          row
          no-gutters
          col-xs-12
          col-lg-7
          financial-data"
      >
        <div
          class="
            col
            col-xs-12
            col-sm-4
            adsh-funds-summary__totals"
        >
          <h6
            class="
              adsh-copy
              adsh-copy--small"
          >
            Total Funds:
          </h6>
          <span
            class="
              adsh-heading
              adsh-heading--primary"
          >
            {{ financialData.totalFunds | adsharesTokenValue }}
          </span>
          <span
            class="
              adsh-copy
              adsh-copy--x-small
              adsh-blue
              adsh-copy--bold"
          >
            {{ financialData.totalFundsChange }} ( {{ financialData.totalFundsChange / financialData.totalFunds | percent }})
          </span>
        </div>
        <div
          class="
            col
            col-xs-12
            col-sm-4
            adsh-funds-summary__automatic-withdrawal"
        >
          <h6
            class="
              adsh-copy
              adsh-copy--small"
          >
            Automatic Withdraws
          </h6>
          <p
            class="
              withdraw-data
              adsh-copy
              adsh-copy--dark
              adsh-copy--semi"
          >
            {{ financialData.userAutomaticWithdrawAmount | adsharesTokenValue }} after
            <span class="period">
              {{ periodsEnum[financialData.userAutomaticWithdrawPeriod] }}
            </span>
          </p>
          <a
            class="
              adsh-copy
              adsh-copy--large
              adsh-blue"
            (click)="openChangeAutomaticWithdrawsDialog()"
          >
            Change
          </a>
        </div>
        <div
          class="
            col
            col-xs-12
            col-sm-4
            adsh-funds-summary__withdrawal-address"
        >
          <h6
            class="
              adsh-copy
              adsh-copy--small"
          >
            Your Withdraw Address
          </h6>
          <p
            class="
              break-word
              withdraw-data
              adsh-copy
              adsh-copy--dark
              adsh-copy--semi"
          >
            {{ financialData.userAddress }}
          </p>
          <a
            class="
              adsh-copy
              adsh-copy--large
              adsh-blue"
            (click)="openChangeAddressDialog()"
          >
            Change
          </a>
        </div>
      </div>
      <div
        class="
          col-xs-12
          col-lg-5"
      >
        <div
          class="
            row
            align-center
            financial-actions-buttons"
        >
          <button
            class="
              adsh-btn
              adsh-btn--large
              adsh-btn--white
              row
              align-center
              adsh-funds-summary__deposit-funds"
            (click)="openAddFundsDialog()"
          >
            <img
              src="/assets/images/credit-card--blue.svg"
              alt="Credit Card Icon"
              class="
                adsh-icon
                adsh-icon--prepend"
            >
            <span
              class="
                adsh-copy
                adsh-blue"
            >
              Deposit Funds
            </span>
          </button>
          <button
            class="
              adsh-btn
              adsh-btn--large
              adsh-btn--blue
              row
              align-center
              adsh-funds-summary__withdraw-funds"
            *ngIf="financialData.totalFunds > 0 || selectedRole !== 'Publisher'"
            (click)="openWithdrawFundsDialog()"
          >
            <img
              src="/assets/images/credit-card--white.svg"
              alt="Credit Card Icon"
              class="
                adsh-icon
                adsh-icon--prepend"
            >
            <span
              class="
                adsh-copy
                adsh-white"
            >
              Withdraw Funds
            </span>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
