<section class="adsh-funds-summary">
  <div
    class="
      adsh-box
      adsh-box--large"
  >
    <div
      class="
        row
        align-center"
    >
      <div
        class="
          col-xs-7
          row"
      >
        <div
          class="
            col
            col-xs-4
            adsh-funds-summary__totals"
        >
          <h6
            class="
              adsh-copy
              adsh-copy--small"
          >
            Total Funds:
          </h6>
          <span
            class="
              adsh-heading
              adsh-heading--primary"
          >
            {{ totalFunds | adsharesTokenValue }}
          </span>
          <span
            class="
              adsh-copy
              adsh-copy--x-small
              adsh-blue
              adsh-copy--bold"
          >
            {{ totalFundsChange }} ( {{ totalFundsChange / totalFunds | percent }})
          </span>
        </div>
        <div
          class="
            col
            col-xs-3
            col-xs-offset-1
            adsh-funds-summary__automatic-withdrawal"
        >
          <h6
            class="
              adsh-copy
              adsh-copy--small"
          >
            Automatic Withdraws
          </h6>
          <p
            class="
              withdraw-data
              adsh-copy
              adsh-copy--dark
              adsh-copy--semi"
          >
            {{ userAutomaticWithdrawAmount | adsharesTokenValue }} Tokens after {{ userAutomaticWithdrawPeriod }}
          </p>
          <a
            class="
              adsh-copy
              adsh-copy--large
              adsh-blue"
            (click)="openChangeAutomaticWithdrawsDialog()"
          >
            Change
          </a>
        </div>
        <div
          class="
            col
            col-xs-3
            col-xs-offset-1
            adsh-funds-summary__withdrawal-address"
        >
          <h6
            class="
              adsh-copy
              adsh-copy--small"
          >
            Your Withdraw Address
          </h6>
          <p
            class="
              break-word
              withdraw-data
              adsh-copy
              adsh-copy--dark
              adsh-copy--semi"
          >
            {{ userEthAddress }}
          </p>
          <a
            class="
              adsh-copy
              adsh-copy--large
              adsh-blue"
            (click)="openChangeAddressDialog()"
          >
            Change
          </a>
        </div>
      </div>
      <div class="col-xs-5">
        <div
          class="
            row
            align-center
            justify-end"
        >
          <button
            class="
              adsh-btn
              adsh-btn--large
              adsh-btn--white
              row
              align-center
              adsh-funds-summary__deposit-funds"
            (click)="openAddFundsDialog()"
          >
            <img
              src="/assets/images/credit-card--blue.svg"
              alt="Credit Card Icon"
              class="
                adsh-icon
                adsh-icon--prepend"
            >
            <span
              class="
                adsh-copy
                adsh-blue"
            >
              Deposit Funds
            </span>
          </button>
          <button
            class="
              adsh-btn
              adsh-btn--large
              adsh-btn--blue
              row
              align-center
              adsh-funds-summary__withdraw-funds"
            *ngIf="totalFunds > 0 || selectedRole !== 'Publisher'"
            (click)="openWithdrawFundsDialog()"
          >
            <img
              src="/assets/images/credit-card--white.svg"
              alt="Credit Card Icon"
              class="
                adsh-icon
                adsh-icon--prepend"
            >
            <span
              class="
                adsh-copy
                adsh-white"
            >
              Withdraw Funds
            </span>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
