@import '../../../../styles.scss';

.withdraw-data {
  margin-top: 8px;
}

.period {
  text-transform: lowercase;
}

.financial-actions-buttons {
  margin-top: 20px;

  button {
    margin: 10px 5px 0 0;

    @include media(sm-up) {
      margin: 0 10px 0 0;
    }
  }

  @include media(lg-up) {
    margin-top: 0;
    justify-content: flex-end;
  }
}

.financial-data {
  > div {
    margin: 10px 0;
  }

  @include media(lg-up) {
    margin: 0;
  }
}
