@import "../../../styles/media-queries";

.billing-payments {
  padding: 30px;
  width: calc(100% - 380px);

  @include media(md-down) {
    width: calc(100% - 280px);
  }

  @include media(xl-up) {
    width: calc(100% - 580px);
  }

  @include media(xxl-up) {
    width: calc(100% - 680px);
  }

  @include media(xxxl-up) {
    width: calc(100% - 780px);
  }
}
