@import '../../../styles.scss';

.ap-login {
  background-color: pal(light);

  & .ap-form-input__box:not(:first-child) {
    margin-top: 24px;
  }

  & .link-wrapper {
    margin-top: 16px;
  }

  & .alternative-buttons-wrapper {
    margin-bottom: 48px;
  }

  .ap-btn {
    height: 42px;
    vertical-align: top;
    text-decoration: none;

    > img {
      width: 24px;
      max-height: 24px;
    }
  }
}
