<div class="ap-login" *ngIf="loginForm">
  <ng-template #loading>
    <mat-spinner [diameter]="16" [strokeWidth]="2"></mat-spinner>
  </ng-template>
  <div class="ap-login__header">
    <h2
        class="
        ap-heading
        ap-heading--primary
        ap-heading--blue"
    >
      Hello!
    </h2>
    <p
        class="
        ap-copy
        ap-copy--large
        ap-copy--white"
    >
      Please log in to your account.
    </p>
  </div>
  
  <div class="ap-login__content">
    <form
        (ngSubmit)="login()"
        [formGroup]="loginForm"
        class="ap-form"
        data-test="auth-login-form"
    >
      <div
          *ngIf="criteriaError && loginFormSubmitted"
          class="error-msg"
      >
        Password or email is invalid.
      </div>
      <div class="ap-form-input__box">
        <label
            class="ap-form-label"
            for="email"
        >
          Email address
        </label>
        <input
            class="ap-form-input ap-form-input--full"
            data-test="auth-login-form-email"
            formControlName="email"
            id="email"
            name="email"
            type="email"
        >
        <span
            *ngIf="loginForm.get('email').valid && loginForm.get('email').touched"
            class="input-valid"
        ></span>
        <span
            *ngIf="loginForm.hasError('required', ['email']) && loginFormSubmitted"
            class="error-msg"
        >
          Email required!
        </span>
        <span
            *ngIf="!loginForm.hasError('required', ['email']) && loginFormSubmitted && loginForm.hasError('email', ['email']) && loginFormSubmitted"
            class="error-msg"
        >
          Invalid email!
        </span>
      </div>
      
      <div class="ap-form-input__box">
        <label
            class="ap-form-label"
            for="password"
        >
          Password
        </label>
        <input
            class="ap-form-input ap-form-input--full"
            data-test="auth-login-form-password"
            formControlName="password"
            id="password"
            name="password"
            type="password"
        >
        <span
            *ngIf="loginForm.get('password').valid && loginForm.get('password').touched"
            class="input-valid"
        ></span>
        <span
            *ngIf="loginForm.hasError('minlength', ['password']) && loginFormSubmitted"
            class="error-msg">
            Minimum 8 signs required!
        </span>
        <span
            *ngIf="loginForm.hasError('required', ['password']) && loginFormSubmitted"
            class="error-msg"
        >
          Password required
        </span>
      </div>
      
      <div class="row align-center justify-end">
        <!--
                  <div
                    class="
                      row
                      align-center"
                  >
                    <input
                      #rememberUser
                      id="remember-user"
                      type="checkbox"
                      data-test="auth-login-form-remember-user-checkbox"
                    >
                    <label
                      for="remember-user"
                      class="checkbox-label"
                    ></label>
                    <span
                      class="
                        ap-copy
                        ap-copy&#45;&#45;large
                        ap-copy&#45;&#45;x-dark"
                    >
                      Remember me
                    </span>
                  </div>
        -->
        <a
            class="ap-copy"
            data-test="auth-redirect-to-forgotten-password"
            routerLink="/auth/forgotten-password"
        >
          Forgot password?
        </a>
      </div>
      
      <button
          class="ap-btn ap-btn--primary ap-form-submit-btn"
          data-test="auth-login-form-submit-button"
      >
        <ng-container *ngIf="!isLoggingIn ; else loading">Log In</ng-container>
      </button>
    </form>
    
    <div class="login-buttons">
      <p class="ap-copy">or login with</p>
      <div class="row row--gap32 justify-between">
        <button
            *ngIf="adsWalletAvailable"
            class="ap-btn ap-btn--secondary alt-login-btn"
            (click)="initWalletLogin('ADS')"
            [disabled]="isAdsLoggingIn"
        >
          <img src="/assets/images/ads.svg" alt="ADS">
          <ng-container *ngIf="!isAdsLoggingIn; else loading">
            ADS Wallet
          </ng-container>
        </button>
        <a
            *ngIf="!adsWalletAvailable"
            class="ap-btn ap-btn--danger"
            href="{{ADSHARES_WALLET}}"
            rel="noopener noreferrer nofollow"
            target="_blank"
        >
          Install ADS Wallet first!
        </a>
        <button
            *ngIf="ethereumAvailable"
            class="ap-btn alt-login-btn ap-btn--secondary"
            (click)="initWalletLogin('BSC')"
            [disabled]="isBscLoggingIn"
        >
          <img src="/assets/images/metamask.svg" alt="MetaMask">
          <ng-container *ngIf="!isBscLoggingIn; else loading">
            MetaMask
          </ng-container>
        </button>
        <a
            *ngIf="!ethereumAvailable"
            class="ap-btn ap-btn--danger"
            href="{{METAMASK_WALLET}}"
            rel="noopener noreferrer nofollow"
            target="_blank"
        >
          Install Metamask first!
        </a>
        <br/>
        <div class="error-msg" *ngIf="walletLoginError">{{walletLoginError}}</div>
      </div>
    </div>
    
    <p class="ap-copy" *ngIf="registrationMode !== 'private'">
      Don't have an account?
      <a
          *ngIf="registrationMode === 'public'"
          class="ap-blue"
          data-test="auth-redirect-to-registration"
          routerLink="/auth/register"
      >
        Register
      </a>
      <a
          *ngIf="registrationMode === 'restricted' && advertiserApplyFormUrl"
          class="ap-blue block-link"
          data-test="auth-redirect-to-registration"
          [href]="advertiserApplyFormUrl"
      >
        Apply as Advertiser
      </a>
      <a
          *ngIf="registrationMode === 'restricted' && publisherApplyFormUrl"
          class="ap-blue block-link"
          data-test="auth-redirect-to-registration"
          [href]="publisherApplyFormUrl"
      >
        Apply as Publisher
      </a>
    </p>
  
  </div>
</div>
