@import '../../../styles.scss';

.adsh-login {
  &-wrapper {
    height: 100%;

    @include media(md-up) {
      height: 70vh;
      min-height: 730px;
    }
  }

  &__remember {
    margin-top: 30px;
  }
}

h2 {
  margin: 10px 0;
}

form {
  max-width: 320px;
  margin-top: 20px;

  @include media(md-up) {
    margin-top: 60px;
  }
}
