@import '../../../styles.scss';

.ap-login {
  &-wrapper {
    height: 100%;
  }

  &__remember {
    margin-top: 30px;
  }
}

h2 {
  margin: 10px 0;
}

.block-link {
  display: block;
  margin: 10px 10px 10px 50px;
}

.login-buttons {
  margin-top: 10px;

  @include media(md-up) {
    margin-top: 30px;
  }

  .ap-btn {
    position: relative;
    min-width: 220px;
    height: 42px;
    vertical-align: top;

    &-with-img {
      padding-left: 40px;
    }

    > img {
      position: absolute;
      left: 5px;
      width: 30px;
      max-height: 30px;
    }
  }

  .error-msg {
    display: inline-block;
  }
}

form {
  margin-top: 10px;

  @include media(md-up) {
    margin-top: 30px;
  }

  .error-msg {
    max-width: 320px;
  }
}
