<section
  class="
    homepage-view
    site-edit-create-ad-units"
>
  <div
    class="
      text-center
      site-edit-create-ad-units--narrow"
  >
    <h1
      class="
        adsh-heading
        adsh-heading--primary"
    >
      Create Ad Units
    </h1>
    <p
      class="
        adsh-copy
        adsh-copy--large"
    >
      Etiam pretium dapibus congue. Praesent a lorem erat. Morbi mollis posuere lacus, vel semper risus.
      Nulla facilisi. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>
  </div>
  <div
    class="adsh-box"
    *ngFor="let adUnitForm of adUnitForms; let adUnitIindex = index"
  >
    <form
      [formGroup]="adUnitForm"
      data-test="publisher-edit-site-create-ad-units-form"
    >
      <mat-accordion data-test="publisher-edit-site-create-ad-units-accordion">
        <mat-expansion-panel
          (opened)="handlePanelExpand(adUnitIindex)"
          (closed)="adUnitPanelsStatus[adUnitIindex] = false"
          [expanded]="adUnitPanelsStatus[adUnitIindex]"
          data-test="publisher-edit-site-create-ad-units-accordion-panel"
        >
          <mat-expansion-panel-header>
            <mat-panel-title
              class="
                adsh-heading
                adsh-heading--secondary"
            >
              {{ adUnitIindex + 1 }}.&nbsp;
              <span *ngIf="!adUnitPanelsStatus[adUnitIindex]">
                Title:
                <span data-test="publisher-edit-site-create-ad-units-form-short-headline">
                  {{ adUnitForm.get('shortHeadline').value }}
                </span>
              </span>
            </mat-panel-title>
          </mat-expansion-panel-header>

          <div
            class="
              row
              no-gutters"
          >
            <div
              class="
                col-md-5
                col-lg-3
                col-xxl-2"
            >
              <div class="adsh-form-input__box">
                <label
                  for="shortHeadline"
                  class="adsh-form-label"
                >
                  Name of Unit
                </label>
                <input
                  id="shortHeadline"
                  class="adsh-form-input"
                  formControlName="shortHeadline"
                  data-test="publisher-edit-site-create-ad-units-form-short-headline"
                >
                <span
                  *ngIf="adUnitForm.get('shortHeadline').valid"
                  class="input-valid"
                ></span>
                <span
                  class="error-msg"
                  *ngIf="adUnitForm.get('shortHeadline').hasError('required') && adUnitsSubmitted"
                >
                Name of Unit required!
              </span>
              </div>
            </div>

            <div
              class="
                col-md-offset-1
                col-md-5
                col-lg-2
                col-xxl-2"
            >
              <div class="adsh-form-input__box">
                <label class="adsh-form-label">Ad Type</label>
                <mat-select
                  class="adsh-select"
                  formControlName="type"
                  data-test="publisher-edit-site-create-ad-units-form-ad-type-select"
                >
                  <mat-option
                    *ngFor="let adType of adTypes; let i = index"
                    [value]="i"
                    data-test="publisher-edit-site-create-ad-units-form-ad-type-option"
                  >
                    {{ adType }}
                  </mat-option>
                </mat-select>
              </div>
            </div>
          </div>

          <div
            class="
              row
              align-end
              justify-between"
          >
            <div
              class="
                col-xs-3
                adsh-copy
                adsh-copy--light"
              >
              Size of Unit
            </div>
            <div class="col-xs-3">
              <div class="adsh-form-input__box">
                <label class="adsh-form-label">Showing:</label>
                <mat-select
                  class="adsh-select"
                  formControlName="adUnitSizeFilter"
                  (change)="onAdUnitSizeFilterChange(adUnitIindex)"
                  data-test="publisher-edit-site-create-ad-units-form-size-select"
                >
                  <mat-option
                    *ngFor="let adSize of adSizesOptions"
                    [value]="adSize"
                    data-test="publisher-edit-site-create-ad-units-form-size-select"
                  >
                    {{ adSize }}
                  </mat-option>
                </mat-select>
              </div>
            </div>
          </div>

          <div
            class="
              row
              justify-between
              site-edit-create-ad-uniTS _ad-uniTS _container"
          >
            <div
              class="site-edit-create-ad-uniTS _ad-unit"
              [ngClass]="{'site-edit-create-ad-uniTS _ad-unit--selected': adUnit.selected}"
              *ngFor="let adUnit of filtredAdUnitSizes[adUnitIindex]"
              (click)="selectAdUnit(adUnit, adUnitIindex)"
              data-test="publisher-edit-site-create-ad-units-form-ad-unit-select"
            >
              <div
                class="
                  row
                  align-center
                  justify-center
                  site-edit-create-ad-uniTS _ad-unit__visualization-box"
              >
                <div
                  [ngClass]="adUnit.type"
                  class="site-edit-create-ad-uniTS _ad-unit__visualization"
                  data-test="publisher-edit-site-create-ad-units-form-ad-unit-size"
                >
                  {{ adSizesEnum[adUnit.size] }}
                </div>
              </div>

              <div
                class="
                  adsh-heading
                  adsh-heading--secondary"
                data-test="publisher-edit-site-create-ad-units-form-ad-unit-name"
              >
                {{ adUnit.name }}
              </div>

              <div
                class="adsh-chip-box"
                *ngFor="let tag of adUnit.tags"
                data-test="publisher-edit-site-create-ad-units-form-ad-unit-tag"
              >
                {{ tag }}
              </div>
            </div>
          </div>

          <button
            class="
              adsh-btn
              adsh-btn--white
              adsh-blue
              save-as-draft"
            *ngIf="adUnitForm.get('status').value === adUnitStatusesEnum.DRAFT"
            (click)="removeNewAdUnit(adUnitIindex)"
            data-test="publisher-edit-site-create-ad-units-form-remove-ad-unit"
          >
            Delete Ad Unit
          </button>
        </mat-expansion-panel>
      </mat-accordion>
    </form>
  </div>

  <div
    class="
      adsh-box
      adsh-box--large"
  >
    <button
      class="
        row
        align-center
        adsh-btn
        adsh-btn--large
        adsh-btn--white
        adsh-btn--no-border"
      (click)="createEmptyAd()"
      data-test="publisher-edit-site-create-ad-units-create-new-ad-unit"
    >
      <img
        src="assets/images/plus-circle--blue.svg"
        alt="Add new icon"
        class="
          adsh-icon
          adsh-icon--prepend"
      >
      <span
        class="
          adsh-heading
          adsh-heading--secondary"
      >
        Create new Ad Unit
      </span>
    </button>
  </div>


  <div
    class="
      adsh-box
      adsh-box--large
      row
      justify-between"
  >
    <a
      routerLink="../additional-targeting"
      [queryParams]="{step: 2}"
      data-test="publisher-edit-site-navigate-back"
    >
      <button
        class="
          adsh-btn
          adsh-btn--white
          adsh-blue"
      >
        Back
      </button>
    </a>

    <div class="row">
      <button
        (click)="saveAdUnits(true)"
        class="
          adsh-btn
          adsh-btn--white
          adsh-blue
          save-as-draft"
        data-test="publisher-edit-site-save-as-draft"
      >
        Save as Draft
      </button>
      <button
        (click)="saveAdUnits(false)"
        class="
          adsh-btn
          adsh-btn--blue"
        data-test="publisher-edit-site-save-and-continue"
      >
        <span *ngIf="!changesSaved ; else loading">Save & Continue</span>
        <ng-template #loading>
          <mat-spinner [diameter]="20" [strokeWidth]="2" color="accent"></mat-spinner>
        </ng-template>
      </button>
    </div>
  </div>
</section>

