@import '../../../../styles.scss';

.site-edit-create-posters-units {

  & .sizes-wrapper {
    margin-top: 24px;

    & .poster-unit {
      flex: 2 1 18%;
    }
  }

  & .error-msg:not(.error-msg--small) {
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:after {
      position: static;
    }
  }

  &__delete-btn-wrapper {
    margin: 16px 0 0;
  }

  .ap-chip-box {
    margin-bottom: 4px;
  }
}
