<mat-dialog-content class="text-center mat-dialog-content fill-height">
  <div (click)="dialogRef.close()" class="ap-dialog-close"></div>
  <h1 class="ap-heading ap-heading--h2">Ad code</h1>

  <div>
    <p class="ap-copy">This code is intended for Cryptovoxels only. Please copy the code and place it in creator.</p>

    <div *ngIf="loaded; else loadingSpinner">
      <div *ngIf="null !== code">
        <div class="row align-center">
          <label class="ap-copy ap-copy--bold col text-left" for="code-container-common">
            Paste this code in creator
          </label>

          <button
            class="ap-icon-btn ap-icon-btn--secondary"
            (click)="copyCode(code)"
            matTooltipClass="ap-mat-tooltip"
            matTooltip="Copy the code"
            matTooltipPosition="above">
            <fa-icon [icon]="faCopy"></fa-icon>
          </button>
        </div>

        <textarea
          id="code-container-common"
          class="code-container ap-box ap-box--large ap-box--light-border ap-copy"
          cdkTextareaAutosize
          readonly
          [ngModel]="code"></textarea>
      </div>

      <div *ngIf="null === code" class="row align-center ap-alert ap-alert--error">
        <fa-icon [icon]="faExclamation" class="ap-icon ap-icon--prepend" size="lg"></fa-icon>
        An error occurred. Make sure that you confirmed an account and connected the wallet.
      </div>
    </div>
  </div>

  <ng-template #loadingSpinner>
    <div class="loading-wrapper">
      <mat-spinner [diameter]="30" [strokeWidth]="4"></mat-spinner>
    </div>
  </ng-template>
</mat-dialog-content>
