@import '../../../../styles.scss';

.fill-height {
  max-height: 50vh;
  overflow: auto;
}

.code-container {
  height: 30vh;
  min-height: 64px;
  overflow: hidden;
  padding: 5px 10px;
  width: 100%;
}
