<section class="ap-edit-asset__navigation row align-center">
  <div class="container row align-center justify-center">
    <div *ngFor="let step of steps" class="ap-edit-asset__navigation-step row align-center">
      <div
        class="step-circle row align-center justify-center"
        [class.inactive]="currentStep < step.id"
        [class.active]="currentStep === step.id"
        [class.done]="currentStep > step.id">
        <span class="ap-copy--small ap-copy--semi">{{ step.id }}</span>
      </div>
      <p class="ap-copy">
        {{ step.name }}
      </p>
      <div
        class="ap-step-link-indicator"
        [class.inactive]="currentStep < step.id"
        [class.active]="currentStep === step.id"
        [class.done]="currentStep > step.id"></div>
    </div>
  </div>
</section>
