@import '../../../../styles.scss';

.billing-table {
  margin: 30px 0;
  max-width: 100%;
  width: 100%;
  min-width: 870px;

  &--scrollable {
    overflow-x: auto;
  }

  &__head {
    margin-bottom: 10px;
    display: block;
  }

  &__head-status {
    min-width: 150px;
  }
}
