@import '../../../../styles.scss';

.billing-history {
  min-width: 450px;

  &__icon {
    position: absolute;
    top: 30%;
    right: 17%;

    &--last {
      right: 29%;
    }
  }

  &__input {
    @include input(130px);
    margin-left: 8px;
    padding: 8px;
    height: 50px;
  }

  &__label {
    @include copy($font-size: 16);
    position: relative;
    width: 205px;
    height: 52px;
  }

  &__date-range {
    @include copy($font-size: 16);
    margin-right: 10px;
  }
}

.billing-table {
  margin: 30px 0;
  max-width: 100%;
  width: 100%;
  min-width: 870px;

  &--scrollable {
    overflow-x: auto;
  }

  &__head {
    margin-bottom: 10px;
    display: block;
  }

  &__head-status {
    min-width: 150px;
  }
}
