<section class="container">
  <div class="ap-box">
    <div class="box-title row justify-between">
      <div class="col">
        <h2 class="ap-heading ap-heading--h2">Billing history</h2>
        <p class="ap-copy box-subtitle">List of all events on your account.</p>
      </div>
      <div class="row row--gap8 align-center">
        <label class="ap-copy">
          From {{ dateFrom.format(DATE_FORMAT) }} to
          {{ dateTo.format(DATE_FORMAT) }}
        </label>
        <app-billing-history-filter (filter)="updateFilterData($event)"></app-billing-history-filter>
      </div>
    </div>

    <div class="box-content col row--gap18">
      <div class="row justify-end">
        <button
          class="ap-btn ap-btn--secondary ap-btn-info"
          (click)="refresh()"
          data-test="settings-billing-history-refresh-button">
          <fa-icon class="ap-icon ap-icon--prepend" [icon]="refreshIcon"></fa-icon>
          Refresh
        </button>
      </div>
      <div class="billing-table--scrollable">
        <table class="billing-table ap-copy">
          <thead class="billing-table__head">
            <tr class="row">
              <th class="col-xs-2 text-left" scope="col">Status</th>
              <th class="col-xs-2 text-left" scope="col">Type</th>
              <th class="col-xs-3 text-left" scope="col">Amount ({{ appCurrency }})</th>
              <th class="col-xs-3 text-left" scope="col">Date</th>
              <th class="col-xs-2 text-left" scope="col">Transaction</th>
            </tr>
          </thead>

          <tbody *ngIf="!showLoader; else loading">
            <app-billing-history-withdrawal
              *ngFor="let billingHistoryItem of billingHistory.items"
              [billingHistoryItem]="billingHistoryItem"
              data-test="settings-billing-history-item">
            </app-billing-history-withdrawal>
            <tr *ngIf="!billingHistory.items.length" class="billing-history__loader-container">
              Billing history is empty
            </tr>
          </tbody>
          <mat-paginator
            #paginator
            [showFirstLastButtons]="true"
            [length]="billingHistory.itemsCountAll"
            [pageSize]="billingHistory.limit"
            (page)="handlePaginationEvent($event)">
          </mat-paginator>
          <ng-template #loading>
            <div class="loading-wrapper">
              <mat-spinner [diameter]="30" [strokeWidth]="4"></mat-spinner>
            </div>
          </ng-template>
        </table>
      </div>
    </div>
  </div>
</section>
