<section class="notification-settings">
  <div
    class="
      dwmth-box
      dwmth-box--large"
  >
    <div class="col">
      <h2
        class="
          dwmth-heading
          dwmth-heading--primary"
      >
        Billing History
      </h2>
      <p
        class="
          dwmth-copy
          dwmth-copy--large"
      >
        List of all account's events.
      </p>
      <div
        class="
          row
          justify-end"
      >
        <button
          class="
            dwmth-btn
	          dwmth-btn--blue"
          (click)="refresh()"
          data-test="settings-billing-history-refresh-button"
        >
          Refresh
        </button>
      </div>

      <table
        class="
          billing-table
          dwmth-copy"
      >
        <thead class="billing-table__head">
        <tr class="row">
          <th class="col-xs-1" scope="col">
            Status
          </th>
          <th class="col-xs-1" scope="col">
            Type
          </th>
          <th class="col-xs-2" scope="col">
            Amount
          </th>
          <th class="col-xs-3" scope="col">
            Date
          </th>
          <th class="col-xs-2" scope="col">
            Address
          </th>
          <th class="col-xs-2" scope="col">
            Transaction
          </th>
        </tr>
        </thead>


        <tbody *ngIf="!showLoader; else loading">
        <app-billing-history-withdrawal
          *ngFor="let billingHistoryItem of billingHistory.items"
          [billingHistoryItem]="billingHistoryItem"
          data-test="settings-billing-history-item">
        </app-billing-history-withdrawal>
        </tbody>
        <mat-paginator
          #paginator
          [showFirstLastButtons]="true"
          [length]="billingHistory.itemsCountAll"
          [pageSize]="billingHistory.limit"
          (page)="handlePaginationEvent($event)"
        >
        </mat-paginator>
        <ng-template #loading>
          <div class="loading-wrapper">
            <mat-spinner [diameter]="30" [strokeWidth]="4"></mat-spinner>
          </div>
        </ng-template>
      </table>
    </div>

    <!--
        <button
          *ngIf="billingHistory.length > 0"
          class="
            dwmth-btn
            dwmth-btn&#45;&#45;white
            dwmth-blue"
          data-test="settings-billing-history-save-as-pdf"
        >
          <img
            class="
              dwmth-icon
              dwmth-icon&#45;&#45;prepend"
            src="assets/images/download.svg"
          >
          Save as PDF
        </button>
    -->
  </div>
</section>
