@import '../../../../styles.scss';

.billing-history {
  &__icon {
    position: absolute;
    top: 30%;
    right: 17%;

    &--last {
      right: 29%;
    }
  }

  &__input {
    @include input(130px);
    margin-left: 8px;
    padding: 8px;
    height: 50px;
  }

  &__label {
    @include copy($font-size: 16);
    position: relative;
    width: 205px;
    height: 52px;
  }

  &__loader-container {
    @include copy($font-size: 32);
    display: flex;
    width: 100%;
    color: pal(secondary);
    align-items: center;
    justify-content: center;
    top: 40px;
    margin: 24px 0;
  }
}

.billing-table {
  max-width: 100%;
  width: 100%;

  &--scrollable {
    overflow-x: auto;
  }

  &__head {
    margin-bottom: 10px;
    display: block;
  }
}
