<app-account-not-confirmed-bar></app-account-not-confirmed-bar>
<div class="general-settings">
  <div class="user-id">
    <div class="container">
      <div class="row row--gap8 align-center">
        <p class="ap-copy">
          User ID: <code>{{ user.uuid }}</code>
        </p>
        <button matTooltip="Copy" class="ap-icon-btn ap-icon-btn--secondary" (click)="copyUserId()">
          <fa-icon [icon]="faCopy"></fa-icon>
        </button>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
