@import '../../../../styles';

.general-settings {
  .user-id {
    & .container {
      padding-top: 16px;
      padding-bottom: 16px;
    }
    background-color: pal(light);
    & .code {
      font-family: monospace;
    }
  }
}
