<app-account-not-confirmed-bar></app-account-not-confirmed-bar>
<div class="general-settings">
  <div class="user-id ap-box ap-box--large">User ID: <code>{{ user.uuid }}</code></div>
  <app-account-wallet-settings></app-account-wallet-settings>
  <app-auto-withdrawal *ngIf="!isModerator"></app-auto-withdrawal>
  <app-preferences></app-preferences>
  <app-ref-link-settings></app-ref-link-settings>
  <app-access-tokens></app-access-tokens>
  <app-newsletter-settings></app-newsletter-settings>
</div>
