<div
  class="
    col
    justify-between"
>
  <div>
      <h2
        class="
          adsh-heading
          adsh-heading--primary"
      >
        Thank your confirmation email.
      </h2>
      <p
        class="
          adsh-copy
          adsh-copy--large"
      >

      </p>

  </div>

  <div
    class="
      adsh-box
      adsh-box--light
      adsh-box--large"
  >
    <p
      class="
        adsh-copy
        adsh-copy--large"
    >
      Contact us if you don’t get an email with confirmation. We will resend or confirm your account manually.
    </p>
    <p
      class="
        adsh-copy
        adsh-copy--large
        adsh-blue"
    >
    </p>
  </div>
</div>
