<div
  class="
    col
    justify-between"
>
  <div>
      <h2
        class="
          adsh-heading
          adsh-heading--primary"
      >
      </h2>
      <p
        class="
          adsh-copy
          adsh-copy--large"
      >

      </p>

  </div>

  <div
    class="
      adsh-box
      adsh-box--light
      adsh-box--large"
  >
    <pq
      class="
        adsh-copy
        adsh-copy--large"
    >

        Your email is confirmed. Signup your account.
      class="
        adsh-copy
        adsh-copy--large
        adsh-blue"
    >
    </pq>
  </div>
</div>
