<section class="adsh-advertiser-wrapper">
  <div class="container">
    <div
      class="
        row
        justify-between"
    >
      <div class="col-xs-4">
        <h1
          class="
            adsh-heading
            adsh-heading--primary"
        >
          My Campaigns
        </h1>
        <p
          class="
          adsh-copy
          adsh-copy--large"
        >
          Etiam pretium dapibus congue. Praesent a lorem erat.
        </p>
      </div>

      <div class="col-xs-8">
        <app-chart-filter></app-chart-filter>
      </div>
    </div>

    <div
      class="
          adsh-box
          adsh-box--large"
    >
      <div
        class="
          row
          align-center"
      >
        <div class="col-xs-2">
          Campaign Status
        </div>
        <div
          class="
            col-xs-10
            row
            align-center"
        >
          <div class="col-xs-2 col-xs-offset-2">
            <p>Target URL:</p>
            <p>www.adshares.com</p>
          </div>
          <div class="col-xs-2">
            <p>Target URL:</p>
            <p>www.adshares.com</p>
          </div>
          <div class="col-xs-2">
            <p>Target URL:</p>
            <p>www.adshares.com</p>
          </div>
          <div class="col-xs-2">
            <p>Target URL:</p>
            <p>www.adshares.com</p>
          </div>
          <div class="col-xs-2">
            <p>Target URL:</p>
            <p>www.adshares.com</p>
          </div>
        </div>
      </div>
    </div>

    <!--mock chart-->
    <div
      class="
        adsh-box
        adsh-box--large"
    >
      <img
        src="/assets/images/placeholder.png"
        style="max-width: 100%"
      >
    </div>

    <div
      class="
        row
        justify-between">
      <div
        class="
        adsh-box
        adsh-box--large"
      >
        dsajkdsakjads
      </div>
      <div
        class="
        adsh-box
        adsh-box--large"
      >
        dsajkdsakjads
      </div>
      <div
        class="
        adsh-box
        adsh-box--large"
      >
        dsajkdsakjads
      </div>
      <div
        class="
        adsh-box
        adsh-box--large"
      >
        dsajkdsakjads
      </div>
      <div
        class="
        adsh-box
        adsh-box--large"
      >
        dsajkdsakjads
      </div>
    </div>

    <app-ad-list
      [adList]="campaign.ads">
    </app-ad-list>
  </div>
</section>
