@import '../../../styles.scss';

.campaign-basic-information {
  > div {
    margin: 15px 50px 0 0;
  }
}

.campaign-details-statistics {
  margin-bottom: 15px;

  > div {
    margin: 5px 0;
    word-wrap: break-word;
    flex-basis: 100%;

    @include media(sm-up) {
      flex-basis: calc(50%);
      max-width: calc(50%);
    }

    @include media(md-up) {
      flex-basis: calc(33%);
      max-width: calc(33%);
    }

    @include media(lg-up) {
      flex-basis: calc(20% - 8px);
      max-width: calc(20% - 8px);
      margin: 0 5px;
    }


    &:first-of-type {
      margin-left: 0;
    }

    &:last-of-type {
      margin-right: 0;
    }
  }

  .adsh-heading--primary {
    margin: 6px 0;
  }
}

.status-wrapper {
  .adsh-status {
    margin-left: 5px;
  }
}

.chart-wrapper {
  height: 500px;
  width: 100%;
}

.status-toggle-wrapper {
  margin-right: 30px;

  > * {
    margin: 0 5px;
  }
}
