<section *ngIf="campaign; else loading" class="dashboard-view">
  <div class="container">
    <div
      class="
        row
        align-center
        breadcrumbs">
      <a
        routerLink="/advertiser/dashboard"
        data-test="advertiser-navigate-to-dashboard">
        <p
          class="
            adsh-copy
            adsh-copy--small">
          My Campaigns
        </p>
      </a>
      <div
        class="
          adsh-circle
          adsh-circle--x-small
          adsh-circle--navy
          breadcrumbs-divider">
      </div>
      <p
        class="
          adsh-copy
          adsh-copy--small
          adsh-copy--x-dark
          adsh-copy--semi">
        {{ campaign.basicInformation.name }}
      </p>
    </div>

    <div
      class="
        row
        no-gutters
        justify-between
        align-center">
      <div
        class="
          col-xs-5
          col-md-7">
        <h1
          class="
            adsh-heading
            adsh-heading--primary">
          {{ campaign.basicInformation.name }}
        </h1>
      </div>

      <div
        class="
          col-xs-7
          col-md-5
          row
          justify-end
          align-center">

        <div class="row status-button-wrapper">
          <span class="adsh-copy">Campaign is </span>
          <span class="adsh-copy lowercase-to-capitalize"
                data-test="advertiser-campaign-classification"
                [attr.data-status]="currentCampaignStatus">
              {{ currentCampaignStatus }}
            </span>
          <button class="adsh-btn adsh-btn--white adsh-status--btn adsh-copy--dark"
                  (click)="onCampaignStatusChange($event)"
                  [attr.data-status]="currentCampaignStatus">
            {{ statusButtonLabel }}
          </button>
        </div>
        <button
          class="
            adsh-btn
            adsh-btn--white
            btn-delete
            adsh-copy--dark"
          (click)="deleteCampaign()">
          <img
            class="
              adsh-icon
              adsh-icon--prepend"
            src="/assets/images/x-circle--gray.svg"
            alt="">
          Delete Campaign
        </button>
      </div>
    </div>

    <!-- chart-->
    <div
      class="
          adsh-box
          hidden-md"
    >
      <div
        class="
          adsh-box
          hidden-md"
      >
        <div class="justify-between row">

          <app-chart-filter-by-type
            class="details-filters"
            [detailsPage]="true"
            (updateSeries)="appChartRef.updateChartDataSeries($event)"
          ></app-chart-filter-by-type>
          <app-chart-filter
            class="details-filters"
            (filter)="appChartRef.updateChartData($event)"
          ></app-chart-filter>
        </div>
        <div
          class="
            row
            align-center
            justify-center
            chart-wrapper"
        >
          <app-chart
            class="
              chart
              row
              align-center
              justify-center"
            (update)="getChartData($event, campaign.id)"
            [barChartData]="barChartData"
            [barChartLabels]="barChartLabels"
          ></app-chart>
        </div>
      </div>
    </div>
    <!-- chart end-->

    <div class="adsh-box">
      <div class="row
                  no-wrap
                  justify-between">
        <div class="row
                    align-center
                    adsh-copy
                    campaign-basic-information">
          <div>
            <p class="adsh-copy--small
                      label">
              Target URL:
            </p>
            <p class="adsh-copy adsh-copy--dark adsh-copy--semi"
               data-test="advertiser-campaign-target-url">
              {{ campaign.basicInformation.targetUrl }}
            </p>
          </div>
          <div>
            <p
              class="
              adsh-copy--small
              label">
              Max Cpc
            </p>
            <p
              class="
              adsh-copy--dark
              adsh-copy--semi"
              data-test="advertiser-campaign-max-cpc">
              {{ campaign.basicInformation.maxCpc | adsharesTokenValue:4 }}
            </p>
          </div>
          <div>
            <p
              class="
              adsh-copy--small
              label">
              Max Cpm
            </p>
            <p
              class="
              adsh-copy--dark
              adsh-copy--semi"
              data-test="advertiser-campaign-max-cpm">
              {{ campaign.basicInformation.maxCpm | adsharesTokenValue:4 }}
            </p>
          </div>
          <div>
            <p
              class="
              adsh-copy--small
              label">
              Budget
            </p>
            <p
              class="
              adsh-copy--dark
              adsh-copy--semi"
              data-test="advertiser-campaign-budget">
              {{ campaign.basicInformation.budget | campaignBudgetPerDay | adsharesTokenValue:2 }}
            </p>
          </div>
          <div>
            <p
              class="
              adsh-copy--small
              label">
              Date of Start
            </p>
            <div
              class="
              row
              align-center">
              <img
                class="
                adsh-icon
                adsh-icon--prepend"
                src="/assets/images/calendar.svg"
                alt="">
              <p
                class="
                adsh-copy--dark
                adsh-copy--semi"
                data-test="advertiser-campaign-start-date">
                {{ campaign.basicInformation.dateStart | date:'dd MMM yyyy' }}
              </p>
            </div>

          </div>
          <div>
            <p
              class="
              adsh-copy--small
              label"
            >
              Date of End
            </p>
            <div
              class="
              row
              align-center"
            >
              <img
                class="
                adsh-icon
                adsh-icon--prepend"
                src="/assets/images/calendar.svg"
                alt=""
              >
              <p
                *ngIf="campaign.basicInformation.dateEnd; else dateEndEmpty"
                class="
                adsh-copy--dark
                adsh-copy--semi"
                data-test="advertiser-campaign-end-date"
              >
                {{ campaign.basicInformation.dateEnd | date:'dd MMM yyyy'}}
              </p>
              <ng-template #dateEndEmpty>
                -
              </ng-template>
            </div>
          </div>
        </div>
        <button
          class="
           adsh-btn
           adsh-btn--edit
           hidden-md
           no-wrap"
          (click)="navigateToCampaignEdition('basic-information', 1)"
          data-test="publisher-site-edit">
          <img
            class="
            adsh-icon
            adsh-icon--prepend"
            src="assets/images/edit-blue.svg"
            alt="">
          Edit Basic Info
        </button>
      </div>
    </div>

    <!--Targeting details section-->

    <section class="adsh-box adsh-box--high">
      <div class="row justify-end">
        <button class="self-end
                       adsh-btn
                       adsh-btn--edit
                       hidden-md"
                (click)="navigateToCampaignEdition('additional-targeting', 2)"
                data-test="publisher-site-edit">
          <img
            class="adsh-icon
                     adsh-icon--prepend"
            src="assets/images/edit-blue.svg"
            alt="">
          {{(!targeting.requires.length && !targeting.excludes.length) ? 'Add Targeting' : 'Edit Targeting'}}
        </button>
      </div>
      <div
        *ngIf="!!targeting.requires.length || !!targeting.excludes.length"
        class="
        adsh-copy
        row">
        <div *ngIf="!!targeting.requires.length"
             class="
          col-xs-12
          col-lg-6
          adsh-box--no-padding"
        >
          <h2 class="adsh-targeting-details__title
                     adsh-copy--large
                     adsh-copy--semi">Requires: </h2>
          <div>
            <app-targeting-display
              class="app-targeting-display"
              [items]="targeting.requires"
              [isExclude]="false"
              [canRemove]="false"
              [targetingOptions]="targetingOptions"
            ></app-targeting-display>
          </div>
        </div>

        <div
          *ngIf="!!targeting.excludes.length"
          class="
          col-xs-12
          col-lg-6
          adsh-box--no-padding">
          <h2 class="adsh-targeting-details__title
                     adsh-copy--large
                     adsh-copy--semi">Excludes: </h2>
          <div>
            <app-targeting-display
              class="app-targeting-display"
              [items]="targeting.excludes"
              [isExclude]="true"
              [canRemove]="false"
              [targetingOptions]="targetingOptions"
            ></app-targeting-display>
          </div>
        </div>
      </div>
    </section>

    <!--̣Campaign list section-->

    <section *ngIf="campaign.ads.length" class="col">
      <div
        class="
          adsh-box
          row
          justify-between
          align-center">
        <p
          class="
            adsh-copy
            adsh-copy--semi"
        >
          List of Ads
        </p>
      </div>
      <app-ad-list *ngIf="campaign.ads.length"
                   [adList]="campaign.ads"
                   [campaign]="campaign"></app-ad-list>
    </section>

    <div
      class="
        adsh-box
        adsh-box--no-padding
        hidden-md">
      <div
        class="
          row
          justify-center">
        <button
          class="
            row
            align-center
            adsh-btn
            adsh-btn--white
            adsh-btn--no-border"
          (click)="navigateToCampaignEdition('create-ad', 3)">
          <img
            src="/assets/images/plus-circle--blue.svg"
            alt="Add new icon"
            class="
              adsh-icon
              adsh-icon--prepend"/>
          <span
            class="
              adsh-heading
              adsh-heading--secondary">
              {{campaign.ads.length ? 'Create new Ad' : 'Add first Ad' }}
          </span>
        </button>
      </div>
    </div>
  </div>
</section>
<ng-template #loading>
  <mat-spinner [diameter]="20" [strokeWidth]="2" color="accent"></mat-spinner>
</ng-template>

