<section *ngIf="campaign; else loading" class="dashboard-view">
  <div class="container">
    <div
      class="
        row
        align-center
        breadcrumbs">
      <a
        routerLink="/advertiser/dashboard"
        data-test="advertiser-navigate-to-dashboard">
        <p
          class="
            adsh-copy
            adsh-copy--small">
          My Campaigns
        </p>
      </a>
      <div
        class="
          adsh-circle
          adsh-circle--x-small
          adsh-circle--navy
          breadcrumbs-divider">
      </div>
      <p
        class="
          adsh-copy
          adsh-copy--small
          adsh-copy--x-dark
          adsh-copy--semi">
        {{ campaign.basicInformation.name }}
      </p>
    </div>
    <div
      class="
        row
        no-gutters
        justify-between
        align-center">
      <div
        class="
          col-xs-5
          col-md-4">
        <h1
          class="
            adsh-heading
            adsh-heading--primary">
          {{ campaign.basicInformation.name }}
        </h1>
      </div>

      <div
        class="
          col-xs-7
          col-md-8
          row
          justify-end
          align-center">

        <!--
        <div class="row status-toggle-wrapper">
          <p>
            <span class="adsh-copy">Classification: </span>
            <span class="adsh-copy adsh-copy--x-dark lowercase-to-capitalize"
                  data-test="advertiser-campaign-classification">
              {{ classificationLabel }}
            </span>
          </p>
          <mat-slide-toggle
            color="primary"
            [checked]="isClassificationChecked"
            [disabled]="isClassificationChecked"
            ([ngModel])="campaign.classificationStatus"
            (change)="onCampaignClassificationStatusChange(campaign.classificationStatus)"
            data-test="advertiser-campaign-classification-status-toggle"
          ></mat-slide-toggle>
        </div>
        -->

        <div
          class="
            row
            status-toggle-wrapper">
          <p>
            <span class="adsh-copy">Status: </span>
            <span
              class="
                adsh-copy
                adsh-copy--x-dark
                lowercase-to-capitalize"
              data-test="advertiser-campaign-status"
            >
              {{ campaignStatusesEnum[campaign.basicInformation.status] }}
            </span>
          </p>
          <mat-slide-toggle
            color="primary"
            [checked]="campaign.basicInformation.status === campaignStatusesEnum.ACTIVE"
            ([ngModel])="campaign.basicInformation.status"
            (change)="onCampaignStatusChange(campaign.basicInformation.status)"
            data-test="advertiser-campaign-status-toggle"
          ></mat-slide-toggle>
        </div>
        <button
          class="
            adsh-btn
            adsh-btn--white
            adsh-btn--no-border
            btn-delete"
          (click)="deleteCampaign()">
          <img
            class="
              adsh-icon
              adsh-icon--prepend"
            src="/assets/images/x-circle--gray.svg"
            alt="Delete icon">
          <span
            class="
              adsh-copy
              adsh-copy--dark">
            Delete Campaign
          </span>
        </button>
      </div>
    </div>

    <div class="adsh-box
                adsh-box--large">
      <div class="row
                  justify-between">
        <div class="row
                    align-center
                    adsh-copy
                    campaign-basic-information">
          <div>
            <p class="adsh-copy--small
                      label">
              Target URL:
            </p>
            <p class="adsh-copy--dark adsh-copy--semi"
               data-test="advertiser-campaign-target-url">
              {{ campaign.basicInformation.targetUrl }}
            </p>
          </div>
          <div>
            <p
              class="
              adsh-copy--small
              label">
              Max Cpc
            </p>
            <p
              class="
              adsh-copy--dark
              adsh-copy--semi"
              data-test="advertiser-campaign-max-cpc">
              {{ campaign.basicInformation.maxCpc | adsharesTokenValue:4 }}
            </p>
          </div>
          <div>
            <p
              class="
              adsh-copy--small
              label">
              Max Cpm
            </p>
            <p
              class="
              adsh-copy--dark
              adsh-copy--semi"
              data-test="advertiser-campaign-max-cpm">
              {{ campaign.basicInformation.maxCpm | adsharesTokenValue:4 }}
            </p>
          </div>
          <div>
            <p
              class="
              adsh-copy--small
              label">
              Budget
            </p>
            <p
              class="
              adsh-copy--dark
              adsh-copy--semi"
              data-test="advertiser-campaign-budget">
              {{ campaign.basicInformation.budget | campaignBudgetPerDay | adsharesTokenValue:2 }}
            </p>
          </div>
          <div>
            <p
              class="
              adsh-copy--small
              label">
              Date of Start
            </p>
            <div
              class="
              row
              align-center">
              <img
                class="
                adsh-icon
                adsh-icon--prepend"
                src="/assets/images/calendar.svg"
                alt="Calendar Icon">
              <p
                class="
                adsh-copy--dark
                adsh-copy--semi"
                data-test="advertiser-campaign-start-date">
                {{ campaign.basicInformation.dateStart | date:'dd MMM yyyy' }}
              </p>
            </div>

          </div>
          <div>
            <p
              class="
              adsh-copy--small
              label"
            >
              Date of End
            </p>
            <div
              class="
              row
              align-center"
            >
              <img
                class="
                adsh-icon
                adsh-icon--prepend"
                src="/assets/images/calendar.svg"
                alt="Calendar Icon"
              >
              <p
                *ngIf="campaign.basicInformation.dateEnd; else dateEndEmpty"
                class="
                adsh-copy--dark
                adsh-copy--semi"
                data-test="advertiser-campaign-end-date"
              >
                {{ campaign.basicInformation.dateEnd | date:'dd MMM yyyy'}}
              </p>
              <ng-template #dateEndEmpty>
                -
              </ng-template>
            </div>
          </div>
        </div>
        <button
          class="
           adsh-btn
           adsh-btn--white
           adsh-btn--no-border
           hidden-md"
          (click)="navigateToCampaignEdition('basic-information', 1)"
          data-test="publisher-site-edit">
          <img
            class="
            adsh-icon
            adsh-icon--prepend"
            src="assets/images/edit.svg"
            alt="Edit icon">
          <span
            class="
            adsh-copy
            adsh-copy--dark">
            Edit Basic Info
         </span>
        </button>
      </div>
    </div>

    <!--Targeting details section-->

    <section class="adsh-box adsh-box--high">
      <div class="row justify-end">
        <button
          class="
           adsh-btn
           adsh-btn--white
           adsh-btn--no-border
           hidden-md"
          (click)="navigateToCampaignEdition('additional-targeting', 2)"
          data-test="publisher-site-edit">
          <img
            class="
            adsh-icon
            adsh-icon--prepend"
            src="assets/images/edit.svg"
            alt="Edit icon">
          <span
            class="
            adsh-copy
            adsh-copy--dark">
            {{(!targeting.requires.length && !targeting.excludes.length) ? 'Add Targeting' : 'Edit Targeting'}}
        </span>
        </button>
      </div>
      <div
        *ngIf="!!targeting.requires.length || !!targeting.excludes.length"
        class="
        adsh-box
        adsh-copy
        row">
        <div *ngIf="!!targeting.requires.length"
             class="
          col-xs-12
          col-lg-6">
          <div>
            <app-targeting-display
              class="app-targeting-display"
              [items]="targeting.requires"
              [isExclude]="false"
              [canRemove]="false"
              [targetingOptions]="targetingOptions"
            ></app-targeting-display>
          </div>
        </div>

        <div
          *ngIf="!!targeting.excludes.length"
          class="
          col-xs-12
          col-lg-6">
          <div>
            <app-targeting-display
              class="app-targeting-display"
              [items]="targeting.excludes"
              [isExclude]="true"
              [canRemove]="false"
              [targetingOptions]="targetingOptions"
            ></app-targeting-display>
          </div>
        </div>
      </div>
    </section>
    <div
      class="
        justify-center
        row
        campaign-details-statistics">
      <div
        class="
          adsh-box
          adsh-box--large">
        <p
          class="
            adsh-copy
            adsh-copy--small">
          Budget
        </p>
        <p
          class="
            adsh-heading
            adsh-heading--primary"
          data-test="advertiser-campaign-budget">
          {{ campaign.basicInformation.budget | campaignBudgetPerDay | adsharesTokenValue:2 }}
        </p>
        <p
          class="
            adsh-copy
            adsh-copy--x-small
            adsh-blue">
          /day
        </p>
      </div>
      <div
        class="
          adsh-box
          adsh-box--large">
        <p
          class="
            adsh-copy
            adsh-copy--small">
          Clicks
        </p>
        <p *ngIf="campaign; else loadingTotals"
           class="
            adsh-heading
            adsh-heading--primary"
           data-test="advertiser-campaign-clicks">
          {{ campaign.clicks || 0 }}
        </p>
        <ng-template #loadingTotals>
          <mat-spinner [diameter]="20" [strokeWidth]="2" color="accent"></mat-spinner>
        </ng-template>

      </div>
      <div
        class="
          adsh-box
          adsh-box--large">
        <p
          class="
            adsh-copy
            adsh-copy--small">
          Cost
        </p>
        <p *ngIf="campaign"
           class="
            adsh-heading
            adsh-heading--primary"
           data-test="advertiser-campaign-cost">
          {{ (campaign.cost || 0)  | adsharesTokenValue:4}}
        </p>
      </div>
      <div *ngIf="campaign.conversions"
           class="
          adsh-box
          adsh-box--large">
        <p
          class="
            adsh-copy
            adsh-copy--small">Conversions</p>
        <p
          class="
            adsh-heading
            adsh-heading--primary"
          data-test="advertiser-campaign-conversions">
          {{ campaign.conversions || 0 }}
        </p>
        <p
          class="
            adsh-copy
            adsh-copy--x-small
            adsh-blue">
          - (-%)
        </p>
      </div>
      <div *ngIf="campaign.conversions"
           class="
          adsh-box
          adsh-box--large">
        <p
          class="
            adsh-copy
            adsh-copy--small">
          Cost/Conv
        </p>
        <p *ngIf="campaign; else loadingTotals"
           class="
            adsh-heading
            adsh-heading--primary"
           data-test="advertiser-campaign-cost-converions-ratio">
          {{ campaign.cost / campaign.conversions | adsharesTokenValue:2 }}
        </p>
        <ng-template #loadingTotals>
          <mat-spinner [diameter]="20" [strokeWidth]="2" color="accent"></mat-spinner>
        </ng-template>
        <p
          class="
            adsh-copy
            adsh-copy--x-small
            adsh-blue">
          - (-%)
        </p>
      </div>
    </div>


    <!--̣Campaign list section-->

    <div
      class="
          adsh-box
          adsh-box--large
          hidden-md"
    >
      <div>
        <app-chart-filter
          (filter)="appChartRef.updateChartData($event)"
        ></app-chart-filter>
      </div>

      <div
        class="
          adsh-box
          adsh-box&#45;&#45;large
          hidden-md"
      >
        <app-chart-filter-by-type
          [detailsPage]="true"
          (updateSeries)="appChartRef.updateChartDataSeries($event)"
        ></app-chart-filter-by-type>
        <div
          class="
            row
            align-center
            justify-center
            chart-wrapper"
        >
          <app-chart
            class="
              chart
              row
              align-center
              justify-center"
            (update)="getChartData($event, campaign.id)"
            [barChartData]="barChartData"
            [barChartLabels]="barChartLabels"
          ></app-chart>
        </div>
      </div>
    </div>

    <!--̣Campaign list section-->

    <section *ngIf="campaign.ads.length" class="col">
      <div
        class="
          adsh-box
          row
          justify-between
          align-center">
        <p
          class="
            adsh-copy
            adsh-copy--semi"
        >
          List of Ads
        </p>
        <button
          class="
           adsh-btn
           adsh-btn--white
           adsh-btn--no-border
           hidden-md"
          (click)="navigateToCampaignEdition('create-ad', 3)"
          data-test="publisher-site-edit">
          <img
            class="
            adsh-icon
            adsh-icon--prepend"
            src="assets/images/edit.svg"
            alt="Edit icon">
          <span
            class="
            adsh-copy
            adsh-copy--dark">
             Edit Ads
          </span>
        </button>
      </div>
      <app-ad-list *ngIf="campaign.ads.length" [adList]="campaign.ads"></app-ad-list>
    </section>

    <div
      class="
        adsh-box
        hidden-md">
      <div
        class="
          row
          justify-center">
        <button
          class="
            row
            align-center
            adsh-btn
            adsh-btn--large
            adsh-btn--white
            adsh-btn--no-border"
          (click)="navigateToCampaignEdition('create-ad', 3)">
          <img
            src="/assets/images/plus-circle--blue.svg"
            alt="Add new icon"
            class="
              adsh-icon
              adsh-icon--prepend">
          <span
            class="
              adsh-heading
              adsh-heading--secondary">
              {{campaign.ads.length ? 'Create new Ad' : 'Add first Ad' }}
          </span>
        </button>
      </div>
    </div>
  </div>
</section>
<ng-template #loading>
  <mat-spinner [diameter]="20" [strokeWidth]="2" color="accent"></mat-spinner>
</ng-template>
