@import '../../../styles.scss';

.campaign-basic-information {
  > div:not(:last-of-type) {
    margin-right: 32px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  > div:first-of-type {
    max-width: 33%;
  }

  .ap-icon {
    margin: 0 4px 0 0;
    width: 15px;
    height: 15px;
  }
}

.campaign-details {
  &__scrollable-table {
    overflow: hidden;
    overflow-x: auto;
  }

  & .targeting-display-wrapper {
    margin-top: 16px;
  }

  & .ap-status {
    text-align: center;
    justify-content: center;
    padding: 8px 16px;
    line-height: 1.5;
    height: 42px;
  }
}

.campaign-details-statistics {
  margin-bottom: 15px;

  > div {
    margin: 5px 0;
    word-wrap: break-word;
    flex-basis: 100%;

    @include media(sm-up) {
      flex-basis: calc(50%);
      max-width: calc(50%);
    }

    @include media(md-up) {
      flex-basis: calc(33%);
      max-width: calc(33%);
    }

    @include media(lg-up) {
      flex-basis: calc(33.3% - 8px);
      max-width: calc(33.3% - 8px);
      margin: 0 5px;
    }

    &:first-of-type {
      margin-left: 0;
    }

    &:last-of-type {
      margin-right: 0;
    }
  }

  .ap-heading--h2 {
    margin: 6px 0;
  }
}

.chart-wrapper {
  height: 250px;
  width: 100%;
  margin-bottom: 24px;
}

.dashboard-view {
  .ap-box {
    min-height: 42px;
  }
}
