.campaign-details-statistics {
  margin-bottom: 15px;

  > div {
    flex-basis: calc(20% - 10px);
    max-width: calc(20% - 10px);
    margin: 0 5px;
    word-wrap: break-word;

    &:first-of-type {
      margin-left: 0;
    }

    &:last-of-type {
      margin-right: 0;
    }
  }

  .adsh-heading--primary {
    margin: 6px 0;
  }
}

.status-wrapper {
  .adsh-status {
    margin-left: 5px;
  }
}

.chart-wrapper {
  height: 500px;
  width: 100%;
}
