<info-page>
  <div class="col row--gap32">
    <h1 class="ap-heading ap-heading--h2 ap-heading--secondary">
      {{ code }}
    </h1>
    <p class="ap-copy ap-copy--semi ap-copy--medium ap-copy--light">{{ codeDescription }}</p>
    <p class="ap-copy">
      <a href="/">Back to the main page</a>
    </p>
    <p class="ap-copy ap-copy--light">
      Please
      <a [href]="'mailto:' + supportEmail" data-test="common-support-email"> contact support </a>
      if you will encounter any issue.
    </p>
  </div>
</info-page>
