.env
*.override.*
!*.dist

# compiled output
/dist
/tmp
/out-tsc
/build

# dependencies
/node_modules

# easymock
/server-mock/access_logs.db

# IDEs and editors
/.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
*.iml
.panel-dock-yarn-task-done

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

# UI tests
/.gradle
/gradle

# QA
/.scannerwork
