.env
!*.dist
!.gitkeep

src/environments/*
!src/environments/environment.ts
!src/environments/environment.ts.template

# compiled output
/dist
/dist_default
/tmp
/out-tsc
/build

# dependencies
/node_modules

# easymock
/server-mock/access_logs.db

# IDEs and editors
/.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
*.iml
.panel-dock-yarn-task-done

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.angular/cache
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

# UI tests
/.gradle
/gradle

# QA
/.scannerwork

src/version.ts
