let serverUrl = '${ADSERVER_URL}';

export const environment = {
  production: ${APP_PROD},
  serverUrl: serverUrl,
  authUrl: serverUrl + '/auth',
  apiUrl: serverUrl '/api',
  xdebug: ${REQUEST_XDEBUG}
};
