{
  "module": "adserver-user-panel",
  "name": "${APP_NAME}",
  "version": "${APP_VERSION}",
  "api-server-base-url":"${ADSERVER_URL}",
  "api-base-url":"${ADSERVER_URL}",
  "serverUrl":"${ADSERVER_URL}"
}
