@import '../../../../styles.scss';

.ap-site-list {
  &__item {
    @include container();
    border-bottom: 1px solid pal(gray);

    .ap-status {
      border-radius: 10px;
      &[data-status="active"] {
        background-color: pal(success, light);
      }
      &[data-status="inactive"] {
        background-color: pal(secondary, light);
      }
    }
  }

  &__sort {
    margin-left: 5px;
  }
  &__items > .ap-box:first-of-type {
    padding: 10px;
  }

  &__status-cell {
    @include status-cell;
    cursor: pointer;
  }

  &__item-site-details {
    &:focus,
    &:hover {
      animation: slide-right 0.5s cubic-bezier(0.42, 0, 0, 1.45);
      animation-fill-mode: forwards;
    }
  }
}
