<tr
  *ngIf="site; else loading"
  class="ap-site-list__item row justify-between align-center ap-copy"
  data-test="publisher-navigate-to-site-details">
  <td class="row ap-site-list__status-cell align-center" (click)="statusSelect.open()" role="button">
    <div class="ap-status" [attr.data-status]="currentSiteStatus">
      {{ currentSiteStatus }}
      <div class="status-wrapper__list-item">
        <mat-select
          #statusSelect
          [value]=""
          (selectionChange)="onSiteStatusChange($event.value)"
          [disabled]="siteStatusEnum.PENDING === site.status || siteStatusEnum.REJECTED === site.status"
          data-test="publisher-site-status-select">
          <mat-option
            *ngFor="let option of siteStatuses"
            [ngClass]="{
              hidden:
                siteStatusEnum.DRAFT === option.value ||
                siteStatusEnum.PENDING === option.value ||
                siteStatusEnum.REJECTED === option.value
            }"
            [value]="option.value"
            data-test="publisher-site-status-select-option">
            {{ option.label }}
          </mat-option>
        </mat-select>
      </div>
    </div>
  </td>
  <td class="col-xs-3 row align-center" role="link">
    <a
      class="ap-copy ap-copy--bold clickable-row-a"
      routerLink="/publisher/site/{{ site.id }}"
      data-test="publisher-site-url">
      {{ site.name }}
    </a>
  </td>
  <td class="col-xs-1 row align-center">
    <span data-test="publisher-site-estimated-earnings" [title]="site.revenue || 0 | formatMoney : 4">
      {{ site.revenue || 0 | formatMoney : 2 }}
    </span>
  </td>
  <td class="col-xs-1 row align-center">
    <span data-test="publisher-site-clicks">
      {{ site.clicks || 0 }}
    </span>
  </td>
  <td class="col-xs-1 row align-center">
    <span data-test="publisher-site-impressions">
      {{ site.impressions || 0 | formatNumberWithComa }}
    </span>
  </td>
  <td class="col-xs-1 row align-center">
    <span data-test="publisher-site-ctr">
      {{ site.ctr || 0 | percent : '1.2-2' }}
    </span>
  </td>
  <td class="col-xs-1 row align-center">
    <span data-test="publisher-site-rpm" [title]="site.averageRpm || 0 | formatMoney : 4">
      {{ site.averageRpm || 0 | formatMoney : 2 }}
    </span>
  </td>
  <td class="col-xs-1 row align-center justify-center ap-site-list__item-site-details" role="link">
    <a routerLink="/publisher/site/{{ site.id }}" class="clickable-row-a">
      <fa-icon [icon]="faChevronRight" class="ap-icon"></fa-icon>
    </a>
  </td>
</tr>
<ng-template #loading>
  <div class="ap-box ap-box--large justify-center align-center">
    <mat-spinner [diameter]="20" [strokeWidth]="2" color="accent"></mat-spinner>
  </div>
</ng-template>
