@import '../../../../styles.scss';

.dwmth-site-list {
  &__sort {
    margin-left: 5px;
  }
  &__items > .dwmth-box:first-of-type {
    padding: 10px;
  }

  &__status-cell {
    @include status-cell;
    cursor: pointer;
  }

  &__item-site-details {
    &:focus,
    &:hover {
      animation: slide-right 0.5s cubic-bezier(0.42, 0, 0, 1.45);
      animation-fill-mode: forwards;
    }
  }
}
