<section
  class="
    dwmth-header
    dwmth-header-bg
    container-fluid
    row
    align-center
    justify-between"
>
  <div
    class="
      row
      align-center"
  >
    <a
      [routerLink]="['/', userRolesEnum[activeUserType].toLowerCase(), 'dashboard']"
      data-test="header-dashboard-link"
    >
      <div
        class="
          dwmth-navigation__item
          col
          align-center"
      >
        <img
          class="dwmth-logo"
          src="assets/images/logo--white.png"
          srcset="
            assets/images/logo--white@2x.png 2x,
            assets/images/logo--white@3x.png 3x"
          alt="Adshares Logo"
        >
        <span *ngIf="!!envContext"
              class="dwmth-copy
                     dwmth-header__logo-subtitle">{{envContext}}</span>
      </div>
    </a>
    <button
      type="button"
      *ngIf="!session.isModerator() || session.isImpersonated()"
      class="dwmth-btn--no-border
               row
               align-center
               dwmth-navigation__item
               dwmth-header--userselect
               dwmth-copy--uppercase
               dwmth-copy--semi
               dwmth-copy--lineheight-reset"
      [ngClass]="{'active-type': activeUserType === userRolesEnum.ADVERTISER}"
      (click)="setActiveUserType(userRolesEnum.ADVERTISER)"
    >
      <img
        class="
            dwmth-icon
            dwmth-navigation__item--hidden
            dwmth-icon--prepend"
        [src]="activeUserType === userRolesEnum.ADVERTISER ? 'assets/images/user.svg' : 'assets/images/user-gray.svg'"
        alt="user"
      />
      Advertiser
    </button>
    <button
      type="button"
      *ngIf="!session.isModerator() || session.isImpersonated()"
      class="dwmth-btn--no-border
               row
               align-center
               dwmth-navigation__item
               dwmth-header--userselect
               dwmth-copy--uppercase
               dwmth-copy--semi
               dwmth-copy--lineheight-reset"
      [ngClass]="{'active-type': activeUserType === userRolesEnum.PUBLISHER}"
      (click)="setActiveUserType(userRolesEnum.PUBLISHER)"
    >
      <img
        class="
            dwmth-navigation__item--hidden
            dwmth-icon
            dwmth-icon--prepend"
        [src]="activeUserType === userRolesEnum.PUBLISHER ? 'assets/images/user.svg' : 'assets/images/user-gray.svg'"
        alt=""
      />
      Publisher
    </button>
    <button
            type="button"
            *ngIf="!session.isImpersonated() && (session.isModerator() || session.isAgency())"
            class="dwmth-btn--no-border
               row
               align-center
               dwmth-navigation__item
               dwmth-header--userselect
               dwmth-copy--uppercase
               dwmth-copy--semi
               dwmth-copy--lineheight-reset"
            [ngClass]="{'active-type': activeUserType === userType}"
            (click)="setActiveUserType(userType)"
    >
      <img
              class="
            dwmth-icon
            dwmth-navigation__item--hidden
            dwmth-icon--prepend"
              [src]="activeUserType === userType ? 'assets/images/user.svg' : 'assets/images/user-gray.svg'"
              alt=""
      />
      <span *ngIf="session.isModerator()">Moderator</span>
      <span *ngIf="session.isAgency()">Agency</span>
    </button>
  </div>

  <div
    class="
      row
      align-center"
  >

    <div
      *ngIf="!session.isModerator() || session.isImpersonated()"
      class="
        dwmth-btn
        dwmth-btn--transparent
        row
        align-center
        help-menu"
      (mouseover)="toggleHelpMenu(true)"
      (mouseleave)="toggleHelpMenu(false)"
    >
      <fa-icon
        [icon]="faLifeRing"
        class="
            dwmth-icon
            dwmth-icon--prepend"></fa-icon>
      <span>Support</span>
      <img
        class="
          dwmth-icon
          dwmth-icon--small
          dwmth-icon--append
          settings-menu-chevron"
        [class.up]="helpMenuOpen"
        src="assets/images/chevron--gray.svg"
        alt=""
      >
      <ul
        class="
          settings-menu
          dwmth-copy"
        [class.open]="helpMenuOpen"
      >
        <li class="settings-menu__item" *ngIf="supportChat">
          <fa-icon
            [icon]="faComments"
            class="
            dwmth-icon
            dwmth-icon--prepend"></fa-icon>
          <a href="{{supportChat}}" target="_blank" rel="noopener nofollow noreferrer">Community chat</a>
        </li>
        <li class="settings-menu__item" *ngIf="supportTelegram">
          <fa-icon
            [icon]="faPaperPlane"
            class="
            dwmth-icon
            dwmth-icon--prepend"></fa-icon>
          <a href="https://t.me/{{supportTelegram}}" target="_blank" rel="noopener nofollow noreferrer">@{{supportTelegram}}</a>
        </li>
        <li class="settings-menu__item" *ngIf="supportEmail">
          <fa-icon
            [icon]="faEnvelope"
            class="
            dwmth-icon
            dwmth-icon--prepend"></fa-icon>
          <a href="mailto:{{supportEmail}}" target="_blank" rel="noopener nofollow noreferrer">{{supportEmail}}</a>
        </li>
      </ul>
    </div>


    <button
      *ngIf="activeUserType === userRolesEnum.ADVERTISER || activeUserType === userRolesEnum.PUBLISHER"
      class="
        dwmth-btn
        dwmth-btn--with-icon
        dwmth-btn--wide
        dwmth-bg-blue
        dwmth-navigation__item
        dwmth-navigation__item--hidden
        row
        align-center
        hidden-md-down"
      (click)="navigateToCreateNewAsset()"
      data-test="header-create-new-asset-button"
    >
      <img
        class="
            dwmth-icon
            dwmth-icon--prepend"
        src="assets/images/plus-circle.svg"
        alt=""
      >
      <span *ngIf="activeUserType === userRolesEnum.ADVERTISER">Create new campaign</span>
      <span *ngIf="activeUserType === userRolesEnum.PUBLISHER">Add new site</span>
    </button>
    <div
      *ngIf="!session.isModerator() || session.isImpersonated()"
      class="
        row
        align-center
        relative
        dwmth-bg-navy--light
        dwmth-navigation__item
        dwmth-btn
        dwmth-btn--no-vertical-padding"
      [class.dwmth-btn--invalid]="!isTotalFundsValid"
      matTooltipClass="dwmth-mat-tooltip"
      [matTooltip]="!isTotalFundsValid ? 'Connection temporarily lost' : null"
      matTooltipPosition="left"
      (mouseover)="toggleSettingsMenu(true)"
      (mouseleave)="toggleSettingsMenu(false)"
      data-test="header-toggle-settings-menu"
    >
      <img
        class="
          dwmth-navigation__item--hidden
          dwmth-icon
          dwmth-icon--prepend"
        src="assets/images/credit-card--white.svg"
        alt="Wallet balance"
      >
      <div
        class="
          col
          justify-start"
      >
        <span
          class="dwmth-tokens"
          data-test="user-total-funds"
        >
          {{ totalFunds | formatMoney:2:crypto:code }}
        </span>
        <span
          *ngIf="calculateFunds"
          class="dwmth-header__money-in-currency"
          data-test="user-total-funds"
        >
          {{ totalFunds | calculateInCurrency:2 }}
        </span>
        <span
          class="dwmth-usd"
          data-test="user-total-funds-in-currency"
        >
        </span>
      </div>
      <img
        class="
          dwmth-icon
          dwmth-icon--small
          dwmth-icon--append
          settings-menu-chevron"
        [class.up]="settingsMenuOpen"
        src="assets/images/chevron--gray.svg"
        alt=""
      >
      <ul
        class="
          settings-menu
          dwmth-copy"
        [class.open]="settingsMenuOpen"
      >
        <li class="settings-menu__item">
          <button
            class="
              dwmth-btn
              dwmth-btn--blue
              dwmth-btn--tiny
              row
              justify-between
              align-center"
            (click)="openAddFundsDialog()"
            data-test="add-funds-dialog-open-button"
          >
            <img
              class="
                dwmth-icon
                close"
              src="assets/images/plus-circle.svg"
              alt=""
            >
            Deposit funds
          </button>
        </li>
        <li
          class="settings-menu__item"
          routerLink="/settings/general"
          data-test="header-account-settings-button"
        >
          Account settings
        </li>
        <li
          class="settings-menu__item"
          routerLink="/settings/general"
          data-test="header-account-settings-button"
        >
          Referral links
        </li>
        <li
          class="settings-menu__item"
          routerLink="/settings/billing"
          data-test="header-billing-payments-button"
        >
          Billing & payments
        </li>
        <li
          class="settings-menu__item"
          routerLink="/settings/reports"
          data-test="header-reports-button"
        >
          Reports
        </li>
        <li class="settings-menu__item">
          <span
            (click)="logout()"
            data-test="header-log-out-button"
          >
            Log out
          </span>
        </li>
      </ul>
    </div>

    <button
      class="
        dwmth-btn
        dwmth-btn--transparent
        row
        align-center
        hidden-sm"
      [ngClass]="{'visible-sm': session.isModerator() && !session.isImpersonated()}"
      (click)="logout()"
      data-test="header-log-out-button"
    >
      <span>
        <small class="user-name">{{userLabel}}</small>
        Log out
      </span>
    </button>
  </div>
</section>
