@import '../../../../styles.scss';

.dwmth-header {
  width: 100vw;
  height: $app-header-height;
  background: pal(navy);

  @include media(sm-down-without-sm) {
    height: 110px;
    flex-direction: column;
    justify-content: center;
  }

  &--userselect {
    background: pal(white);
    padding: 0 20px;

    img {
      top: calc((42px - 18px) / 2);
      left: 15px;
    }
  }

  > div {
    @include media(sm-down-without-sm) {
      justify-content: center;
      flex-direction: column;
    }
  }

  &__logo-subtitle {
    text-transform: uppercase;
    color: pal(red, dark);
    font-size: 14px;
    line-height: 1;
  }
}

.dwmth-navigation {
  &__item {
    margin: 0 5px;
    height: 42px;
    cursor: pointer;

    .dwmth-logo {
      margin-right: 15px;

      @include media(md-up) {
        margin-right: 30px;
      }
    }

    .dwmth-chevron {
      right: 10px;
      top: 15px;
    }

    .dwmth-circle {
      top: 6px;
      right: 6px;
    }

    .notifications-total {
      @include center(both);
      @include font(14, semi)
    }
  }
}

.dwmth-tokens {
  @include font(14, semi);
  margin-bottom: 2px;
}

.dwmth-usd {
  @include font(9, semi);
  color: pal(gray);
}

.settings-menu,
.choose-user-menu {
  position: absolute;
  top: 36px;
  background: pal(white);
  z-index: 999;
  width: 100%;
  min-width: 170px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease;

  @include media(xxl-up) {
    top: 46px;
  }

  &.open {
    visibility: visible;
    opacity: 1;
  }

  &__item {
    text-align: left;
    padding: 8px 20px;

    &:first-of-type {
      padding-bottom: 0;
    }

    button {
      width: 100%;
      min-width: 100px;
    }
  }
}

.choose-user-menu {
  left: 0;

  &__item {
    display: flex;
    align-items: center;
    padding: 12px 20px;
    color: pal(black);
    border: 1px solid pal(gray, light);

    &:not(:first-of-type) {
      border-top: none;
    }
  }
}

.choose-user-menu-chevron,
.settings-menu-chevron {
  transition: all 0.4s ease;

  &.up {
    transform: rotate(180deg);
  }
}

.logout-on-small-devices {
  position: absolute;
  top: 14px;
  right: 20px;
}

