@import '../../../../styles.scss';

.ap-header {
  width: 100vw;
  height: $app-header-height;

  @include media(sm-down-without-sm) {
    height: 110px;
    flex-direction: column;
    justify-content: center;
  }

  & .logo-wrapper {
    width: calc(300px - 2rem);
    min-width: calc(300px - 2rem);
    transition: width 0.5s ease-in;
    padding-right: 2rem;
  }

  & .content-wrapper {
    flex-grow: 1;
  }

  > div {
    @include media(sm-down-without-sm) {
      justify-content: center;
      flex-direction: column;
    }
  }

  &__logo-link {
    &:hover {
      text-decoration: none;
    }
  }

  &__money-in-currency {
    @include font(12);
  }

  & .no-underline {
    text-decoration: none;
  }
}

.ap-btn.ap-btn--invalid {
  color: pal(gray);
}

.ap-navigation {
  &__item {
    height: 42px;
    cursor: pointer;
    width: 100%;
  }
}

.ap-tokens {
  @include font(14, semiBold);
}

.ap-usd {
  @include font(9, semiBold);
  color: pal(gray);
}

.help-menu {
  position: relative;

  .settings-menu__item:first-of-type {
    padding-bottom: 8px;
  }
}

.settings-menu,
.choose-user-menu,
.roles-menu {
  position: absolute;
  top: 47px;
  border: 1px solid pal(primary);
  border-radius: 10px;
  background: pal(light);
  z-index: 999;
  width: 260px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease;

  a {
    color: inherit;
  }

  @include media(xxl-up) {
    top: 46px;
  }

  &.open {
    visibility: visible;
    opacity: 1;
  }

  &__item {
    text-align: left;
    padding: 8px 20px;

    &:hover {
      background-color: pal(body-bg);
    }
  }
  &--max-content {
    width: max-content;
  }

  & button {
      height: 42px;
      cursor: pointer;
      width: 100%;
  }
}

.choose-user-menu {
  left: 0;

  &__item {
    display: flex;
    align-items: center;
    padding: 12px 20px;
    color: pal(dark);
    border: 1px solid pal(gray);

    &:not(:first-of-type) {
      border-top: none;
    }
  }
}

.choose-user-menu-chevron,
.settings-menu-chevron {
  transition: all 0.4s ease;

  &.up {
    transform: rotate(180deg);
  }
}

.user-name {
  display: block;
  font-size: 75%;
}
