<section
  class="
    dwmth-header
    dwmth-header-bg
    container-fluid
    row
    align-center
    justify-between"
>
  <div
    class="
      row
      align-center"
  >
    <a
      [routerLink]="['/', userRolesEnum[activeUserType].toLowerCase(), 'dashboard']"
      data-test="header-dashboard-link"
    >
      <div
        class="
          dwmth-navigation__item
          col
          align-center"
      >
        <img
          class="dwmth-logo"
          src="assets/images/logo--white.png"
          srcset="
            assets/images/logo--white@2x.png 2x,
            assets/images/logo--white@3x.png 3x"
          alt="Adshares Logo"
        >
        <span class="dwmth-copy
                     dwmth-header__logo-subtitle">Testnet</span>
      </div>
    </a>
      <button
        type="button"
        *ngIf="activeUserType !== userRolesEnum.ADMIN"
        class="dwmth-btn--no-border
               row
               align-center
               dwmth-navigation__item
               dwmth-header--userselect
               dwmth-copy--uppercase
               dwmth-copy--semi
               dwmth-copy--lineheight-reset"
        (click)="setActiveUserType(userRolesEnum.ADVERTISER)"
      >
        <img
          class="
            dwmth-icon
            dwmth-icon--prepend"
          [src]="activeUserType === userRolesEnum.ADVERTISER ? 'assets/images/user.svg' : 'assets/images/user-gray.svg'"
        />
        Advertiser
      </button>
      <button
        type="button"
        *ngIf="activeUserType !== userRolesEnum.ADMIN"
        class="dwmth-btn--no-border
               row
               align-center
               dwmth-navigation__item
               dwmth-header--userselect
               dwmth-copy--uppercase
               dwmth-copy--semi
               dwmth-copy--lineheight-reset"
        (click)="setActiveUserType(userRolesEnum.PUBLISHER)"
      >
        <img
          class="
            dwmth-icon
            dwmth-icon--prepend"
          [src]="activeUserType === userRolesEnum.PUBLISHER ? 'assets/images/user.svg' : 'assets/images/user-gray.svg'"
        />
       Publisher
      </button>
  </div>


  <div
    class="
      row
      align-center"
  >
    <button
      *ngIf="activeUserType !== userRolesEnum.ADMIN"
      class="
        dwmth-btn
        dwmth-btn--with-icon
        dwmth-btn--wide
        dwmth-bg-blue
        dwmth-navigation__item
        row
        align-center
        hidden-md"
      (click)="navigateToCreateNewAsset()"
      data-test="header-create-new-asset-button"
    >
      <img
          class="
            dwmth-icon
            dwmth-icon--prepend"
          src="assets/images/plus-circle.svg"
      >
        <span *ngIf="activeUserType === userRolesEnum.ADVERTISER">Create new Campaign</span>
        <span *ngIf="activeUserType === userRolesEnum.PUBLISHER">Add new Site</span>
    </button>
    <div
      *ngIf="activeUserType !== userRolesEnum.ADMIN"
      class="
        row
        align-center
        relative
        dwmth-bg-navy--light
        dwmth-navigation__item
        dwmth-btn
        dwmth-btn--no-vertical-padding
        hidden-lg"
      (mouseover)="toggleSettingsMenu(true)"
      (mouseleave)="toggleSettingsMenu(false)"
      data-test="header-toggle-settings-menu"
    >
      <img
        class="
          dwmth-icon
          dwmth-icon--prepend"
        src="assets/images/credit-card--white.svg"
      >
      <div
        class="
          col
          justify-start"
      >
        <span
          class="dwmth-tokens"
          data-test="user-total-funds"
        >
          {{ totalFunds | adsharesTokenValue:2 }}
        </span>
        <span
          class="dwmth-usd"
          data-test="user-total-funds-in-currency"
        >
        </span>
      </div>
      <img
        class="
          dwmth-icon
          dwmth-icon--small
          dwmth-icon--append
          settings-menu-chevron"
        [class.up]="settingsMenuOpen"
        src="assets/images/chevron--gray.svg"
      >
      <ul
        class="
          settings-menu
          dwmth-copy"
        [class.open]="settingsMenuOpen"
      >
        <li class="settings-menu__item">
          <button
            class="
              dwmth-btn
              dwmth-btn--blue
              dwmth-btn--tiny
              row
              justify-between
              align-center"
            (click)="openAddFundsDialog()"
            data-test="add-funds-dialog-open-button"
          >
            <img
              class="
                dwmth-icon
                close"
              src="assets/images/plus-circle.svg"
            >
              Add Funds
          </button>
        </li>
        <li
          class="settings-menu__item"
          routerLink="/settings/general"
          data-test="header-account-settings-button"
        >
          Account Settings
        </li>
        <li
          class="settings-menu__item"
          routerLink="/settings/billing"
          data-test="header-billing-payments-button"
        >
          Billing & Payments
        </li>
        <li class="settings-menu__item">
          <span
            (click)="logout()"
            data-test="header-log-out-button"
          >
            Log out
          </span>
        </li>
      </ul>
    </div>

    <button
      class="
        dwmth-btn
        dwmth-btn--transparent
        row
        align-center
        hidden-sm"
      *ngIf="activeUserType !== userRolesEnum.ADMIN"
      (click)="logout()"
      data-test="header-log-out-button"
    >
      <span>
        Log out
      </span>
    </button>

    <button
      class="
        dwmth-btn
        dwmth-btn--transparent
        row
        align-center
        hidden-sm
        visible-sm
        hidden-lg-up"
      *ngIf="activeUserType === userRolesEnum.ADMIN"
      (click)="logout()"
      data-test="header-log-out-button"
    >
      <span>
        Log out
      </span>
    </button>

    <span
      class="
        dwmth-copy
        dwmth-white
        logout-on-small-devices
        visible-xs
        hidden-sm-up"
      (click)="logout()"
      data-test="header-log-out-button"
    >
      Log out
    </span>
    <!-- TODO PAN-183 remove notification -->
    <!--<div-->
      <!--class="-->
        <!--dwmth-bg-navy--light-->
        <!--dwmth-navigation__item-->
        <!--dwmth-btn-->
        <!--dwmth-btn--small-->
        <!--row-->
        <!--align-center-->
        <!--relative-->
        <!--hidden-sm"-->
      <!--(click)="toggleNotificationsBar()"-->
      <!--data-test="notifications-toggle-notifications-bar"-->
    <!--&gt;-->
      <!--<img-->
        <!--class="dwmth-icon"-->
        <!--src="assets/images/bell.svg"-->
      <!--&gt;-->
      <!--<div-->
        <!--class="-->
          <!--dwmth-circle-->
          <!--dwmth-bg-green-->
          <!--absolute"-->
      <!--&gt;-->
        <!--<span-->
          <!--class="-->
            <!--absolute-->
            <!--notifications-total"-->
        <!--&gt;-->
          <!--{{ notificationsTotal }}-->
        <!--</span>-->
      <!--</div>-->
    <!--</div>-->
  </div>
</section>

<!-- TODO PAN-183 remove notification -->
<!--<app-notifications-->
  <!--[notificationsBarOpen]="notificationsBarOpen"-->
  <!--(onDisableNotificationsBar)="toggleNotificationsBar()"></app-notifications>-->
