<div
  class="
    push-notification
    row
    no-wrap
    align-center
    relative"
>
  <!--[class.error]="pushNotification.isError"-->
  <!--[class.success]="pushNotification.isSuccess"-->
  <!--[class.info]="pushNotification.isInfo"-->

  <img src="assets/images/push-notifications/success.svg" alt="Push Notification Success Image">
  <!--<img src="assets/images/push-notifications/error.svg" alt="Push Notification Error Image" *ngIf="pushNotification.isError">-->
  <!--<img src="assets/images/push-notifications/success.svg" alt="Push Notification Success Image" *ngIf="pushNotification.isSuccess">-->
  <!--<img src="assets/images/push-notifications/info.svg" alt="Push Notification Info Image" *ngIf="pushNotification.isInfo">-->
  <div class="push-notification-content">
    <!--<h5>{{ pushNotification.title }}</h5>-->
    <h5
      class="
        adsh-copy
        adsh-copy--large
        adsh-copy--bold
        adsh-copy--white"
    >
      Error
    </h5>
    <!--<p>{{ pushNotification.description }}</p>-->
    <p
      class="
        adsh-copy
        adsh-copy--white"
    >
      You do not have enough funds to place campaign.
    </p>
  </div>

  <div
    class="close"
    (click)="dismissPushNotification()"
  ></div>
</div>
