<div
  class="
    push-notification
    row
    no-wrap
    align-center
    relative"
  [class.success]="pushNotifivationTypesEnum[pushNotification.type] === 'SUCCESS'"
  [class.error]="pushNotifivationTypesEnum[pushNotification.type] === 'ERROR'"
  [class.info]="pushNotifivationTypesEnum[pushNotification.type] === 'INFO'"
>
  <div
    class="timer"
    [style.width.%]="timerLength"
  >
  </div>

  <img
    src="assets/images/push-notifications/success.svg"
    alt="Push Notification Success Image"
    *ngIf="pushNotifivationTypesEnum[pushNotification.type] === 'SUCCESS'"
  >
  <img
    src="assets/images/push-notifications/error.svg"
    alt="Push Notification Error Image"
    *ngIf="pushNotifivationTypesEnum[pushNotification.type] === 'ERROR'"
  >
  <img
    src="assets/images/push-notifications/info.svg"
    alt="Push Notification Info Image"
    *ngIf="pushNotifivationTypesEnum[pushNotification.type] === 'INFO'"
  >
  <div class="push-notification-content">
    <h5
      class="
        adsh-copy
        adsh-copy--large
        adsh-copy--bold"
      [class.adsh-copy--white]="pushNotifivationTypesEnum[pushNotification.type] !== 'INFO'"
    >
      {{ pushNotification.title }}
    </h5>
    <p
      class="
        adsh-copy"
      [class.adsh-copy--white]="pushNotifivationTypesEnum[pushNotification.type] !== 'INFO'"
    >
      {{ pushNotification.message }}
    </p>
  </div>

  <div
    class="close"
    (click)="dismissPushNotification(pushNotification)"
  ></div>
</div>
