<div
  class="
    push-notification
    row
    no-wrap
    align-center
    relative"
  [class.success]="pushNotification.type === pushNotificationTypesEnum.SUCCESS"
  [class.error]="pushNotification.type === pushNotificationTypesEnum.ERROR"
  [class.info]="pushNotification.type === pushNotificationTypesEnum.INFO"
>
  <div
    class="timer"
    [style.width.%]="timerLength"
  >
  </div>

  <img
    src="assets/images/push-notifications/success.svg"
    alt="Push Notification Success Image"
    *ngIf="pushNotification.type === pushNotificationTypesEnum.SUCCESS"
  >
  <img
    src="assets/images/push-notifications/error.svg"
    alt="Push Notification Error Image"
    *ngIf="pushNotification.type === pushNotificationTypesEnum.ERROR"
  >
  <img
    src="assets/images/push-notifications/info.svg"
    alt="Push Notification Info Image"
    *ngIf="pushNotification.type === pushNotificationTypesEnum.INFO"
  >
  <div class="push-notification-content">
    <h5
      class="
        dwmth-copy
        dwmth-copy--large
        dwmth-copy--bold"
      [class.dwmth-copy--white]="pushNotification.type !== pushNotificationTypesEnum.INFO"
    >
      {{ pushNotification.title }}
    </h5>
    <p
      class="
        dwmth-copy"
      [class.dwmth-copy--white]="pushNotification.type !== pushNotificationTypesEnum.INFO"
    >
      {{ pushNotification.message }}
    </p>
  </div>

  <div
    class="close"
    (click)="dismissPushNotification(pushNotification)"
  ></div>
</div>
