@import '../../../../styles';

.adsh-edit-asset__navigation {
  background: pal(white);
  height: 64px;

  &-step:last-of-type {
    .adsh-step-link-indicator {
      display: none;
    }
  }

  .adsh-circle {
    margin-right: 15px;

    &.done + p,
    &.active + p {
      @include font-weight(semi);
      color: pal(navy);
    }
  }
}
