<mat-dialog-content>
    <h6
      class="
        adsh-copy
        adsh-copy--small"
    >
      We can't find that page.
    </h6>

    <div
      class="
        adsh-box
        adsh-box--light-border
        choose-account
        error-msg
"
    >
      <div
        class="
          row
          align-center
          justify-center"
      >
        <img
          src="/assets/images/advertiser-account-illustration.svg"
          alt="Advertiser Account Illustration"
        >
        <span
          class="
            adsh-heading
            adsh-heading--secondary"
        >
          Sorry for 500 error!
        </span>
      </div>
    </div>
</mat-dialog-content>
