@import '../../../../../styles';

.advertiser-list-item {
  @include container();
  border-bottom: 1px solid pal(gray);
  display: flex;
  justify-content: space-between;

  &__cell {
    display: flex;
    align-items: center;
  }

  .domain:not(:first-child) {
    margin-left: 5px;
  }

  .change {
    display: flex;
    flex-flow: column;
    align-items: flex-end;
    justify-content: center;
    padding-right: 8px;
    font-size: 80%;

    &__positive {
      color: pal(success);
    }
    &__negative {
      color: pal(error);
    }
  }

  .group {
    position: relative;
    overflow: visible !important;
    padding: 0 !important;

    > div {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &-start {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      border-left: 1px solid pal(gray);
      padding-left: 8px;
    }
  }

  .domain-checker {
    display: inline-block;
    width: 35px;
    border: 1px solid pal(gray);
    border-radius: 10px;
    color: pal(gray);
    padding: 1px;
    margin-right: 5px;
    text-align: center;

    &.q-great {
      border-color: pal(success);
      color: pal(success);
    }

    &.q-good {
      border-color: pal(secondary);
      color: pal(secondary);
    }

    &.q-medium {
      border-color: pal(warning);
      color: pal(warning);
    }

    &.q-bad {
      border-color: pal(error);
      color: pal(error);
    }
  }
}
