@import '../../../../../styles';

.advertiser-list-item {
  @include container($border-color: pal(gray));
  display: flex;
  justify-content: space-between;
  min-height: 52px;

  &__cell {
    @include copy($font-size: 16);
    display: flex;
    align-items: center;

    &--bold {
      @include copy(
        $color: pal(primary),
        $font-weight: semiBold,
        $font-size: 16
      );
    }

    small {
      font-size: small !important;
    }
  }

  &__btn {
    @include btn(
      $border-color: pal(primary),
      $color: pal(primary, light),
      $background-color: pal(light),
      $padding-horizontal: 12px,
      $padding-vertical: 8px
    );
  }

  .change {
    font-size: 80%;
    display: flex;
    flex-flow: column;
    align-items: flex-end;
    justify-content: flex-end;

    &__positive {
      color: pal(success);
    }
    &__negative {
      color: pal(error);
    }
  }

  .group {
    position: relative;
    min-height: 40px;
    overflow: visible !important;
    padding: 0 !important;
    @include copy(
      $color: pal(primary),
      $font-weight: semiBold,
      $font-size: 16
    );

    > div {
      overflow: hidden;
      text-overflow: ellipsis;
      padding: 0.5em;
      margin: -0.5em 0;
      white-space: nowrap;
    }

    &:hover > div {
      position: absolute;
      background: pal(gray);
      z-index: 100;
    }
  }

  .align-right {
    justify-content: flex-end;
  }
}
