<section class="container col">
  <mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label>
        <h1 class="users__title">Users</h1>
      </ng-template>
      <app-user-list></app-user-list>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <h1 class="users__title">Advertisers</h1>
      </ng-template>
      <app-advertiser-list></app-advertiser-list>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <h1 class="users__title">Publishers</h1>
      </ng-template>
      <app-publisher-list></app-publisher-list>
    </mat-tab>
  </mat-tab-group>
</section>
<app-user-reports></app-user-reports>
