<form [formGroup]="privacy"
      class="dwmth-box--large dwmth-box privacy-and-terms__forms-box">
  <h1 class="dwmth-heading dwmth-heading--primary finances-settings__header">Privacy Settings</h1>
  <p
    class="
      dwmth-copy
      dwmth-copy--large
      privacy-and-terms__desc"
  >
    {{privacy.value.privacySettings.length === 0 ? 'Add your privacy settings' : 'Here you can read and edit your privacy settings'}}
  </p>
  <div>
    <label class="dwmth-copy col">
      Privacy
      <textarea class="dwmth-copy dwmth-copy--x-dark dwmth-textarea"
                formControlName="privacySettings">
          {{privacy.value}}
       </textarea>
    </label>

  </div>
  <div class="row justify-end align-center privacy-and-terms__submit-btn-box">
    <button class="dwmth-btn dwmth-btn--blue"
            [disabled]="!privacy.dirty"
            (click)="savePrivacy()">
      Save
    </button>
  </div>
</form>

<form [formGroup]="terms"
      class="dwmth-box--large dwmth-box privacy-and-terms__forms-box">
  <h1 class="dwmth-heading dwmth-heading--primary finances-settings__header">Terms Settings</h1>
  <p
    class="
      dwmth-copy
      dwmth-copy--large
      privacy-and-terms__desc"
  >
    {{terms.value.termsSettings.length === 0 ? 'Add your terms and conditions settings' :
    'Here you can read and edit your terms and conditions'}}
  </p>
  <div>
    <label class="dwmth-copy col">
      Terms and conditions
      <textarea class="dwmth-copy dwmth-copy--x-dark dwmth-textarea"
                formControlName="termsSettings">
          {{terms.value}}
      </textarea>
    </label>
  </div>
  <div class="row justify-end align-center privacy-and-terms__submit-btn-box">
    <button class="dwmth-btn dwmth-btn--blue"
            [disabled]="!terms.dirty"
            (click)="saveTerms()">
      Save
    </button>
  </div>
</form>

