let serverUrl = '${ADSERVER_URL}';

export const environment = {
  name: '${APP_NAME}',
  production: ${APP_PROD},
  serverUrl: serverUrl,
  authUrl: serverUrl + '/auth',
  apiUrl: serverUrl + '/api',
  xdebug: ${DEV_XDEBUG},
  version: '${APP_VERSION}',
  context: '${CONTEXT_INFO}',
  adControllerUrl: '${ADCONTROLLER_URL}',
};
