let serverUrl = '${ADSERVER_URL}';

export const environment = {
  production: ${APP_PROD},
  serverUrl: serverUrl,
  authUrl: serverUrl + '/auth',
  apiUrl: serverUrl + '/api',
  xdebug: ${DEV_XDEBUG},
  version: '${APP_VERSION}',
  context: '${CONTEXT_INFO}',
  currencySymbol: '${APP_CURRENCY_SYMBOL}',
  currencyCode: '${APP_CURRENCY_CODE}',
  cryptoSymbol: 'ADS',
  cryptoCode: 'ADS'
};
