@import '../../../../styles.scss';

.campaign-edit-create-bnr {


  @include media(xxl-up) {
    max-width: 1400px;
  }

  @include media(xxxl-up) {
    max-width: 2000px;
  }

  & .file-box {
    position: relative;

    &--upload {
      height: 99px;
    }

    .file-box__image-preview {
      background-color: pal(gray);
    }

    .file-box__file-info {
      line-height: 22px;
      font-size: 16px;
      font-weight: 600;
      color: pal(dark);
    }

    .file-box__file-sub-info {
      @extend .ap-copy;
      line-height: 24px;
      color: pal(secondary);
      font-weight: inherit;

      &--secondary {
        color: pal(gray);
      }
    }

    .file-box__action-button {
      position: absolute;
      right: 26px;
      top: 29px;
      cursor: pointer;

      &--cancel {
        top: 26px;
      }
    }

    .progress-bar {
      margin: 12px 0 4px;
    }
  }

  & .placeholders-box {
    margin-top: 24px;
  }

  .ap-box {
    .file-select-input {
      width: 0;
    }


  }

  .image-poster {
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    background: pal(gray);
    border: 1px solid pal(gray);

    & img {
      width: 100%;
    }
  }

  &__size-label {
    margin-bottom: 14px;
  }
}

.drag-and-drop-box {
  width: 100%;
  margin: 16px auto 0;
  border: 1px dashed pal(gray);
  border-radius: 10px;
  padding: 16px;
  cursor: pointer;
  img {
    margin: 32px;
  }

  &.drag-and-drop-box--file-over {
    border: 1px solid pal(secondary);
    background-color: #fdfdfd;
  }
}

.progress-bar {
  height: 5px;
  width: 100%;
  border-radius: 2px;
  background-color: pal(gray);

  &--active {
    background-color: pal(secondary);
  }
}

.ap-form-input__box {

  input#creative-contents {
    width: 100%;
    max-width: none;
  }
}

.video-preview {
  max-width: 100%;
  max-height: 100%;
}

.model-preview-container {
  height: 300px;
  width: 300px;
}
