<section
  class="
    homepage-view
    campaign-edit-create-bnr"
>
  <div
    class="
      text-center
      campaign-edit-create-bnr--narrow"
  >
    <h1
      class="
        dwmth-heading
        dwmth-heading--primary"
    >
      Create Ads
    </h1>
    <p
      class="
        dwmth-copy
        dwmth-copy--medium"
    >
      Below you can create list of advertisements displayed during this campaign.
    </p>
  </div>

  <div
    class="dwmth-box dwmth-box--no-padding"
    *ngFor="let adForm of adForms; let i = index"
  >
    <form
      [formGroup]="adForm"
      data-test="advertiser-edit-campaign-create-ads-form"
    >
      <mat-accordion data-test="advertiser-edit-campaign-create-ads-accordion">
        <mat-expansion-panel
          (opened)="handlePanelExpand(i)"
          (closed)="adPanelsStatus[i] = false"
          [expanded]="adPanelsStatus[i]"
          data-test="advertiser-edit-campaign-create-ads-accordion-panel"
        >
          <mat-expansion-panel-header>
            <mat-panel-title
              class="
                dwmth-heading
                dwmth-heading--secondary"
            >
              <div class="row justify-between align-center">
                <div>
              <span>
                {{ i + 1 }}.&nbsp;
              </span>
                  <span
                    *ngIf="!adPanelsStatus[i]"
                    data-test="advertiser-edit-campaign-create-ads-form-short-headline">
                Title: {{ adForm.get('name').value }}
              </span>
                </div>

                <div
                  class="error-msg error-msg--small"
                  *ngIf="(adsSubmitted && !adPanelsStatus[i]) &&
                (
                (adForm.get('name').hasError('required')) ||
                 (adForm.get('html') && adForms[i].get('html').value.src === '')  ||
                 (adForm.get('image') && adForms[i].get('image').value.src === '')
                )"
                > !
                </div>
              </div>

            </mat-panel-title>
          </mat-expansion-panel-header>

          <div
            class="
              row
              no-gutters"
          >
            <div
              class="
                col-md-4
                col-xxl-3
                col-xxxl-2"
            >
              <div class="dwmth-form-input__box">
                <label
                  for="name"
                  class="dwmth-form-label"
                >
                  Short Headline
                </label>
                <input
                  id="name"
                  class="dwmth-form-input"
                  formControlName="name"
                  data-test="advertiser-edit-campaign-create-ads-form-name"
                >
                <span
                  *ngIf="adForm.get('name').valid"
                  class="input-valid"
                ></span>
                <span
                  class="error-msg"
                  *ngIf="adForm.get('name').hasError('required') && adsSubmitted"
                >
                Short headline required!
              </span>
              </div>
            </div>
            <div
              class="
                col-md-offset-1
                col-md-3
                col-xxl-2
                col-xxxl-1"
            >
              <div class="dwmth-form-input__box">
                <label class="dwmth-form-label">Ad Type</label>
                <mat-select
                  class="dwmth-select"
                  formControlName="type"
                  (change)="setAdType(i)"
                  data-test="advertiser-edit-campaign-create-ads-form-ad-type-select"
                >
                  <mat-option
                    *ngFor="let adType of adTypes; let i = index"
                    [value]="i"
                    data-test="advertiser-edit-campaign-create-ads-form-ad-type-option"
                  >
                    {{ adType }}
                  </mat-option>
                </mat-select>
              </div>
            </div>
            <div
              class="
                col-md-offset-1
                col-md-3
                col-xxl-2
                col-xxxl-1"
            >
              <div class="dwmth-form-input__box">
                <label class="dwmth-form-label">
                  Size
                </label>
                <mat-select
                  class="dwmth-select"
                  formControlName="size"
                  (change)="setAdSize(i)"
                  data-test="advertiser-edit-campaign-create-ads-form-size-select"
                >
                  <mat-option
                    *ngFor="let adSize of adSizes; let i = index"
                    [value]="i"
                    data-test="advertiser-edit-campaign-create-ads-form-size-option"
                  >
                    {{ adSize }}
                  </mat-option>
                </mat-select>
              </div>
            </div>
          </div>

          <div
            class="error-msg"
            *ngIf="imagesStatus.validation[i] && !imagesStatus.validation[i].type"
          >
            Invalid file type
          </div>

          <div
            class="error-msg"
            *ngIf="imagesStatus.validation[i] && !imagesStatus.validation[i].size"
          >
            Invalid image size
          </div>

          <div
            class="error-msg"
            *ngIf="adsSubmitted && (
            (adForms[i].get('image') && adForms[i].get('image').value.src === '' ) ||
            (adForms[i].get('html') && adForms[i].get('html').value.src === '' ))"
          >
            File required
          </div>

          <div
            class="error-msg"
            *ngIf="imagesStatus.validation[i] && !imagesStatus.validation[i].upload"
          >
            Something went wrong, please try again later
          </div>

          <div
            class="
              col
              align-center
              justify-center
              dwmth-box
              dwmth-box--large
              dwmth-box--bordered
              dwmth-box--dashed
              dwmth-box--blue-border
              drag-and-drop-box"
            *ngIf="!imagesStatus.upload.processing
                   && ((isImageTypeChosen(adForm)
                   && adForm.get('image').value.src === '')
                   || (!isImageTypeChosen(adForm)
                   && adForm.get('html').value.src === ''))"
            ng2FileDrop
            [ngClass]="{'drag-and-drop-box--file-over': imagesStatus.overDrop[i]}"
            (fileOver)="fileOverDropArea($event, i)"
            [uploader]="uploader"
            data-test="advertiser-edit-campaign-create-ads-form-drag-and-drop-wrapper"
          >
            <img
              src="/assets/images/campaign-ad-illustration.svg"
              alt="Ad illustration"
            >
            <div>
              <p
                class="
                  dwmth-copy
                  dwmth-copy--semi
                  dwmth-copy--dark"
              >
                Drag & Drop or

                <label
                  class="dwmth-blue"
                  for="fileSelect">
                  Browse
                </label>

                <input
                  class="file-select-input"
                  type="file"
                  id="fileSelect"
                  ng2FileSelect
                  [uploader]="uploader"
                  (change)="uploadBanner(adForm, uploader.queue[0], i)"
                  data-test="advertiser-edit-campaign-create-ads-form-image-upload">
              </p>
              <p class="dwmth-copy">
                We support
                {{adForm.get('type').value === 0 ? 'JPG, PNG AND GIF' : 'ZIP' }}
                Make sure that your files is no more than 500 kb.
              </p>
            </div>
          </div>

          <div
            class="
              row
              align-right
              dwmth-box
              file-box
              file-box--grey-background"
            [ngClass]="{'file-box--upload': imagesStatus.upload.processing}"
            *ngIf="imagesStatus.upload.processing ||
                   ((isImageTypeChosen(adForm)
                   && adForm.get('image').value.src !== '')
                   || (!isImageTypeChosen(adForm)
                   && adForm.get('html').value.src !== ''))"
            data-test="advertiser-edit-campaign-create-ads-form-upload-status"
          >
            <div class="col-xs-1">
              <img *ngIf="isImageTypeChosen(adForm)"
                   src="/assets/images/document-png--blue.svg"
                   alt="Uploaded image"
              >
              <img *ngIf="!isImageTypeChosen(adForm)"
                   src="/assets/images/document-zip--blue.svg"
                   alt="Uploaded zip file"
              >
            </div>

            <div class="col-xs-10">
              <div
                class="file-box__file-info"
                *ngIf="imagesStatus.upload.processing"
                data-test="advertiser-edit-campaign-create-ads-form-image-upload-name"
              >
                {{ uploader.queue[0].file.name }}
                <br>

                <div class="progress-bar">
                  <div
                    class="progress-bar--active"
                    [ngStyle]="{'width': imagesStatus.upload.progress + '%'}"></div>
                </div>

                <span
                  class="
                  file-box__file-sub-info
                  file-box__file-sub-info--secondary">
                {{ (uploader.queue[0].file.size / 1000) * (imagesStatus.upload.progress / 100) }} KB
                of
                {{ uploader.queue[0].file.size / 1000 }} KB
                ({{ imagesStatus.upload.progress }}% Done)
                </span>

                <img
                  class="
                  file-box__action-button
                  file-box__action-button--cancel"
                  src="/assets/images/x-circle--gray.svg"
                  alt="Cancel upload"
                  (click)="uploader.queue[0].cancel()"
                  data-test="advertiser-edit-campaign-create-ads-form-image-upload-cancel"
                >
              </div>

              <div
                class="file-box__file-info"
                *ngIf="!isImageTypeChosen(adForm) && adForm.get('html').value"
                data-test="advertiser-edit-campaign-create-ads-form-image-upload-name"
              >
                {{ adForm.get('html').value.name }}
                <br>


                <span class="file-box__file-sub-info"
                      data-test="advertiser-edit-campaign-create-ads-form-image-size">
                  {{ adSizes[adForm.get('size').value] }}
                </span>

                <img
                  class="file-box__action-button"
                  src="/assets/images/trash-gray.svg"
                  *ngIf="adForm.get('status').value === adStatusesEnum.DRAFT"
                  alt="Remove image"
                  (click)="removeImage(i)"
                  data-test="advertiser-edit-campaign-create-ads-form-remove-image"
                >
              </div>
              <div
                class="file-box__file-info"
                *ngIf="isImageTypeChosen(adForm) && adForm.get('image').value.src"
                data-test="advertiser-edit-campaign-create-ads-form-image-upload-name"
              >
                {{ adForm.get('image').value.name }}
                <br>

                <span class="file-box__file-sub-info">
                <span data-test="advertiser-edit-campaign-create-ads-form-image-size">
                  {{ adSizes[adForm.get('size').value] }}
                </span>
                <span *ngIf="isImageTypeChosen(adForm) && (adSizes[adForm.get('size').value] !== ads[i].imageSize)"
                      class="file-box__file-sub-info--secondary"
                      data-test="advertiser-edit-campaign-create-ads-form-image-dimensions"
                >
                  {{ ads[i].imageSize }}
                </span>
                </span>

                <img
                  class="file-box__action-button"
                  src="/assets/images/trash-gray.svg"
                  *ngIf="adForm.get('status').value === adStatusesEnum.DRAFT"
                  alt="Remove image"
                  (click)="removeImage(i)"
                  data-test="advertiser-edit-campaign-create-ads-form-remove-image"
                >
              </div>
            </div>
          </div>

          <div
            class="
              row
              dwmth-box
              dwmth-box--bordered
              dwmth-box--dashed
              dwmth-box--blue-border
              dwmth-box__preview"
            *ngIf="(isImageTypeChosen(adForm) && adForm.get('image').value.src) ||
                   (!isImageTypeChosen(adForm) && adForm.get('html').value.src)"
          >
            <div
              class="
                col-xs-12
                dwmth-copy
                dwmth-copy--light
                dwmth-box--no-padding">
              Preview
            </div>
            <div *ngIf="isImageTypeChosen(adForm) && adForm.get('image').value.src"
                 class="banner image-poster"
                 [ngStyle]="{
                'width': adSizes[adForm.get('size').value].split('x')[0] + 'px',
                'height': adSizes[adForm.get('size').value].split('x')[1] + 'px'
              }">
              <img [src]="adForm.get('image').value.src | trustUrl"
                   [style.transform]="'scale('+ scaleImageToMatchBanner(i)+ ')'"
              />
            </div>

            <div *ngIf="!isImageTypeChosen(adForm) && adForm.get('html').value.src"
                 class="banner">
              <iframe
                [ngStyle]="{
                            'width': adSizes[adForm.get('size').value].split('x')[0] + 'px',
                            'height': adSizes[adForm.get('size').value].split('x')[1] + 'px'
                            }"
                [src]="adForm.get('html').value.src | trustUrl"
              ></iframe>
            </div>
          </div>

          <button
            class="
              dwmth-btn
              dwmth-btn--white
              dwmth-blue
              save-as-draft"
            (click)="removeNewAd(i)"
            data-test="advertiser-edit-campaign-create-ads-form-remove-ad"
          >
            Delete Ad Unit
          </button>
        </mat-expansion-panel>
      </mat-accordion>
    </form>
  </div>

  <div
    class="
      row
      justify-center
      dwmth-box
      dwmth-box--no-margin"
  >
    <button
      class="
        align-center
        dwmth-btn
        dwmth-btn--white
        dwmth-blue
        dwmth-btn--no-border"
      (click)="createEmptyAd()"
      data-test="advertiser-edit-campaign-create-ads-create-new-ad"
    >
      <img
        src="assets/images/plus-circle--blue.svg"
        alt="Add new icon"
        class="
          dwmth-icon
          dwmth-icon--prepend"
      >
      Create new Ad
    </button>
  </div>

  <div
    class="
      dwmth-box
      dwmth-box--large
      row
      justify-between"
  >
    <button
      class="
          dwmth-btn
          dwmth-btn--white
          dwmth-blue"
      (click)="onStepBack()"
      data-test="advertiser-edit-campaign-navigate-back"
    >
      Back
    </button>

    <div class="row">
      <button
        *ngIf="!isEditMode"
        (click)="onSubmit(true)"
        class="
          dwmth-btn
          dwmth-btn--white
          dwmth-blue
          save-as-draft"
        data-test="advertiser-edit-campaign-save-as-draft"
      >
        Save as Draft
      </button>
      <button class="dwmth-btn
                     dwmth-btn--blue"
              (click)="onSubmit()"
              data-test="advertiser-edit-campaign-save-and-continue"
      >
        <span *ngIf="!changesSaved ; else loading">
          {{isEditMode ? 'Update' : 'Save & Continue'}}
        </span>
        <ng-template #loading>
          <mat-spinner [diameter]="20" [strokeWidth]="2" color="accent"></mat-spinner>
        </ng-template>
      </button>
    </div>
  </div>
</section>

