@import '../../../../styles.scss';

.campaign-edit-create-bnr {
  max-width: 800px;
  margin: 0 auto;

  @include media(xxl-up) {
    max-width: 1400px;
  }

  @include media(xxxl-up) {
    max-width: 2000px;
  }

  &--narrow {
    max-width: 500px;
    margin: 0 auto;
  }

  .ap-box {
    margin: 8px 0;

    &__preview {
      iframe {
        background-color: pal(gray, x-light);
        margin: 16px auto 16px;
        max-width: 100%;
      }
    }

    .file-select-input {
      width: 0;
    }

    &.file-box {
      height: 78px;
      padding: 17px 10px;
      position: relative;
      border-radius: 2px;
      border: 1px solid pal(gray, light);

      &--upload {
        height: 99px;
      }

      .file-box__image-preview {
        background-color: pal(gray, x-light);
      }

      &--grey-background {
        background-color: pal(gray, ultra-light);
      }

      .file-box__file-info {
        line-height: 22px;
        font-size: 16px;
        font-weight: 600;
        color: pal(black, mid-light);
      }

      .file-box__file-sub-info {
        @extend .ap-copy;
        line-height: 24px;
        color: pal(blue, base);
        font-weight: inherit;

        &--secondary {
          color: pal(gray, mid-dark);
        }
      }

      .file-box__action-button {
        position: absolute;
        right: 26px;
        top: 29px;

        &--cancel {
          top: 18px;
        }
      }

      .progress-bar {
        margin: 12px 0 4px;
      }
    }
  }

  .image-poster {
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    background: pal(gray, x-light);
    border: 1px solid pal(gray, light);

    & img {
      width: 100%;
    }
  }

  &__size-label {
    margin-bottom: 14px;
  }
}

.drag-and-drop-box {
  img {
    margin: 32px;
  }

  &.drag-and-drop-box--file-over {
    border: 1px solid pal(blue);
    background-color: #fdfdfd;
  }
}

.progress-bar {
  height: 5px;
  width: 100%;
  border-radius: 2px;
  background-color: pal(gray, semi-light);

  &--active {
    background-color: pal(blue);
  }
}

.ap-form-input__box {
  margin-right: 15px;

  input#creative-contents {
    width: 100%;
    max-width: none;
  }
}

.video-preview {
  max-width: 100%;
  max-height: 100%;
}

.model-preview-container {
  height: 300px;
  width: 300px;
}
