@import '../../styles.scss';

.adsh-auth {
  height: 100vh;
  width: 100vw;
  background-image: radial-gradient(circle at 24% 13%, #0c1733, #000000);

  &-wrapper {
    height: 70vh;
    width: 100vw;
    @include center(vertical);
  }

  &__poster {
    background-image: radial-gradient(circle at 24% 13%, #121e3e, #0b1329);
    height: 70vh;
    padding: 40px;

    &-advantages {
      margin-top: 20px;
    }

    &-logo {
      width: 140px;
    }
  }

  &__content {
    height: 70vh;
    padding: 80px 40px 60px;
  }
}

.adsh-circle {
  margin: 0 15px;
}
