<section
  class="
    dwmth-auth
    row
    align-center"
>
  <div
    class="
      container
      row
      dwmth-auth-wrapper"
  >
    <div
      class="
        col
        col-xs-0
        col-lg-6
        dwmth-auth__poster
        justify-between
        hidden-lg"
    >
      <div>
        <h1
          class="
            dwmth-heading--hero
            dwmth-white"
        >
          <span class="dwmth-heading--faded">
            Blockchain
          </span>
          Transformation<br>in Advertising
        </h1>
        <div
          class="
            row
            align-center
            dwmth-copy
            dwmth-copy--semi
            dwmth-copy--uppercase
            dwmth-blue
            dwmth-auth__poster-advantages"
        >
          <span>
            Low Fees
          </span>
          <div
            class="
              dwmth-circle
              dwmth-circle--x-small
              dwmth-bg-blue"
          ></div>
          <span>
            Censorship Resistant
          </span>
          <div
            class="
              dwmth-circle
              dwmth-circle--x-small
              dwmth-bg-blue"
          ></div>
          <span>
            AI Ready
          </span>
        </div>
      </div>

      <div class="row align-center justify-between">
        <img
          class="dwmth-logo"
          src="assets/images/logo--white.png"
          srcset="
            assets/images/logo--white@2x.png 2x,
            assets/images/logo--white@3x.png 3x"
          alt="Adshares Logo"
        >
        <span class="application-version">
          {{ version }}
        </span>
      </div>
    </div>

    <div
      class="
        col-xs-12
        col-lg-6
        dwmth-auth__content
        dwmth-bg-white"
      [@fadeAnimation]="getRouterOutletState(o)"
    >
      <router-outlet #o="outlet"></router-outlet>
    </div>
  </div>
  <img
    class="dwmth-auth-bubbles"
    src="assets/images/bubbles1.svg"
    alt="bubbles"
  >
  <img
    class="dwmth-auth-bubbles"
    src="assets/images/bubbles2.svg"
    alt="bubbles"
  >
  <img
    class="dwmth-auth-bubbles"
    src="assets/images/bubbles3.svg"
    alt="bubbles"
  >
  <img
    class="
      dwmth-auth-wave
      dwmth-auth-wave-up"
    src="assets/images/wave-up.png"
    srcset="
      assets/images/wave-up@2x.png 2x,
      assets/images/wave-up@3x.png 3x"
    alt="wave"
  >
  <img
    class="
      dwmth-auth-wave
      dwmth-auth-wave-down"
    src="assets/images/wave-down.png"
    srcset="
      assets/images/wave-down@2x.png 2x,
      assets/images/wave-down@3x.png 3x"
    alt="waves"
  >
</section>
