<section class="adsh-auth
                row
                align-center">
    <div class="container
                row
                adsh-auth-wrapper">
        <div class="col
                    col-xs-0
                    col-lg-6
                    adsh-auth__poster
                    justify-between
                    hidden-lg">
            <div>
                <h1 class="adsh-heading--hero
                           adsh-white">
                    <span class="adsh-heading--faded">Blockchain</span>
                    Revolution<br>in Advertising
                </h1>
                <div class="row
                            align-center
                            adsh-copy
                            adsh-copy--semi
                            adsh-copy--uppercase
                            adsh-blue
                            adsh-auth__poster-advantages">
                    <span>Low Fees</span>
                    <div class="adsh-circle
                                adsh-circle--x-small
                                adsh-bg-blue"></div>
                    <span>Censorship Resistant</span>
                    <div class="adsh-circle
                                adsh-circle--x-small
                                adsh-bg-blue"></div>
                    <span>AI Ready</span>
                </div>
            </div>


            <img
                class="adsh-logo"
                src="assets/images/logo--white.png"
                srcset="assets/images/logo--white@2x.png 2x,
                        assets/images/logo--white@3x.png 3x"
                alt="Adshares Logo">
        </div>

        <div class="col-xs-12
                    col-lg-6
                    adsh-auth__content
                    adsh-bg-white"
             [@fadeAnimation]="getRouterOutletState(o)">
          <router-outlet #o="outlet"></router-outlet>
        </div>
    </div>
    <img
        class="adsh-auth-bubbles"
        src="assets/images/bubbles1.svg"
        alt="bubbles">
    <img
        class="adsh-auth-bubbles"
        src="assets/images/bubbles2.svg"
        alt="bubbles">
    <img
        class="adsh-auth-bubbles"
        src="assets/images/bubbles3.svg"
        alt="bubbles">
    <img
        class="adsh-auth-wave
               adsh-auth-wave-up"
        src="assets/images/wave-up.png"
        srcset="assets/images/wave-up@2x.png 2x,
                assets/images/wave-up@3x.png 3x"
        alt="wave">
    <img
        class="adsh-auth-wave
               adsh-auth-wave-down"
        src="assets/images/wave-down.png"
        srcset="assets/images/wave-down@2x.png 2x,
                assets/images/wave-down@3x.png 3x"
        alt="waves">
</section>
