@import '../../../../styles.scss';

@keyframes shake {
  from {
    transform: rotate(25deg);
  }

  to {
    transform: rotate(-25deg);
  }
}

.campaign-edit-conversion {
  max-width: 1300px;
  margin: 0 auto;

  @include media(xxl-up) {
    max-width: 1300px;
  }

  @include media(xxxl-up) {
    max-width: 2000px;
  }

  .ap-box {
    margin: 10px 0;
  }

  .ap-form-input {
    overflow: hidden;
  }

  &__btn {
    border: none;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 26px;
    color: pal(blue, base);
    padding: 8px 30px;
    margin: -8px -30px;

    & .material-icons {
      margin: 0;
      font-size: inherit;
    }

    &-add {
      margin-left: 24px;
    }

    &:focus,
    &:hover {
      color: darken(pal(blue, base), 10%);
    }
  }

  .description-type {
    margin: 18px auto;
    max-width: 850px;
    text-align: center;

    i {
      vertical-align: middle;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
  }

  &__select {
    height: 46px;
  }

  .cell {
    max-height: 46px;
    height: 46px;
    flex-wrap: nowrap;
  }

  &__value-input {
    max-width: 150px;
    margin-left: 10px;
  }

  .input-disabled {
    pointer-events: none;
  }

  &__copy-icon {
    cursor: pointer;
    color: pal(gray, mid-dark);
    outline: none;

    &:hover,
    &:focus {
      color: darken(pal(gray, mid-dark), 10%);
    }
  }
}

.shake {
  &:focus,
  &:hover {
    animation: shake 0.25s linear infinite alternate;
  }
}
