<section
  class="
    homepage-view
    campaign-edit-conversion"
>
  <div class="text-center">
    <h1
      class="
        dwmth-heading
        dwmth-heading--primary"
    >
      Conversion
    </h1>
  </div>

  <div
    class="
        dwmth-box
        dwmth-box--large"
  >
    <mat-tab-group
      [@.disabled]="true"
    >
      <mat-tab label="Basic">
        <p>Basic mode</p>

        <button
          class="dwmth-btn
               dwmth-btn--white
               dwmth-blue"
          (click)="addConversionEmpty(TYPE_BASIC)"
          data-test="advertiser-conversion-add-basic-button"
        >
          Add conversion
        </button>

        <mat-checkbox
          *ngIf="!isClickConversionAdvanced"
          [(ngModel)]="isClickConversionBasic"
          data-test="advertiser-conversion-is-click-basic-checkbox"
        >
          Enable click conversion
        </mat-checkbox>

        <table>
          <tr>
            <th class="col-xs-2">Name</th>
            <th class="col-xs-2">Type</th>
            <th class="col-xs-2">Value</th>
            <th class="col-xs-2">Maximal budget</th>
            <th class="col-xs-3"></th>
            <th class="col-xs-1"></th>
          </tr>
        </table>

        <div
          class="dwmth-box dwmth-box--no-padding"
        >
          <form
            *ngFor="let conversionItemForm of conversionItemFormsBasic; let conversionItemFormIndex = index"
            [formGroup]="conversionItemForm"
            data-test="advertiser-conversion-item"
          >
            <tr
              class="row
                   dwmth-box
                   align-center
                   justify-between
                   dwmth-copy"
            >
              <td
                class="
                col-xs-2
                row
                align-center"
              >
                <input
                  class="dwmth-form-input"
                  formControlName="name"
                  data-test="advertiser-conversion-item-name"
                >
                <span
                  class="error-msg"
                  *ngIf="validateForm && 'INVALID' === conversionItemForm.get('name').status"
                >
                    Cannot be empty.
                  </span>
              </td>
              <td
                class="
                col-xs-2
                row
                align-center"
              >
                <mat-select
                  class="dwmth-select"
                  formControlName="type"
                  data-test="advertiser-conversion-item-type-select"
                >
                  <mat-option
                    *ngFor="let type of availableEventTypes"
                    [value]="type"
                    data-test="advertiser-conversion-item-type-option"
                  >
                    {{ type }}
                  </mat-option>
                </mat-select>
                <span
                  class="error-msg"
                  *ngIf="validateForm && 'INVALID' === conversionItemForm.get('type').status"
                >
                    Cannot be empty.
                  </span>
              </td>
              <td
                class="
                col-xs-2
                row
                align-center"
              >
                <input
                  class="dwmth-form-input"
                  formControlName="value"
                  data-test="advertiser-conversion-item-value"
                >
                <span
                  class="error-msg"
                  *ngIf="validateForm && 'INVALID' === conversionItemForm.get('value').status && !conversionItemForm.get('isAdvanced').value"
                >
                    Must be greater than zero.
                  </span>
              </td>
              <td
                class="
                col-xs-2
                row
                align-center"
              >
                <input
                  class="dwmth-form-input"
                  formControlName="limit"
                  data-test="advertiser-conversion-item-limit"
                >
              </td>
              <td
                class="
                col-xs-3
                row
                align-center"
              >
                <mat-checkbox
                  formControlName="isInBudget"
                  data-test="advertiser-conversion-item-is-in-budget"
                >
                  In campaign budget
                </mat-checkbox>
              </td>
              <td
                class="
                col-xs-1
                row
                align-center"
              >
                <button
                  class="campaign-edit-conversion__btn"
                  title="Click to remove conversion"
                  (click)="deleteConversion(conversionItemFormIndex)"
                >
                  <mat-icon>delete</mat-icon>
                </button>
              </td>
            </tr>
          </form>
        </div>
      </mat-tab>

      <mat-tab label="Advanced">
        <p>Advanced mode</p>

        <button
          class="dwmth-btn
               dwmth-btn--white
               dwmth-blue"
          (click)="addConversionEmpty(TYPE_ADVANCED)"
          data-test="advertiser-conversion-add-advanced-button"
        >
          Add conversion
        </button>

        <mat-checkbox
          *ngIf="!isClickConversionBasic"
          [(ngModel)]="isClickConversionAdvanced"
          data-test="advertiser-conversion-is-click-advanced-checkbox"
        >
          Enable click conversion
        </mat-checkbox>

        <table>
          <tr>
            <th class="col-xs-2">Name</th>
            <th class="col-xs-2">Type</th>
            <th class="col-xs-2">Value</th>
            <th class="col-xs-2">Maximal budget</th>
            <th class="col-xs-3"></th>
            <th class="col-xs-1"></th>
          </tr>
        </table>

        <div
          class="dwmth-box dwmth-box--no-padding"
        >
          <form
            *ngFor="let conversionItemForm of conversionItemFormsAdvanced; let conversionItemFormIndex = index"
            [formGroup]="conversionItemForm"
            data-test="advertiser-conversion-item"
          >
            <tr
              class="row
                   dwmth-box
                   align-center
                   justify-between
                   dwmth-copy"
            >
              <td
                class="
                col-xs-2
                row
                align-center"
              >
                <input
                  class="dwmth-form-input"
                  formControlName="name"
                  data-test="advertiser-conversion-item-name"
                >
                <span
                  class="error-msg"
                  *ngIf="validateForm && 'INVALID' === conversionItemForm.get('name').status"
                >
                    Cannot be empty.
                  </span>
              </td>
              <td
                class="
                col-xs-2
                row
                align-center"
              >
                <mat-select
                  class="dwmth-select"
                  formControlName="type"
                  data-test="advertiser-conversion-item-type-select"
                >
                  <mat-option
                    *ngFor="let type of availableEventTypes"
                    [value]="type"
                    data-test="advertiser-conversion-item-type-option"
                  >
                    {{ type }}
                  </mat-option>
                </mat-select>
                <span
                  class="error-msg"
                  *ngIf="validateForm && 'INVALID' === conversionItemForm.get('type').status"
                >
                    Cannot be empty.
                  </span>
              </td>
              <td
                class="
                col-xs-2
                row
                align-center"
              >
                <input
                  class="dwmth-form-input"
                  formControlName="value"
                  data-test="advertiser-conversion-item-value"
                >
                <span
                  class="error-msg"
                  *ngIf="validateForm && 'INVALID' === conversionItemForm.get('value').status && !conversionItemForm.get('isAdvanced').value"
                >
                    Must be greater than zero.
                  </span>
              </td>
              <td
                class="
                col-xs-2
                row
                align-center"
              >
                <input
                  class="dwmth-form-input"
                  formControlName="limit"
                  data-test="advertiser-conversion-item-limit"
                >
              </td>
              <td
                class="
                col-xs-3
                row
                align-center"
              >
                <mat-checkbox
                  formControlName="isInBudget"
                  data-test="advertiser-conversion-item-is-in-budget"
                >
                  In campaign budget
                </mat-checkbox>
              </td>
              <td
                class="
                col-xs-1
                row
                align-center"
              >
                <button
                  class="campaign-edit-conversion__btn"
                  title="Click to remove conversion"
                  (click)="deleteConversion(conversionItemFormIndex)"
                >
                  <mat-icon>delete</mat-icon>
                </button>
              </td>
            </tr>
          </form>
        </div>
      </mat-tab>
    </mat-tab-group>

    <!--<button-->
    <!--type="button"-->
    <!--class="campaign-edit-conversion__btn"-->
    <!--title="Click to add conversion"-->
    <!--(click)="addConversionEmpty(MODE_BASIC)"-->
    <!--&gt;-->
    <!--<mat-icon>add_circle_outline</mat-icon>-->
    <!--</button>-->

  </div>


  <div
    class="dwmth-box
           dwmth-box--large
           row
           justify-between"
  >
    <button
      type="button"
      class="dwmth-btn
             dwmth-btn--white
             dwmth-blue"
      (click)="onStepBack()"
      [disabled]="submitted"
      data-test="advertiser-navigate-to-dashboard"
    >
      Back
    </button>

    <button
      class="dwmth-btn dwmth-btn--wide dwmth-btn--blue"
      (click)="updateCampaignConversion()"
      data-test="advertiser-edit-campaign-save-and-continue"
    >
      <span *ngIf="!submitted; else loading">
        Update
      </span>
      <ng-template #loading>
        <mat-spinner [diameter]="20" [strokeWidth]="2" color="accent"></mat-spinner>
      </ng-template>
    </button>
  </div>
</section>
