@import '../../../../styles.scss';

.campaign-edit-conversion {
  .ap-form-input {
    overflow: hidden;
    max-width: none;
    min-width: auto;
    width: 100%;
  }

  .description-type {
    margin: 18px auto 0;
  }

  &__select {
    height: 46px;
  }

  .cell {
    flex-wrap: nowrap;
  }

  &__value-input {
    max-width: 150px;
    margin-right: 8px;
  }

  &__copy-icon {
    cursor: pointer;
    color: pal(secondary);
    outline: none;
  }

  & .single-toggle-btn {
    height: 46px;
  }
}
