<section
  class="
    homepage-view
    campaign-edit-conversion"
>
  <div class="text-center">
    <h1
      class="
        dwmth-heading
        dwmth-heading--primary"
    >
      Conversion
    </h1>
  </div>

  <div
    class="
        dwmth-box
        dwmth-box--large"
  >
    <mat-tab-group
      [@.disabled]="true"
    >
      <mat-tab label="Basic">
        <p
          class="
            dwmth-copy
            justify-center
            description-type"
        >
          In this mode each conversion has a constant cost.
          All conversion expenses are limited by the banner ad campaign budget.
          It is possible to execute one conversion type per impression.
        </p>
        <div class="row justify-end align-center">
          <mat-checkbox
            *ngIf="!isClickConversionAdvanced"
            [(ngModel)]="isClickConversionBasic"
            data-test="advertiser-conversion-is-click-basic-checkbox"
          >
            Enable click conversion
          </mat-checkbox>
          <button
            class="dwmth-btn
               dwmth-btn--white
               dwmth-blue
               campaign-edit-conversion__btn-add"
            (click)="addConversionEmpty(TYPE_BASIC)"
            data-test="advertiser-conversion-add-basic-button"
          >
            Add conversion
          </button>
        </div>

        <div
          *ngIf="conversionItemFormsBasic.length > 0"
          class="
            row
            dwmth-box
            align-center
            justify-between
            dwmth-copy"
        >
          <label for="name" class="col-xs-3 row justify-start align-center">
            Name
          </label>
          <app-label class="col-xs-4 row justify-start align-center"
                     label="Type"
                     tooltip="Select the type of conversion"
                     forId="type"></app-label>
          <app-label class="col-xs-2 row justify-start align-center"
                     label="Cost"
                     tooltip="Enter the amount you are willing to spend on a single conversion"
                     forId="value"></app-label>
          <div class="col-xs-1 row justify-start"></div>
          <div class="col-xs-1 row justify-start">Delete</div>
          <div class="col-xs-1 row justify-start">Link</div>
        </div>

        <div class="dwmth-box dwmth-box--no-padding campaign-edit-conversion__list animated-list">
          <form
            *ngFor="let conversionItemForm of conversionItemFormsBasic; let conversionItemFormIndex = index"
            [formGroup]="conversionItemForm"
            data-test="advertiser-conversion-item"
          >
            <div
              class="row
                   dwmth-box
                   align-start
                   justify-between
                   dwmth-copy"
            >
              <div
                class="
                col-xs-3
                row
                align-center"
              >
                <input
                  id="name"
                  class="dwmth-form-input"
                  formControlName="name"
                  data-test="advertiser-conversion-item-name"
                >
                <span
                  class="error-msg"
                  *ngIf="validateForm && 'INVALID' === conversionItemForm.get('name').status"
                >
                    Cannot be empty.
                  </span>
              </div>
              <div
                class="
                col-xs-4
                row
                align-center"
              >
                <mat-select
                  id="type"
                  class="dwmth-select campaign-edit-conversion__select"
                  formControlName="type"
                  data-test="advertiser-conversion-item-type-select"
                >
                  <mat-option
                    *ngFor="let type of availableEventTypes"
                    [value]="type"
                    data-test="advertiser-conversion-item-type-option"
                  >
                    {{ type }}
                  </mat-option>
                </mat-select>
                <span
                  class="error-msg"
                  *ngIf="validateForm && 'INVALID' === conversionItemForm.get('type').status"
                >
                    Cannot be empty.
                  </span>
              </div>
              <div
                class="
                col-xs-2
                row
                align-center"
              >
                <input
                  id="value"
                  class="dwmth-form-input"
                  formControlName="value"
                  data-test="advertiser-conversion-item-value"
                >
                <span
                  class="error-msg"
                  *ngIf="validateForm && 'INVALID' === conversionItemForm.get('value').status && !conversionItemForm.get('isAdvanced').value"
                >
                    Must be greater than zero.
                  </span>
              </div>
              <div class="col-xs-1 row justify-start"></div>
              <div
                class="
                col-xs-1
                row
                cell
                align-center"
              >
                <button
                  id="delete"
                  class="campaign-edit-conversion__btn shake"
                  title="Click to remove conversion"
                  (click)="deleteConversion(false, conversionItemFormIndex)"
                >
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
              <div
                class="
                col-xs-1
                row
                cell
                align-center"
              >
                <button
                  *ngIf="conversionItemForm.get('link').value"
                  class="campaign-edit-conversion__btn"
                  title="Get Link"
                  (click)="openDialog(conversionItemForm)"
                >
                  <mat-icon> link</mat-icon>
                </button>
              </div>
            </div>
          </form>
        </div>
      </mat-tab>

      <mat-tab label="Advanced">
        <p
          class="
            dwmth-copy
            justify-center
            description-type"
        >
          In this mode each conversion has a unique HTTP request which must be created dynamically.
          The Advertiser also has more control over the conversion settings.
          Each conversion may have a different cost.
          The single conversion cost is optional and can be defined while the campaign is created.
        </p>
        <div class="row justify-end align-center">
          <mat-checkbox
            *ngIf="!isClickConversionBasic"
            [(ngModel)]="isClickConversionAdvanced"
            data-test="advertiser-conversion-is-click-advanced-checkbox"
          >
            Enable click conversion
          </mat-checkbox>
          <button
            class="dwmth-btn
               dwmth-btn--white
               dwmth-blue
               campaign-edit-conversion__btn-add"
            (click)="addConversionEmpty(TYPE_ADVANCED)"
            data-test="advertiser-conversion-add-advanced-button"
          >
            Add conversion
          </button>
        </div>

        <div
          *ngIf="conversionItemFormsAdvanced.length > 0"
          class="
            row
            dwmth-box
            align-center
            justify-between
            dwmth-copy"
        >
          <label for="nameAdv" class="col-xs-1 row justify-start">Name</label>
          <app-label class="col-xs-2 row justify-start align-center"
                     label="Type"
                     tooltip="Select the type of conversion"
                     forId="typeAdv"></app-label>
          <app-label class="col-xs-2 row justify-start align-center"
                     label="Cost"
                     tooltip="Enter the amount you are willing to spend on a single conversion"
                     forId="valueAdv"></app-label>
          <app-label class="col-xs-2 row justify-start align-center"
                     label="Budget"
                     tooltip="Enter the total amount you are willing to spend on a selected type of conversion.
                              The conversion budget is taken from your main ADS account and is separate from the banner ad campaign budget."
                     forId="limit"></app-label>
          <app-label class="col-xs-1 row justify-center cell align-center"
                     label="In budget"
                     tooltipPosition="left"
                     tooltip="Turn on if you don’t want to spend on conversions more than the budget for a ad banner campaign.
                     If the box remains unchecked the total budget for a certain conversion type will be limited only by your account balance."
                     forId="budget"></app-label>
          <app-label class="col-xs-2 row justify-center cell align-center"
                     label="Is repeatable"
                     tooltip="Turn on if you want to allow multiple conversion of the same type for the single impression."
                     forId="isRepeatable"></app-label>
          <div class="col-xs-1 row justify-start">Delete</div>
          <div class="col-xs-1 row justify-start">Link</div>
        </div>

        <div
          class="dwmth-box dwmth-box--no-padding"
        >
          <form
            *ngFor="let conversionItemForm of conversionItemFormsAdvanced; let conversionItemFormIndex = index"
            [formGroup]="conversionItemForm"
            data-test="advertiser-conversion-item"
          >
            <div
              class="row
                   dwmth-box
                   align-start
                   justify-between
                   dwmth-copy"
            >
              <div
                class="
                col-xs-1
                row
                align-center"
              >
                <input
                  id="nameAdv"
                  class="dwmth-form-input"
                  formControlName="name"
                  data-test="advertiser-conversion-item-name"
                >
                <span
                  class="error-msg"
                  *ngIf="validateForm && 'INVALID' === conversionItemForm.get('name').status"
                >
                    Cannot be empty.
                  </span>
              </div>
              <div
                class="
                col-xs-2
                row
                align-center"
              >
                <mat-select
                  id="typeAdv"
                  class="dwmth-select campaign-edit-conversion__select"
                  formControlName="type"
                  data-test="advertiser-conversion-item-type-select"
                >
                  <mat-option
                    *ngFor="let type of availableEventTypes"
                    [value]="type"
                    data-test="advertiser-conversion-item-type-option"
                  >
                    {{ type }}
                  </mat-option>
                </mat-select>
                <span
                  class="error-msg"
                  *ngIf="validateForm && 'INVALID' === conversionItemForm.get('type').status"
                >
                    Cannot be empty.
                  </span>
              </div>
              <div
                class="
                col-xs-2
                row
                align-center"
              >
                <div class="row no-wrap cell">
                  <mat-slide-toggle
                    class="row align-self-center"
                    id="isMutable"
                    formControlName="isValueMutable"
                    data-test="advertiser-conversion-item-is-value-mutable">
                  </mat-slide-toggle>
                  <input
                    id="valueAdv"
                    type="number"
                    step="0.01"
                    class="dwmth-form-input campaign-edit-conversion__value-input"
                    formControlName="value"
                    data-test="advertiser-conversion-item-value"
                  >
                </div>
                <span
                  class="error-msg"
                  *ngIf="validateForm && 'INVALID' === conversionItemForm.get('value').status"
                >
                  Value is required.
                  </span>
              </div>
              <div
                class="
                col-xs-2
                row
                align-center"
              >
                <input
                  id="limit"
                  class="dwmth-form-input"
                  type="number"
                  step="0.01"
                  formControlName="limit"
                  data-test="advertiser-conversion-item-limit"
                >
              </div>
              <div
                class="
                col-xs-1
                row
                align-center
                cell
                justify-center"
              >
                <mat-slide-toggle
                  id="budget"
                  formControlName="isInBudget"
                  data-test="advertiser-conversion-item-is-in-budget">
                </mat-slide-toggle>
              </div>

              <div
                class="
                col-xs-2
                row
                align-center
                cell
                justify-center"
              >
                <mat-slide-toggle
                  id="isRepeatable"
                  formControlName="isRepeatable"
                  data-test="advertiser-conversion-item-is-repeatable">
                </mat-slide-toggle>
              </div>
              <div
                class="
                col-xs-1
                row
                cell
                align-center"
              >
                <button
                  class="campaign-edit-conversion__btn shake"
                  title="Click to remove conversion"
                  (click)="deleteConversion(true, conversionItemFormIndex)"
                >
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
              <div
                class="
                col-xs-1
                row
                cell
                align-center"
              >
                <button
                  *ngIf="conversionItemForm.get('link').value"
                  class="campaign-edit-conversion__btn"
                  title="Get Link"
                  (click)="openDialog(conversionItemForm)"
                >
                  <mat-icon> link</mat-icon>
                </button>
              </div>
            </div>
          </form>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
  <div
    class="dwmth-box
           dwmth-box--large
           row
           justify-between"
  >
    <button
      type="button"
      class="dwmth-btn
             dwmth-btn--white
             dwmth-blue"
      (click)="onStepBack()"
      [disabled]="submitted"
      data-test="advertiser-navigate-to-dashboard"
    >
      Back
    </button>

    <button
      class="dwmth-btn dwmth-btn--wide dwmth-btn--blue"
      (click)="updateCampaignConversion()"
      [disabled]="submitted"
      data-test="advertiser-edit-campaign-save-and-continue"
    >
      <span *ngIf="!submitted; else loading">
        Save
      </span>
      <ng-template #loading>
        <mat-spinner [diameter]="20" [strokeWidth]="2" color="accent"></mat-spinner>
      </ng-template>
    </button>
  </div>
</section>
