@import '../../../../styles';

.advertiser-list {
  &__sort {
    margin-left: 5px;
  }

  &__loader-container {
    @include copy($font-size: 32);
    display: flex;
    width: 100%;
    color: pal(secondary);
    align-items: center;
    justify-content: center;
    top: 40px;
    margin: 24px 0;
  }

  &__filters label {
    padding-right: 8px;
  }

  &__filters .advertiser-list__input {
    width: 100px;
  }

  .mat-radio-group {
    flex-direction: row;
  }
}

.choose-user-type {
  margin-right: 20px;
}

.search {
  max-width: 180px;

  &-label {
    margin-right: 20px;
  }
}
