<div
  class="
    col
    justify-between"
>
  <div>
      <h2
        class="
          adsh-heading
          adsh-heading--primary"
      >
        Forgot your password?
      </h2>
      <p
        class="
          adsh-copy
          adsh-copy--large"
      >
        We will send a message with link to set new password.
      </p>
      <form
        #remindPasswordForm="ngForm"
        (ngSubmit)="sendRemindPasswordEmail()"
        class="adsh-form"
        data-test="auth-remind-password-form"
      >
        <div class="adsh-form-input__box">
          <label
            for="email"
            class="adsh-form-label"
          >
            Email Address
          </label>
          <input
            id="email"
            class="adsh-form-input"
            type="email"
            name="email"
            ngModel
            [email]="true"
            #email="ngModel"
            required
            data-test="auth-remind-password-form-email"
          >
          <span
            *ngIf="email.valid && email.touched"
            class="input-valid"
          ></span>
          <span
            class="error-msg"
            *ngIf="email.hasError('required') && email.touched"
          >
            Email required!
          </span>
          <span
            class="error-msg"
            *ngIf="email.hasError('email') && email.touched"
          >
            Invalid email!
          </span>
          <span
            class="error-msg"
            *ngIf="emailDoesntExist"
          >
            Email don't exist!
          </span>
        </div>

        <button
          class="
            adsh-btn
            adsh-btn--wide
            adsh-btn--blue
            adsh-form-submit-btn"
          data-test="auth-remind-password-form-submit-button"
        >
          <span *ngIf="!isSendingEmail ; else loading">
            Send New Password
          </span>
          <ng-template #loading>
            <mat-spinner [diameter]="20" [strokeWidth]="2" color="accent"></mat-spinner>
          </ng-template>
        </button>
      </form>
  </div>
  <div>
     <p
       class="
        adsh-copy
        adsh-copy--large"
     >
         Maybe you already have an account?
         <a
            class="adsh-blue"
            routerLink="/auth/login"
            data-test="auth-redirect-to-login"
         >
         Log In
         </a>
     </p>
     <p
              class="
      adsh-copy
      adsh-copy--large"
      >
          Don't have an account?
          <a
                  class="adsh-blue"
                  routerLink="/auth/register"
                  data-test="auth-redirect-to-registration"
          >
              Register
          </a>
     </p>
  </div>
  <!--<div-->
    <!--class="-->
      <!--adsh-box-->
      <!--adsh-box&#45;&#45;light-->
      <!--adsh-box&#45;&#45;large"-->
  <!--&gt;-->
    <!--<p-->
      <!--class="-->
        <!--adsh-copy-->
        <!--adsh-copy&#45;&#45;large"-->
    <!--&gt;-->
      <!--Contact us if you don’t get an email with confirmation. We will resend or confirm your account manually.-->
    <!--</p>-->
    <!--<p-->
      <!--class="-->
        <!--adsh-copy-->
        <!--adsh-copy&#45;&#45;large-->
        <!--adsh-blue"-->
    <!--&gt;-->
      <!--<a-->
        <!--[href]="'mailto:' + supportEmail"-->
        <!--data-test="common-support-email"-->
      <!--&gt;-->
        <!--{{ supportEmail }}-->
      <!--</a>-->
    <!--</p>-->
  <!--</div>-->
</div>
