@import '../ref-link-list.component';

.ref-link-list-item {
  padding: 15px 0;
  display: flex;
  border-bottom: 1px solid #eee;

  & td {
    text-align: center;
    align-self: center;

    small {
      display: block;
      font-size: 80%;
    }
  }

  &__token {
   @extend .ref-link-list__token;
  }

  &__refund {
    @extend .ref-link-list__refund;
  }

  &__comment {
    @extend .ref-link-list__comment;
  }

  &__usage {
    @extend .ref-link-list__usage;
  }

  &__refunded {
    @extend .ref-link-list__refunded;
  }

  &__actions {
    @extend .ref-link-list__actions;
  }
}
