<div class="dashboard-view">
  <div
    class="
      site-details
      container"
  >
    <div
      class="
        row
        align-center
        breadcrumbs"
    >
      <a routerLink="/publisher/dashboard">
        <p
          class="
            adsh-copy
            adsh-copy--small"
        >
          My Sites
        </p>
      </a>
      <div
        class="
          adsh-circle
          adsh-circle--x-small
          adsh-circle--navy
          breadcrumbs-divider"
      >
      </div>
      <p
        class="
          adsh-copy
          adsh-copy--small
          adsh-copy--x-dark
          adsh-copy--semi"
      >
        {{ site.name }}
      </p>
    </div>
    <div
      class="
        row
        no-gutters
        align-center
        justify-between"
    >
      <h2
        class="
          adsh-heading
          adsh-heading--primary"
      >
        {{ site.name }}
      </h2>
      <button
        class="
          adsh-btn
          adsh-btn--white
          adsh-copy--x-dark"
        (click)="navigateToEditSite()"
      >
        <img
          class="
            adsh-icon
            adsh-icon--prepend"
          src="/assets/images/edit.svg"
          alt="Edit icon"
        >
          Edit Site
      </button>
    </div>

    <div
      class="
        adsh-box
        adsh-box--large
        adsh-copy
        row"
    >
      <div
        class="
          col-xs-2
          row
          align-center
          status-wrapper"
      >
        <p>Site Status:</p>
        <mat-select
          class="adsh-select"
          [(value)]="site.status"
          [compareWith]="selectCompare"
          (change)="saveSite()"
        >
          <mat-option
            *ngFor="let siteStatus of siteStatuses"
            [value]="siteStatus.id">
            {{ siteStatus.name }}
          </mat-option>
        </mat-select>
      </div>

      <div
        class="
          col-xs-10
          row
          align-center"
      >
        <div
            class="col-xs-2">
          <p>Content Language:</p>
          <p>{{ site.primaryLanguage }}</p>
        </div>
      </div>
    </div>

    <div
      class="
        row
        justify-between"
    >
      <div
        class="
          col-xs-4
          col
          adsh-box
          adsh-box--large
          chart-box"
        *ngFor="let chartSeriesType of chartSeries"
      >
        <div class="chart-stats">
          <p
            class="
              chart-name
              adsh-copy"
          >
            {{ chartSeriesType }}:
          </p>
          <div
            class="
              row
              align-center"
          >
            <span
              class="
                adsh-heading
                adsh-heading--primary"
            >
              {{ barChartValue }}
            </span>
            <span class="chart-change">
              {{ barChartDifference }} ({{ barChartDifferenceInPercentage | percent }})
            </span>
          </div>
        </div>
        <div
          class="
              row
              align-center
              justify-center
              chart-wrapper"
        >
          <app-chart
            class="
                chart
                row
                align-center
                justify-center"
            [seriesType]="chartSeriesType"
          ></app-chart>
        </div>
      </div>
    </div>

    <div class="col">
      <div
        class="
          adsh-box
          ad-units"
      >
        <p
          class="
            adsh-copy
            adsh-copy--semi"
        >
          List od Ad Units
        </p>
      </div>
      <app-ad-units
        *ngFor="let adUnit of site.adUnits"
        [adUnit]="adUnit"
      ></app-ad-units>
    </div>

    <div
      class="
        adsh-box
        ad-units
        row
        justify-center"
    >
      <button
        class="
          adsh-btn
          adsh-btn--white
          adsh-btn--no-border
          adsh-heading
          adsh-heading--secondary"
        (click)="navigateToCreateAdUnits()"
      >
        <img
          class="
            adsh-icon
            adsh-icon--prepend"
          src="assets/images/plus-circle--blue.svg"
        >
        Create new Ad Unit
      </button>
    </div>
  </div>
</div>
