@import '../../../styles.scss';

.back {
  margin-right: 10px;
}

.app-targeting-display {
  display: flex;
  margin-left: -25px;

  &:not(:first-of-type) {
    margin-top: 20px;
  }
}

.status-wrapper {
  margin-right: 24px;

  .adsh-select{
    border: 1px solid pal(gray, light);
  }
}

.status-toggle-wrapper {
  margin-right: 30px;

  > * {
    margin: 0 5px;
  }
}

.chart {
  height: 250px;
}
