<div class="dashboard-view">
  <div
    class="
      site-details
      container"
  >
    <div
      class="
        row
        align-center
        breadcrumbs"
    >
      <a routerLink="/publisher/dashboard">
        <p
          class="
            adsh-copy
            adsh-copy--small"
        >
          My Sites
        </p>
      </a>
      <div
        class="
          adsh-circle
          adsh-circle--x-small
          adsh-circle--navy
          breadcrumbs-divider"
      >
      </div>
      <p
        class="
          adsh-copy
          adsh-copy--small
          adsh-copy--x-dark
          adsh-copy--semi"
      >
        {{ site.name }}
      </p>
    </div>
    <div
      class="
        row
        align-center
        justify-between"
    >
      <h2
        class="
          adsh-heading
          adsh-heading--primary"
      >
        {{ site.name }}
      </h2>
      <button
        class="
          adsh-btn
          adsh-btn--white
          adsh-copy--x-dark"
        (click)="navigateToEditSite()"
      >
        <img
          class="
            adsh-icon
            adsh-icon--prepend"
          src="/assets/images/edit.svg"
          alt="Edit icon">
        Edit Website
      </button>
    </div>

    <div
      class="
        adsh-box
        adsh-box--large
        targeting
        row"
    >
      <div class="col-xs-2">
        <div
          class="
            adsh-chip-box
            adsh-chip-box--dark"
          *ngFor="let item of site.targeting.requires.languages"
        >
          {{ item }}
        </div>
      </div>
      <div class="col-xs-2">
        <div
          class="
            adsh-chip-box
            adsh-chip-box--dark"
          *ngFor="let item of site.targeting.requires.devices"
        >
          {{ item }}
        </div>
      </div>
      <div class="col-xs-2">
        <div
          class="
            adsh-chip-box
            adsh-chip-box--dark"
          *ngFor="let item of site.targeting.requires.genders"
        >
          {{ item }}
        </div>
      </div>
      <div class="col-xs-2">
        <div
          class="
            adsh-chip-box
            adsh-chip-box--dark"
          *ngFor="let item of site.targeting.requires.operatingSystems"
        >
          {{ item }}
        </div>
      </div>
      <div class="col-xs-2">
        <div
          class="
            adsh-chip-box
            adsh-chip-box--dark"
          *ngFor="let item of site.targeting.requires.browsers"
        >
          {{ item }}
        </div>
      </div>
      <div class="col-xs-2">
        <div
          class="
            adsh-chip-box
            adsh-chip-box--dark"
          *ngFor="let item of site.targeting.excludes.devices"
        >
          {{ item }}
        </div>
      </div>
      <div class="col-xs-2">
        <div
          class="
            adsh-chip-box
            adsh-chip-box--dark"
          *ngFor="let item of site.targeting.excludes.genders"
        >
          {{ item }}
        </div>
      </div>
      <div class="col-xs-2">
        <div
          class="
            adsh-chip-box
            adsh-chip-box--dark"
          *ngFor="let item of site.targeting.excludes.operatingSystems"
        >
          {{ item }}
        </div>
      </div>
      <div class="col-xs-2">
        <div
          class="
            adsh-chip-box
            adsh-chip-box--dark"
          *ngFor="let item of site.targeting.excludes.browsers"
        >
          {{ item }}
        </div>
      </div>
    </div>

    <div
      class="
        row
        justify-between"
    >
      <div
        class="
          col-xs-4
          col
          adsh-box
          adsh-box--large
          chart-box"
        *ngFor="let chartStatType of chartStatTypes"
      >
        <div class="chart-stats">
          <p
            class="
              chart-name
              adsh-copy"
          >
            {{ chartStatType }}:
          </p>
          <div
            class="
              row
              align-center"
          >
            <span
              class="
                adsh-heading
                adsh-heading--primary"
            >
              {{ chart.barChartValue }}
            </span>
            <span class="chart-change">
              {{ chart.barChartDifference }} ({{ chart.barChartDifferenceInPercentage | percent }})
            </span>
          </div>
        </div>
        <div
          class="
              row
              align-center
              justify-center
              chart-wrapper"
        >
          <app-chart
            class="
                chart
                row
                align-center
                justify-center"
            [statType]="chartStatType"
            #chart
          ></app-chart>
        </div>
      </div>
    </div>

    <div
      class="
        adsh-box
        adsh-box--large
        ad-units"
    >
      <div class="col">
        <p class="adsh-copy">
          List od Ad Units
        </p>
        <app-ad-units
          *ngFor="let adUnit of site.adUnits"
          [adUnit]="adUnit">
        </app-ad-units>
      </div>
    </div>

    <div
      class="
        adsh-box
        adsh-box--large
        ad-units
        row
        justify-center"
    >
      <a routerLink="/publisher/dashboard">
        <button
          class="
            adsh-btn
            adsh-btn--white
            adsh-heading
            adsh-heading--secondary"
        >
          <img
            class="
              adsh-icon
              adsh-icon--prepend"
            src="assets/images/plus-circle--blue.svg"
          >
          Create new Ad Unit
        </button>
      </a>
    </div>
  </div>
</div>
