@import '../../../styles.scss';

.back {
  margin-right: 10px;
}

.app-targeting-display {
  display: flex;

  &:not(:first-of-type) {
    margin-top: 20px;
  }
}

.status-toggle-wrapper {
  margin-right: 30px;

  > * {
    margin: 0 5px;
  }
}

.chart {
  height: 250px;
}
