@import '../../../styles.scss';

.site-details {

  &__checkbox {
    cursor: not-allowed;
    pointer-events: none;
    margin-right: 8px;
  }

  &__classification {
    padding: 8px 0;
  }

  &__table {
    min-width: 1100px;
  }

  &__scrollable-table {
    overflow: hidden;
    overflow-x: auto;
  }

  .ap-heading--primary small {
    &:before {
      content: ' - ';
    }
  }

  & .ap-status {
    text-align: center;
    justify-content: center;
    padding: 8px 16px;
    line-height: 1.5;
    height: 42px;
  }
}

.ad-units-warning {
  color: pal(error);
}

.back {
  margin-right: 10px;
}

.targeting-display-wrapper {
  margin-top: 16px;
}

.status-toggle-wrapper {
  margin-right: 30px;

  > * {
    margin: 0 5px;
  }
}

.chart {
  height: 250px;
}

.chart-wrapper {
  margin-bottom: 24px;
}

.btn-icon {
  font-size: 12px;
  margin-right: 10px;
}

.link-icon {
  margin-left: 4px;
  color: pal(primary, light);
}
