<div class="dashboard-view">
  <div
    class="
      site-details
      container"
  >
    <div
      class="
        row
        align-center
        breadcrumbs"
    >
      <a
        routerLink="/publisher/dashboard"
        data-test="publisher-navigate-to-dashboard"
      >
        <p
          class="
            dwmth-copy
            dwmth-copy--small"
        >
          My Sites
        </p>
      </a>
      <div
        class="
          dwmth-circle
          dwmth-circle--x-small
          dwmth-circle--navy
          breadcrumbs-divider"
      >
      </div>
      <p
        class="
          dwmth-copy
          dwmth-copy--small
          dwmth-copy--x-dark
          dwmth-copy--semi"
        data-test="publisher-site-url"
      >
        {{ site.name }}
      </p>
    </div>

    <div class="row justify-end">
      <button
        class="
            dwmth-btn
            dwmth-btn--bordered-light"
        (click)="navigateToClassification()"
        data-test="publisher-site-navigate-to-classifier"
      >
        Select banners for approval
      </button>
    </div>

    <div
      class="
        row
        no-gutters
        justify-between
        align-center"
    >
      <div
        class="
          row
          col-xs-5
          col-md-7"
      >
        <h1
          class="
            dwmth-heading
            dwmth-heading--primary"
          data-test="publisher-site-url"
        >
          {{ site.name }}
        </h1>
      </div>
      <div
        class="
          col-xs-7
          col-md-5
          row
          justify-end
          align-center"
      >
        <div class="row status-button-wrapper">
          <span class="dwmth-copy"> Site is </span>
          <span class="dwmth-copy lowercase-to-capitalize"
                data-test="publisher-site-status"
                [attr.data-status]="currentSiteStatus">
              {{ currentSiteStatus }}
            </span>
          <button class="dwmth-btn dwmth-btn--white dwmth-status--btn"
                  (click)="onSiteStatusChange()"
                  data-test="publisher-site-status-change-button"
                  [attr.data-status]="currentSiteStatus">
            {{ statusButtonLabel }}
          </button>
        </div>
        <button
          class="
            dwmth-btn
            dwmth-btn--white
            dwmth-btn--with-icon
            btn-delete
            dwmth-copy--dark"
          (click)="deleteSite()"
        >
          <img
            class="
              dwmth-icon
              dwmth-icon--prepend"
            src="/assets/images/x-circle--dark.svg"
            alt=""
          >
          Delete Site

        </button>
      </div>
    </div>

    <!-- chart-->
    <div class="dwmth-box">
      <div class="row">
        <div class="col-xs-4">
          <a
            (click)="downloadReport()"
          >
            <button
              class="
                dwmth-btn
                dwmth-btn--white
                dwmth-copy--dark"
              data-test="publisher-site-download-report-button"
            >
              Download Report
            </button>
          </a>
        </div>
        <div class="col-xs-4">
          <app-chart-filter-by-type
            class="details-filters"
            [detailsPage]="true"
            (updateSeries)="appChartRef.updateChartDataSeries($event)"
          ></app-chart-filter-by-type>
        </div>
        <div class="col-xs-4">
          <app-chart-filter
            class="details-filters"
            (filter)="appChartRef.updateChartData($event)"
          ></app-chart-filter>
        </div>
      </div>
      <div
        class="
          dwmth-box"
      >
        <div
          class="
            row
            align-center
            chart-wrapper"
        >
          <app-chart
            class="
              chart
              row
              align-center
              justify-center"
            (update)="getChartData($event, site.id)"
            [barChartData]="barChartData"
            [barChartLabels]="barChartLabels"
          ></app-chart>
        </div>
      </div>
    </div>
    <!-- chart end-->

    <div
      class="
          dwmth-box
          dwmth-box--high
          row
          justify-between
          align-center"
    >
      <p
        class="
            dwmth-copy
            dwmth-copy--semi"
      >
        Site language:
        <span
          class="lowercase">
          {{language && language.name}}
        </span>
      </p>
      <button
        class="
           dwmth-btn
           dwmth-btn--edit
           dwmth-btn--no-border"
        (click)="navigateToEditSite('basic-information', 1)"
        data-test="publisher-site-edit-basic-info-button"
      >
        <img
          class="
            dwmth-icon
            dwmth-icon--prepend"
          src="assets/images/edit-blue.svg"
          alt=""
        >
        Edit Basic Info
      </button>
    </div>

    <section class="dwmth-box dwmth-box--high">
      <div class="row justify-end">
        <button
          class="
           dwmth-btn
           dwmth-btn--edit
           dwmth-btn--no-border"
          (click)="navigateToEditSite('additional-filtering', 2)"
          data-test="publisher-site-edit-filtering-button"
        >
          <img
            class="
            dwmth-icon
            dwmth-icon--prepend"
            src="assets/images/edit-blue.svg"
            alt=""
          >
          {{(!filtering.requires.length && !filtering.excludes.length) ? 'Add Filtering' : 'Edit Filtering'}}
        </button>
      </div>
      <div
        *ngIf="!!filtering.requires.length || !!filtering.excludes.length"
        class="
        dwmth-box
        dwmth-copy
        row"
      >
        <div
          *ngIf="!!filtering.requires.length"
          class="
          col-xs-12
          col-lg-6"
        >
          <h2 class="dwmth-targeting-details__title
                     dwmth-copy--large
                     dwmth-copy--semi">Requires: </h2>
          <div>
            <app-targeting-display
              class="app-targeting-display"
              [items]="filtering.requires"
              [isExclude]="false"
              [canRemove]="false"
              [targetingOptions]="filteringOptions"
            ></app-targeting-display>
          </div>
        </div>

        <div
          *ngIf="!!filtering.excludes.length"
          class="
          col-xs-12
          col-lg-6"
        >
          <h2 class="dwmth-targeting-details__title
                     dwmth-copy--large
                     dwmth-copy--semi">Excludes: </h2>
          <div>
            <app-targeting-display
              class="app-targeting-display"
              [items]="filtering.excludes"
              [isExclude]="true"
              [canRemove]="false"
              [targetingOptions]="filteringOptions"
            ></app-targeting-display>
          </div>
        </div>
      </div>

      <section *ngIf="site.requireClassified || site.excludeUnclassified"
               class="col-xs-12">
        <div class=" dwmth-box dwmth-copy ">
          <h1 class="dwmth-copy dwmth-copy--semi
                     site-details__classification">Classification</h1>

          <div class="col">
            <mat-checkbox
              *ngIf="site.requireClassified"
              class="site-details__checkbox"
              [checked]="site.requireClassified"
            >
              Allow only approved banners
            </mat-checkbox>
            <mat-checkbox
              *ngIf="site.excludeUnclassified"
              class="site-details__checkbox"
              [checked]="site.excludeUnclassified"
            >
              Skip rejected banners
            </mat-checkbox>
          </div>
        </div>
      </section>
    </section>

    <div class="col">
      <div
        class="
          dwmth-box
          ad-units
          row
          justify-between
          align-center">
        <p
          class="
            dwmth-copy
            dwmth-copy--semi"
        >
          List of Ad Units
        </p>
        <button
          class="
           dwmth-btn
           dwmth-btn--edit
           dwmth-btn--no-border"
          (click)="navigateToEditSite('create-ad-units', 3)"
          data-test="publisher-site-edit-ad-units-button"
        >
          <img
            class="
            dwmth-icon
            dwmth-icon--prepend"
            src="assets/images/edit-blue.svg"
            alt=""
          >
          Edit Ad Units
        </button>
      </div>
      <div class="site-details__scrollable-table">
        <table class="site-details__table">
          <app-table-navigation
            [navigationName]="'adUnitsNavigation'"
            (sortTable)="sortTable($event)"
            class="row
                   dwmth-copy"
          ></app-table-navigation>
          <app-poster-units
            *ngFor="let adUnit of site.adUnits"
            [siteCode]="site.code"
            [adUnit]="adUnit"
          ></app-poster-units>
        </table>
      </div>
    </div>

    <div
      class="
        dwmth-box
        row
        justify-center"
    >
      <button
        class="
          dwmth-btn
          dwmth-btn--white
          dwmth-blue
          dwmth-btn--no-border"
        (click)="navigateToEditSite('create-ad-units', 3)"
        data-test="publisher-site-create-new-ad-unit"
      >
        <img
          class="
            dwmth-icon
            dwmth-icon--prepend"
          src="assets/images/plus-circle--blue.svg"
        >
        Create new Ad Unit
      </button>
    </div>
  </div>
</div>
