@import '../../../styles';

.header {
  &__wrapper {
    margin-bottom: 16px;
  }

  &__buttons-wrapper {
    margin-top: 10px;
  }

  &__link {
    &:hover {
      color: darken(pal(blue), 10%);
    }
  }
}
