@import '../../../styles';

.classifier {
  &__type-info {
    display: flex;
    justify-content: center;
    padding: 8px;
    font-size: 18px;
  }
}

.ap-ad-list {
  margin-top: 2px;
  min-height: 100%;
}

.header {
  &__wrapper {
    margin-bottom: 16px;
  }

  &__buttons-wrapper {
    margin-top: 10px;
  }

  &__link {
    &:hover {
      color: darken(pal(blue), 10%);
    }
  }
}
