@import '../../../styles';

.classifier {

  &__type-info {
    display: flex;
    justify-content: center;
    padding: 8px;
    font-size: 18px;
  }

  & .control-btn-wrapper > button:not(:last-child) {
    margin-right: 4px;
  }
}

.ap-ad-list {
  margin-top: 24px;
  min-height: 100%;

  & .pd24 {
    margin: 24px 0;
  }
}

.header {
  &__wrapper {
    margin-bottom: 16px;
  }

  &__buttons-wrapper {
    margin-top: 10px;
  }

  &__link {
    &:hover {
      color: pal(secondary);
    }
  }
}
