<div class="row">
  <div class="domain-checker q-{{ cpaQuality() }} row">
    <div class="align-self-center justify-center">
      CPA: {{ cpaMessage() }}
      <fa-icon
        class="ap-icon ap-icon--append"
        matTooltipClass="ap-mat-tooltip"
        [matTooltip]="cpaTooltip()"
        matTooltipPosition="right"
        [icon]="faQuestionCircle"></fa-icon>
    </div>
  </div>
  <div class="domain-checker q-{{ cpmQuality() }} row">
    <div class="align-self-center justify-center">
      CPM: {{ cpmMessage() }}
      <fa-icon
        class="ap-icon ap-icon--append"
        matTooltipClass="ap-mat-tooltip"
        [matTooltip]="cpmTooltip()"
        matTooltipPosition="right"
        [icon]="faQuestionCircle"></fa-icon>
    </div>
  </div>
</div>
