@import '../../../../styles.scss';

.domain-checker {
  position: relative;
  @include font(14, semiBold);
  color: pal(error);
  border-radius: 10px;
  padding: 12px 12px;
  min-width: 150px;

  &:not(:last-child) {
    margin-right: 18px;
  }

  &.q-great {
    background-color: pal(success, light);
    color: pal(success);
  }
  &.q-good {
    background-color: pal(secondary, light);
    color: pal(secondary);
  }
  &.q-medium {
    background-color: pal(warning, light);
    color: pal(warning);
  }
  &.q-bad {
    background-color: pal(error, light);
    color: pal(error);
  }
}
