@import '../../../../styles.scss';

.domain-checker {
  @include font(16, normal);
  border: 1px solid pal(gray);
  border-radius: 2px;
  padding: 8px 16px;
  color: pal(gray);
  background: pal(light);

  &:not(:last-child) {
    margin-right: 10px;
  }

  &.q-great {
    border-color: pal(success);
    color: pal(success);
  }
  &.q-good {
    border-color: pal(secondary);
    color: pal(secondary);
  }
  &.q-medium {
    border-color: pal(warning);
    color: pal(warning);
 }
  &.q-bad {
    border-color: pal(error);
    color: pal(error);
  }
}
