<div class="recovery ap-auth-container">
  <div class="col row--gap18">
    <div class="col row--gap8 align-start">
      <h2 class="ap-heading ap-heading--h3">Forgot your password?</h2>
      <p class="ap-copy text-left">We will send a message with a link to let you set a new password.</p>
    </div>

    <form
      #remindPasswordForm="ngForm"
      (ngSubmit)="sendRemindPasswordEmail()"
      class="ap-form col row--gap18"
      data-test="auth-remind-password-form">
      <div class="ap-form-input__box">
        <label for="email" class="ap-form-label"> Email address </label>
        <input
          id="email"
          class="ap-form-input ap-form-input--full"
          type="email"
          name="email"
          ngModel
          [email]="true"
          #email="ngModel"
          required
          data-test="auth-remind-password-form-email" />
        <span *ngIf="email.valid && email.touched" class="input-valid"></span>
        <span class="error-msg" *ngIf="email.hasError('required') && remindPasswordForm.submitted">
          Email required!
        </span>
        <span class="error-msg" *ngIf="email.hasError('email') && email.touched"> Invalid email! </span>
      </div>

      <div class="row justify-center">
        <button class="ap-btn ap-btn--primary" data-test="auth-remind-password-form-submit-button">
          <span *ngIf="!isSendingEmail; else loading"> Reset password </span>
        </button>
      </div>
    </form>
    <div>
      <p class="ap-copy">
        Did you manage to recall your password?
        <a routerLink="/auth/login" data-test="auth-redirect-to-login"> Log In </a>
      </p>
      <p *ngIf="registrationMode === 'public'" class="ap-copy">
        Don't have an account?
        <a routerLink="/auth/register" data-test="auth-redirect-to-registration"> Register </a>
      </p>
    </div>
  </div>
</div>
<ng-template #loading>
  <mat-spinner [diameter]="20" [strokeWidth]="2" color="accent"></mat-spinner>
</ng-template>
