<div class="col justify-between">
  <div>
    <h2 class="ap-heading ap-heading--h2">Forgot your password?</h2>
    <p class="ap-copy">We will send a message with a link to let you set a new password.</p>
    <form
      #remindPasswordForm="ngForm"
      (ngSubmit)="sendRemindPasswordEmail()"
      class="ap-form"
      data-test="auth-remind-password-form">
      <div class="ap-form-input__box">
        <label for="email" class="ap-form-label"> Email address </label>
        <input
          id="email"
          class="ap-form-input"
          type="email"
          name="email"
          ngModel
          [email]="true"
          #email="ngModel"
          required
          data-test="auth-remind-password-form-email" />
        <span *ngIf="email.valid && email.touched" class="input-valid"></span>
        <span class="error-msg" *ngIf="email.hasError('required') && email.touched"> Email required! </span>
        <span class="error-msg" *ngIf="email.hasError('email') && email.touched"> Invalid email! </span>
      </div>

      <button class="ap-btn ap-btn--primary ap-form-submit-btn" data-test="auth-remind-password-form-submit-button">
        <span *ngIf="!isSendingEmail; else loading"> Reset password </span>
        <ng-template #loading>
          <mat-spinner [diameter]="20" [strokeWidth]="2" color="accent"></mat-spinner>
        </ng-template>
      </button>
    </form>
  </div>
  <div>
    <p class="ap-copy">
      Did you manage to recall your password?
      <a class="ap-blue" routerLink="/auth/login" data-test="auth-redirect-to-login"> Log In </a>
    </p>
    <p *ngIf="registrationMode === 'public'" class="ap-copy">
      Don't have an account?
      <a class="ap-blue" routerLink="/auth/register" data-test="auth-redirect-to-registration"> Register </a>
    </p>
  </div>
</div>
