<div
  class="
    col
    justify-between"
>
  <div>
    <h2
      class="
          dwmth-heading
          dwmth-heading--primary"
    >
      Forgot your password?
    </h2>
    <p
      class="
          dwmth-copy
          dwmth-copy--large"
    >
      We will send a message with a link to let you set a new password.
    </p>
    <form
      #remindPasswordForm="ngForm"
      (ngSubmit)="sendRemindPasswordEmail()"
      class="dwmth-form"
      data-test="auth-remind-password-form"
    >
      <div class="dwmth-form-input__box">
        <label
          for="email"
          class="dwmth-form-label"
        >
          Email address
        </label>
        <input
          id="email"
          class="dwmth-form-input"
          type="email"
          name="email"
          ngModel
          [email]="true"
          #email="ngModel"
          required
          data-test="auth-remind-password-form-email"
        >
        <span
          *ngIf="email.valid && email.touched"
          class="input-valid"
        ></span>
        <span
          class="error-msg"
          *ngIf="email.hasError('required') && email.touched"
        >
            Email required!
          </span>
        <span
          class="error-msg"
          *ngIf="email.hasError('email') && email.touched"
        >
            Invalid email!
          </span>
      </div>

      <button
        class="
            dwmth-btn
            dwmth-btn--wide
            dwmth-btn--blue
            dwmth-form-submit-btn"
        data-test="auth-remind-password-form-submit-button"
      >
          <span *ngIf="!isSendingEmail ; else loading">
            Reset password
          </span>
        <ng-template #loading>
          <mat-spinner [diameter]="20" [strokeWidth]="2" color="accent"></mat-spinner>
        </ng-template>
      </button>
    </form>
  </div>
  <div>
    <p
      class="dwmth-copy"
    >
      Did you manage to recall your password?
      <a
        class="dwmth-blue"
        routerLink="/auth/login"
        data-test="auth-redirect-to-login"
      >
        Log In
      </a>
    </p>
    <p
      *ngIf="registrationMode !== 'private'"
      class="dwmth-copy"
    >
      Don't have an account?
      <a
        class="dwmth-blue"
        routerLink="/auth/register"
        data-test="auth-redirect-to-registration"
      >
        Register
      </a>
    </p>
  </div>
  <!--<div-->
  <!--class="-->
  <!--dwmth-box-->
  <!--dwmth-box&#45;&#45;light-->
  <!--dwmth-box&#45;&#45;large"-->
  <!--&gt;-->
  <!--<p-->
  <!--class="-->
  <!--dwmth-copy-->
  <!--dwmth-copy&#45;&#45;large"-->
  <!--&gt;-->
  <!--Contact us if you don’t get an email with confirmation. We will resend or confirm your account manually.-->
  <!--</p>-->
  <!--<p-->
  <!--class="-->
  <!--dwmth-copy-->
  <!--dwmth-copy&#45;&#45;large-->
  <!--dwmth-blue"-->
  <!--&gt;-->
  <!--<a-->
  <!--[href]="'mailto:' + supportEmail"-->
  <!--data-test="common-support-email"-->
  <!--&gt;-->
  <!--{{ supportEmail }}-->
  <!--</a>-->
  <!--</p>-->
  <!--</div>-->
</div>
