@import "../../../../styles/mixins";
@import "../../../../styles/colors";

.auto-withdraw {
  margin-bottom: 8px;

  &__box {
    @include container(20px, 20px,
    $border-color: pal(gray, nearly-white)
    );
    min-width: 450px;
    flex: 1;
    &--with-margin {
      margin-bottom: 8px;
    }
    @media (min-width: 1358px) {
      &--with-margin {
        margin-bottom: 0;
        margin-right: 8px;
      }
    }
  }

  &__title {
    @include copy($color: pal(navy, base), $font-weight: bold, $font-size: 32)
  }

  &__sub-title {
    @include copy($font-size: 22, $margin-vertical: 5px);
    overflow: initial;
  }

  &__content-container {
    @include container(0, 0, $border-color: pal(white));
    display: flex;
    flex-direction: column;
    margin-top: 10px;
  }

  .dwmth-form {
    width: 320px;
  }

  .dwmth-form-input__box {
    margin: 10px 0;
  }
}
