<div class="banner-preview">
  <ng-container *ngIf="isImage()">
    <img  src="{{ banner.url || banner.imageUrl }}" alt="banner miniature"
          class="banner-preview__banner"
    />
    <div class="banner-preview__lightbox">
      <img *ngIf="isImage()" src="{{ banner.url || banner.imageUrl }}" alt="banner in natural size"/>
    </div>
  </ng-container>

  <ng-container *ngIf="!isImage() && banner.html">
    <iframe
      [srcdoc]="banner.html | trustHtml"
      [sandbox]="'allow-same-origin allow-scripts'"
      [title]="IFRAME_TITLE"
      scrolling="no"
      class="banner-preview__banner"
    ></iframe>
    <iframe
      [srcdoc]="banner.html | trustHtml"
      [sandbox]="'allow-same-origin allow-scripts'"
      [title]="IFRAME_TITLE"
      scrolling="no"
      seamless="seamless"
      class="banner-preview__lightbox"
      [ngStyle]="{
                'width': banner.creativeWidth + 'px',
                'height': banner.creativeHeight + 'px',
                'overflow': 'visible'
              }"
    ></iframe>
  </ng-container>

  <ng-container *ngIf="!isImage() && banner.url">
    <iframe
      [src]="banner.url | trustUrl"
      [sandbox]="'allow-same-origin allow-scripts'"
      [title]="IFRAME_TITLE"
      scrolling="no"
      class="banner-preview__banner"
    ></iframe>
    <iframe
      [src]="banner.url | trustUrl"
      [sandbox]="'allow-same-origin allow-scripts'"
      [title]="IFRAME_TITLE"
      scrolling="no"
      seamless="seamless"
      class="banner-preview__lightbox"
      [ngStyle]="{
                'width': banner.width + 'px',
                'height': banner.height + 'px',
                'overflow': 'visible'
              }"
    ></iframe>
  </ng-container>
</div>
