<div class="banner-preview">
  <ng-container *ngIf="isImage">
    <img
      [src]="url"
      [style.max-width.px]="maxWidth"
      alt="banner miniature"
      class="banner-preview__banner"
    />
  </ng-container>
  <ng-container *ngIf="isVideo">
    <video
      autoplay
      loop
      [muted]="'muted'"
      [style.max-width.px]="maxWidth"
      class="banner-preview__banner"
    >
      <source [src]="url">
      Sorry, your browser doesn't support embedded videos.
    </video>
  </ng-container>
  <ng-container *ngIf="showIframe && isHtml">
    <iframe
      [src]="url | trustUrl"
      sandbox="allow-same-origin allow-scripts"
      title="Ad Preview"
      scrolling="no"
      [ngStyle]="{
        'width': bannerChosenSize.width,
        'height': bannerChosenSize.height,
        'overflow': 'hidden',
        'transform': 'scale(' + scale + ')',
        'transform-origin': 'left'
      }"
    ></iframe>
  </ng-container>
  <ng-container *ngIf="isDirectLink">
    <div
      [style.width.px]="maxWidth"
      class="banner-preview__direct"
    >
      <a
        [href]="url | testPlaceholders"
        [title]="url"
        target="_blank"
        rel="nofollow noopener noreferrer"
      ><code>{{ url }}</code></a>
    </div>
  </ng-container>
  <ng-container *ngIf="isLoading">
    <div class="row
                justify-center">
      <mat-spinner [diameter]="30" [strokeWidth]="2" color="#55a8fd"></mat-spinner>
    </div>
  </ng-container>
  <div
    class="error-msg"
    *ngIf="!showIframe && !isLoading">
    Content not available
  </div>

  <div
    *ngIf="isImage || isVideo || (showIframe && isHtml)"
    [style.width.px]="maxWidth"
    (click)="zoomIn()"
    class="banner-preview__overlay"
  ></div>
</div>
