.banner-preview {
  position: relative;
  cursor: pointer;
  height: 100px;
  display: flex;
  align-items: center;

  code {
    font-family: monospace !important;
  }

  &__banner {
    height: auto;
    width: auto;
    max-width: 95%;
    max-height: 100px;

    &:hover {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      top: 5px;
      z-index: 999;
      max-width: unset;
      max-height: unset;
    }
  }
}
