.banner-preview {
  position: relative;
  height: 100px;
  align-items: center;
  display: flex;

  &__direct {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    code {
      font-family: monospace !important;
    }
  }

  &__banner {
    height: auto;
    width: auto;
    max-height: 100px;
  }

  &__overlay {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
  }

  .square-preview {
    height: 100px;
    width: 100px;
  }
}
