:host {
  overflow: hidden;
  background: #fff;
  z-index: 1;

  &:hover {
    overflow: visible;
  }
}

.banner-preview {
  position: relative;
  cursor: pointer;
  height: 100px;
  align-items: center;
  display: flex;

  &__direct {
    overflow: hidden;
    text-overflow: ellipsis;

    code {
      font-family: monospace !important;
    }
  }

  &__banner {
    height: auto;
    width: auto;
    max-width: 95%;
    max-height: 100px;

    &:hover {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      top: 5px;
      z-index: 999;
      max-width: unset;
      max-height: unset;
    }
  }
}
