<mat-dialog-content
  class="
    text-center
    mat-dialog-content--narrow"
>
  <div
    (click)="dialogRef.close()"
    class="adsh-dialog-close"
  ></div>
  <h1
    class="
      adsh-heading
      adsh-heading--primary"
  >
    Automatic Withdraws
  </h1>

  <p
    class="
      adsh-copy
      adsh-copy--large
      dialog-description"
  >
    Etiam pretium dapibus congue. Praesent a lorem erat. Morbi mollis posuere lacus, vel semper risus.
  </p>

  <div
    class="
      add-funds-content
      dialog-main-content"
  >
    <form
      [formGroup]="automaticWithdrawForm"
      (ngSubmit)="saveNewAutomaticWithdrawOptions()"
      class="adsh-form"
    >
      <div class="select">
        <div class="adsh-form-input__box">
          <label class="adsh-form-label">
            Period of Time
          </label>
          <mat-select
            class="adsh-select"
            id="period"
            formControlName="period"
            required
            [(ngModel)]="currentPeriod"
          >
            <mat-option
              *ngFor="let period of periods; let periodIndex = index"
              [value]="period"
            >
              {{ period }}
            </mat-option>
          </mat-select>
          <span
            class="error-msg"
            *ngIf="!automaticWithdrawForm.get('period').valid && automaticWithdrawFormSubmitted"
          >
            Please provide a valid address.
          </span>
        </div>
      </div>

      <div class="select">
        <div class="adsh-form-input__box">
          <label class="adsh-form-label">
            Amount
          </label>
          <mat-select
            class="adsh-select"
            id="amount"
            formControlName="amount"
            required
            [(ngModel)]="currentAmount"
          >
            <mat-option
              *ngFor="let amount of amounts"
              [value]="amount"
            >
              {{ amount }}
            </mat-option>
          </mat-select>
          <span
            class="error-msg"
            *ngIf="!automaticWithdrawForm.get('amount').valid && automaticWithdrawFormSubmitted"
          >
            Please provide a valid address.
          </span>
        </div>
      </div>

      <div
        class="
          row
          justify-center"
      >
        <button
          class="
          adsh-btn
          adsh-btn--blue"
        >
          <span *ngIf="!isFormBeingSubmitted ; else loading">
              Save
            </span>
          <ng-template #loading>
            <mat-spinner [diameter]="20" [strokeWidth]="2" color="accent"></mat-spinner>
          </ng-template>
        </button>
      </div>
    </form>
  </div>
</mat-dialog-content>
