<section class="publisher-list">
  <div
    class="
      row
      justify-between
      align-center"
  >
    <div class="publisher-list__search-container row justify-between">
      <div>
        <mat-icon> search</mat-icon>
        <label>Search for publisher:
          <input
            [(ngModel)]="queryParams.searchPhrase"
            (ngModelChange)="onParamChange('searchPhrase', $event)"
            class="publisher-list__input"
            data-test="admin-user-search-input"
            id="search"
            placeholder="Search by email or domain"
          >
        </label>
      </div>
      <div class="publisher-list__filters">
        <label>Group by:</label>
        <mat-checkbox (change)="onParamChange('groupBy','campaign')"
                      [checked]="'domain' === queryParams.groupBy"
                      class="publisher-list__checkbox">
          domain
        </mat-checkbox>
        <mat-checkbox (change)="onParamChange('groupBy','user')"
                      [checked]="'user' === queryParams.groupBy"
                      class="publisher-list__checkbox">
          email
        </mat-checkbox>
      </div>
      <div class="publisher-list__filters">
        <label>Interval:</label>
        <mat-checkbox (change)="onParamChange('interval','week')"
                      [checked]="'week' === queryParams.interval"
                      class="publisher-list__checkbox">
          week
        </mat-checkbox>
        <mat-checkbox (change)="onParamChange('interval','day')"
                      [checked]="'day' === queryParams.interval"
                      class="publisher-list__checkbox">
          day
        </mat-checkbox>
        <mat-checkbox (change)="onParamChange('interval','hour')"
                      [checked]="'hour' === queryParams.interval"
                      class="publisher-list__checkbox">
          hour
        </mat-checkbox>
      </div>
      <div class="publisher-list__filters">
        <label>Min daily views:
        <input
          [(ngModel)]="queryParams.minDailyViews"
          (ngModelChange)="onParamChange('minDailyViews', $event)"
          type="number"
          min="0"
          step="1"
          class="publisher-list__input"
          id="minViews"
        >
      </label>
      </div>
      <button class="ap-btn ap-btn--tiny ap-btn--danger" (click)="onResetButtonClick()">Reset filters</button>
    </div>
  </div>

  <table class="publisher-list__items">
    <app-table-navigation
      (sortTable)="sortTable($event)"
      navigationName="publisherListNavigationItems"
    ></app-table-navigation>
    <tbody *ngIf="!isLoading; else loading"
           class="col publisher-list__table-body">
      <app-publisher-list-item
        *ngFor="let publisher of filteredList"
        [publisher]="publisher"
      ></app-publisher-list-item>
    <tr *ngIf="!filteredList.length"
        class="publisher-list__loader-container">
      NO RESULTS
    </tr>
    </tbody>
    <ng-template #loading>
      <tr>
        <td>
          <div class="loading-wrapper publisher-list__loader-container">
            <mat-spinner [diameter]="60" [strokeWidth]="8"></mat-spinner>
          </div>
        </td>
      </tr>
    </ng-template>
  </table>

  <mat-paginator
    (page)="handlePaginationEvent($event)"
    [length]="list ? list.data.length : 0"
    [pageIndex]="page - 1"
    [pageSize]="pageSize"
  >
  </mat-paginator>
</section>
