<mat-dialog-content
  class="
    text-center
    mat-dialog-content--narrow
    add-custom-targeting-dialog"
>
  <div
    (click)="dialogRef.close()"
    class="dwmth-dialog-close"
  ></div>
  <h1
    class="
      dwmth-heading
      dwmth-heading--primary"
  >
    Add Custom Targeting
  </h1>

  <p
    class="
      dwmth-copy
      dwmth-copy--large
      dialog-description"
  >
    You can add own targeting option.
  </p>

  <div class="dialog-main-content">
    <div
      class="
        col-xs-12
        col-sm-8
        col-md-4
        center
        dwmth-form-input__box"
    >
      <label class="dwmth-form-label">Category</label>
      <mat-select
        class="dwmth-select"
        [(value)]="selectedCategory"
        [compareWith]="selectCompare"
        (change)="createForm()"
      >
        <mat-option
          *ngFor="let availableOption of data.availableOptions"
          [value]="availableOption"
        >
          {{ availableOption.label }}
        </mat-option>
      </mat-select>
    </div>

    <form
      [formGroup]="customTargetingForm"
      (ngSubmit)="addCustomTareting()"
      class="dwmth-form"
    >
      <div
        class="dwmth-form-input__box"
        *ngIf="selectedCategory.valueType === 'string'">
        <label
          for="customTextValue"
          class="dwmth-form-label"
        >
          Text
        </label>
        <input
          id="customTextValue"
          class="
            dwmth-form-input
            dwmth-form-input--full"
          type="text"
          formControlName="customTargetingValue"
        >
        <span
          class="input-valid"
          *ngIf="
            customTargetingForm.get('customTargetingValue').valid &&
            customTargetingForm.get('customTargetingValue').touched"
        ></span>

        <span
          class="error-msg"
          *ngIf="
            customTargetingForm.hasError('required', ['customTargetingValue']) &&
            customTargetingFormSubmitted"
        >
          Text cannot be empty!
        </span>

        <span
          class="error-msg"
          *ngIf="
            customTargetingForm.hasError('maxlength', ['customTargetingValue']) &&
            customTargetingFormSubmitted"
        >
          Text can contain maximum 30 characters!
        </span>
      </div>

      <div
        class="dwmth-form-input__box"
        *ngIf="selectedCategory.valueType === 'number'">
        <span class="dwmth-form-label">Action</span>
        <mat-select
          class="
            dwmth-select
            add-custom-targeting-dialog__action-select
          "
          formControlName="customTargetingAction"
        >
          <mat-option
            *ngFor="let action of customTargetingActions; let i = index"
            [value]="i"
          >
            {{ action }}
          </mat-option>
        </mat-select>

        <label
          for="customNumberValue"
          class="dwmth-form-label"
        >
          Amount
        </label>
        <input
          id="customNumberValue"
          class="
            dwmth-form-input
            dwmth-form-input--full"
          type="number"
          formControlName="customTargetingValue"
        >
        <span
          class="input-valid"
          *ngIf="
            customTargetingForm.get('customTargetingValue').valid &&
            customTargetingForm.get('customTargetingValue').touched"
        ></span>

        <span
          class="error-msg"
          *ngIf="
            customTargetingForm.hasError('required', ['customTargetingValue']) &&
            customTargetingFormSubmitted"
        >
          Value cannot be empty!
        </span>

        <span
          class="error-msg"
          *ngIf="
            customTargetingForm.hasError('min', ['customTargetingValue']) &&
            customTargetingFormSubmitted"
        >
          Value must be grater or equal 0
        </span>
      </div>

      <div class="row">
        <button
          class="
            dwmth-btn
            dwmth-btn--wide
            dwmth-btn--blue
            add-custom-targeting-dialog__submit-button"
          type="submit"
        >
          Add
        </button>
      </div>
    </form>
  </div>
</mat-dialog-content>
