@import '../../../../../styles.scss';

.targeting-select {
  &__input {
    @include input($max-width: initial);
    width: 100%;
  }

  &__input-icon {
    margin-right: 10px;
  }

  &__search-icon {
    position: absolute;
    top: 15px;
    right: 20px;
  }

  &__option {
    @include copy($color: pal(primary), $font-weight: semiBold);
    @include container(
      $border-color: pal(gray),
      $padding-vertical: 8px,
      $padding-horizontal: 15px,
      $margin-top: 4px,
      $border-radius: 10px
    );
    cursor: pointer;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    display: flex;
    align-items: center;
    padding-left: 24px;

    &:hover,
    &:focus {
      background-color: pal(gray, light);
      transition: background-color 0.2s ease;
      cursor: pointer;
    }

    &--back {
      padding: 6px 15px;
    }
  }

  &__parent-option {
    @include copy($font-size: 14);
  }
}
