@import '../../../../../styles.scss';

button {
  width: 100%;
  display: flex;
  align-items: center;

  &:focus {
    background-color: darken(pal(gray, extreme-light), 1%);
  }
}

.inactive {
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 1px solid pal(gray, mid-light);
  position: absolute;
  margin-right: 10px;
  top: 7px;
  right: 4px;
}

.search-icon {
  top: 15px;
  right: 15px;
}

.go-to-category {
  position: absolute;
  top: 10px;
  right: 20px;
}

.parent-option {
  @include font(14, normal);

  &-box {
    padding: 6px 15px;
    border-top: none;
    cursor: pointer;
  }
}

//.targeting-custom-option {
//  border: solid 1px pal(gray, light);
//}

.option {
  &:hover {
    background-color: darken(pal(gray, extreme-light), 1%);
    transition: background-color 0.2s ease;
    cursor: pointer;
  }
}

.targeting-custom-option {
  display: flex;
}
