@import '../../../../../styles.scss';

.targeting-select {
  &__input {
    @include input($max-width: initial);
    width: 100%;
  }

  &__input-icon {
    margin-right: 10px;
  }

  &__search-icon {
    position: absolute;
    top: 13px;
    right: 20px;
  }

  &__option-cross {
    width: 13px;
    height: 13px;
    position: absolute;
    top: 12px;
    left: 6px;
    border: 1px solid pal(navy, light);

    &:before, &:after {
      content: '';
      position: absolute;
      background: pal(navy, light);
    }

    &:before {
      top: 1px;
      left: 5px;
      width: 1px;
      height: 9px;
    }

    &:after {
      left: 1px;
      top: 5px;
      height: 1px;
      width: 9px;
    }
  }

  &__search-icon {
    top: 15px;
  }

  &__help-icon {
    margin-left: 4px;
    color: pal(blue, base);
  }

  &__option {
    @include container(
      $border-color: pal(gray, light),
      $padding-vertical: 8px,
      $padding-horizontal: 15px,
      $margin-top: 0
    );
    @include copy(
      $color: pal(navy, light),
      $font-weight: semi);
    border-top: none;
    cursor: pointer;
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 24px;

    &:hover,
    &:focus {
      background-color: darken(pal(gray, extreme-light), 1%);
      transition: background-color 0.2s ease;
      cursor: pointer;
    }

    &--back {
      padding: 6px 15px;
    }
  }

  &__parent-option {
    @include copy($font-size: 14)
  }
}
