<div class="dwmth-form-input__box">
  <input
    [(ngModel)]="searchTerm"
    (input)="onSearchTermChange()"
    class="
      dwmth-form-input
      dwmth-form-input--full"
    data-test="common-targeting-select-search-input"
  >
  <img
    src="/assets/images/search.svg"
    alt="Search Icon"
    class="
      search-icon
      absolute"
  >
</div>

<div
  *ngIf="backAvailable"
  (click)="changeViewModel(parentViewModel)"
  class="
    dwmth-box
    dwmth-box--light-border
    parent-option-box"
  data-test="common-targeting-select-navigate-to-parent-button"
>
  <img
    src="/assets/images/chevron--left.svg"
    alt=""
  >
  <span
    class="
      dwmth-copy
      parent-option"
    data-test="common-targeting-select-parent-option"
  >
    {{ parentOption.label }}
  </span>
</div>

<div
  class="
    dwmth-box
    dwmth-box--light-border
    dwmth-box--no-top-border
    option
    relative"
  *ngIf="parentOption && parentOption.allow_input"
  (click)="addCustomOption()"
  data-test="common-targeting-select-add-dwmth-option-button"
>
  <span
    class="
      dwmth-copy
      dwmth-copy--x-dark
      dwmth-copy--semi">
    Add custom
  </span>
</div>

<div *ngFor="let option of viewModel">
  <div
    class="
      dwmth-box
      dwmth-box--light-border
      dwmth-box--no-top-border
      option
      relative"
    *ngIf="!optionsHasValue"
    (click)="handleOptionClick(option)"
    data-test="common-targeting-select-option"
  >
    <span
      class="
        dwmth-copy
        dwmth-copy--x-dark
        dwmth-copy--semi"
      data-test="common-targeting-select-option-label"
    >
      {{ option.label }}
    </span>

    <img
      class="go-to-category"
      src="/assets/images/chevron--right.svg"
      alt="Go to category icon"
    >
  </div>

  <div
    class="
      dwmth-box
      dwmth-box--light-border
      dwmth-box--no-top-border
      option
      relative"
    *ngIf="optionsHasValue"
    (click)="toggleItem(option)"
  >
    <span
      class="
        dwmth-copy
        dwmth-copy--x-dark
        dwmth-copy--semi"
    >
      {{ option.label }}
    </span>
    <span [ngClass]="{'input-valid': option.selected}"
      class="checkmark-unselected"
    ></span>
  </div>
</div>

