<div class="dwmth-form-input__box">
  <input
    #searchInput
    [(ngModel)]="searchTerm"
    (input)="onSearchTermChange()"
    title="Search for targeting option"
    class="
      dwmth-form-input
      dwmth-form-input--full"
    data-test="common-targeting-select-search-input"
  >
  <img
    src="/assets/images/search.svg"
    alt=""
    class="
      dwmth-icon--prepend
      search-icon
      absolute"
  >
</div>

<button
  tabindex="0"
  *ngIf="backAvailable"
  (click)="changeViewModel(parentViewModel)"
  role="button"
  class="
    dwmth-box
    dwmth-box--no-margin
    dwmth-box--light-border
    parent-option-box"
  data-test="common-targeting-select-navigate-to-parent-button"
>
  <img
    class="dwmth-icon--prepend"
    src="/assets/images/chevron--left.svg"
    alt="Go back"
  >
  <span
    class="
      dwmth-copy
      parent-option"
    data-test="common-targeting-select-parent-option"
  >
    {{ parentOption.label }}
  </span>
</button>

<ul *ngFor="let option of viewModel">
  <li class="dwmth-box--light-border
             dwmth-box--no-top-border">
    <button
      *ngIf="!optionsHasValue && !option.allowInput"
      [tabindex]="0"
      class="
      dwmth-box
      dwmth-box--no-margin
      dwmth-box--no-border
      option
      relative"
      (click)="handleOptionClick(option)"
      data-test="common-targeting-select-option"
    >
    <span
      class="
        dwmth-copy
        dwmth-copy--x-dark
        dwmth-copy--semi"
      data-test="common-targeting-select-option-label"
    >
      {{ option.label }}
    </span>

      <img
        class="go-to-category"
        src="/assets/images/chevron--right.svg"
        alt="Go to category"
      >
    </button>
    <app-targeting-custom-option-input
      *ngIf="option.allowInput"
      [option]="option"
      (itemsChange)="handleAddCustomItem($event, option)">
    </app-targeting-custom-option-input>
    <button
      *ngIf="optionsHasValue"
      [tabindex]="0"
      class="
      dwmth-box
      dwmth-box--no-margin
      dwmth-box--no-border
      dwmth-box--no-top-border
      option
      relative"
      (click)="toggleItem(option)"
    >
    <span
      class="
        dwmth-copy
        dwmth-copy--x-dark
        dwmth-copy--semi"
    >
      {{ option.label }}
    </span>
      <span [ngClass]="{'input-valid': option.selected}"
            class="checkmark-unselected"
      ></span>
    </button>
  </li>
</ul>
