@import '../../../../../styles.scss';

button {
  width: 100%;
}

.inactive {
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 1px solid #d3d7dc;
  position: absolute;
  margin-right: 10px;
  top: 17px;
  right: 4px;
}

.search-icon {
  top: 15px;
  right: 15px;
}

.go-to-category {
  position: absolute;
  top: 20px;
  right: 20px;
}

.parent-option {
  @include font(12, normal);

  &-box {
    padding: 6px 15px;
    border-top: none;
  }
}

.adsh-box.active {
  background-color: #fdfdfd;
  transition: background-color 0.2s ease;
}
