@import '../../../../styles';

.table-nav {
  @include container();
  border-bottom: 1px solid pal(gray);
  display: flex;
  justify-content: space-between;
  width: 100%;

  &__row {
    display: flex;
    align-items: center;
  }

  .status-cell-width {
    @include status-cell;
  }
}
