@import "../../../../styles";

.table-nav {
  @include container();
  display: flex;
  justify-content: space-between;
  margin: 0;
  width: 100%;

  &__row {
    @include copy($font-weight: semi);
    display: flex;
    align-items: center;
  }

  .status-cell-width {
    @include status-cell;
  }
}
