@import "../../../../styles";

.table-nav {
  @include container($border-color: pal(gray));
  display: flex;
  justify-content: space-between;
  width: 100%;

  &__row {
    @include copy($font-weight: semi);
    display: flex;
    align-items: center;
    &:last-child {
      justify-content: flex-end;
    }
  }

  .status-cell-width {
    @include status-cell;
  }
}
