<thead class="table-nav">
  <tr
    *ngFor="let menuItem of navigationItems"
    class="ap-copy table-nav__row"
    [ngClass]="menuItem.columnWidth"
    (click)="sortTableByColumn(menuItem)"
    data-test="common-sort-assets-toggle">
    {{
      menuItem.title
    }}
    <th scope="col" *ngIf="!menuItem.hideArrows" class="col ap-posters-list__sort">
      <div class="ap-sort-triangle" [class.active]="!menuItem.sortedDesc && menuItem.isSortedBy"></div>
      <div
        class="ap-sort-triangle ap-sort-triangle--down"
        [class.active]="menuItem.sortedDesc && menuItem.isSortedBy"></div>
    </th>
  </tr>
</thead>
