<thead class=" adsh-box table-nav__header">
<tr
  *ngFor="let menuItem of navigationItems"
  class="
    row
    align-center
    adsh-copy--semi"
  [ngClass]="menuItem.columnWidth"
  (click)="sortTableByKey(menuItem)"
  data-test="common-sort-assets-toggle"
>
  {{ menuItem.title }}
   <th
    *ngIf="!menuItem.hideArrows"
    class="
      col
      adsh-ad-list__sort"
  >
    <div
      class="adsh-sort-triangle"
      [class.active]="!menuItem.sortAsc && menuItem.isSortedBy"
    ></div>
    <div
      class="
        adsh-sort-triangle
        adsh-sort-triangle--down"
      [class.active]="menuItem.sortAsc && menuItem.isSortedBy"
    ></div>
  </th>
</tr>
</thead>

