<tr class="publisher-list-item">
  <td class="col-xs-3 publisher-list-item__cell group">
    <div>
      <span class="domain" *ngFor="let domain of domainsInfo(publisher)">
        <a
          class="domain-checker q-{{ rankQuality(domain.rank, domain.info) }}"
          [href]="getAdUserInfoUrl(domain.domain)"
          target="_blank"
          rel="noopener"
          [title]="domain.info">
          {{ pageRank(domain.rank) }}
        </a>
        <a [href]="domain.url" target="_blank">
          {{ domain.name }}
        </a>
      </span>
    </div>
  </td>

  <td class="col-xs-3 publisher-list-item__cell group ap-copy--semi">
    <div>
      <button
        [disabled]="!canImpersonate(userId)"
        *ngFor="let userId of publisher.userIds"
        (click)="handleImpersonating(userId)"
        class="ap-icon-btn">
        <fa-icon [icon]="faIconImpersonation" class="ap-icon"></fa-icon>
      </button>
      {{ publisher.email }}
    </div>
  </td>

  <td class="col-xs-1-2 publisher-list-item__cell group-start ap-copy--tnum">
    {{ publisher.views | number }}
  </td>

  <td
    class="col-xs-1-2 publisher-list-item__cell change ap-copy--tnum"
    [ngClass]="{
      change__positive: publisher.viewsChange > 0,
      change__negative: publisher.viewsChange < 0
    }">
    <div>{{ publisher.viewsDiff | number }}</div>
    <div>{{ publisher.viewsChange | percent : '1.1-1' }}</div>
  </td>

  <td class="col-xs-1-2 publisher-list-item__cell group-start ap-copy--tnum">
    {{ publisher.ivr | percent : '1.2-2' }}
  </td>

  <td
    class="col-xs-1-2 publisher-list-item__cell change ap-copy--tnum"
    [ngClass]="{
      change__positive: publisher.ivrChange > 0,
      change__negative: publisher.ivrChange < 0
    }">
    <div>{{ publisher.ivrDiff * 100 | number : '1.2-2' }}</div>
    <div>{{ publisher.ivrChange | percent : '1.1-1' }}</div>
  </td>

  <td class="col-xs-1-2 publisher-list-item__cell group-start ap-copy--tnum">
    {{ publisher.clicks | number }}
  </td>

  <td
    class="col-xs-1-2 publisher-list-item__cell change ap-copy--tnum"
    [ngClass]="{
      change__positive: publisher.clicksChange > 0,
      change__negative: publisher.clicksChange < 0
    }">
    <div>{{ publisher.clicksDiff | number }}</div>
    <div>{{ publisher.clicksChange | percent : '1.1-1' }}</div>
  </td>

  <td class="col-xs-1-2 publisher-list-item__cell group-start ap-copy--tnum">
    {{ publisher.ctr | percent : '1.2-2' }}
  </td>

  <td
    class="col-xs-1-2 publisher-list-item__cell change ap-copy--tnum"
    [ngClass]="{
      change__positive: publisher.ctrChange > 0,
      change__negative: publisher.ctrChange < 0
    }">
    <div>{{ publisher.ctrDiff * 100 | number : '1.2-2' }}</div>
    <div>{{ publisher.ctrChange | percent : '1.1-1' }}</div>
  </td>

  <td class="col-xs-1-2 publisher-list-item__cell group-start ap-copy--tnum">
    {{ publisher.revenue | formatMoney : 2 }}
  </td>

  <td
    class="col-xs-1-2 publisher-list-item__cell change ap-copy--tnum"
    [ngClass]="{
      change__positive: publisher.revenueChange > 0,
      change__negative: publisher.revenueChange < 0
    }">
    <div>{{ publisher.revenueDiff | formatMoney : 2 : 'other' : 'none' }}</div>
    <div>{{ publisher.revenueChange | percent : '1.1-1' }}</div>
  </td>

  <td class="col-xs-1-2 publisher-list-item__cell group-start ap-copy--tnum">
    {{ publisher.rpm | formatMoney : 2 }}
  </td>

  <td
    class="col-xs-1-2 publisher-list-item__cell change ap-copy--tnum"
    [ngClass]="{
      change__positive: publisher.rpmChange > 0,
      change__negative: publisher.rpmChange < 0
    }">
    <div>{{ publisher.rpmDiff | formatMoney : 2 : 'other' : 'none' }}</div>
    <div>{{ publisher.rpmChange | percent : '1.1-1' }}</div>
  </td>
</tr>
