@import '../../../../../styles';

.publisher-list-item {
  @include container();
  border-bottom: 1px solid pal(gray);
  display: flex;
  justify-content: space-between;

  &__cell {
    @include copy($font-size: 16);
    display: flex;
    align-items: center;
  }

  .domain:not(:first-child) {
    margin-left: 5px;
  }

  .change {
    font-size: 80%;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: center;

    &__positive {
      color: pal(success);
    }
    &__negative {
      color: pal(error);
    }
  }

  .group {
    position: relative;
    overflow: visible !important;
    padding: 0 !important;
    @include copy($color: pal(primary), $font-weight: semiBold, $font-size: 16);

    > div {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .domain-checker {
    display: inline-block;
    width: 35px;
    border: 1px solid pal(gray);
    border-radius: 10px;
    color: pal(gray);
    padding: 1px;
    margin-right: 5px;
    text-align: center;

    &.q-great {
      border-color: pal(success);
      color: pal(success);
    }

    &.q-good {
      border-color: pal(secondary);
      color: pal(secondary);
    }

    &.q-medium {
      border-color: pal(warning);
      color: pal(warning);
    }

    &.q-bad {
      border-color: pal(error);
      color: pal(error);
    }
  }

  .align-right {
    justify-content: flex-end;
  }
}
