.filters {
  margin: 4px 0 20px;

  .dwmth-select {
    height: 30px;
  }
}
.details-filters {
  min-width: 40%;
  display: flex;
}

.chart-filter__select--wider{
  min-width: 150px;
}
.user-filters {
  max-width: 400px;
  display: flex;
  flex-wrap: nowrap;

  &__select-wrapper {
    max-width: 200px;
  }
}
