.filters {
  margin: 4px 0 20px;

  .ap-select {
    height: 34px;
  }
}
.details-filters {
  min-width: 40%;
  display: flex;
}

.chart-filter__select--wider {
  min-width: 150px;
}
.user-filters {
  max-width: 400px;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;

  &__select-wrapper {
    max-width: 200px;
  }
}
