.adsh-btn {
  border: none;
  border-radius: 2px;
  padding: 12px 25px;
  @include font(14, medium);
  color: pal(white);
  background: transparent;

  &--wide {
    padding: 12px 60px;
    max-width: none;
  }

  &--small {
    padding: 6px 15px;
  }

  &--with-icon {
    padding: 12px 25px 12px 18px;
  }

  &-block {
    width: 100%;
  }

  &--faded {
    opacity: 0.15;
  }

  &--submit {
    margin-top: 36px;
  }

  &--white {
    border: 1px solid pal(gray, light);
  }
}
