.adsh-btn {
  border: none;
  border-radius: 2px;
  padding: 12px 25px;
  @include font(14, medium);
  color: pal(white);
  background: transparent;
  transition: background-color 0.2s ease;
  max-height: 52px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;

  &--wide {
    padding: 12px 60px;
    max-width: none;
  }

  &--small {
    padding: 6px 15px;
  }

  &--with-icon {
    padding: 12px 25px 12px 18px;
  }

  &-block {
    width: 100%;
  }

  &--faded {
    opacity: 0.15;
  }

  &--submit {
    margin-top: 36px;
  }

  &--white {
    background-color: pal(white);
    border: 1px solid pal(gray, light);

    &:hover {
      background-color: darken(pal(white), 1.2);
    }
  }

  &--blue {
    background-color: pal(blue);
    min-width: 160px;

    &:hover {
      background-color: darken(pal(blue), 2);
    }
  }

  &--green {
    background-color: pal(green);

    &:hover {
      background-color: darken(pal(green), 2);
    }
  }

  &--no-border {
    border: none;
  }
}
