.chart {
  &-box {
    display: none;

    @include media(md-up) {
      display: block;
      flex-basis: calc(50% - 5px);
      max-width: calc(50% - 5px);
      margin: 5px 0;
    }

    @include media(xxl-up) {
      flex-basis: calc(33% - 5px);
      max-width: calc(33% - 5px);
    }
  }

  &-name {
    text-transform: capitalize;

    &--uppercase {
      text-transform: uppercase;
    }
  }

  &-stats {
    margin-bottom: 20px;
  }

  &-change {
    @include font(14, bold);
    color: pal(secondary);
    margin-left: 10px;
  }
}

#chartjs-tooltip {
  position: relative;
  background: pal(primary);

  :before {
    content: '';
    position: absolute;
    @include center(vertical);
    left: -6px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 6px 6px 0;
    border-color: transparent pal(primary) transparent transparent;
  }

  & > table {
    table-layout: auto;
  }

  .chartjs-tooltip__title {
    color: pal(secondary);
    @include font(14, semiBold);
  }
}
