.chart {

  &-box {
    display: none;

    @include media(md-up) {
      display: block;
      flex-basis: calc(50% - 5px);
      max-width: calc(50% - 5px);
      margin: 5px 0;
    }

    @include media(xl-up) {
      flex-basis: calc(33% - 5px);
      max-width: calc(33% - 5px);
    }

  }

  &-name {
    text-transform: capitalize;

    &--uppercase {
      text-transform: uppercase;
    }
  }

  &-stats {
    margin-bottom: 20px;
  }

  &-change {
    @include font(10, bold);
    color: pal(blue);
    margin-left: 10px;
  }
}
