$palette-colors: (
  black: (
    mid-light: #505970,
    base: #000
  ),
  gray: (
    nearly-white: #f0f0f0,
    extreme-light: #fbfbfb,
    ultra-light: #f8f9fc,
    x-light: #f5f7fc,
    light: #eceef3,
    semi-light: #e7e9f1,
    mid-light: #d3d7dc,
    base: #aebac7,
    light-dark: #abb4bd,
    mid-dark: #6c6d6e, // previously: #99a3ae,
    dark: #4e576e
  ),
  white: (
    base: #fff
  ),
  navy: (
    faded: #1b274b,
    light: #1f2d54,
    base: #121f3e
  ),
  green: (
    light: #e9faf2,
    base: #24d17e,
    dark: #008000c4
  ),
  orange: (
    dark: #ff9931,
    light: #e9faf2,
    base: #faf2cc
  ),
  blue: (
    light: #e0eefd,
    base: #55a8fd
  ),
  red: (
    light: #fff2f2,
    base: #ff7e7e,
    dark: #f0001e,
  )
);

$main_colors: white, navy, blue, green, red, orange;


@function palette($palette, $tone: 'base') {
  @return map-get(map-get($palette-colors, $palette), $tone);
}

@function pal($palette, $tone: 'base') {
  @return palette($palette, $tone);
}
