:root {
  --primary: #003d4d;
  --secondary: #96dfef;
  --primary-alt: #002f36;
  --secondary-alt: #bff7ff;
  --body-bg: #dfdfdf;
  --body-color: #000000;
  --dark: #000000;
  --light: #ffffff;
  --gray: #bfbfbf;
  --danger: #ff414d;
  --danger-bg: #ffa0a6;
  --warning: #ffb400;
  --warning-bg: #f8e7bf;
  --success: #19ad42;
  --success-bg: #8debc8;
  --info: #003d4d;
  --info-bg: #96dfef;
  --muted: #606060;
  --muted-bg: #809EA6;
}

$primary: var(--primary);
$secondary: var(--secondary);
$primary-alt: var(--primary-alt);
$secondary-alt: var(--secondary-alt);
$body-bg: var(--body-bg);
$body-color: var(--body-color);
$dark: var(--dark);
$light: var(--light);
$gray: var(--gray);
$danger: var(--danger);
$danger-bg: var(--danger-bg);
$warning: var(--warning);
$warning-bg: var(--warning-bg);
$success: var(--success);
$success-bg: var(--success-bg);
$info: var(--info);
$info-bg: var(--info-bg);
$muted: var(--muted);
$muted-bg: var(--muted-bg);

$palette-colors: (
  primary: (
    base: $primary,
    dark: $primary-alt,
    light: $muted-bg,
  ),
  secondary: (
    base: $secondary,
    light: $secondary-alt,
  ),
  primary-alt: (
    base: $primary-alt,
  ),
  secondary-alt: (
    base: $secondary-alt,
  ),
  body-bg: (
    base: $body-bg,
  ),
  body-color: (
    base: $body-color,
  ),
  dark: (
    base: $dark,
  ),
  light: (
    base: $light,
  ),
  gray: (
    base: $gray,
    light: $body-bg,
  ),
  error: (
    base: $danger,
    dark: #a0000a,
    light: $danger-bg,
  ),
  error-bg: (
    base: $danger-bg,
  ),
  warning: (
    base: $warning,
    light: $warning-bg,
  ),
  warning-bg: (
    base: $warning-bg,
  ),
  success: (
    base: $success,
    light: $success-bg,
  ),
  success-bg: (
    base: $success-bg,
  ),
  info: (
    base: $info,
  ),
  info-bg: (
    base: $info-bg,
  ),
  transparent: (
    base: transparent,
  )
);

$main_colors: light, primary, secondary, success, error, warning;

@function palette($palette, $tone: 'base') {
  @return map-get(map-get($palette-colors, $palette), $tone);
}

@function pal($palette, $tone: 'base') {
  @return palette($palette, $tone);
}
