@import './dialog.scss';

/*
  Dots / Icons / Navigation icon styling / Validation icon styling
*/

.ap-logo {
  height: auto;
  max-width: 200px;
  max-height: 40px;
}

.ap-circle {
  $module: &;

  width: 18px;
  height: 18px;
  border-radius: 50%;
  position: relative;

  &--small {
    width: 10px;
    height: 10px;
  }

  &--x-small {
    width: 5px;
    height: 5px;
  }

  &.inactive {
    border: 1px solid pal(gray);
  }

  &.active {
    background: pal(success, light);
    border: 1px solid pal(success);
  }

  &.done {
    background: pal(success);

    &:after {
      content: '';
      position: absolute;
      top: 4px;
      left: 6px;
      width: 3px;
      height: 6px;
      border: solid pal(light);
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
    }
  }

  &--blue {
    background: pal(secondary);
  }

  &--navy {
    background: pal(primary);
  }

  &--green {
    background: pal(success);

    &#{$module}--empty {
      background: pal(success, light);
      border: 1px solid pal(success);
    }
  }

  &--with-icon {
    position: relative;
  }

  &--navigating {
    margin-right: 10px;
  }
}

.ap-step-link-indicator {
  width: 64px;
  margin: 0 30px;
  border: 1px dashed pal(gray);
}

.ap-icon {
  &--prepend {
    margin-right: 10px;

    &.close {
      margin-right: 8px;
    }
  }

  &--append {
    margin-left: 15px;

    &.close {
      margin-left: 8px;
    }
  }

  &--small {
    height: 10px;
  }

  &--large {
    height: 24px;
  }

  &--help {
    cursor: pointer;
    font-size: 22px;
    height: 45px;
    display: flex;
    align-items: center;
    align-self: flex-end;
    color: pal(secondary, base);
  }
}

.ap-chevron {
  &:before {
    border-color: pal(primary);
    border-style: solid;
    border-width: 0.15em 0.15em 0 0;
    content: '';
    display: inline-block;
    height: 4px;
    left: 7px;
    position: absolute;
    top: 5px;
    transform: rotate(135deg);
    vertical-align: top;
    width: 4px;
  }

  &--left:before {
    transform: rotate(225deg);
  }

  &--right:before {
    transform: rotate(45deg);
  }

  &--up:before {
    transform: rotate(-45deg);
  }

  &--white:before {
    border-color: pal(light);
  }

  &--gray:before {
    border-color: pal(gray);
  }

  &--standalone {
    position: initial;
  }
}

.ap-sort-triangle {
  width: 5px;
  height: 7px;
  border-bottom: solid 5px pal(gray);
  border-left: solid 4px transparent;
  border-right: solid 4px transparent;
  margin: 1px;

  &.active {
    border-bottom: solid 5px pal(secondary);
  }

  &--down {
    transform: rotate(180deg);
  }
}

/*
  boxes
*/

.ap-box {
  border-radius: 10px;
  background-color: pal(light);
  padding: 12px 22px 22px 22px;
  box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.25), 4px 4px 5px rgba(0, 0, 0, 0.25);

  &:not(:first-child) {
    margin-top: 24px;
  }

  & .box-title {
    padding: 16px;
  }

  & .box-content {
    padding: 12px 16px 16px 16px;
  }

  & .box-subtitle {
    margin-top: 4px;
    line-height: 24px;
  }
}

.poster-unit {
  text-align: center;
  background: transparent;
  padding: 8px;
  border-radius: 10px;
  border: 2px solid pal(gray);
  cursor: pointer;
  pointer-events: all;
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: center;
  transition: 0.3s ease;
  box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.25), 4px 4px 5px rgba(0, 0, 0, 0.25);

  .selected-icon {
    color: pal(gray);
    vertical-align: middle;
    display: inline-block;
    width: 20px;
    height: 20px;
  }

  &:hover {
    box-shadow: inset 4px 4px 5px rgba(0, 0, 0, 0.25), 0 0 0 rgba(0, 0, 0, 0.25);
  }

  &--selected {
    box-shadow: inset 4px 4px 5px rgba(0, 0, 0, 0.25), 0 0 0 rgba(0, 0, 0, 0.25);

    .selected-icon {
      color: pal(success);
    }
  }
}

.ap-chip-box {
  background-color: transparent;
  color: pal(secondary);
  @include font(14, semiBold);
  padding: 7px;
  border-radius: 2px;
  display: inline-table;
  margin: 0 2px;
  text-transform: uppercase;

  &--dark {
    color: pal(primary);
  }
}

/*
  background and text colors
*/

@each $color in $main_colors {
  .ap-#{'' + $color} {
    color: pal($color);
  }

  .ap-bg-#{'' + $color} {
    background-color: pal($color);
  }
}

.ap-bg-navy--light {
  background-color: pal(primary);
}

.ap-bg-gray--light {
  background-color: pal(gray);
}

.ap-header-bg {
  background: pal(primary);
}

/*
  positioning
*/

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

/*
  status
*/

.ap-status {
  @include font(14, semiBold);
  text-transform: uppercase;
  width: 100%;
  max-width: 150px;
  border: none;
  border-radius: 10px;
  padding: 4px 8px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: pal(primary);

  & .mat-select-arrow {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    margin: 0 0 0 3px;
  }

  &[data-status='active'],
  &[data-status='active'] .mat-select-arrow {
    background-color: pal(success, light);
    color: pal(success);
  }

  &[data-status='inactive'],
  &[data-status='inactive'] .mat-select-arrow {
    background-color: pal(secondary, light);
    color: pal(primary);
  }

  &[data-status='suspended'],
  &[data-status='suspended'] .mat-select-arrow,
  &[data-status='outdated'],
  &[data-status='outdated'] .mat-select-arrow {
    background-color: pal(error, light);
    color: pal(error);
  }

  &[data-status='archived'],
  &[data-status='archived'] .mat-select-arrow,
  &[data-status='awaiting'],
  &[data-status='awaiting'] .mat-select-arrow,
  &[data-status='draft'],
  &[data-status='draft'] .mat-select-arrow {
    background-color: pal(gray, light);
    color: pal(primary);
  }

  &[data-status='pending'],
  &[data-status='pending'] .mat-select-arrow {
    background-color: pal(gray, light);
    color: pal(primary);
    cursor: not-allowed;
  }

  &[data-status='rejected'],
  &[data-status='rejected'] .mat-select-arrow {
    background-color: pal(error, light);
    color: pal(error);
    cursor: not-allowed;
  }

  &--btn {
    min-width: auto;
    width: auto;

    &[data-status='active'] {
      color: pal(success, light);
    }
  }
}

.ap-posters-list__sort {
  margin-left: 6px;
}

/*
  spinner
*/

.loading-wrapper {
  padding: 30px;
  display: flex;
  justify-content: center;
}

/*
  campaign and site details
*/

.breadcrumbs {
  margin: 6px 0;

  &-divider {
    margin: 0 10px;
  }
}

.chart {
  height: 100%;
  width: 100%;
}

.clickable-area {
  padding: 30px 0;
}

.clickable-row {
  padding: 16px 0.5em;
  margin: -16px 0;

  &:hover {
    cursor: pointer;
  }
}

.clickable-row-a {
  display: block;
  width: 100%;
  padding: 16px 0.5em;
  margin: -16px 0;
}

.ap-tooltip {
  padding: 20px 25px;
  min-width: 200px;
  max-width: 300px;
  background: pal(light);
  color: pal(light);
  @include center(vertical);
  left: 75%;
  opacity: 0;
  transition: all 0.3s ease;

  &.active {
    opacity: 1;
    left: 78%;
    z-index: 999;
    box-shadow: 3px 6px 20px 0 rgba(38, 58, 124, 0.04);
  }

  .triangle {
    content: '';
    @include center(vertical);
    left: -30px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 30px 40px 30px 0;
    border-color: transparent pal(light) transparent transparent;
  }
}

// targeting

.break-word {
  word-wrap: break-word;
}

.status-wrapper {
  min-width: 140px;
  margin-right: 8px;

  &__list-item {
    padding: 4px;

    .mat-select-value {
      display: none;
    }
  }

  .ap-select {
    border: 1px solid pal(gray);
  }
}

.status-button-wrapper {
  [data-status='active'] {
    color: pal(success, light);
  }

  .ap-copy[data-status='inactive'],
  .ap-copy[data-status='suspended'],
  .ap-copy[data-status='archived'],
  .ap-copy[data-status='draft'] {
    color: pal(error, light);
  }
}

.ap-targeting-display__preview {
  margin-left: 26px;
}

.ap-mat-tooltip {
  font-size: 1rem;
  background-color: pal(primary);
}

.hidden {
  display: none !important;
}

.visible {
  display: block !important;
}

.admin-param__submit {
  margin-top: 30px;
}

.ap-textarea {
  padding: 8px;
  border-radius: 3px;
  min-height: 150px;
  max-width: 1000px;
  overflow-y: auto;
  resize: vertical;
}

.ap-info-box {
  max-width: 100%;
  display: inline-flex;
  align-items: center;
}

.now_payments_logo {
  @include font-weight(normal);
  color: pal(primary);

  > span {
    color: #79b8fc;
  }
}

.ap-auth-container {
  @media screen and (max-width: $sm-breakpoint) {
    padding: 48px 50px
  }

  @media screen and (min-width: $sm-breakpoint) and (max-width: $md-breakpoint) {
    padding: 48px 150px
  }

  @media screen and (min-width: $md-breakpoint) {
    padding: 48px 205px
  }
}
