.ap-dialog-close {
  cursor: pointer;
  padding: 10px;
  border: 1px solid pal(gray);
  border-radius: 4px;
  position: absolute;
  top: 16px;
  right: 16px;

  &:before,
  &:after {
    position: absolute;
    top: 4px;
    left: 9px;
    content: '';
    width: 2px;
    height: 12px;
    display: block;
    background-color: pal(primary);
  }

  &:before {
    transform: rotate(45deg);
  }

  &:after {
    transform: rotate(-45deg);
  }
}

.ap-error {
  color: pal(error);
}

.ap-success {
  color: pal(success);
}

.ap-multiline {
  white-space: pre-wrap;
}

.dialog-main-content {
  text-align: left;
  margin: 30px 0;

  @include media(md-up) {
    margin: 50px 0;
  }

  &--short {
    margin: 40px 0;
  }
}
