.container {
  padding: 0 10%;
}


.container-fluid,
.container {
  margin-right: auto;
  margin-left: auto;
}

.container-fluid {
  padding-right: 2rem;
  padding-left: 2rem;
}

.row {
  box-sizing: border-box;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;

  &.reverse {
    flex-direction: row-reverse;
  }
}

.col {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.col.reverse {
  flex-direction: column-reverse;
}

$column_sizes: 11;
$viewport_sizes: 'xs', 'sm', 'md', 'lg', 'xl';

@each $viewport_size in $viewport_sizes {
  .col-#{$viewport_size} {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
  }
}

@each $viewport_size in $viewport_sizes {
  @include xs-up {
    @for $i from 0 through $column_sizes {
      @each $viewport_size in $viewport_sizes {
        .col-#{$viewport_size}-#{$i} {
          flex-basis: $i/12 * 100%;
          max-width: $i/12 * 100%;
        }

        .col-#{$viewport_size}-offset-#{$i} {
          margin-left: $i/12 * 100%;
        }
      }
    }
  }
}

@each $viewport_size in $viewport_sizes {
  @include sm-up {
    @for $i from 0 through $column_sizes {
      @each $viewport_size in $viewport_sizes {
        .col-#{$viewport_size}-#{$i} {
          flex-basis: $i/12 * 100%;
          max-width: $i/12 * 100%;
        }

        .col-#{$viewport_size}-offset-#{$i} {
          margin-left: $i/12 * 100%;
        }
      }
    }
  }
}

@each $viewport_size in $viewport_sizes {
  @include md-up {
    @for $i from 0 through $column_sizes {
      @each $viewport_size in $viewport_sizes {
        .col-#{$viewport_size}-#{$i} {
          flex-basis: $i/12 * 100%;
          max-width: $i/12 * 100%;
        }

        .col-#{$viewport_size}-offset-#{$i} {
          margin-left: $i/12 * 100%;
        }
      }
    }
  }
}

@each $viewport_size in $viewport_sizes {
  @include lg-up {
    @for $i from 0 through $column_sizes {
      @each $viewport_size in $viewport_sizes {
        .col-#{$viewport_size}-#{$i} {
          flex-basis: $i/12 * 100%;
          max-width: $i/12 * 100%;
        }

        .col-#{$viewport_size}-offset-#{$i} {
          margin-left: $i/12 * 100%;
        }
      }
    }
  }
}

@each $viewport_size in $viewport_sizes {
  @include xl-up {
    @for $i from 0 through $column_sizes {
      @each $viewport_size in $viewport_sizes {
        .col-#{$viewport_size}-#{$i} {
          flex-basis: $i/12 * 100%;
          max-width: $i/12 * 100%;
        }

        .col-#{$viewport_size}-offset-#{$i} {
          margin-left: $i/12 * 100%;
        }
      }
    }
  }
}

.align-start {
  align-items: flex-start;
}

.align-center {
  align-items: center;
}

.align-end {
  align-items: flex-end;
}

.align-stretch {
  align-items: stretch;
}

.align-baseline {
  align-items: baseline;
}

.justify-start {
  justify-content: flex-start;
  text-align: start;
}

.justify-center {
  justify-content: center;
  text-align: center;
}

.justify-end {
  justify-content: flex-end;
  text-align: end;
}

.justify-around {
  justify-content: space-around;
}

.justify-between {
  justify-content: space-between;
}

.flex-first {
  order: -1;
}

.flex-last {
  order: 1;
}
