@use 'sass:math';

$fonts: (
  thin: 'Montserrat-Thin',
  extraLight: 'Montserrat-ExtraLight',
  light: 'Montserrat-Light',
  normal: 'Montserrat-Regular',
  medium: 'Montserrat-Medium',
  semiBold: 'Montserrat-SemiBold',
  bold: 'Montserrat-Bold',
  extraBold: 'Montserrat-ExtraBold',
  black: 'Montserrat-Black'
);

@mixin font-face($font-name) {
  @font-face {
    font-family: $font-name;
    src: url('/assets/fonts/#{$font-name}.ttf') format('truetype');
  }
}

@each $font-weight, $font-name in $fonts {
  @include font-face($font-name);
}

@mixin font-weight($font-weight) {
  font-family: map-get($fonts, $font-weight), sans-serif;
  font-style: normal;
  font-weight: normal;
}

@function calculateRem($size) {
  $remSize: math.div($size, 16);
  @return $remSize * 1rem;
}

@mixin font-size($value: 16) {
  font-size: calculateRem($value);
}

@mixin font($font-size: 16, $font-weight: normal) {
  @include font-size($font-size);
  @include font-weight($font-weight);
}
