$fonts: (
  heavy: 'AvenirNext-Heavy',
  bold: 'AvenirNext-Bold',
  light: 'AvenirNext-UltraLight',
  medium: 'AvenirNext-Medium',
  normal: 'AvenirNext-Regular',
  semi: 'AvenirNext-Demi',
  copy: 'AvenirNext-Regular'
);

@mixin font-face($font-name) {
  @font-face {
    font-family: $font-name;
    src: url('/assets/fonts/#{$font-name}.otf') format('opentype');
  }
}

@each $font-weight, $font-name in $fonts {
  @include font-face($font-name);
}

@mixin font-weight($font-weight) {
  font-family: map-get($fonts, $font-weight), sans-serif;
  font-style: normal;
  font-weight: normal;
}

@function calculateRem($size) {
  $remSize: $size / 16;
  @return $remSize * 1rem;
}

@mixin font-size($value: 16) {
  font-size: $value + px;
  font-size: calculateRem($value);
}

@mixin font($font-size: 16, $font-weight: normal) {
  @include font-size($font-size);
  @include font-weight($font-weight);
}
