.checkmark-unselected {
  position: absolute;
  bottom: 9px !important;
  right: 12px;
  width: 16px;
  height: 16px;
  background: pal(white);
  border: 1px solid pal(navy, light);

  &.sub-selected {
    &:after {
      content: '';
      position: absolute;
      top: 2px;
      left: 2px;
      width: 10px;
      height: 10px;
      background: pal(navy, light);
    }
  }

  &.selected {
    &:after {
      content: '';
      position: absolute;
      top: -1px;
      left: 3px;
      width: 6px;
      height: 10px;
      border: solid pal(navy, light);
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
    }
  }
}

.checkmark,
.input-valid {
  position: absolute;
  bottom: 15px;
  right: 14px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: pal(green);

  &:after {
    content: '';
    position: absolute;
    top: 3px;
    left: 5px;
    width: 3px;
    height: 6px;
    border: solid pal(white);
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
}

.stopmark-unselected {
  position: absolute;
  bottom: 7px !important;
  right: 14px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: pal(gray, light);
}

.stopmark-unselected.selected {
  position: absolute;
  bottom: 15px;
  right: 14px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: pal(red);
}

.stopmark-unselected, .stopmark-unselected.selected {
  &:after {
    content: '';
    position: absolute;
    top: 3px;
    left: 5px;
    width: 3px;
    height: 6px;
    border: solid pal(white);
    border-width: 0 3px 0 0;
    transform: rotate(90deg);
  }
}



.dwmth-form {
  &-input__box {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  &-label {
    @include font(16, medium);
    color: pal(gray);
    margin: 10px 0 4px;
    display: inline-block;
  }

  &-input,
  &-select {
    border-radius: 2px;
    background-color: #f8f9fc;
    border: solid 1px pal(gray, light);
    padding: 13px 13px 13px 18px;
    max-width: 320px;
    @include font(16, medium);

    //full input width accounts for input's padding
    &--full {
      max-width: none;
    }

    &--datepicker {
      max-width: 170px;

      &--narrow {
        max-width: 140px;
      }

      .mat-form-field-wrapper,
      .mat-input-element {
        width: 100px !important;
        max-width: 100px !important;

        @include media(xxl-up) {
          width: 150px !important;
          max-width: 150px !important;
        }
      }
    }

    &--narrow {
      padding: 0 13px 0 18px;
    }
  }

  &-submit-btn {
    margin: 35px 0 20px 0;
  }
}

input[type="checkbox"],
input[type="radio"] {
  display: none;
}

label .checkbox-label {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid pal(gray, mid-light);
  position: relative;
  margin-right: 10px;
  vertical-align: text-bottom;

  &--square {
    border-radius: 1px;
  }
}

input[type=checkbox]:checked + label .checkbox-label,
input[type=radio]:checked + label .checkbox-label {
  background: pal(green);
  border: 1px solid pal(green);

  &:after {
    content: '';
    position: absolute;
    top: 3px;
    left: 5px;
    width: 3px;
    height: 6px;
    border: solid pal(white);
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
}

.dwmth-select {
  position: relative;
  width: 100%;
  cursor: pointer;
  border-radius: 2px;
  color: pal(navy);
  @include font(14, semi);
  background: pal(white);
  margin: 0 auto;
  padding: 0 35px 0 15px;
  height: 42px;
  border: 1px solid pal(gray, x-light);
  /* needed */
  appearance: none;
  outline: none;
  box-sizing: border-box;

  &:after {
    position: absolute;
    content: url('/assets/images/chevron.svg');
    display: block;
    @include center(vertical);
    right: 15px;
  }

  .mat-select-trigger {
    height: 100%;
  }

  .mat-select-value {
    text-align: initial;
    vertical-align: middle; // vertically alligned selected value
  }

  .mat-select-arrow {
    border: none; // hide default angular material select arrow
  }
}

.search {
  &:after {
    position: absolute;
    display: block;
    content: url('/assets/images/error_icon.svg');
    top: 12px;
    right: 10px;
  }
}

.error-msg {
  position: relative;
  @include font(14, medium);
  color: pal(red);
  background-color: pal(red, light);
  border: 1px solid pal(red);
  border-radius: 2px;
  margin-top: 5px;
  padding: 8px 32px 8px 8px;
  min-width: 150px;

  &__full-width {
    width: 100%;
  }

  &:not(.error-msg--small):not(.error-msg--irremovable):after {
    position: absolute;
    display: block;
    content: url('/assets/images/error_icon.svg');
    top: 9px;
    right: 5px;
  }

  &--small {
    padding: 6px;
    min-width: 35px;
    font-size: 22px;
    height: 35px;
    line-height: 1;
    text-align: center;
    margin: 0 24px;
  }
}

.success-msg {
  @extend .error-msg;
  color: pal(green);
  background-color: pal(green, light);
  border-color: pal(green);
  padding-right: 30px;

  &:after {
    @extend .error-msg:after;
    content: url('/assets/images/confirm_icon.svg');
  }
}

.warning-msg {
  @extend .error-msg;
  color: pal(black);
  background-color: pal(orange, base);
  border-color: pal(orange);
  padding-right: 30px;

  &:after {
    @extend .error-msg:after;
    content: url('/assets/images/confirm_icon.svg');
  }
}
