.adsh-form {
  &-input__box {
    display: flex;
    flex-direction: column;
  }

  &-label {
    @include font(12, semi);
    color: pal(gray);
    margin: 16px 0 7px;
  }

  &-input,
  &-select {
    border-radius: 2px;
    background-color: #f8f9fc;
    border: solid 1px #eceef3;
    padding: 13px 13px 13px 18px;
    max-width: 320px;
  }

}
