.checkmark-unselected {
  position: absolute;
  bottom: 9px !important;
  right: 12px;
  width: 16px;
  height: 16px;
  background: pal(light);
  border: 1px solid pal(primary);

  &.sub-selected {
    &:after {
      content: '';
      position: absolute;
      top: 2px;
      left: 2px;
      width: 10px;
      height: 10px;
      background: pal(primary);
    }
  }

  &.selected {
    &:after {
      content: '';
      position: absolute;
      top: -1px;
      left: 3px;
      width: 6px;
      height: 10px;
      border: solid pal(primary);
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
    }
  }
}

.checkmark,
.input-valid {
  position: absolute;
  bottom: 15px;
  right: 14px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: pal(success);

  &:after {
    content: '';
    position: absolute;
    top: 3px;
    left: 5px;
    width: 3px;
    height: 6px;
    border: solid pal(light);
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
}

.stopmark-unselected {
  position: absolute;
  bottom: 7px !important;
  right: 14px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: pal(gray);
}

.stopmark-unselected.selected {
  position: absolute;
  bottom: 15px;
  right: 14px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: pal(error);
}

.stopmark-unselected,
.stopmark-unselected.selected {
  &:after {
    content: '';
    position: absolute;
    top: 3px;
    left: 5px;
    width: 3px;
    height: 6px;
    border: solid pal(light);
    border-width: 0 3px 0 0;
    transform: rotate(90deg);
  }
}

.ap-form {
  &-input__box {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  &-label {
    text-align: left;
    margin-bottom: 10px;
    margin-left: 10px;
    @include font(12, medium);
    color: pal(dark);
    display: inline-block;
  }

  &-input,
  &-select {
    border: solid 1px pal(dark);
    border-radius: 10px;
    padding: 13px 13px 13px 18px;
    max-width: 210px;
    min-width: 180px;
    @include font(16, medium);

    &::placeholder {
      color: pal(gray);
      @include font(14, normal)
    }

    &:focus {
      border-color: pal(secondary);
    }

    //full input width accounts for input's padding
    &--full {
      max-width: none;
    }

    &--datepicker {
      max-width: 170px;

      &--narrow {
        max-width: 140px;
      }

      .mat-form-field-wrapper,
      .mat-input-element {
        width: 100px !important;
        max-width: 100px !important;

        @include media(xxl-up) {
          width: 150px !important;
          max-width: 150px !important;
        }
      }
    }

    &--narrow {
      padding: 0 13px 0 18px;
    }

    &[disabled] {
      border-color: pal(gray);
      color: pal(gray);
    }
  }

  &-search-option {
    width: 100%;
    max-width: none;
    position: sticky;
    z-index: 100;
    top: 0;
  }

  &-submit-btn {
    margin: 32px 0;
  }
}

input[type='checkbox'],
input[type='radio'] {
  display: none;
}

label .checkbox-label {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid pal(gray);
  position: relative;
  margin-right: 10px;
  vertical-align: text-bottom;

  &--square {
    border-radius: 1px;
  }
}

input[type='checkbox']:checked + label .checkbox-label,
input[type='radio']:checked + label .checkbox-label {
  background: pal(success);
  border: 1px solid pal(success);

  &:after {
    content: '';
    position: absolute;
    top: 3px;
    left: 5px;
    width: 3px;
    height: 6px;
    border: solid pal(light);
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
}

.ap-select {
  position: relative;
  width: 100%;
  cursor: pointer;
  border-radius: 10px;
  @include font(14, semiBold);
  background: pal(light);
  margin: 0 auto;
  border: 1px solid pal(dark);
  /* needed */
  appearance: none;
  outline: none;
  box-sizing: border-box;

  &:after {
    position: absolute;
    content: url('/assets/images/chevron.svg');
    display: block;
    @include center(vertical);
    right: 15px;
    z-index: 10;
  }

  .mat-select-trigger {
    height: 100%;
    padding: 13px 35px 13px 15px;
    z-index: 20;
  }

  .mat-select-value {
    text-align: initial;
    vertical-align: middle; // vertically aligned selected value
  }

  .mat-select-arrow {
    border: none; // hide default angular material select arrow
  }
}

.search {
  &:after {
    position: absolute;
    display: block;
    content: url('/assets/images/error_icon.svg');
    top: 12px;
    right: 10px;
  }
}

.error-msg {
  position: relative;
  @include font(14, semiBold);
  color: pal(error);
  background-color: pal(error, light);
  border-radius: 10px;
  margin-top: 5px;
  padding: 12px 32px 12px 12px;
  min-width: 150px;

  &__full-width {
    width: 100%;
  }

  &:not(.error-msg--small):not(.error-msg--irremovable):after {
    position: absolute;
    display: block;
    content: url('/assets/images/error_icon.svg');
    top: 13px;
    right: 5px;
  }

  &--small {
    padding: 6px;
    min-width: 35px;
    font-size: 22px;
    height: 35px;
    line-height: 1;
    text-align: center;
    margin: 0 24px;
  }
}

.success-msg {
  @extend .error-msg;
  color: pal(success);
  background-color: pal(success, light);
  border-color: pal(success);
  padding-right: 30px;

  &:after {
    position: absolute;
    display: block;
    content: url('/assets/images/confirm_icon.svg');
    top: 13px;
    right: 5px;
  }
}

.warning-msg {
  @extend .error-msg;
  color: pal(warning);
  background-color: pal(warning, light);
  border-color: pal(warning);
  padding-right: 30px;

  &:after {
    position: absolute;
    display: block;
    content: url('/assets/images/confirm_icon.svg');
    top: 13px;
    right: 5px;
  }
}
