.mat-dialog-container {
  position: relative;
  padding: 32px 40px 30px 40px !important;
  border-radius: 10px !important;
}

.mat-dialog-content {
  max-height: 85vh !important;
  padding: 16px 24px !important;
}

.mat-dialog-content.mat-dialog-content--narrow {
  max-width: 470px;
}

.dialog-description {
  width: 80%;
  margin: 0 auto;
}

.mat-expansion-panel:not([class*='mat-elevation-z']) {
  box-shadow: none !important;
}

mat-chip:not(.mat-basic-chip) {
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  padding: 7px 12px;
  align-items: center;
  cursor: default;
}

.mat-chip:not(.mat-basic-chip) {
  background-color: transparent;
  border-radius: 10px;
  color: pal(secondary);
  @include font(14, semiBold);

  &.mat-standard-chip::after {
    background: transparent;
  }

  &.mat-standard-chip:active {
    box-shadow: none;
  }
}

.mat-chip-list-wrapper {
  align-items: flex-start;
  flex-direction: column;
  margin: 0 !important;
}

.mat-chip .mat-chip-remove.mat-icon {
  margin: 0 0 0 8px;
}

.mat-slider-thumb-label {
  width: 40px !important;
  height: 40px !important;
}

.mat-slider-horizontal .mat-slider-thumb-label {
  right: -20px !important;
  top: -55px !important;
}

.mat-form-field-underline,
.mat-focused .mat-form-field-underline .mat-form-field-ripple,
.mat-form-field-invalid .mat-form-field-underline .mat-form-field-ripple {
  visibility: hidden !important;
}


.mat-select-value-text {
  text-transform: capitalize;
}

.mat-expansion-panel-header-title {
  flex-grow: 1;
  display: inline;
}

.mat-form-field-infix {
  padding: 5px 0 4px 0 !important;
  display: flex !important;
  border-top: 9px solid transparent;
}

.mat-form-field-wrapper {
  padding-bottom: 11px !important;
}

.mat-checkbox-layout {
  align-items: flex-end;
  &:first-of-type {
    margin-bottom: 4px;
  }
}

.mat-checkbox-label {
  color: pal(primary);
  @include font($font-weight: normal);
  font-size: 15px;
  line-height: 1;
}

.mat-checkbox-frame {
  border: 2px solid pal(primary);
}

.mat-expansion-panel-spacing {
  margin: 4px 0;
}

.mat-expansion-panel-header {
  padding: 0 24px 0 8px;
  @include font($font-weight: normal);
  font-size: 18px;
}

.user-list .mat-expansion-panel-header-title {
  flex-grow: 0;
  min-width: 200px;
  display: inline-flex;
}

.classifier-filtering {
  .mat-expansion-panel-body {
    display: flex;
    flex-wrap: wrap;
    padding: 0 10px 8px !important;
  }

  .mat-checkbox-label,
  .mat-checkbox-frame {
    color: rgba(0, 0, 0, 0.54) !important;
    border-color: rgba(0, 0, 0, 0.54) !important;
  }

  .mat-expansion-panel-header-title {
    flex-grow: 0;
    min-width: 200px;
    display: inline-flex;
  }

  .classifier-filtering .mat-expansion-panel {
    margin: 4px 0;
  }

  .classifier-filtering .mat-tab-body-wrapper {
    min-height: 100px;
  }

  .mat-radio-label-content {
    padding-right: 16px;
    margin-right: 8px;
  }
}

.mat-radio-group {
  display: flex;
  flex-direction: column;

  & > mat-radio-button {
    margin-top: 4px;
  }
}

.mat-snack-bar-container {
  background-color: pal(transparent);
  box-shadow: none;
}

.mat-select {
  @include font($font-weight: semiBold);
}

.mat-option {
  @include font($font-weight: semiBold);
}

.mat-radio-button {
  @include font;
}

.mat-progress-spinner,
.mat-spinner {
  & circle {
    stroke: pal(primary);
  }

  &.mat-accent {
    & circle {
      stroke: pal(secondary);
    }
  }
}

.mat-focused {
  & input {
    border-color: pal(secondary);
  }
}

.mat-button-toggle-group {
  border-radius: 10px;
}

.mat-slide-toggle {

  & &-bar {
    width: 32px;
    height: 20px;
    background-color: transparent;
    border: 1px solid pal(primary);
    border-radius: 13px;
  }

  & &-thumb-container {
    top: 50%;
    left: 2px;
    transform: translateY(-50%);
    width: 14px;
    height: 14px;
  }

  & &-thumb {
    width: inherit;
    height: inherit;
    background-color: pal(primary);
    box-shadow: none;
  }

  &.mat-primary.mat-checked &-bar {
    background-color: pal(primary);
  }

  &.mat-primary.mat-checked &-thumb-container {
    transform: translate3d(16px, -50%, 0);
    left: -2px;
  }

  &.mat-primary.mat-checked &-thumb {
    background-color: pal(light);
  }
}

.ap-form-input-accordion {
  width: 100%;

  & .mat-expansion-panel {
    border: 1px solid pal(primary);
    border-radius: 10px !important;
  }

  & .mat-expansion-panel-header-title {
    padding: 13px;
  }

  & .mat-expansion-panel-content {
    padding-left: 13px;
    padding-right: 13px;
  }

  & p:not(:last-child) {
    margin-bottom: 12px;
  }

  code {
    font-family: monospace;
  }
}

.mat-tab-label-content {
  @include copy($font-weight: semiBold);
}

.mat-tab-group.mat-primary .mat-ink-bar {
  background-color: pal(primary);
}
.mat-tab-body-content {
  padding: 8px;
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: pal(primary);
}
.mat-radio-button.mat-accent .mat-radio-inner-circle {
  background-color: pal(primary);
}

.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background, .mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: pal(primary);
}
