.cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
    opacity: 0.9;
}
.cdk-overlay-dark-backdrop {
    background: pal(navy);
}

.mat-dialog-container {
  position: relative;
  padding: 50px 70px 40px !important;
}

.mat-expansion-panel:not([class*=mat-elevation-z]) {
  box-shadow: none !important;
}


mat-chip:not(.mat-basic-chip) {
  transition: box-shadow 280ms cubic-bezier(.4,0,.2,1);
  display: inline-flex;
  padding: 7px 12px;
  border-radius: 0 !important;
  align-items: center;
  cursor: default;
}

.mat-chip:not(.mat-basic-chip) {
  background-color: pal(gray, x-light);
  @include font(12, 500);
}

.mat-chip-list-wrapper {
  flex-direction: column !important;
  margin: 10px 25px;
}

.mat-chip:not(.mat-basic-chip)+.mat-chip:not(.mat-basic-chip) {
  margin: 5px !important;
}

.mat-chip-remove {
  margin: 0 5px;
}

.mat-form-field-underline,
.mat-focused .mat-form-field-underline .mat-form-field-ripple,
.mat-form-field-invalid .mat-form-field-underline .mat-form-field-ripple {
  visibility: hidden !important;
}

