@import './media-queries';
@import './fonts';

// for :before, :after
@mixin pseudo($display: block, $pos: absolute, $content: '') {
  content: $content;
  display: $display;
  position: $pos;
}

@mixin container(
  $padding-horizontal: 8px,
  $padding-vertical: 8px,
  $background-color: pal(light),
  $border-color: pal(light),
  $margin-top: 2px,
  $margin-bottom: 0,
  $border-width: 1px,
  $border-radius: 0
) {
  border-radius: $border-radius;
  background-color: $background-color;
  border: $border-width solid $border-color;
  padding: $padding-vertical $padding-horizontal;
  margin-top: $margin-top;
  margin-bottom: $margin-bottom;

  & > & {
    border: none;
  }
}

@mixin copy(
  $color: pal(body-color),
  $font-size: 16,
  $margin-horizontal: 0,
  $margin-vertical: 0,
  $font-weight: normal
) {
  @include font-weight($font-weight);
  color: $color;
  font-size: calculateRem($font-size);
  overflow: hidden;
  text-overflow: ellipsis;
  margin: $margin-vertical $margin-horizontal;
}

@mixin status-cell() {
  width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin btn(
  $color: pal(light),
  $background-color: pal(secondary),
  $padding-horizontal: 16px,
  $padding-vertical: 12px,
  $border-color: pal(secondary)
) {
  @include font(16, normal);
  border: 1px solid $border-color;
  border-radius: 2px;
  padding: $padding-vertical $padding-horizontal;
  color: $color;
  background: $background-color;
  transition: background-color 0.2s ease;
  max-height: 52px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  line-height: 1;

  &:focus,
  &:hover:not([disabled]) {
    background-color: $background-color;
  }

  &[disabled] {
    background-color: $background-color;
    border-color: $border-color;
    cursor: not-allowed;
  }
}

@mixin input($max-width: 320px) {
  @include font(16, medium);
  border-radius: 10px;
  border: solid 1px pal(dark);
  padding: 12px 13px 12px 18px;
  max-width: $max-width;

  &:focus {
    border-color: pal(secondary);
  }
}

@mixin label($margin-top: 10px, $margin-bottom: 4px, $margin-horizontal: 4px) {
  @include font(16, medium);
  margin: $margin-top $margin-horizontal $margin-bottom;
  display: inline-block;
}

@mixin center($position) {
  position: absolute;

  @if $position == 'vertical' {
    top: 50%;
    transform: translateY(-50%);
  } @else if $position == 'horizontal' {
    left: 50%;
    transform: translate(-50%);
  } @else if $position == 'both' {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@mixin padding($top, $right, $bottom, $left) {
  padding: $top $right $bottom $left;
}

@mixin margin($top, $right, $bottom, $left) {
  margin: $top $right $bottom $left;
}

@mixin transition($args...) {
  transition: $args;
}
