:root {
  color: pal(gray, dark);
}

.dwmth-heading {
  color: pal(navy);
  word-break: break-all;

  &--hero {
    @include font(64, bold);
    line-height: 1.11;
  }

  &--ellipsis {
    white-space: nowrap;
    word-break: keep-all;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &--primary {
    @include font(32, bold);
    letter-spacing: -0.1px;
    margin: 10px 0;

    @include media(md-up) {
      @include font(36, bold);
    }

    @include media(lg-up) {
      @include font(32, bold);
    }
  }

  &--secondary {
    @include font(24, semi);
    margin: 7px 0;
  }

  &--white {
    color: pal(white);
  }

  &--faded {
    color: pal(navy, faded);
  }

  &--uppercase {
    text-transform: uppercase;
  }
}

.dwmth-copy {
  color: pal(gray, mid-dark);
  @include font(16, normal);
  overflow: hidden;
  text-overflow: ellipsis;

  &--large {
    @include font(22, normal);
    margin: 5px 0;
  }

  &--medium {
    @include font(20, normal);
    margin: 5px 0;
  }

  &--small {
    @include font(14, normal);
  }

  &--x-small {
    @include font(14, normal);
  }

  &--white {
    color: pal(white);
  }

  &--light {
    color: pal(gray);
  }

  &--dark {
    line-height: 1;
    color: pal(gray, dark);
  }

  &--x-dark {
    color: pal(navy, light);
  }

  &--blue {
    color: darken(pal(blue), 5);
  }

  &--red {
    color: pal(red);
  }

  &--green {
    color: pal(green, dark);
  }

  &--green-light {
    color: pal(green, base);
  }

  &--orange {
    color: palette(orange, dark);
  }

  &--thin {
    @include font-weight(light);
  }
  &--normal {
    @include font-weight(normal);
  }

  &--semi {
    @include font-weight(semi);
  }

  &--bold {
    @include font-weight(bold);
  }

  &--uppercase {
    text-transform: uppercase;
  }

  &--lineheight-reset {
    line-height: 1;
  }

  &--no-wrap {
    word-break: keep-all;
    white-space: nowrap;
  }
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.lowercase-to-capitalize {
  text-transform: lowercase;
  display: inline-block;

  &:first-letter {
    text-transform: uppercase;
  }
}

.lowercase {
  text-transform: lowercase;
}
