:root {
  color: pal(body-color);
}

.ap-heading {
  color: pal(body-color);
  word-break: break-all;

  &--hero {
    @include font(36, bold);
    line-height: 1.11;
  }

  &--ellipsis {
    white-space: nowrap;
    word-break: keep-all;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &--h2 {
    @include font(32, bold);
    line-height: 1.2;
    letter-spacing: 0;
  }

  &--h3 {
    @include font(24, semiBold);
    line-height: 1.2;
    letter-spacing: 0;
  }

  &--primary {
    color: pal(primary);
  }

  &--secondary {
    color: pal(secondary);
  }

  &--uppercase {
    text-transform: uppercase;
  }
}

.ap-copy {
  color: pal(body-color);
  @include font(16, normal);
  overflow: hidden;
  text-overflow: ellipsis;

  &--small {
    @include font(14, normal);
  }

  &--medium {
    @include font(22, normal);
  }
  &--large {
    @include font(32, normal);
  }

  &--light {
    color: pal(light) !important;
  }

  &--primary {
    color: pal(primary) !important;
  }

  &--secondary {
    color: pal(secondary) !important;
  }

  &--error {
    color: pal(error) !important;
  }

  &--warning {
    color: pal(warning) !important;
  }

  &--success {
    color: pal(success) !important;
  }

  &--gray {
    color: pal(gray)
  }

  &--thin {
    @include font-weight(light);
  }
  &--normal {
    @include font-weight(normal);
  }

  &--semi {
    @include font-weight(semiBold);
  }

  &--bold {
    @include font-weight(bold);
  }

  &--uppercase {
    text-transform: uppercase !important;
  }

  &--lineheight-reset {
    line-height: 1 !important;
  }

  &--no-wrap {
    word-break: keep-all !important;
    white-space: nowrap !important;
  }

  &--tnum {
    font-feature-settings:'tnum';
  }
}

.ap-alert {
  position: relative;
  @include font(14, semiBold);
  border-radius: 10px;
  margin-top: 5px;
  padding: 12px 12px 12px 12px;
  min-width: 150px;

  &__full-width {
    width: 100%;
  }

  &--error,
  &[data-alert-status = 'rejected'] {
    color: pal(error);
    background-color: pal(error, light);
  }

  &--success,
  &[data-alert-status = 'active'] {
    color: pal(success);
    background-color: pal(success, light);
  }

  &--warning,
  &[data-alert-status = 'pending'] {
    color: pal(warning);
    background-color: pal(warning, light);
  }

  &--info,
  &[data-alert-status = 'inactive'] {
    color: pal(primary);
    background-color: pal(info-bg);
  }

  &[data-alert-status = 'draft'] {
    color: pal(primary);
    background-color: pal(body-bg);
  }
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.lowercase {
  text-transform: lowercase;
}
