<app-edit-site-navigation
  [currentStep]="4"
  [medium]="site.medium"
></app-edit-site-navigation>
<section
  class="
    homepage-view
    site-edit-additional-targeting"
>

  <section
    class="
      dwmth-box
      site-edit-additional-targeting__checkbox-container
      col"
  >
    <h1 class="mat-expansion-panel-header-title
               dwmth-heading--secondary
               classification-section__title">Classification</h1>
    <p class="
      dwmth-copy
      no-gutters
      dwmth-box--no-padding
      classification-section__info">
      After set this setting you will be able to approve banners for this particular site.
    </p>
    <mat-checkbox
      id="require-classified-checkbox"
      [(ngModel)]="isCheckedOnlyAcceptedBanners"
      data-test="publisher-edit-site-require-classified-checkbox"
    >
      Manual approval of banners
    </mat-checkbox>
  </section>

  <mat-accordion
    multi="true"
    class="targeting-accordion"
    data-test="publisher-edit-site-additional-targeting-accordion"
  >
    <div
      *ngIf="showRequiresSection"
      class="dwmth-box"
    >
      <mat-expansion-panel
        (opened)="requirePanelOpenState = true"
        (closed)="requirePanelOpenState = false"
        data-test="publisher-edit-site-additional-targeting-accordion-panel-required"
      >
        <mat-expansion-panel-header
          class="
            dwmth-heading
            dwmth-heading--secondary"
        >
          <mat-panel-title>
            Targeting
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div class="row">
          <div class="col-xs-6 no-gutters">
            <p class="dwmth-copy"
            >
              In this window you can select the keywords that will help you
              choose the ads that are related to your site and meet your requirements.
            </p>

            <div class="targeting-select-wrapper">
              <app-targeting-select
                *ngIf="targetingOptionsToAdd && targetingOptionsToAdd.length > 0"
                [targetingOptions]="targetingOptionsToAdd"
                [addedItems]="addedItems"
                (itemsChange)="updateAddedItems($event)"
              ></app-targeting-select>
            </div>
          </div>

          <div class="col-xs-6">
            <app-targeting-display
              [items]="addedItems"
              [canRemove]="true"
              [isExclude]="false"
              [targetingOptions]="targetingOptionsToAdd"
              (itemsChange)="updateAddedItems($event)"
            ></app-targeting-display>
          </div>
        </div>
      </mat-expansion-panel>

      <div class="dwmth-targeting-display__preview">
        <app-targeting-display
          [items]="addedItems"
          [canRemove]="true"
          [isExclude]="false"
          [targetingOptions]="targetingOptionsToAdd"
          (itemsChange)="updateAddedItems($event)"
          *ngIf="!requirePanelOpenState"
        ></app-targeting-display>
      </div>
    </div>


    <div class="dwmth-box">
      <mat-expansion-panel
        (opened)="excludePanelOpenState = true"
        (closed)="excludePanelOpenState = false"
        [expanded]="true"
        data-test="publisher-edit-site-additional-targeting-accordion-panel-excluded"
      >
        <mat-expansion-panel-header
          class="
            dwmth-heading
            dwmth-heading--secondary"
        >
          <mat-panel-title>
            Exclusions
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div class="row">
          <div class="col-xs-6">
            <p class="dwmth-copy"
            >
              Please select banner ad categories that you don’t want to display on your site.
              If you don’t exclude any categories, all available ads will be displayed on your site - e.g. adult, gambling, investment etc.
            </p>

            <div class="targeting-select-wrapper">
              <app-targeting-select
                *ngIf="targetingOptionsToExclude && targetingOptionsToExclude.length > 0"
                [targetingOptions]="targetingOptionsToExclude"
                [addedItems]="excludedItems"
                [checkClass]="'stopmark'"
                (itemsChange)="updateExcludedItems($event)"
              ></app-targeting-select>
            </div>
          </div>

          <div class="col-xs-6">
            <p _ngcontent-c7="" class="dwmth-copy--redder dwmth-copy--plus">
              These ads will NOT appear on your website:
            </p>
            <app-targeting-display
              [items]="excludedItems"
              [canRemove]="true"
              [isExclude]="true"
              (itemsChange)="updateExcludedItems($event)"
              [targetingOptions]="targetingOptionsToExclude"
            ></app-targeting-display>
          </div>
        </div>
      </mat-expansion-panel>

      <div class="dwmth-targeting-display__preview">
        <app-targeting-display
          [items]="excludedItems"
          [canRemove]="true"
          [isExclude]="true"
          (itemsChange)="updateExcludedItems($event)"
          [targetingOptions]="targetingOptionsToExclude"
          *ngIf="!excludePanelOpenState"
        ></app-targeting-display>
      </div>
    </div>
  </mat-accordion>

  <div
    class="
      dwmth-box
      dwmth-box--large
      row
      justify-between"
  >
    <button
      class="
          dwmth-btn
          dwmth-btn--white
          dwmth-blue"
      role="link"
      (click)="onStepBack()"
    >
      Back
    </button>

    <div class="row">
      <button
        *ngIf="createSiteMode"
        (click)="saveSite(true)"
        [disabled]="changesSaved"
        class="
          dwmth-btn
          dwmth-btn--white
          dwmth-blue
          save-as-draft"
        data-test="publisher-edit-site-save-as-draft"
      >
        Save as draft
      </button>
      <button
        (click)="onSubmit()"
        class="
          dwmth-btn
          dwmth-btn--wide
          dwmth-btn--blue"
        data-test="publisher-edit-site-save-and-continue"
      >
        <span *ngIf="!changesSaved; else loading">{{createSiteMode ? "Save & continue" : "Update" }}</span>
        <ng-template #loading>
          <mat-spinner [diameter]="20" [strokeWidth]="2" color="accent"></mat-spinner>
        </ng-template>
      </button>
    </div>
  </div>
</section>
