<section
  class="
    homepage-view
    site-edit-additional-targeting"
>
  <mat-accordion
    multi="true"
    class="targeting-accordion"
    data-test="publisher-edit-site-additional-targeting-accordion"
  >
    <div class="dwmth-box">
      <mat-expansion-panel
        (opened)="requirePanelOpenState = true"
        (closed)="requirePanelOpenState = false"
        [expanded]="true"
        data-test="publisher-edit-site-additional-targeting-accordion-panel-required"
      >
        <mat-expansion-panel-header
          class="
            dwmth-heading
            dwmth-heading--secondary"
        >
          <mat-panel-title>
            1. Requires
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div class="row">
          <div class="col-xs-6 no-gutters">
            <p
              class="
                dwmth-copy
                dwmth-copy--large"
            >
              In this window you can select the keywords that will help you
              choose the ads that are related to your site and meet your requirements.
            </p>

            <div class="targeting-select-wrapper">
              <app-targeting-select
                [targetingOptions]="targetingOptionsToAdd"
                [addedItems]="addedItems"
                (itemsChange)="updateAddedItems($event)"
              ></app-targeting-select>
            </div>
          </div>

          <div class="col-xs-6">
            <app-targeting-display
              [items]="addedItems"
              [canRemove]="true"
              [isExclude]="false"
              [targetingOptions]="targetingOptionsToAdd"
              (itemsChange)="updateAddedItems($event)"
            ></app-targeting-display>
          </div>
        </div>
      </mat-expansion-panel>

      <app-targeting-display
        [items]="addedItems"
        [canRemove]="true"
        [isExclude]="false"
        [targetingOptions]="targetingOptionsToAdd"
        (itemsChange)="updateAddedItems($event)"
        *ngIf="!requirePanelOpenState"
      ></app-targeting-display>
    </div>


    <div class="dwmth-box">
      <mat-expansion-panel
        (opened)="excludePanelOpenState = true"
        (closed)="excludePanelOpenState = false"
        data-test="publisher-edit-site-additional-targeting-accordion-panel-excluded"
      >
        <mat-expansion-panel-header
          class="
            dwmth-heading
            dwmth-heading--secondary"
        >
          <mat-panel-title>
            2. Excludes
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div class="row">
          <div class="col-xs-6">
            <p
              class="
                dwmth-copy
                dwmth-copy--large"
            >
              In this window you can select the keywords prohibited on your site.
            </p>

            <div class="targeting-select-wrapper">
              <app-targeting-select
                [targetingOptions]="targetingOptionsToExclude"
                [addedItems]="excludedItems"
                (itemsChange)="updateExcludedItems($event)"
              ></app-targeting-select>
            </div>
          </div>

          <div class="col-xs-6">
            <app-targeting-display
              [items]="excludedItems"
              [canRemove]="true"
              [isExclude]="true"
              (itemsChange)="updateExcludedItems($event)"
              [targetingOptions]="targetingOptionsToExclude"
            ></app-targeting-display>
          </div>
        </div>
      </mat-expansion-panel>

      <app-targeting-display
        [items]="excludedItems"
        [canRemove]="true"
        [isExclude]="true"
        (itemsChange)="updateExcludedItems($event)"
        [targetingOptions]="targetingOptionsToExclude"
        *ngIf="!excludePanelOpenState"
      ></app-targeting-display>
    </div>
  </mat-accordion>

  <div
    class="
      dwmth-box
      site-edit-additional-targeting__checkbox-container
      col"
  >
    <mat-checkbox
      id="require-classified-checkbox"
      [(ngModel)]="isCheckedRequireClassified"
      data-test="publisher-edit-site-require-classified-checkbox"
    >
      Allow only approved banners
    </mat-checkbox>
    <mat-checkbox
      id="exclude-unclassified-checkbox"
      [(ngModel)]="isCheckedExcludeUnclassified"
      data-test="publisher-edit-site-exclude-unclassified-checkbox"
    >
      Skip rejected banners
    </mat-checkbox>
  </div>

  <div
    class="
      dwmth-box
      dwmth-box--large
      row
      justify-between"
  >
    <button
      class="
          dwmth-btn
          dwmth-btn--white
          dwmth-blue"
      role="link"
      (click)="onStepBack()"
    >
      Back
    </button>

    <div class="row">
      <button
        *ngIf="createSiteMode"
        (click)="saveSite(true)"
        [disabled]="changesSaved"
        class="
          dwmth-btn
          dwmth-btn--white
          dwmth-blue
          save-as-draft"
        data-test="publisher-edit-site-save-as-draft"
      >
        Save as Draft
      </button>
      <button
        (click)="onSubmit()"
        class="
          dwmth-btn
          dwmth-btn--blue"
        data-test="publisher-edit-site-save-and-continue"
      >
        <span *ngIf="!changesSaved; else loading">{{createSiteMode ? "Save & Continue" : "Update Site" }}</span>
        <ng-template #loading>
          <mat-spinner [diameter]="20" [strokeWidth]="2" color="accent"></mat-spinner>
        </ng-template>
      </button>
    </div>
  </div>
</section>
