.site-edit-additional-targeting {
  max-width: 1000px;
  margin: 0 auto;
}

.targeting-select-wrapper {
  margin-top: 30px;
}

.targeting-accordion {
  > .adsh-box {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
