@import '../../../../styles.scss';

.site-edit-additional-targeting {
  max-width: 1000px;
  margin: 0 auto;

  @include media(xxl-up) {
    max-width: 1300px;
  }

  @include media(xxxl-up) {
    max-width: 2000px;
  }

  &__checkbox-container {
    padding: 16px 24px;
  }
}

.targeting-select-wrapper {
  margin-top: 30px;
}

.adsh-box {
  margin-top: 8px;
}
