@import '../../../../styles.scss';

.site-edit-additional-targeting {

  & > .ap-heading {
    margin-top: 18px;
    margin-bottom: 18px;
  }

  &__checkbox-container {
    padding: 16px 32px;
  }
}

.targeting-select-wrapper {
  margin-top: 30px;
}

.classification-section {
  &__info-create-site {
    margin-top: 16px;
    margin-bottom: 8px;
  }

  &__link {
    padding: 4px 8px 4px 0;
    max-width: 300px;

    &:hover {
      color: pal(secondary);
    }
  }
}
