<div
  class="filters"
  (clickOutside)="hideDatepicker()"
>
  <button
    class="
      dwmth-select
      lowercase-to-capitalize
    "
    (click)="showDatepicker()"
  >
    <span *ngIf="currentFilterPreset">{{ currentFilterPreset.name }}</span>
    <span *ngIf="!currentFilterPreset">From {{' ' + currentFromFilter + ' ' }} to {{' ' + currentToFilter }}</span>
  </button>
  <div
    class="
      chart-filters
      dwmth-box"
    [class.visible]="datepickerVisible"
  >
    <div
      class="
        row
        filter-row
        align-center
        justify-end"
    >
      <span
        class="
          dwmth-copy
          hidden-md"
      >
        Sort by date range
      </span>
      <button
        type="button"
        *ngFor="let preset of filterPresets"
        class="
            dwmth-btn
            dwmth-button--small
            dwmth-bg-white
            dwmth-navy
            lowercase-to-capitalize"
        [class.selected]="preset.id === currentDaysSpan"
        (click)="filterChart(preset.id, 0)"
        data-test="chart-filter-preset"
      >
        {{ preset.name }}
      </button>
    </div>

    <div
      class="
        row
        filter-row
        align-center
        justify-end"
    >
      <span
        class="
          dwmth-copy
          hidden-md"
      >
        or select manually
      </span>
      <label
        class="
          dwmth-copy
          dwmth-copy--small"
      >
        From
      </label>
      <mat-form-field
        class="
          dwmth-form-input
          dwmth-form-input--narrow
          dwmth-form-input--datepicker
          dwmth-form-input--datepicker--narrow
          row"
      >
        <img
          src="assets/images/calendar.svg"
          alt="Select date from"
          class="
            dwmth-icon
            dwmth-icon--prepend"
          (click)="dateFromPicker.open()"
        >
        <input
          (click)="dateFromPicker.open()"
          matInput
          [matDatepicker]="dateFromPicker"
          [formControl]="dateFrom"
          required
          [max]="dateTo.value || today"
          data-test="chart-filter-custom-date-from"
        >
        <mat-datepicker-toggle
          matSuffix
          [for]="dateFromPicker"
        ></mat-datepicker-toggle>
        <mat-datepicker #dateFromPicker
                        (opened)="setCalendarStatus(true)"
                        (closed)="setCalendarStatus(false)"></mat-datepicker>
      </mat-form-field>

      <label
        class="
          dwmth-copy
          dwmth-copy--small"
      >
        To
      </label>
      <mat-form-field
        class="
          dwmth-form-input
          dwmth-form-input--narrow
          dwmth-form-input--datepicker
          dwmth-form-input--datepicker--narrow
          row"
      >
        <img
          src="assets/images/calendar.svg"
          alt="Select date to"
          class="
            dwmth-icon
            dwmth-icon--prepend"
          (click)="dateToPicker.open()"
        >
        <input
          (click)="dateToPicker.open()"
          matInput
          [matDatepicker]="dateToPicker"
          [formControl]="dateTo"
          required
          [min]="dateFrom.value"
          [max]="today"
          data-test="chart-filter-custom-date-to"
        >
        <mat-datepicker-toggle
          matSuffix
          [for]="dateToPicker"
        ></mat-datepicker-toggle>
        <mat-datepicker #dateToPicker
                        (opened)="setCalendarStatus(true)"
                        (closed)="setCalendarStatus(false)"></mat-datepicker>
      </mat-form-field>
      <button
        type="button"
        class="
          dwmth-btn
          dwmth-button--small
          dwmth-bg-gray--light
          dwmth-navy"
        [class.disabled]="!dateTo.value || !dateFrom.value"
        (click)="filterChartByDatepicker()"
        data-test="chart-filter-apply-datespan-button"
      >
        Apply
        <img
          class="dwmth-icon--append"
          src="assets/images/chevron--right.svg"
          alt=""
        >
      </button>
    </div>
  </div>
</div>
