<div class="
    adsh-chart-filters
    row
    align-center
    justify-end">
    <span class="adsh-copy">Sort by Date Range</span>
    <button class="
        adsh-btn
        adsh-button--small
        adsh-bg-white
        adsh-navy">Today</button>
    <button class="
        adsh-btn
        adsh-button--small
        adsh-bg-white
        adsh-navy">This Week</button>
    <button class="
        adsh-btn
        adsh-button--small
        adsh-bg-white
        adsh-navy">This Month</button>
    <span class="adsh-copy">or Select Manually</span>
    <button class="
        adsh-btn
        adsh-button--small
        adsh-bg-white
        adsh-navy
        row
        align-center">
        <img
            class="
                adsh-icon
                adsh-icon--prepend"
            src="assets/images/calendar.svg"
            alt="Calendar Icon">From</button>
    <button class="
        adsh-btn
        adsh-button--small
        adsh-bg-white
        adsh-navy
        row
        align-center">
        <img
            class="
                adsh-icon
                adsh-icon--prepend"
            src="assets/images/calendar.svg"
            alt="Calendar Icon">To</button>
</div>
