@import '../../../../styles.scss';

@keyframes slideDown {
  0% {
    transform: scaleY(0);
    opacity: 0;
  }
  1% {
    transform: scaleY(0.1);
    opacity: 0.1;
  }
  100% {
    transform: scaleY(1);
    opacity: 1;
  }
}

@keyframes slideUp {
  0% {
    transform: scaleY(1);
    opacity: 1;
  }
  99% {
    transform: scaleY(0.1);
    opacity: 0.1;
  }
  100% {
    transform: scaleY(0);
    opacity: 0;
  }
}

.filters {
  margin: 4px 0 20px;
  text-align: right;
  position: relative;

  > .ap-select {
    height: 34px;
    width: auto;
    text-align: left;
  }
}

.chart-filters {
  z-index: 1;
  min-width: 655px;
  position: absolute;
  right: 0;
  top: 0;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
  transform-origin: top center;
  opacity: 0;
  transform: scaleY(0);
  animation: slideUp 0.2s ease-out;

  &.visible {
    opacity: 1;
    transform: scaleY(1);
    animation: slideDown 0.2s ease-out;
  }

  & .ap-btn {
    min-width: 0;
  }
}

.ap-form-input--datepicker,
.ap-form-select--datepicker {
  background: white;
  border: none;
  padding: 0 10px;
}

.ap-form-input--datepicker .ap-icon {
  height: 11px;
}
