@import '../../../../../styles.scss';

.notification {
  margin: 25px 0;

  &-message {
    margin: 0;
  }

  .dwmth-heading--secondary {
    margin: 0 0 15px 0;
  }

  &-actions {
    margin-top: 20px;
    @include font(15, 'medium');

    span {
      margin-right: 20px;

      &.red {
        color: pal(red);
      }

      &.blue {
        color: pal(blue);
      }

      &.gray {
        color: pal(gray);
      }
     }
  }
}

hr {
  border: 0.5px solid pal(gray, light);
}
