@import '../../../../../styles.scss';

.targeting-custom-option {
  &__form {
    @include container(
      $border-color: pal(gray),
      $padding-vertical: 8px,
      $padding-horizontal: 8px,
      $margin-top: 4px,
      $border-radius: 10px
    );
    cursor: pointer;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    display: flex;
    align-items: center;
    padding-left: 24px;

    &--input-hidden {
      display: flex;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;
    }

    & .custom-input-wrapper {
      flex-grow: 1;
      max-width: 390px;
    }

    & .coordinates-wrapper {
      & .ap-form-input {
        min-width: 0;
        max-width: 150px;
      }
    }
  }

  &__label {
    align-items: center;
    display: block;
  }
}
