<div
  class="targeting-custom-option__form row row--gap18"
  role="form"
  [ngClass]="{ 'targeting-custom-option__form--input-hidden': !inputShown }"
  (click)="showInput()">
  <label
    class="targeting-custom-option__label align-center ap-copy ap-copy--semi ap-copy--primary"
    [ngClass]="{ 'targeting-custom-option__label--input-shown': inputShown }">
    {{ option.label }}
  </label>

  <button *ngIf="!inputShown" class="ap-icon-btn" title="Click to show option input">
    <fa-icon [icon]="faPlus"></fa-icon>
  </button>

  <div *ngIf="inputShown && option.valueType === TargetingOptionType.STRING" class="col row--gap8 custom-input-wrapper">
    <mat-chip-list #chipList>
      <mat-chip
        *ngFor="let option of customOptionsArray"
        [selectable]="true"
        [removable]="true"
        (removed)="remove(option)">
        {{ option.label }}
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
    </mat-chip-list>
    <div class="row row--gap18">
      <input
        class="ap-form-input ap-form-input--full"
        #input
        [matChipInputFor]="chipList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        [matChipInputAddOnBlur]="true"
        (matChipInputTokenEnd)="add($event)"
        (keyup.enter)="saveCustomTargetingOptions()" />

      <button class="ap-icon-btn" title="Add custom option" (click)="saveCustomTargetingOptions()">
        <fa-icon [icon]="faPlus"></fa-icon>
      </button>
    </div>
  </div>

  <div *ngIf="inputShown && option.valueType === TargetingOptionType.PARCEL_COORDINATES" class="col row--gap8">
    <div class="row row--gap8 align-center coordinates-wrapper">
      <div class="ap-form-input__box">
        <label for="coordinate-x" class="ap-form-label"> Coordinate X </label>
        <input
          #input
          id="coordinate-x"
          name="coordinate-x"
          class="ap-form-input"
          type="number"
          step="1"
          (keyup.enter)="
            (saveRequested = true) &&
              input.validity.valid &&
              inputCoordinationY.validity.valid &&
              saveCustomParcel(input.value, inputCoordinationY.value)
          "
          required />
      </div>
      <div class="ap-form-input__box">
        <label for="coordinate-y" class="ap-form-label"> Coordinate Y </label>
        <input
          #inputCoordinationY
          id="coordinate-y"
          name="coordinate-y"
          class="ap-form-input"
          type="number"
          step="1"
          (keyup.enter)="
            (saveRequested = true) &&
              input.validity.valid &&
              inputCoordinationY.validity.valid &&
              saveCustomParcel(input.value, inputCoordinationY.value)
          "
          required />
      </div>
      <button
        class="ap-icon-btn"
        title="Add custom option"
        (click)="
          (saveRequested = true) &&
            input.validity.valid &&
            inputCoordinationY.validity.valid &&
            saveCustomParcel(input.value, inputCoordinationY.value)
        ">
        <fa-icon [icon]="faPlus"></fa-icon>
      </button>
    </div>
    <span *ngIf="saveRequested && !(input.validity.valid && inputCoordinationY.validity.valid)" class="error-msg">
      Both coordinates must be set.
    </span>
  </div>
</div>
