@import '../../../../styles.scss';

.notifications {
  &__background {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    transition: all 0.3s cubic-bezier(0, 0, 0.3, 1);
    visibility: hidden;
    opacity: 0;
    z-index: getIndex(notificationsBackground);

    &.active {
      visibility: visible;
      opacity: 1;
    }
  }

  &__bar {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999;
    background: pal(white);
    display: block;
    width: 300px;
    height: 100vh;
    transform: translateX(300px);
    transition: transform 0.3s cubic-bezier(0, 0, 0.3, 1);
    padding: 20px;

    &.active {
      transform: translateX(0);
      overflow-y: scroll;
    }
  }
}
