<article class="dwmth-box rebranding__box">
  <section class="row justify-between align-center">
    <h1 class="dwmth-heading dwmth-heading--primary">Rebranding</h1>
  </section>

  <div class="row">
    This site presents all assets which are brand - dependent.
    They consist of icons and logos in different sizes for different screens.
  </div>
  <div class="row">
    To change images project needs to be rebuild.
    Collect all images which you want to change in one directory.
  </div>
  <div class="row">
    If you use interactive installer, you will be asked if you want to copy brand assets inside project directory.
    In case of automatic installer two environment variables should be set.
    <ul>
      <li>`COPY_BRAND_ASSETS` should be `Y`.</li>
      <li>`BRAND_ASSETS_DIR` should be full path to assets directory.</li>
    </ul>
  </div>
  <div class="row">
    Files from assets directory will overwrite the standard files.
  </div>

  <div class="row">
    Favicons
    <div>
      <img src="/favicon-96x96.png" alt="">
      <img src="/favicon-48x48.png" alt="">
      <img src="/favicon-32x32.png" alt="">
      <img src="/favicon-16x16.png" alt="">
    </div>
    <div>
      File favicon.ico should also be changed for legacy browsers.
    </div>
  </div>

  <div class="row">
    Logos

    <div class="dwmth-header-bg">
      <img
        src="assets/images/logo--white.png"
        alt=""
      >
      <img
        src="assets/images/logo--white@2x.png"
        alt=""
      >
      <img
        src="assets/images/logo--white@3x.png"
        alt=""
      >
    </div>
  </div>

</article>
