
@import '../../../styles.scss';

.rebranding {
  &__box {
    margin: 30px 0 0 30px;
    padding: 20px;
    max-width: 1000px;
  }

  &__subtitle {
    margin-bottom: 8px;
    text-align: left;
  }

  &__assets-wrapper {
    margin-top: 24px;
    margin-bottom: 42px;
  }

  &__list,
  &__list-item,
  &__copy {
    margin: 8px 0;
  }

  &__copy {
    width: 70%;
  }

  &__list-item {
    margin-left: 8px;
    font-size: 1rem;
  }

  &__icons-row {
    width: 100%;
    overflow-x: auto;

    & img {
      margin: 0 16px;
    }
  }

  img {
    margin: 8px;
  }
}
