#walletAddress {
  width: 400px;
  max-width: 400px;
}

#walletAddress::placeholder {
  opacity: 0.7;
}

.account-wallet-settings {
  margin-top: 10px;

  .ap-form-input__box {
    margin-right: 25px;
  }

  form .ap-btn {
    min-width: 200px;
    margin-top: 37px;
    margin-right: 25px;
  }
}
