<section class="account-wallet-settings">
  <div class="dwmth-box dwmth-box--large">
    <div class="col">
      <h2 class="dwmth-heading dwmth-heading--primary">
        Account Wallet
      </h2>
      <p class="dwmth-copy dwmth-copy--large">
      <p class="dwmth-copy dwmth-copy--large">
        Here you can set up a connection with a cryptocurrency wallet.
      </p>
      <form class="dwmth-form">
        <div class="row align-start change-form">
          <div class="dwmth-form-input__box">
            <label for="walletAddress" class="dwmth-form-label">
              Wallet address ({{ user.adserverWallet.walletNetwork }})
            </label>
            <input
              id="walletAddress"
              class="dwmth-form-input"
              type="text"
              name="walletAddress"
              formControlName="account"
              readonly
              [placeholder]="user.adserverWallet.walletAddress"
            >
          </div>
          <button class="dwmth-btn dwmth-btn--blue">
            Connect to ADS Wallet
          </button>
          <button class="dwmth-btn dwmth-btn--blue">
            Connect to BSC Wallet
          </button>
        </div>
      </form>
    </div>
  </div>
</section>
