<form
  *ngIf="!isLoading else loading"
  [formGroup]="formGroup"
>
  <div class="dwmth-box dwmth-box--large panel-placeholders__forms-box">
    <h1 class="dwmth-heading dwmth-heading--primary">Panel placeholders</h1>
    <p
      class="
      dwmth-copy
      dwmth-copy--large
      panel-placeholders__desc"
    >
      Here you can read and edit placeholders for index.html and robots.txt
    </p>
    <div>
      <label class="dwmth-copy col">
        Title
        <textarea
          class="dwmth-copy dwmth-textarea"
          formControlName="index-title"
        >
       </textarea>
      </label>
      <label class="dwmth-copy col">
        Description
        <textarea
          class="dwmth-copy dwmth-textarea"
          formControlName="index-description"
        >
       </textarea>
      </label>
      <label class="dwmth-copy col">
        Keywords
        <textarea
          class="dwmth-copy dwmth-textarea"
          formControlName="index-keywords"
        >
       </textarea>
      </label>
      <label class="dwmth-copy col">
        Custom HEAD meta-tags
        <textarea
          class="dwmth-copy dwmth-textarea"
          formControlName="index-meta-tags"
        >
       </textarea>
      </label>
      <label class="dwmth-copy col">
        robots.txt
        <textarea
          class="dwmth-copy dwmth-textarea"
          formControlName="robots-txt"
        >
       </textarea>
      </label>
    </div>
    <div class="row justify-end align-center panel-placeholders__submit-btn-box">
      <button
        class="dwmth-btn dwmth-btn--blue"
        [disabled]="isSaving || !formGroup.dirty"
        (click)="save()"
      >
        Save
      </button>
    </div>

  </div>
</form>
<ng-template #loading>
  <div class="loading-wrapper">
    <mat-spinner [diameter]="60" [strokeWidth]="8"></mat-spinner>
  </div>
</ng-template>
