@import '../../../../../styles';

.bid-strategy {
  &__row {
    min-height: 40px;
    padding-top: 4px;
    padding-bottom: 4px;
  }

  &__input {
    @include input();
    padding-left: 0;
    padding-right: 0;
    width: 4em;
    text-align: center;
  }

  &__rank-button {
    @include btn();
    margin-left: 4px;
    width: 3em;
  }

  &__spreadsheet-button {
    min-width: 150px;
  }
}

.dwmth-box-narrow {
  max-width: 300px;
}

.appended {
  margin-left: 16px;
}

.space-top {
  margin-top: 30px;
}

.file-select-input {
  display: none;
}

/deep/ .mat-input-infix {
  width: 400px !important;
}
