<section class="ap-box">
  <div class="box-title">
    <h3 class="ap-heading ap-heading--h2">Bid strategies settings</h3>
    <div class="section-subtitle">
      <p class="ap-copy">
        Set bid strategies for campaigns. First, select an existing strategy or add a new one. Then set the name of
        strategy and ranks for categories. Categories are properties of impressions. By default, each category has a
        rank of 100%, which means that this category will be paid normally. You can limit payments for a selected
        category by lowering its rank. The rank can be set in range from 0 to 100%.
      </p>
      <p class="ap-copy">
        For example, the category `Device/Browser/Internet Explorer` means that the user watching ads uses Internet
        Explorer. If you want to pay less for impressions created with Internet Explorer, you should reduce rank of this
        category.
      </p>
    </div>
  </div>

  <div class="box-content">
    <ng-container class="ap-box-narrow">
      <div class="ap-form-input__box" *ngIf="isAdmin">
        <label class="ap-form-label">Medium</label>
        <mat-select
          *ngIf="isTaxonomy; else missingTaxonomy"
          class="ap-select"
          [value]="medium"
          (selectionChange)="onMediumChange($event.value)">
          <mat-option *ngFor="let medium of media" [value]="medium.key">
            {{ medium.value }}
          </mat-option>
        </mat-select>
      </div>
      <div *ngIf="vendors.length > 0" class="ap-form-input__box">
        <label class="ap-form-label">Vendor</label>
        <mat-select class="ap-select" [value]="vendor" (selectionChange)="onVendorChange($event.value)">
          <mat-option *ngFor="let vendor of vendors" [value]="vendor.key">
            {{ vendor.value }}
          </mat-option>
        </mat-select>
      </div>
    </ng-container>
  </div>

  <div class="box-content">
    <ng-container *ngIf="!bidStrategiesOptionsAreMissing; else missingBidStrategiesOptions">
      <div class="col row--gap18 space-top">
        <div *ngIf="!isLoading && bidStrategies.length > 0">
          <div class="row row--gap18 bid-strategy__row align-end">
            <div class="ap-form-input__box bid-strategy__select">
              <label class="ap-form-label">Select bid strategy</label>
              <mat-select
                class="ap-select"
                [(value)]="bidStrategyUuidSelected"
                (selectionChange)="onBidStrategySelect()">
                <mat-option *ngFor="let bidStrategy of bidStrategies" [value]="bidStrategy.uuid">
                  {{ bidStrategy.name }}
                </mat-option>
              </mat-select>
            </div>
            <button class="ap-btn ap-btn--secondary" (click)="addNewBidStrategy()">
              <fa-icon [icon]="faPlus" class="ap-icon ap-icon--prepend"></fa-icon>
              Add new bid strategy
            </button>
            <button *ngIf="isAdmin" class="ap-btn ap-btn--secondary" (click)="setDefaultBidStrategy()">
              Set as default
            </button>
            <button class="ap-btn ap-btn--secondary ap-btn-error" (click)="deleteBidStrategy()">Delete</button>
          </div>

          <div class="row row--gap18">
            <button (click)="downloadSpreadsheet()" class="ap-btn ap-btn--text">
              <span *ngIf="!isDownloadInProgress; else loading">
                <fa-icon [icon]="faDownload" class="ap-icon ap-icon--prepend"></fa-icon>
                Download
              </span>
            </button>

            <label class="ap-btn ap-btn--text" for="fileSelect">
              <span *ngIf="!isUploadInProgress; else loading">
                <fa-icon [icon]="faUpload" class="ap-icon ap-icon--prepend"></fa-icon>
                Upload
              </span>
            </label>
            <input (change)="uploadSpreadsheet($event)" class="file-select-input" type="file" id="fileSelect" />
          </div>
        </div>

        <div *ngIf="!isLoading" class="row row--gap18 align-end">
          <div class="ap-form-input__box">
            <label class="ap-form-label">Bid strategy name</label>
            <input
              id="name"
              name="name"
              [(ngModel)]="bidStrategyNameSelected"
              #name="ngModel"
              matInput
              type="text"
              maxlength="255"
              minlength="1"
              placeholder=""
              required="required"
              class="ap-form-input" />
          </div>

          <button (click)="saveOrUpdate()" [disabled]="name.invalid" class="ap-btn ap-btn--text">
            <fa-icon [icon]="faSave" class="ap-icon ap-icon--prepend"></fa-icon>
            Save bid strategy
          </button>
        </div>

        <div class="ap-form-input-accordion">
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title class="ap-copy ap-copy--semi"> Categories </mat-panel-title>
            </mat-expansion-panel-header>

            <div *ngFor="let entry of entries" class="row align-center bid-strategy__row">
              <div class="col-xs-6 ap-copy">{{ entry.label }}</div>
              <div class="col-xs-6" data-id="{{ entry.key }}">
                <input [(ngModel)]="entry.value" type="number" min="0" max="100" step="1" class="bid-strategy__input" />
                <button
                  *ngFor="let predefinedRank of PREDEFINED_RANKS"
                  (click)="entry.value = predefinedRank"
                  class="bid-strategy__rank-button">
                  {{ predefinedRank }}
                </button>
              </div>
            </div>

            <div class="row justify-end">
              <button (click)="saveOrUpdate()" class="ap-btn ap-btn--blue">Save bid strategy</button>
            </div>
          </mat-expansion-panel>
        </div>
      </div>

      <div *ngIf="isLoading" class="loading-wrapper">
        <mat-spinner [diameter]="60" [strokeWidth]="4"></mat-spinner>
      </div>
    </ng-container>
  </div>
</section>

<ng-template #loading>
  <mat-spinner [diameter]="20" [strokeWidth]="2"></mat-spinner>
</ng-template>
<ng-template #missingBidStrategiesOptions>
  <div class="error-msg">Bid strategies options are not available. Please contact support.</div>
</ng-template>
<ng-template #missingTaxonomy>
  <div class="error-msg">Taxonomy is not available. Please contact support.</div>
</ng-template>
