@import '../../../../../styles';

.bid-strategy {
  &__select {
    min-width: 210px;
  }

  &__row {
    min-height: 40px;
    padding-top: 4px;
    padding-bottom: 4px;

    & > .ap-btn {
      height: 47px;
    }
  }

  &__input {
    @include input();
    padding-left: 0;
    padding-right: 0;
    width: 4em;
    text-align: center;
  }

  &__rank-button {
    @include btn();
    margin-left: 4px;
    width: 3em;
  }
}

.ap-box-narrow {
  margin-top: 24px;
  max-width: 300px;

  & .ap-form-input__box:not(:first-child){
    margin-top: 24px;
  }
}

.space-top {
  margin-top: 30px;
}

.file-select-input {
  display: none;
}

::ng-deep .mat-input-infix {
  width: 400px !important;
}

.section-subtitle {
  margin-top: 4px;
  line-height: 24px;
}
