@import '../../../styles.scss';

.posters-list {
  &__sort {
    margin-left: 5px;
  }
  &__table {
    min-width: 1100px;
  }

  &__status-totals-column {
    @include status-cell;
  }

  &__scrollable-table {
    overflow: hidden;
    overflow-x: auto;
  }

  &__table-header {
    display: flex;
  }

  &__totals-row {
    @include copy($font-weight: semiBold);
    @include container(
      $padding-vertical: 10px,
      $margin-top: 4px,
      $margin-bottom: 2px
    );
    display: flex;
    align-items: center;
    justify-content: space-between;

    & td {
      box-sizing: border-box;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
    }
  }

  &__totals-title {
    @include copy($font-weight: bold);
  }

  &__add-btn {
    @include btn(
      $color: pal(secondary),
      $background-color: pal(light),
      $border-color: transparent,
      $padding-vertical: 0
    );
  }

  &__add-btn-icon {
    margin-right: 8px;
  }
}
