<section
  class="
    col
    adsh-campaign-list"
>
  <div
    class="
      adsh-box
      adsh-box--large"
  >
    <div
      class="
        row
        adsh-copy
        adsh-copy--small"
    >
      <div
        class="
        col-xs-1
          row
          align-center"
      >
        Status
        <div
          class="
            col
            adsh-campaign-list__sort"
        >
          <div class="adsh-sort-triangle"></div>
          <div
            class="
              adsh-sort-triangle
              adsh-sort-triangle--active
              adsh-sort-triangle--down"
          ></div>
        </div>
      </div>
      <div
        class="
          col-xs-4
          row
          align-center">Campaign Title
        <div
          class="
            col
            adsh-campaign-list__sort"
        >
          <div class="adsh-sort-triangle"></div>
          <div
            class="
              adsh-sort-triangle
              adsh-sort-triangle--down"
          ></div>
        </div>
      </div>
      <div
        class="
          col-xs-1
          row
          align-center"
      >
        Budget
        <div class="
            col
            adsh-campaign-list__sort"
        >
          <div class="adsh-sort-triangle"></div>
          <div class="
              adsh-sort-triangle
              adsh-sort-triangle--down"
          ></div>
        </div>
      </div>
      <div class="
          col-xs-1
          row
          align-center"
      >
        Clicks
        <div class="
            col
            adsh-campaign-list__sort"
        >
          <div class="adsh-sort-triangle"></div>
          <div class="
              adsh-sort-triangle
              adsh-sort-triangle--down"
          ></div>
        </div>
      </div>
      <div class="
          col-xs-1
          row
          align-center"
      >
        Impressions
        <div class="
            col
            adsh-campaign-list__sort"
        >
          <div class="adsh-sort-triangle"></div>
          <div class="
              adsh-sort-triangle
              adsh-sort-triangle--down"
          ></div>
        </div>
      </div>
      <div
        class="
          col-xs-1
          row
          align-center"
      >
        CTR
        <div
          class="
            col
            adsh-campaign-list__sort"
        >
          <div class="adsh-sort-triangle"></div>
          <div
            class="
              adsh-sort-triangle
              adsh-sort-triangle--down"
          ></div>
        </div>
      </div>
      <div
        class="
          col-xs-1
          row
          align-center"
      >
        Average CPC
        <div
          class="
            col
            adsh-campaign-list__sort"
        >
          <div class="adsh-sort-triangle"></div>
          <div
            class="
              adsh-sort-triangle
              adsh-sort-triangle--down"
          ></div>
        </div>
      </div>
      <div
        class="
          col-xs-1
          row
          align-center"
      >
        Cost
        <div
          class="
            col
            adsh-campaign-list__sort"
        >
          <div class="adsh-sort-triangle"></div>
          <div
            class="
              adsh-sort-triangle
              adsh-sort-triangle--down"
          ></div>
        </div>
      </div>
      <div class="col-xs-1"></div>
    </div>

    <div class="adsh-campaign-list__items">
      <app-campaign-list-item
          *ngFor="let campaign of campaigns"
          [campaign]="campaign"
      >
      </app-campaign-list-item>
    </div>
  </div>
</section>
