@import '../../../styles.scss';

.dwmth-posters-list {
  &__sort {
    margin-left: 5px;
  }
  &__items {
    tr {
      height: 53px;
    }

    & > .dwmth-box:first-of-type {
      padding: 10px;
    }
  }
  &__status-totals-column {
    width: 150px;
  }
}
