<section
  class="
    col
    adsh-campaign-list"
>
  <div
    class="
      adsh-box
      adsh-box--large"
  >
    <app-table-navigation
      [navigationName]="'campaignListNavigation'"
      class="
        row
        adsh-copy
        adsh-copy--small"
    >
    </app-table-navigation>

    <div
      class="adsh-campaign-list__items"
      *ngIf="campaigns.length > 0 ; else loading"
    >
      <app-campaign-list-item
        *ngFor="let campaign of campaigns"
        [campaign]="campaign"
      >
      </app-campaign-list-item>
    </div>

    <ng-template #loading>
      <div class="loading-wrapper">
        <mat-spinner [diameter]="30" [strokeWidth]="4"></mat-spinner>
      </div>
    </ng-template>

    <div
      class="
        row
        justify-center"
    >
      <a
        routerLink="/advertiser/create-campaign/basic-information"
        [queryParams]="{step: 1}"
      >
        <button
          class="
            adsh-btn
            adsh-btn--white
            adsh-blue"
        >
          <img
            class="
              adsh-icon
              adsh-icon--prepend"
            src="assets/images/plus-circle--blue.svg"
          >
          Add new campaign
        </button>
      </a>
    </div>
  </div>
</section>
