@import '../../../styles.scss';

.campaign-list {
  &__sort {
    margin-left: 5px;
  }
  &__items {
    width: 100%;

    tr {
      height: 53px;
    }

    & > .dwmth-box:first-of-type {
      padding: 10px;
    }
  }
}
