@import '../../../styles.scss';

.campaign-list {
  &__sort {
    margin-left: 5px;
  }
  &__items {
    tr {
      height: 53px;
    }

    & > .adsh-box:first-of-type {
      padding: 10px;
    }
  }
}
