@import '../../../../styles';

.table-poster-unit {
  @include container();
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid pal(gray);

  &__cell {
    margin: 0 0 0 0.5rem;
    padding: 0;
    display: flex;
    align-items: center;

    &--start {
      align-items: flex-start;
    }

    & .ap-btn--edit {
      min-width: unset;
      max-width: 100%;
      margin-left: -8px;
    }
  }

  &__cell-value {
    margin-left: 0.5rem;
  }

  &__thumbnail {
    width: 60px;
    height: auto;
    cursor: pointer;
  }

  &__thumbnail-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: pal(gray);
  }

  &__chip-box {
    margin: 5px 4px 5px 0 !important;
  }

  &__btn {
    @include btn(
      $color: pal(secondary),
      $background-color: pal(light),
      $border-color: pal(light)
    );
    max-height: 46px;
    text-align: left;

    @include media(md-down) {
      padding: 4px 12px;
    }
  }

  &__btn-icon {
    font-size: 12px;
    margin-right: 10px;
  }
}
