<tr class="dwmth-box row justify-between">
  <td class="col-xs-1 dwmth-copy  poster-unit__cell"> {{ adUnit.shortHeadline }}</td>
  <td class="col-xs-1 col justify-around poster-unit__cell poster-unit__cell--start">
    <span class="text-left dwmth-copy dwmth-copy--blue dwmth-copy--small"> {{ adUnit.size.label }} </span>
    <span class="text-left dwmth-copy dwmth-copy--bold"> {{ adUnit.size.width }} x {{adUnit.size.height }} </span>
  </td>
  <td class="row col-xs-2 poster-unit__cell">
    <div class="dwmth-chip-box poster-unit__chip-box"
         *ngFor="let tag of tags"
         data-test="publisher-ad-unit-tag"
    >
      {{ tag }}
    </div>
  </td>

  <td class="col-xs-1 dwmth-copy dwmth-copy--semi poster-unit__cell"
      [title]="(adUnit.revenue || 0) | adsharesTokenValue:'$'">
    {{ (adUnit.revenue || 0) | adsharesTokenValue:'$':2 }}
  </td>
  <td class="col-xs-1 dwmth-copy dwmth-copy--semi poster-unit__cell"> {{ (adUnit.clicks || 0) }}</td>
  <td class="col-xs-1 dwmth-copy dwmth-copy--semi poster-unit__cell"> {{ (adUnit.impressions || 0) }}</td>
  <td class="col-xs-1 dwmth-copy dwmth-copy--semi poster-unit__cell"> {{ (adUnit.ctr || 0) | percent:'1.2-2' }}</td>
  <td class="col-xs-1 dwmth-copy dwmth-copy--semi poster-unit__cell"
      [title]="(adUnit.averageRpm || 0) | adsharesTokenValue:'$'">
    {{ (adUnit.averageRpm || 0) | adsharesTokenValue:'$':2 }}
  </td>
  <td class="col-xs-1 dwmth-copy  poster-unit__cell"
      [title]="(adUnit.averageRpc || 0) | adsharesTokenValue:'$'">
    {{ (adUnit.averageRpc || 0) | adsharesTokenValue:'$':2 }}
  </td>
  <td class="col-xs-1 poster-unit__cell">
    <button
      class="
        dwmth-btn
        dwmth-btn--with-icon
        dwmth-btn--edit"
      *ngIf="adUnit.code"
      (click)="openGetCodeDialog()"
      data-test="publisher-ad-unit-get-code-button"
    >
      <fa-icon class="poster-unit__btn-icon" [icon]="codeIcon"></fa-icon>
      Get Code
    </button>
  </td>
</tr>

