<tr class="adsh-box row justify-between">
  <!-- unit min / name / size / tags -->
  <td class="col-xs-1 ad-unit__thumbnail-wrapper ad-unit__cell">
    <img class="ad-unit__thumbnail"
         src="/assets/images/board_ads_q_b_800.png"
         alt="ad-thumbnail"/>
  </td>

  <td class="col-xs-1 adsh-copy adsh-copy--semi ad-unit__cell"> {{ adUnit.shortHeadline }}</td>
  <td class="col-xs-1 col justify-around ad-unit__cell ad-unit__cell--start">
    <span class="text-left adsh-copy adsh-copy--blue adsh-copy--small"> {{ adUnit.size.label }} </span>
    <span class="text-left adsh-copy adsh-copy--bold"> {{ adUnit.size.width }} x {{adUnit.size.height }} </span>
  </td>
  <td class="row col-xs-2 ad-unit__cell">
    <div class="adsh-chip-box ad-unit__chip-box"
         *ngFor="let tag of tags"
         data-test="publisher-ad-unit-tag"
    >
      {{ tag }}
    </div>
  </td>

  <!-- est. rev / clicks / views / page PRM (???) /  avg rpc / code -->

  <td class="col-xs-1 adsh-copy adsh-copy--semi ad-unit__cell"> 10 ADS</td>
  <td class="col-xs-1 adsh-copy adsh-copy--semi ad-unit__cell"> 10 ADS</td>
  <td class="col-xs-1 adsh-copy adsh-copy--semi ad-unit__cell"> 10 ADS</td>
  <td class="col-xs-1 adsh-copy adsh-copy--semi ad-unit__cell"> 10 ADS</td>
  <td class="col-xs-1 adsh-copy adsh-copy--semi ad-unit__cell"> 10 ADS</td>
  <td class="col-xs-1 ad-unit__cell">
    <button
      class="
        adsh-btn
        adsh-btn--with-icon
        adsh-btn--edit"
      *ngIf="adUnit.code"
      (click)="openGetCodeDialog()"
      data-test="publisher-ad-unit-get-code-button"
    >
      <fa-icon class="ad-unit__btn-icon" [icon]="codeIcon"> </fa-icon>
      Get Code
    </button>
  </td>
</tr>

