@import '../../../styles.scss';

.settings-navigation {
  height: 100%;
  width: 200px;
  padding: 20px 40px;
  background-color: pal(white);
  transition: width 0.5s ease-in;

  @include media(md-up) {
    width: 300px;
  }

  &__totals-funds {
    @include container(20px, 20px, pal(blue, base));
    display: flex;
    flex-direction: column;
  }

  &__title {
    @include copy(pal(white));
  }

  &__account-status {
    @include copy(
        pal(white),
      $font-size: 26,
      $font-weight: bold,
      $margin-vertical: 0px
    );

    &--in-currency {
      @include copy(
          pal(white),
        $font-size: 20,
        $font-weight: normal,
        $margin-vertical: 10px
      );
      margin-bottom: 0;
    }
  }
}
