<section class="settings-navigation">
  <div class="col total-funds adsh-box adsh-box--large adsh-bg-blue">
    <h6
            class="
        adsh-copy
        adsh-copy--small
        adsh-white"
    >
      Total Funds:
    </h6>
    <span
            class="
        adsh-heading
        adsh-heading--primary
        adsh-white"
            data-test="user-total-funds"
    >
      {{ adserverWallet.totalFunds | adsharesTokenValue }}
    </span>
    <span
            class="
        adsh-copy
        adsh-copy--x-small
        adsh-white
        adsh-copy--bold"
            data-test="user-total-funds-change"
    >
      {{ adserverWallet.totalFundsChange }} ( {{ adserverWallet.totalFundsChange / adserverWallet.totalFunds | percent }})
    </span>
  </div>

  <div
          class="settings-category"
          *ngFor="let settingsItem of settings"
          routerLinkActive="active"
  >
    <a
            [routerLink]="['/settings', settingsItem.link]"
            data-test="settings-category-link"
            *ngIf="
         (settingsItem.role?.length > 0 && settingsItem.role.indexOf('admin') !== -1 && (userDataState | async).isAdmin)
         ||
         (settingsItem.role?.length > 0 && settingsItem.role.indexOf('publisher') !== -1 && (userDataState | async).isPublisher)
         ||
         (settingsItem.role?.length > 0 && settingsItem.role.indexOf('advertiser') !== -1 && (userDataState | async).isAdvertiser)"
    >
      <h3
              class="
          adsh-heading
          adsh-heading--secondary"
      >
        {{ settingsItem.title }}
      </h3>
    </a>
    <p class="adsh-copy">
      {{ settingsItem.description }}
    </p>
    <ul
            class="
        adsh-copy
        adsh-copy--large"
    >
      <a
              [routerLink]="['/settings', settingsItem.link]"
              data-test="settings-category-link-direct"
      >
        <li *ngFor="let settingsValues of settingsItem.values">
          <div class="row align-center" routerLinkActive="active"
               *ngIf="
               (settingsItem.role?.length > 0 && settingsItem.role.indexOf('admin') !== -1 && (userDataState | async).isAdmin)
               ||
               (settingsItem.role?.length > 0 && settingsItem.role.indexOf('publisher') !== -1 && (userDataState | async).isPublisher)
               ||
               (settingsItem.role?.length > 0 && settingsItem.role.indexOf('advertiser') !== -1 && (userDataState | async).isAdvertiser)"
          >
            <img
                    class="
                adsh-icon
                adsh-icon--prepend"
                    [src]="settingsValues.icon"
            >
            <span>{{ settingsValues.name }}</span>
          </div>
        </li>
      </a>
    </ul>
  </div>
</section>
