@import '../../../styles';

.campaign-classification-info {
  &__status,
  &__label {
    margin: 6px 5px 6px 0;
    fa-icon {
      margin-right: 3px;
    }
  }

  &__in-progress {
    color: pal(secondary);
  }

  &__error {
    color: pal(error);
  }

  &__success {
    color: pal(success);
  }

  .mat-chip {
    margin: 0 !important;
  }

  [ng-reflect-message] {
    cursor: help;
  }

  &.compact {
    .campaign-classification-info__status {
      margin: 0 !important;
      fa-icon {
        margin: 0 !important;
      }
    }
    ::ng-deep .mat-chip-list-wrapper {
      margin: 0 !important;
    }
  }
}
