<section class="app-targeting-display">
  <mat-chip-list *ngFor="let groupedTargeting of viewModel" class="app-targeting-display">
    <div
      class="ap-copy ap-copy--semi"
      [ngClass]="{ 'targeting-display__exclude-text': isExclude }"
      data-test="common-targeting-display-selected-item">
      {{ groupedTargeting.parentPath }}:
    </div>

    <div class="row align-center">
      <mat-chip
        *ngFor="let targetingItem of groupedTargeting.chosenTargeting"
        [ngClass]="{ 'hide-remove': !canRemove }"
        (removed)="removeItem(targetingItem.id)"
        data-test="common-targeting-display-remove-item">
        <a *ngIf="!canRemove && targetingItem.url" [href]="targetingItem.url" target="_blank" rel="noopener,noreferrer">
          <p class="ap-copy ap-copy--x-dark ap-copy--semi">
            {{ targetingItem.label }}
          </p>
        </a>
        <p *ngIf="canRemove || !targetingItem.url" class="ap-copy ap-copy--secondary ap-copy--semi">
          {{ targetingItem.label }}
        </p>
        <fa-icon matChipRemove class="ap-icon ap-icon--append" [icon]="faClose"></fa-icon>
      </mat-chip>
    </div>
  </mat-chip-list>
</section>
