@import '../../../../../styles.scss';

.app-targeting-display {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 4px;

  &__chip-list:not(:last-of-type) {
    margin-bottom: 8px;
  }
}

.hide-remove {
  .mat-chip-remove {
    display: none;
  }
}

.targeting-display {
  &__exclude-text {
    color: pal(red);
  }
}

.chip {
  display: none;

  &-active {
    display: block;
  }
}

.remove {
  font-size: 11px;
  color: pal(red, dark);
  position: absolute;
  top: 50%;
  left: 50%;
  font-weight: bold;
  transform: translate(-50%, -50%);
}
