<div class="adsh-box">
  <div class="adsh-ad-list__item">
    <div
      class="
        row
        align-center
        adsh-copy
        adsh-copy--semi"
    >
      <div
        class="
          col-xs-2
          row
          align-center"
      >
        <div
          class="text-center"
          [attr.data-status]="ad.status"
        >
          <div class="row">
            <div class="col-xs-9">
              <mat-select
                class="adsh-select"
                [(value)]="ad.status"
                [compareWith]="selectCompare"
                (change)="changeAdStatus()"
                data-test="advertiser-ad-change-ad-status-select"
              >
                <mat-option
                  *ngFor="let adStatus of adStatuses"
                  [value]="adStatus.id"
                  data-test="advertiser-ad-change-ad-status-option"
                >
                  {{ adStatus.name }}
                </mat-option>
              </mat-select>
            </div>
          </div>
        </div>
      </div>
      <div
        class="
          col-xs-3
          row
          align-center"
      >
        <h4
          class="
            adsh-heading
            adsh-heading--secondary"
          data-test="advertiser-ad-short-headline"
        >
          {{ ad.shortHeadline }}
        </h4>
      </div>
      <div
        class="
          col-xs-1
          row
          align-center"
      >
      <span data-test="advertiser-ad-budget">
        {{ ad.budget | number:'1.2-2' | commaReplacer | currency:USD }} /day
      </span>
      </div>
      <div
        class="
          col-xs-1
          row
          align-center">
      <span data-test="advertiser-ad-clicks">
        {{ ad.clicks }}
      </span>
      </div>
      <div
        class="
          col-xs-1
          row
          align-center"
      >
      <span data-test="advertiser-ad-impressions">
        {{ ad.impressions }}
      </span>
      </div>
      <div
        class="
          col-xs-1
          row
          align-center"
      >
      <span data-test="advertiser-ad-ctr">
        {{ ad.ctr | percent:'1.2-2' }}
      </span>
      </div>
      <div
        class="
          col-xs-1
          row
          align-center"
      >
      <span data-test="advertiser-ad-average-cpc">
        {{ ad.averageCPC | number:'1.2-2' | commaReplacer | currency:USD }}
      </span>
      </div>
      <div
        class="
          col-xs-1
          row
          align-center"
      >
      <span data-test="advertiser-ad-cost">
        {{ ad.cost | number:'1.2-2' | commaReplacer | currency:USD }}
      </span>
      </div>
    </div>
  </div>
</div>
