@import '../../../../../styles.scss';

.ap-posters-list {

  &__item {
    @include container();
    border-bottom: 1px solid pal(gray);
    overflow: hidden;
  }

  &__nav-item {
    &:focus,
    &:hover {
      animation: slide-right 0.5s cubic-bezier(0.42, 0, 0, 1.45);
      animation-fill-mode: forwards;
    }
  }
}
