@import '../../../../../styles/keyframes';

.dwmth-posters-list-item {
  border: none;

  &__nav-item {
    height: 100px;
    max-height: 100px;

    &:focus,
    &:hover {
      animation: slide-right 0.5s ease-in;
      animation-fill-mode: forwards;
    }
  }
}
