@import '../../../../styles.scss';

.site-edit-basic-information {
  max-width: 500px;
  margin: 0 auto;

  @include media(xxl-up) {
    max-width: 900px;
  }

  @include media(xxxl-up) {
    max-width: 1100px;
  }

  &__info-box {
    .ap-copy--large {
      display: inline-block;
    }

    .ap-select {
      width: 220px;
      margin: 0;
    }

    .https-warning {
      margin: 5px 0 10px 0;
      color: pal(red);
    }
  }

  .ap-form-label--no-margin-top {
    margin-top: 0;
  }

  .ap-box {
    margin: 16px 0 8px 0;
  }

  &__language {
    &__option {
      text-transform: capitalize;
    }
  }

  & .ap-form-label--shorter {
    transform: translateY(12px);
  }

  & .ap-copy__hint {
    transform: translateY(-15px);
  }

}

.ap-form-input:disabled {
  color: palette(gray);
  background-color: #ffffff;
}

.ap-form-input__box__full {
  width: 100%;
}

.ap-form-label--inline {
  margin-right: 10px;
}
