@import '../../../../styles.scss';

.site-edit-basic-information {

  & .ap-form-input__box:not(:last-child) {
    margin-bottom: 24px;
  }

  &__info-box {
    .ap-copy--large {
      display: inline-block;
    }

    .ap-select {
      width: 220px;
      margin: 0;
    }

    .https-warning {
      margin: 5px 0 10px 0;
      color: pal(error);
    }
  }

  .ap-form-label--no-margin-top {
    margin-top: 0;
  }

  &__language {
    &__option {
      text-transform: capitalize;
    }
  }

  & .ap-form-label--shorter {
    transform: translateY(12px);
  }

  & .ap-copy__hint {
    transform: translateY(-12px);
  }
}

.ap-form-input:disabled {
  color: palette(gray);
  background-color: #ffffff;
}

.ap-form-input__box__full {
  width: 100%;
}

.ap-form-label--inline {
  margin-right: 10px;
}
