<app-edit-site-navigation
  [currentStep]="1"
  [medium]="medium"
></app-edit-site-navigation>
<section
  class="
    homepage-view
    site-edit-basic-information"
>
  <div class="text-center">
    <h1
      class="
        dwmth-heading
        dwmth-heading--primary"
    >
      Basic information
    </h1>
  </div>

  <form
    [formGroup]="siteBasicInfoForm"
    class="dwmth-form"
    data-test="publisher-edit-site-basic-information-form"
  >
    <div
      class="
        dwmth-box
        dwmth-box--large
        site-edit-basic-information__info-box"
    >
      <div class="dwmth-form-input__box">
        <label class="dwmth-form-label dwmth-form-label--no-margin-top">Medium</label>
        <mat-select
          class="dwmth-select"
          formControlName="medium"
          (selectionChange)="onMediumChange($event.value)"
          data-test="publisher-edit-site-basic-information-medium-select"
        >
          <mat-option
            *ngFor="let medium of media"
            [value]="medium.key"
            data-test="publisher-edit-site-basic-information-medium-option"
          >
            {{ medium.value }}
          </mat-option>
        </mat-select>
      </div>
      <div
        *ngIf="vendors.length > 0"
        class="dwmth-form-input__box"
      >
        <label class="dwmth-form-label dwmth-form-label--no-margin-top">Vendor</label>
        <mat-select
          class="dwmth-select"
          formControlName="vendor"
          (selectionChange)="onVendorChange($event.value)"
          data-test="publisher-edit-site-basic-information-vendor-select"
        >
          <mat-option
            *ngFor="let vendor of vendors"
            [value]="vendor.key"
            data-test="publisher-edit-site-basic-information-vendor-option"
          >
            {{ vendor.value }}
          </mat-option>
        </mat-select>
      </div>

      <div
        [ngClass]="{'hidden': medium !== 'web'}"
        class="dwmth-form-input__box"
      >
        <label
          for="siteUrl"
          class="dwmth-form-label"
        >
          Website URL
          <fa-icon
            matTooltipClass="dwmth-mat-tooltip"
            matTooltip="
              Enter your website's URL address.
              Ad units will be displayed only under the specified domain."
            matTooltipPosition="right"
            [icon]="faQuestionCircle"
          ></fa-icon>
        </label>

        <input
          formControlName="url"
          id="siteUrl"
          class="dwmth-form-input dwmth-form-input--full"
          type="text"
          (focus)="onUrlFocus()"
          (blur)="onUrlBlur()"
          data-test="publisher-edit-site-basic-information-form-url"
        >
        <span
          class="input-valid"
          *ngIf="siteBasicInfoForm.get('url').valid && siteBasicInfoForm.get('domain').valid && (siteBasicInfoForm.get('url').touched || siteBasicInfoForm.get('url').dirty)"
        ></span>
        <span
          class="error-msg"
          *ngIf="siteBasicInfoSubmitted && (siteBasicInfoForm.get('url').invalid || siteBasicInfoForm.get('domain').invalid)"
        >
          Please provide a valid URL. Protocol http(s) is required.
        </span>
        <span
          class="error-msg"
          *ngIf="siteBasicInfoForm.get('url').hasError('maxlength')"
        >
          Limit the length to at most {{ websiteUrlLengthMax }} characters
        </span>
        <span
          class="error-msg"
          *ngIf="siteBasicInfoForm.get('url').valid && siteBasicInfoForm.get('domain').hasError('maxlength')"
        >
          Limit the length of domain to at most {{ websiteDomainLengthMax }} characters
        </span>
      </div>

      <ng-container [ngSwitch]="vendor">
        <div
          *ngSwitchCase="'cryptovoxels'"
          class="dwmth-form-input__box"
        >
          <label
            for="parcelId"
            class="dwmth-form-label"
          >
            Parcel's ID
            <fa-icon
              matTooltipClass="dwmth-mat-tooltip"
              matTooltip="
                Enter your parcel's ID.
                Ad units will be displayed only on specified parcel."
              matTooltipPosition="right"
              [icon]="faQuestionCircle"
            ></fa-icon>
          </label>

          <input
            (blur)="overwriteUrl()"
            formControlName="parcelId"
            id="parcelId"
            class="dwmth-form-input dwmth-form-input--full"
            type="number"
            required
            data-test="publisher-edit-site-basic-information-form-parcel-id"
          >
          <span
            *ngIf="hasParcelIdError"
            class="error-msg"
          >
            Please provide a parcel's ID
          </span>
        </div>

        <div
          *ngSwitchCase="'decentraland'"
          class="dwmth-form-input__box"
        >
          <label
            for="parcelCoordinateX"
            class="dwmth-form-label"
          >
            Parcel's coordinates
            <fa-icon
              matTooltipClass="dwmth-mat-tooltip"
              matTooltip="
                Enter your parcel's coordinates.
                Ad units will be displayed only on specified parcel."
              matTooltipPosition="right"
              [icon]="faQuestionCircle"
            ></fa-icon>
          </label>

          <div class="row justify-between">
            <input
              (blur)="overwriteUrl()"
              formControlName="parcelCoordinateX"
              id="parcelCoordinateX"
              class="dwmth-form-input"
              type="number"
              required
              data-test="publisher-edit-site-basic-information-form-parcel-coordinate-x"
            >
            <input
              (blur)="overwriteUrl()"
              formControlName="parcelCoordinateY"
              id="parcelCoordinateY"
              class="dwmth-form-input"
              type="number"
              required
              data-test="publisher-edit-site-basic-information-form-parcel-coordinate-y"
            >
          </div>
          <span
            *ngIf="hasParcelCoordinateError"
            class="error-msg"
          >
            Please provide parcel's coordinates
          </span>
        </div>
      </ng-container>

      <div class="dwmth-form-input__box">
        <label
          for="siteName"
          class="dwmth-form-label"
        >
          Website name
          <fa-icon
            matTooltipClass="dwmth-mat-tooltip"
            matTooltip="Enter your website custom name to make the navigation easier."
            matTooltipPosition="right"
            [icon]="faQuestionCircle"
          ></fa-icon>
        </label>

        <input
          formControlName="name"
          id="siteName"
          class="
            dwmth-form-input
            dwmth-form-input--full"
          type="text"
          data-test="publisher-edit-site-basic-information-form-name"
        >
        <span
          class="input-valid"
          *ngIf="siteBasicInfoForm.get('name').valid && siteBasicInfoForm.get('name').touched"
        ></span>
        <span
          class="error-msg"
          *ngIf="!siteBasicInfoForm.get('name').valid && siteBasicInfoSubmitted"
        >
          Please provide a valid name.
        </span>
        <span
          class="error-msg"
          *ngIf="siteBasicInfoForm.get('name').hasError('maxlength')"
        >
          Limit the length to at most {{ websiteNameLengthMax }} characters
        </span>
      </div>

      <div
        *ngIf="isSetCategoryMode"
        class="dwmth-form-input__box"
      >
        <label
          class="dwmth-form-label"
        >
          Category
          <fa-icon
            matTooltipClass="dwmth-mat-tooltip"
            matTooltip="Choose the categories that best match your site."
            matTooltipPosition="right"
            [icon]="faQuestionCircle"
          ></fa-icon>
        </label>
        <app-targeting-select
          *ngIf="siteCategoriesOptions && siteCategoriesOptions.length > 0"
          [targetingOptions]="siteCategoriesOptions"
          [addedItems]="selectedTargetingOptionValues"
          (itemsChange)="updateSelectedTargetingOptionValues($event)"
        ></app-targeting-select>
        <span
          class="error-msg"
          *ngIf="selectedTargetingOptionValues.length === 0 && siteBasicInfoSubmitted"
        >
          At least one category is required
        </span>
      </div>

      <div
        class="dwmth-form-input__box
               site-edit-basic-information__language">
        <label
          for="languageInput"
          class="dwmth-form-label dwmth-form-label--shorter dwmth-form-label--no-margin-top"
        >
          Content language
        </label>
        <mat-form-field appearance="standard" class="col">
          <input matInput
                 class="
                    dwmth-form-input
                    dwmth-form-input--full"
                 id="languageInput"
                 formControlName="primaryLanguage"
                 type="text"
                 [matAutocomplete]="auto"/>
          <mat-autocomplete
              #auto
              [displayWith]="displayOption"
          >
            <mat-option
              *ngFor="let language of filteredOptions | async "
              [value]="language"
            >
              {{ language.name }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <span
          class="
            dwmth-copy
            dwmth-copy--light
            dwmth-copy__hint">
          Please specify the primary language of your website.
        </span>

        <span
          class="error-msg"
          *ngIf="siteBasicInfoForm.hasError('required', ['primaryLanguage']) && siteBasicInfoSubmitted"
        >
          Content language required
        </span>
      </div>
    </div>

    <div
       *ngIf="medium === 'metaverse' && createSiteMode"
       class="dwmth-box dwmth-box--large"
    >
      <ng-template #connectWallet>
        <p class="dwmth-copy">
          Before creating a site, <a routerLink="/settings/general"> connect wallet</a>.
        </p>
      </ng-template>

      <div
        *ngIf="isConnectedWallet else connectWallet"
        class="dwmth-copy instruction"
      >
        <p>
          Follow the few steps below to integrate:
        </p>
        <ol *ngIf="vendor === 'cryptovoxels'">
          <li>
            Generate and copy the Adshares code:
            <button
              class="dwmth-btn dwmth-btn--blue dwmth-btn--x-small"
              role="button"
              (click)="openGetCryptovoxelsCodeDialog()"
              data-test="publisher-get-code-button"
            >
              Get the ad code
            </button>
          </li>
          <li>Add image object from the Asset Library</li>
          <li>After placing your banner, just resize it to fit as you want. The system will detect scale and automatically serve ads.</li>
        </ol>
        <ol *ngIf="vendor === 'decentraland'">
          <li>
            Download the smart item from
            <a
              [href]="ADD_UNIT_DECENTRALAND_SMART"
              target="_blank"
              rel="noopener nofollow noreferrer">
              GitHub
              <fa-icon [icon]="faExternalLinkSquareAlt" class="dwmth-icon dwmth-icon--large"></fa-icon>
            </a>
          </li>
          <li>Add it using the
            <a href="https://builder.decentraland.org/"
               target="_blank"
               rel="noopener nofollow noreferrer">
              DCL builder
              <fa-icon [icon]="faExternalLinkSquareAlt" class="dwmth-icon dwmth-icon--large"></fa-icon>
          </a></li>
          <li>After placing your banner, just resize it to fit as you want. The system will detect scale and automatically serve ads.</li>
          <li>Provide payout network: {{ wallet.walletNetwork }}</li>
          <li>Provide payout address: {{ wallet.walletAddress }}</li>
          <li>Provide adserver URL: {{ serverUrl }}</li>
        </ol>
        <p>
          For more information read
          <a
            [href]="vendor === 'cryptovoxels' ? ADD_UNIT_CRYPTOVOXELS : ADD_UNIT_DECENTRALAND"
            target="_blank"
            rel="noopener nofollow noreferrer"
          >
            the manual
            <fa-icon [icon]="faExternalLinkSquareAlt" class="dwmth-icon dwmth-icon--large"></fa-icon>
          </a>.
        </p>
      </div>
    </div>

    <div
      class="dwmth-box dwmth-box--large row justify-between"
    >
      <button
        type="button"
        class="dwmth-btn dwmth-btn--white dwmth-blue"
        role="link"
        (click)="onStepBack()"
        [disabled]="changesSaving"
      >
        {{createSiteMode ? 'Back to dashboard' : 'Back'}}
      </button>

      <button
        class="dwmth-btn dwmth-btn--wide dwmth-btn--blue"
        data-test="publisher-edit-site-save-and-continue"
        (click)="onSubmit()"
        [disabled]="changesSaving"
      >
        <span *ngIf="!changesSaving; else loading">{{createSiteMode ? "Save & continue" : "Update" }}</span>
        <ng-template #loading>
          <mat-spinner [diameter]="20" [strokeWidth]="2" color="accent"></mat-spinner>
        </ng-template>
      </button>

    </div>
  </form>
</section>
