<mat-dialog-content class="text-center">
  <div (click)="dialogRef.close()" class="ap-dialog-close"></div>

  <div class="col row--gap18">
    <h1 class="ap-heading ap-heading--h3">Ad Preview</h1>

    <div class="ad-preview__wrapper">
      <a [href]="data.landingUrl | testPlaceholders" target="_blank" rel="nofollow noopener noreferrer">
        <div
          [ngSwitch]="type"
          class="ad-preview__container"
          [ngStyle]="{
            width: width,
            height: height,
            overflow: 'hidden'
          }">
          <img *ngSwitchCase="adCreativeTypes.IMAGE" [src]="data.url" alt />
          <iframe
            *ngSwitchCase="adCreativeTypes.HTML"
            [src]="data.url | trustUrl"
            sandbox="allow-same-origin allow-scripts"
            scrolling="no"
            title="Ad Preview"
            [ngStyle]="{
              width: width,
              height: height,
              overflow: 'hidden'
            }"></iframe>
          <video *ngSwitchCase="adCreativeTypes.VIDEO" autoplay loop muted>
            <source [src]="data.url" />
            Sorry, your browser doesn't support embedded videos.
          </video>
          <app-model-preview *ngSwitchCase="adCreativeTypes.MODEL" [modelUrl]="data.url"></app-model-preview>

          <div class="ad-preview__icon">
            <svg
              style="width: 16px; height: 16px; display: block"
              viewBox="0 0 16 16"
              xmlns="http://www.w3.org/2000/svg">
              <rect x="-.78" y="-.84" width="17.54" height="17.61" fill="#ffffff" />
              <path
                d="m11.82,2.45v2.88c-.41-.15-.86-.23-1.33-.23-.9,0-1.73.3-2.4.8.68.62,1.16,1.45,1.33,2.39.24-.33.63-.54,1.07-.54.73,0,1.33.6,1.33,1.33s-.59,1.33-1.33,1.33c-.44,0-.83-.21-1.07-.54-.16-.22-.26-.49-.26-.79,0-1.18-.51-2.24-1.33-2.97-.08-.07-.17-.15-.26-.21-.67-.5-1.5-.8-2.4-.8-2.2,0-3.98,1.78-3.98,3.98s1.78,3.98,3.98,3.98c.9,0,1.73-.3,2.4-.8-.68-.62-1.16-1.45-1.33-2.39-.24.33-.63.54-1.07.54-.73,0-1.33-.6-1.33-1.33s.6-1.33,1.33-1.33c.44,0,.83.21,1.07.54.16.22.26.49.26.79,0,1.18.51,2.24,1.33,2.97.08.07.17.15.26.21.67.5,1.5.8,2.4.8.47,0,.91-.08,1.33-.23,1.55-.55,2.66-2.02,2.66-3.76V2.45h-2.66Z"
                fill="#ff414d" />
            </svg>
          </div>

          <div class="ad-preview__overlay"></div>
        </div>
      </a>
    </div>
  </div>
</mat-dialog-content>
