<mat-dialog-content
  class="
    text-center
    mat-dialog-content"
>
  <div
    (click)="dialogRef.close()"
    class="dwmth-dialog-close"
  ></div>
  <h1
    class="
      dwmth-heading
      dwmth-heading--primary"
  >
    Ad codes
  </h1>

  <div>
    <p
      class="
        dwmth-copy
        dwmth-copy--large"
    >
      This code should only be used on websites that comply with our program policies.
      Please copy the code and place it on your site.
    </p>

    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title
            class="
              dwmth-heading
              dwmth-heading--secondary
              text-left"
          >
            <mat-icon>
              filter_list
            </mat-icon>
            Customize ad codes
          </mat-panel-title>
        </mat-expansion-panel-header>
        <form
          [formGroup]="codeForm"
          class="form-code"
        >
          <div class="row ad-codes">
            <mat-checkbox
              formControlName="isProxy"
            >
              Force User Cooperation Kit
            </mat-checkbox>
          </div>
          <div class="row ad-codes">
            <mat-checkbox
              formControlName="isMinCpm"
            >
              Enable minimal CPM
            </mat-checkbox>
            <div
              *ngIf="codeForm.get('isMinCpm').value"
              class="row"
            >
              <input
                *ngIf="codeForm.get('isMinCpm').value"
                matInput
                formControlName="minCpm"
                class="dwmth-form-input input-in-text input-in-text--amount"
              />
              <span class="dwmth-info-box">{{ CURRENCY_CODE }}</span>
              <span
                *ngIf="!codeForm.get('minCpm').valid"
                class="error-msg error-msg-in-text"
              >Value must be greater than 0.0001 {{ CURRENCY_CODE }}</span>
            </div>
          </div>
          <div class="row ad-codes">
            <mat-checkbox
              formControlName="isAdBlock"
            >
              Enable displaying ads for AdBlocks
            </mat-checkbox>
          </div>
          <div class="row ad-codes">
            <mat-checkbox
              formControlName="isFallback"
            >
              Enable custom fallback
            </mat-checkbox>
          </div>

          <div *ngIf="hasSitePops">
            <div
              class="row ad-codes align-center"
            >
              Display
              <input
                id="pop-count"
                matInput
                class="dwmth-form-input input-in-text"
                formControlName="popCount"
              />
              pop(s) per
              <input
                id="pop-interval"
                matInput
                class="dwmth-form-input input-in-text"
                formControlName="popInterval"
              />
              hours. Max
              <input
                id="pop-burst"
                matInput
                class="dwmth-form-input input-in-text"
                formControlName="popBurst"
              />
              pop(s) per page view.
            </div>

            <div class="row">
              <span
                *ngIf="!codeForm.get('popCount').valid || !codeForm.get('popInterval').valid || !codeForm.get('popBurst').valid"
                class="error-msg"
              >Value must be greater than 0</span>
            </div>
          </div>
        </form>
      </mat-expansion-panel>
    </mat-accordion>

    <div
      id="code-container-wrapper"
    >
      <label for="code-container"></label>
      <textarea
        *ngIf="!loadingInfo; else loading"
        id="code-container"
        class="
          dwmth-box
          dwmth-box--large
          dwmth-box--light-border
          dwmth-copy"
        data-test="publisher-ad-code"
      >{{ code }}</textarea>
    </div>

    <div
      class="row justify-end">
      <button
        class="dwmth-btn dwmth-btn--blue"
        (click)="copyCode()"
        data-test="publisher-ad-code-copy-btn"
      >
        Copy to clipboard
      </button>
    </div>
  </div>

  <ng-template #loading>
    <div class="loading-wrapper">
      <mat-spinner [diameter]="30" [strokeWidth]="4"></mat-spinner>
    </div>
  </ng-template>
</mat-dialog-content>
