<mat-dialog-content class="text-center mat-dialog-content fill-height">
  <div (click)="dialogRef.close()" class="ap-dialog-close"></div>

  <div class="col row--gap32">
    <div class="col row--gap8">
      <h2 class="ap-heading ap-heading--h3">Placement codes</h2>
      <p class="ap-copy">
        This code should only be used on websites that comply with our program policies. Please copy the code and place
        it on your site.
      </p>
    </div>

    <div *ngIf="isUserConfirmed" class="col row--gap32">
      <mat-accordion class="ap-form-input-accordion">
        <mat-expansion-panel expanded="false">
          <mat-expansion-panel-header>
            <mat-panel-title class="ap-heading ap-heading--h3 text-left">
              <span class="row align-center">
                <mat-icon class="ap-icon ap-icon--prepend"> filter_list </mat-icon>
                Customize placement codes
              </span>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <form id="code-form" [formGroup]="codeForm" class="col row--gap8">
            <div class="row justify-start align-center codes-param">
              <div class="col-xs-7">
                <mat-checkbox formControlName="isProxy" (change)="onChangeAdvancedCircumvent($event)">
                  Enable advanced circumvent of ad blockers
                </mat-checkbox>
              </div>
              <div class="col-xs-5 ap-copy">
                <a
                  class="align-with-checkbox"
                  [href]="CIRCUMVENT_ADBLOCKS_INSTRUCTION"
                  rel="noopener noreferrer"
                  target="_blank">
                  read more
                </a>
              </div>
            </div>

            <div class="row justify-start align-center codes-param">
              <div class="col-xs-7">
                <mat-checkbox formControlName="isMinCpm"> Display ads with a CPM rate higher than </mat-checkbox>
                <input
                  type="number"
                  matInput
                  formControlName="minCpm"
                  class="ap-form-input input-in-text input-in-text--amount justify-center" />
                <span class="ap-info-box mat-checkbox-label align-with-checkbox">{{ currencyCode }} only</span>

                <div *ngIf="!codeForm.get('minCpm').valid" class="row">
                  <span class="error-msg error-msg-in-text">Value must be greater than 0.0001 {{ currencyCode }}</span>
                </div>
              </div>
              <div class="col-xs-5 ap-copy">
                <a
                  class="align-with-checkbox"
                  [href]="AVAILABLE_ADZONE_OPTIONS"
                  rel="noopener noreferrer"
                  target="_blank">
                  read more
                </a>
              </div>
            </div>
            <div class="row justify-start align-center codes-param">
              <div class="col-xs-7">
                <mat-checkbox formControlName="isAdBlock">
                  Display ads in browsers with active ad blockers only
                </mat-checkbox>
              </div>
              <div class="col-xs-5 ap-copy">
                <a
                  class="align-with-checkbox"
                  [href]="AVAILABLE_ADZONE_OPTIONS"
                  rel="noopener noreferrer"
                  target="_blank">
                  read more
                </a>
              </div>
            </div>
            <div class="row justify-start align-center codes-param">
              <div class="col-xs-7">
                <mat-checkbox formControlName="isFallback"> Enable custom fallback for </mat-checkbox>
                <input
                  type="number"
                  min="0"
                  max="100"
                  step="0.1"
                  matInput
                  formControlName="fallbackRate"
                  class="ap-form-input input-in-text input-in-text--amount justify-center" />
                <span class="ap-info-box mat-checkbox-label align-with-checkbox">% of ad views</span>
                <div class="mat-checkbox-label align-with-checkbox align-with-checkbox-label-vertically2">
                  E.g. display other ad networks' ads
                </div>
                <div *ngIf="!codeForm.get('fallbackRate').valid" class="row">
                  <span class="error-msg error-msg-in-text">Value must be between 0% and 100%</span>
                </div>
              </div>
              <div class="col-xs-5 ap-copy">
                <a
                  class="align-with-checkbox"
                  [href]="SETUP_FALLBACK_BACKFILL_CODE_INSTRUCTION"
                  rel="noopener noreferrer"
                  target="_blank">
                  read more
                </a>
              </div>
            </div>

            <div *ngIf="hasSitePops">
              <div
                class="row codes-param code-row align-center mat-checkbox-label align-with-checkbox-label-vertically">
                Display
                <input id="pop-count" matInput class="ap-form-input input-in-text" formControlName="popCount" />
                pop(s) per
                <input id="pop-interval" matInput class="ap-form-input input-in-text" formControlName="popInterval" />
                hour(s). Max
                <input id="pop-burst" matInput class="ap-form-input input-in-text" formControlName="popBurst" />
                pop(s) per page view.
              </div>

              <div class="row">
                <span
                  *ngIf="
                    !codeForm.get('popCount').valid ||
                    !codeForm.get('popInterval').valid ||
                    !codeForm.get('popBurst').valid
                  "
                  class="error-msg"
                  >Value must be greater than 0</span
                >
              </div>
            </div>
          </form>
        </mat-expansion-panel>
      </mat-accordion>

      <div *ngIf="!loadingInfo; else loading">
        <div *ngIf="null !== codes" class="col row--gap32">
          <div class="row code-row align-center">
            <label class="ap-heading ap-heading--h3 col text-left" for="code-container-common">
              Paste this code in HEAD tag on your website (one time only)
            </label>

            <button
              class="ap-icon-btn ap-icon-btn--secondary"
              (click)="copyCode('code-container-common')"
              matTooltipClass="ap-mat-tooltip"
              matTooltip="Copy the code"
              matTooltipPosition="above">
              <fa-icon [icon]="faCopy"></fa-icon>
            </button>
            <textarea
              readonly
              id="code-container-common"
              class="code-container ap-copy"
              [ngModel]="codes.common"></textarea>
          </div>

          <div class="col row--gap18">
            <span class="ap-heading ap-heading--h3 text-left">
              Put codes in the BODY tag in a place where you want to show ads.
            </span>

            <div *ngFor="let pop of codes.pops; let indexPop = index">
              <div class="row code-row align-center">
                <label class="ap-copy ap-copy--semi col text-left" for="{{ 'code-container-pop' + indexPop }}">{{
                  pop.label
                }}</label>

                <button
                  class="ap-icon-btn ap-icon-btn--secondary"
                  (click)="copyCode('code-container-pop' + indexPop)"
                  matTooltipClass="ap-mat-tooltip"
                  matTooltip="Copy the code"
                  matTooltipPosition="above">
                  <fa-icon [icon]="faCopy"></fa-icon>
                </button>
                <textarea
                  readonly
                  id="{{ 'code-container-pop' + indexPop }}"
                  class="code-container ap-copy"
                  [ngModel]="pop.code"></textarea>
              </div>
            </div>

            <div *ngFor="let adUnit of codes.adUnits; let indexAdUnits = index">
              <div class="row code-row align-center">
                <label class="ap-copy ap-copy--semi col text-left" for="{{ 'code-container-ad-unit' + indexAdUnits }}">
                  {{ adUnit.label }}
                </label>

                <button
                  class="ap-icon-btn ap-icon-btn--secondary"
                  (click)="copyCode('code-container-ad-unit' + indexAdUnits)"
                  matTooltipClass="ap-mat-tooltip"
                  matTooltip="Copy the code"
                  matTooltipPosition="above">
                  <fa-icon [icon]="faCopy"></fa-icon>
                </button>
                <textarea
                  readonly
                  id="{{ 'code-container-ad-unit' + indexAdUnits }}"
                  class="code-container ap-copy"
                  [ngModel]="adUnit.code"></textarea>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="null === codes" class="row ap-alert ap-alert--error">
          <fa-icon [icon]="faExclamationTriangle" class="ap-icon ap-icon--prepend" size="lg"></fa-icon>
          An error occurred. Make sure that you confirmed an e-mail and review the options.
        </div>
      </div>
    </div>

    <div *ngIf="!isUserConfirmed" class="row ap-alert ap-alert--error">
      <fa-icon [icon]="faExclamationTriangle" class="ap-icon ap-icon--prepend" size="lg"></fa-icon>
      Confirm account to get the codes.
    </div>
  </div>

  <ng-template #loading>
    <div class="loading-wrapper">
      <mat-spinner [diameter]="30" [strokeWidth]="4"></mat-spinner>
    </div>
  </ng-template>
</mat-dialog-content>
