<mat-dialog-content class="text-center mat-dialog-content fill-height">
  <div (click)="dialogRef.close()" class="ap-dialog-close"></div>
  <h1 class="ap-heading ap-heading--primary">Ad codes</h1>

  <div>
    <p class="ap-copy ap-copy--large">
      This code should only be used on websites that comply with our program policies. Please copy the code and place it
      on your site.
    </p>

    <div *ngIf="isUserConfirmed">
      <mat-accordion>
        <mat-expansion-panel expanded="false">
          <mat-expansion-panel-header>
            <mat-panel-title class="ap-heading ap-heading--secondary text-left">
              <mat-icon> filter_list </mat-icon>
              Customize ad codes
            </mat-panel-title>
          </mat-expansion-panel-header>
          <form id="code-form" [formGroup]="codeForm">
            <div class="row justify-start align-center ad-codes">
              <div class="col-xs-7">
                <mat-checkbox formControlName="isProxy" (change)="onChangeAdvancedCircumvent($event)">
                  Enable advanced circumvent of ad blockers
                </mat-checkbox>
              </div>
              <div class="col-xs-5">
                <a
                  href="https://github.com/adshares/adserver/wiki/Serve-ad-zone-JS-code-locally-to-circumvent-adblocks"
                  rel="noopener noreferrer"
                  target="_blank">
                  <div class="ap-btn ap-btn--white ap-btn--tiny align-with-checkbox">read more</div>
                </a>
              </div>
            </div>
            <div class="row justify-start align-center ad-codes">
              <div class="col-xs-7">
                <mat-checkbox formControlName="isMinCpm"> Display ads with a CPM rate higher than </mat-checkbox>
                <input
                  matInput
                  formControlName="minCpm"
                  class="ap-form-input input-in-text input-in-text--amount justify-center" />
                <span class="ap-info-box mat-checkbox-label align-with-checkbox">{{ currencyCode }} only</span>

                <div *ngIf="!codeForm.get('minCpm').valid" class="row">
                  <span class="error-msg error-msg-in-text">Value must be greater than 0.0001 {{ currencyCode }}</span>
                </div>
              </div>
              <div class="col-xs-5">
                <a
                  href="https://github.com/adshares/adserver/wiki/List-of-available-Adzone-options"
                  rel="noopener noreferrer"
                  target="_blank">
                  <div class="ap-btn ap-btn--white ap-btn--tiny align-with-checkbox">read more</div>
                </a>
              </div>
            </div>
            <div class="row justify-start align-center ad-codes">
              <div class="col-xs-7">
                <mat-checkbox formControlName="isAdBlock">
                  Display ads in browsers with active ad blockers only
                </mat-checkbox>
              </div>
              <div class="col-xs-5">
                <a
                  href="https://github.com/adshares/adserver/wiki/List-of-available-Adzone-options"
                  rel="noopener noreferrer"
                  target="_blank">
                  <div class="ap-btn ap-btn--white ap-btn--tiny align-with-checkbox">read more</div>
                </a>
              </div>
            </div>
            <div class="row justify-start align-center ad-codes">
              <div class="col-xs-7">
                <mat-checkbox formControlName="isFallback"> Enable custom fallback for </mat-checkbox>
                <input
                  type="number"
                  min="0"
                  max="100"
                  step="0.1"
                  matInput
                  formControlName="fallbackRate"
                  class="ap-form-input input-in-text input-in-text--amount justify-center" />
                <span class="ap-info-box mat-checkbox-label align-with-checkbox">% of ad views</span>
                <div class="mat-checkbox-label align-with-checkbox align-with-checkbox-label-vertically2">
                  E.g. display other ad networks' ads
                </div>
                <div *ngIf="!codeForm.get('fallbackRate').valid" class="row">
                  <span class="error-msg error-msg-in-text">Value must be between 0% and 100%</span>
                </div>
              </div>
              <div class="col-xs-5">
                <a
                  href="https://github.com/adshares/adserver/wiki/How-to-setup-fallback-backfill-code"
                  rel="noopener noreferrer"
                  target="_blank">
                  <div class="ap-btn ap-btn--white ap-btn--tiny align-with-checkbox">read more</div>
                </a>
              </div>
            </div>

            <div *ngIf="hasSitePops">
              <div class="row ad-codes code-row align-center mat-checkbox-label align-with-checkbox-label-vertically">
                Display
                <input id="pop-count" matInput class="ap-form-input input-in-text" formControlName="popCount" />
                pop(s) per
                <input id="pop-interval" matInput class="ap-form-input input-in-text" formControlName="popInterval" />
                hour(s). Max
                <input id="pop-burst" matInput class="ap-form-input input-in-text" formControlName="popBurst" />
                pop(s) per page view.
              </div>

              <div class="row">
                <span
                  *ngIf="
                    !codeForm.get('popCount').valid ||
                    !codeForm.get('popInterval').valid ||
                    !codeForm.get('popBurst').valid
                  "
                  class="error-msg"
                  >Value must be greater than 0</span
                >
              </div>
            </div>
          </form>
        </mat-expansion-panel>
      </mat-accordion>

      <div *ngIf="!loadingInfo; else loading">
        <div *ngIf="null !== codes">
          <div class="row code-row align-center">
            <label class="ap-copy ap-copy--bold col text-left" for="code-container-common"
              >Paste this code in HEAD tag on your website (one time only)</label
            >

            <button class="code-copy-btn" (click)="copyCode('code-container-common')">
              <fa-icon class="code-copy-btn--icon" [icon]="faCode"></fa-icon>
              Copy the code
            </button>
          </div>

          <textarea
            id="code-container-common"
            class="code-container ap-box ap-box--large ap-box--light-border ap-copy"
            [ngModel]="codes.common"></textarea>

          <div class="row code-row-section-start">
            <span class="ap-copy"> Put codes in the BODY tag in a place where you want to show ads. </span>
          </div>

          <div *ngFor="let pop of codes.pops; let indexPop = index">
            <div class="row code-row align-center">
              <label class="ap-copy ap-copy--bold col text-left" for="{{ 'code-container-pop' + indexPop }}">{{
                pop.label
              }}</label>

              <button class="code-copy-btn" (click)="copyCode('code-container-pop' + indexPop)">
                <fa-icon class="code-copy-btn--icon" [icon]="faCode"></fa-icon>
                Copy the code
              </button>
            </div>

            <textarea
              id="{{ 'code-container-pop' + indexPop }}"
              class="code-container ap-box ap-box--large ap-box--light-border ap-copy"
              [ngModel]="pop.code"></textarea>
          </div>

          <div *ngFor="let adUnit of codes.adUnits; let indexAdUnits = index">
            <div class="row code-row align-center">
              <label class="ap-copy ap-copy--bold col text-left" for="{{ 'code-container-ad-unit' + indexAdUnits }}">{{
                adUnit.label
              }}</label>

              <button class="code-copy-btn" (click)="copyCode('code-container-ad-unit' + indexAdUnits)">
                <fa-icon class="code-copy-btn--icon" [icon]="faCode"></fa-icon>
                Copy the code
              </button>
            </div>

            <textarea
              id="{{ 'code-container-ad-unit' + indexAdUnits }}"
              class="code-container ap-box ap-box--large ap-box--light-border ap-copy"
              [ngModel]="adUnit.code"></textarea>
          </div>
        </div>

        <div *ngIf="null === codes" class="row align-center ap-alert ap-copy ap-gray">
          <img src="assets/images/error.svg" alt="Attention" />
          An error occurred. Make sure that you confirmed an e-mail and review the options.
        </div>
      </div>
    </div>
    <div *ngIf="!isUserConfirmed" class="row align-center ap-alert ap-copy ap-gray">
      <img src="assets/images/error.svg" alt="Attention" />
      Confirm account to get the codes.
    </div>
  </div>

  <ng-template #loading>
    <div class="loading-wrapper">
      <mat-spinner [diameter]="30" [strokeWidth]="4"></mat-spinner>
    </div>
  </ng-template>
</mat-dialog-content>
