@import '../../../../styles.scss';

.fill-height {
  height: 85vh;
  overflow: scroll;
}

#code-form {
  padding-top: 16px;
}

.code-row {
  margin-top: 16px;
}

.code-row-section-start {
  margin-top: 40px;
}

.code-container {
  height: 32px;
  min-height: 32px;
  overflow: hidden;
  padding: 5px 10px;
  width: 100%;
  resize: none;
}

.code-copy-btn {
  @include btn(
    $color: pal(blue),
    $background-color: pal(white),
    $border-color: pal(white)
  );
  max-height: 46px;
  text-align: left;

  @include media(md-down) {
    padding: 4px 12px;
  }

  &--icon {
    font-size: 12px;
    margin-right: 10px;
  }
}

.ad-codes {
  min-height: 40px;
}

.input-in-text {
  margin: 0 5px;
  padding: 2px 5px;
  width: 40px;

  &--amount {
    width: 65px;
    margin-bottom: 3px;
  }
}

.align-with-checkbox {
  margin-bottom: 4px;
}

.align-with-checkbox-label-vertically {
  margin-left: 35px;
}

.align-with-checkbox-label-vertically2 {
  margin-left: 28px;
}

.error-msg-in-text {
  margin-left: 10px;
  margin-top: 0;
}

::ng-deep .mat-expansion-panel-body {
  border: 1px pal(gray, light) solid;
}
