@import '../../../../styles.scss';

.fill-height {
  height: 85vh;
  width: 70vw;
}

#code-form {
  padding-top: 16px;
}

.code-container {
  height: 32px;
  min-height: 32px;
  overflow: hidden;
  padding: 12px 24px;
  width: 100%;
  resize: none;
  border-radius: 10px;
  margin-top: 8px;
}

.code-copy-btn {
  @include btn(
    $color: pal(secondary),
    $background-color: pal(light),
    $border-color: pal(light)
  );
  max-height: 46px;
  text-align: left;

  @include media(md-down) {
    padding: 4px 12px;
  }

  &--icon {
    font-size: 12px;
    margin-right: 10px;
  }
}

.codes-param {
  min-height: 40px;
  border-bottom: 1px solid pal(gray);
}

.input-in-text {
  margin: 0 5px;
  padding: 2px 5px;
  width: 40px;
  min-width: 0;

  &--amount {
    width: 65px;
    margin-bottom: 3px;
  }
}

.align-with-checkbox {
  margin-bottom: 4px;
}

.align-with-checkbox-label-vertically {
  margin-left: 35px;
}

.align-with-checkbox-label-vertically2 {
  margin-left: 28px;
}

.error-msg-in-text {
  margin-left: 10px;
  margin-top: 0;
}
