<app-email-not-activated-bar  *ngIf="!(userHasConfirmedEmail | async)"></app-email-not-activated-bar>

<section
  class="
    dwmth-advertiser-wrapper
    dashboard-view"
>
  <div class="container">
    <div
      class="
        row
        no-gutters
        justify-between"
    >
      <div
        class="
          col-xs-12
          col-md-3"
      >
        <h1
          class="
            dwmth-heading
            dwmth-heading--primary"
        >
          My campaigns
        </h1>
        <p
          class="
            dwmth-copy
            dwmth-copy--large"
        >
          List of all campaigns
        </p>
      </div>
    </div>

    <div *ngIf="!!campaigns.length">
      <div class="dwmth-box">
        <div class="row">
          <div class="col-xs-3">
            <a
              (click)="downloadReport()"
            >
              <button
                class="
                  dwmth-btn
                  dwmth-btn--white
                  dwmth-copy--dark"
                data-test="advertiser-download-report-button"
              >
                Download a report
              </button>
            </a>
          </div>
          <div class="col-xs-6">
            <app-chart-filter-by-type
              (updateId)="appChartRef.updateChartDataAssetId($event)"
              (updateSeries)="appChartRef.updateChartDataSeries($event)"
            ></app-chart-filter-by-type>
          </div>
          <div class="col-xs-3">
            <app-chart-filter
              *ngIf="!!campaigns.length"
              (filter)="appChartRef.updateChartData($event); loadCampaigns($event.from, $event.to)"
            ></app-chart-filter>
          </div>
        </div>
        <div
          class="
            dashboard__chart-wrapper
            row
            align-center
            justify-center
            chart-wrapper"
        >
          <app-chart
            class="
              dashboard__chart
              chart
              row
              align-center
              justify-center"
            (update)="getChartData($event)"
            [barChartData]="barChartData"
            [barChartLabels]="barChartLabels"
          ></app-chart>
        </div>
      </div>
      <app-campaign-list
        [campaigns]="campaigns"
        [campaignsTotals]="campaignsTotals"
        [filterSettings]="currentChartFilterSettings"
      ></app-campaign-list>
    </div>

    <div *ngIf="!campaigns.length">
      <div
        class="
          dwmth-box
          dwmth-box--large
          col
          align-center
          justify-center
          text-center
          create-new-campaign-wrapper"
      >
        <img
          src="/assets/images/advertiser-account-illustration.svg"
          alt="Advertiser Account Illustration">
        <div class="dwmth-customize__box-description">
          <h2
            class="
              dwmth-heading
              dwmth-heading--primary"
          >
            Create your first campaign
          </h2>
        </div>
        <a
          routerLink="/advertiser/create-campaign/basic-information"
          [queryParams]="{step: 1}"
          data-test="advertiser-create-new-campaign"
        >
          <button
            class="
              row
              align-center
              dwmth-btn
              dwmth-btn--large
              dwmth-btn--white
              dwmth-btn--no-border"
          >
            <img
              src="assets/images/plus-circle--blue.svg"
              alt="Add new"
              class="
                dwmth-icon
                dwmth-icon--prepend"
            >
            <span
              class="dwmth-heading"
            >
              Create now
            </span>
          </button>
        </a>
      </div>
    </div>
  </div>
</section>
