<section class="dashboard-view" *ngIf="campaignsLoaded; else loading">
  <div class="container">
    <div *ngIf="!!campaigns.length">
      <div class="ap-box">
        <h2 class="ap-heading ap-heading--h2 box-title">Statistics</h2>
        <div class="box-content">
          <div class="row justify-between">
            <div class="row">
              <div>
                <div class="filters col-xs-12">
                  <mat-select
                    class="ap-select"
                    [(value)]="campaignFilterIndex"
                    (selectionChange)="updateCampaignFilter($event)">
                    <mat-option *ngFor="let filter of campaignFilters; let i = index" [value]="i">
                      {{ filter.label }}
                    </mat-option>
                  </mat-select>
                </div>
              </div>
              <app-chart-filter-by-type
                (updateId)="appChartRef.updateChartDataAssetId($event)"
                (updateSeries)="appChartRef.updateChartDataSeries($event)"></app-chart-filter-by-type>
            </div>
            <app-chart-filter
              *ngIf="!!campaigns.length"
              (filter)="appChartRef.updateChartData($event); loadCampaigns($event.from, $event.to)"></app-chart-filter>
          </div>

          <div class="dashboard__chart-wrapper row align-center justify-center chart-wrapper">
            <app-chart
              class="dashboard__chart chart row align-center justify-center"
              (update)="getChartData($event)"
              [barChartData]="barChartData"
              [barChartLabels]="barChartLabels"></app-chart>
          </div>
          <div class="row justify-end">
            <button
              (click)="downloadReport()"
              class="ap-btn ap-btn--secondary"
              data-test="advertiser-download-report-button">
              Generate a report
            </button>
          </div>
        </div>
      </div>

      <div class="ap-box">
        <div class="row justify-between box-title">
          <h2 class="ap-heading ap-heading--h2">List of all campaigns</h2>
          <button
            *ngIf="campaigns.length > 5"
            (click)="navigateToCreateCampaign()"
            class="ap-btn ap-btn--secondary"
            data-test="advertiser-create-new-campaign">
            <fa-icon class="ap-icon ap-icon--prepend" [icon]="faPlusCircle"></fa-icon>
            Add new campaign
          </button>
        </div>
        <div class="box-content">
          <app-campaign-list
            [dataLoaded]="dataLoaded"
            [campaigns]="campaigns"
            [campaignsTotals]="campaignsTotals"></app-campaign-list>
        </div>
        <div class="box-content row justify-end">
          <button
            (click)="navigateToCreateCampaign()"
            class="ap-btn ap-btn--secondary"
            data-test="advertiser-create-new-campaign">
            <fa-icon class="ap-icon ap-icon--prepend" [icon]="faPlusCircle"></fa-icon>
            Add new campaign
          </button>
        </div>
      </div>
    </div>

    <div *ngIf="!campaigns.length">
      <div class="ap-box col align-center justify-center text-center create-new-campaign-wrapper">
        <img src="/assets/images/advertiser-account-illustration.svg" alt="Advertiser Account Illustration" />
        <div class="ap-customize__box-description">
          <h2 class="ap-heading ap-heading--h2">Create your first campaign</h2>
        </div>
        <button routerLink="/advertiser/create-campaign/basic-information" class="ap-btn ap-btn--primary">
          <fa-icon class="ap-icon ap-icon--prepend" [icon]="faPlusCircle"></fa-icon>
          Create now
        </button>
      </div>
    </div>
  </div>
</section>
<ng-template #loading>
  <div class="loading-wrapper">
    <mat-spinner [diameter]="30" [strokeWidth]="4"></mat-spinner>
  </div>
</ng-template>
