<section>
  <h1
    class="
      dwmth-heading
      dwmth-heading--primary"
  >
    Create new referral link
  </h1>

  <div>
    <p class="dwmth-copy" *ngIf="refundEnabled">
      Your refund commission rate: {{ defaultRefundCommission | percent:'1.0-2' }}<br />
      Set Friends’ commission bonus rate
    </p>
    <form
      id="ref-link-form"
      class="dwmth-form"
      [formGroup]="form"
      (ngSubmit)="onSubmit()"
    >
      <div class="commission" *ngIf="refundEnabled">
        <span class="dwmth-copy dwmth-copy--large">You Receive:  {{ refundCommission | percent:'1.0-2' }}</span>
        <span class="dwmth-copy dwmth-copy--large" >Friends Receive: {{ bonusCommission | percent:'1.0-2' }}</span>
      </div>

      <div>
        <div class="commission-select justify-between dwmth-copy dwmth-copy--large" *ngIf="refundEnabled">
          <label
            *ngFor="let option of [1, 0.75, 0.5, 0.25, 0]"
            [for]="'keptRefund' + option"
            [class.checked]="form.get('keptRefund').value == option"
          >
            <input
              [id]="'keptRefund' + option"
              [value]="option"
              type="radio"
              name="keptRefund"
              formControlName="keptRefund">
            {{ getBonusCommission(option) | percent:'1.0-2' }}
          </label>
        </div>
        <div class="row justify-between" *ngIf="refundEnabled">
          <div class="dwmth-form-input__box dwmth-form-input__inline" *ngIf="form.get('refund')">
            <label
              for="refund"
              class="dwmth-form-label"
            >
              Custom refund commission rate
            </label>
            <input
              id="refund"
              class="dwmth-form-input dwmth-form-input--full"
              type="number"
              min="0"
              max="100"
              step="1"
              name="refund"
              formControlName="refund"
            >
            <span
              class="error-msg"
              *ngIf="form.hasError('custom', ['refund']) && formSubmitted"
            >
              {{ form.getError('custom', ['refund']) }}
            </span>
          </div>
          <div class="dwmth-form-input__box" *ngIf="form.get('refundValidUntil')">
            <label class="dwmth-form-label">Refund valid until</label>
            <mat-form-field
              (click)="refundValidUntilPicker.open()"
              class="dwmth-form-input dwmth-form-input--narrow"
            >
              <img
                src="/assets/images/calendar.svg"
                alt="Calendar"
                class="dwmth-icon dwmth-icon--prepend">
              <input
                [formControl]="refundValidUntilControl"
                [matDatepicker]="refundValidUntilPicker"
                [min]="today"
                matInput
                type="text"
                autocomplete="off"
              >
              <mat-datepicker #refundValidUntilPicker></mat-datepicker>
            </mat-form-field>
            <span
              class="error-msg"
              *ngIf="form.hasError('custom', ['refundValidUntil']) && formSubmitted"
            >
              {{ form.getError('custom', ['refundValidUntil']) }}
            </span>
          </div>
        </div>
        <div class="row justify-between">
          <div class="dwmth-form-input__box dwmth-form-input__inline" *ngIf="form.get('bonus')">
            <label
              for="refund"
              class="dwmth-form-label"
            >
              Additional bonus ({{currencyCode}})
            </label>
            <input
              id="bonus"
              class="dwmth-form-input dwmth-form-input--full"
              type="number"
              min="0"
              step="0.01"
              name="bonus"
              formControlName="bonus"
            >
            <span
              class="error-msg"
              *ngIf="form.hasError('custom', ['bonus']) && formSubmitted"
            >
              {{ form.getError('custom', ['bonus']) }}
            </span>
          </div>
          <div class="dwmth-form-input__box" *ngIf="form.get('validUntil')">
            <label class="dwmth-form-label">Link valid until</label>
            <mat-form-field
              (click)="validUntilPicker.open()"
              class="dwmth-form-input dwmth-form-input--narrow"
            >
              <img
                src="/assets/images/calendar.svg"
                alt="Calendar"
                class="dwmth-icon dwmth-icon--prepend">
              <input
                [formControl]="validUntilControl"
                [matDatepicker]="validUntilPicker"
                [min]="today"
                matInput
                type="text"
                autocomplete="off"
              >
              <mat-datepicker #validUntilPicker></mat-datepicker>
            </mat-form-field>
            <span
              class="error-msg"
              *ngIf="form.hasError('custom', ['validUntil']) && formSubmitted"
            >
              {{ form.getError('custom', ['validUntil']) }}
            </span>
          </div>
        </div>
        <ng-container *ngIf="chooseUserRole">
          <div
            *ngIf="form.get('userRoles') else loading"
            class="dwmth-form-input__box"
          >
            <label class="dwmth-form-label">
              User roles
            </label>
            <mat-radio-group
              aria-label="Select user roles"
              formControlName="userRoles"
            >
              <mat-radio-button value="advertiser">Advertiser</mat-radio-button>
              <mat-radio-button value="publisher">Publisher</mat-radio-button>
              <mat-radio-button value="advertiser,publisher">Both</mat-radio-button>
            </mat-radio-group>
          </div>
        </ng-container>
        <div class="dwmth-form-input__box">
          <label
            for="token"
            class="dwmth-form-label"
          >
            Referral token
          </label>
          <input
            id="token"
            class="dwmth-form-input dwmth-form-input--full"
            type="text"
            name="token"
            formControlName="token"
            placeholder="Leave blank to get random token"
          >
          <span
            *ngIf="form.get('token').valid"
            class="input-valid"
          ></span>
          <span
            class="error-msg"
            *ngIf="form.hasError('minlength', ['token']) && formSubmitted"
          >
              The token must be at least {{ form.getError('minlength', ['token']).requiredLength }} characters
            </span>
          <span
            class="error-msg"
            *ngIf="form.hasError('maxlength', ['token']) && formSubmitted"
          >
            The token may not be greater than {{ form.getError('maxlength', ['token']).requiredLength }} characters.
          </span>
          <span
            class="error-msg"
            *ngIf="form.hasError('custom', ['token']) && formSubmitted"
          >
            {{ form.getError('custom', ['token']) }}
          </span>
        </div>
        <div class="dwmth-form-input__box">
          <label
            for="comment"
            class="dwmth-form-label"
          >
            Note
          </label>
          <input
            id="comment"
            class="dwmth-form-input dwmth-form-input--full"
            type="text"
            name="comment"
            formControlName="comment"
          >
        </div>

        <div class="form-footer">
          <mat-checkbox
            formControlName="singleUse"
            *ngIf="form.get('singleUse')"
          >
            Single use link
          </mat-checkbox>

          <button
            *ngIf="!showLoader; else loading"
            type="submit"
            class="
                dwmth-btn
                dwmth-btn--blue"
          >
            Generate link
          </button>
        </div>
      </div>
    </form>
  </div>
  <ng-template #loading>
    <div class="loading-wrapper">
      <mat-spinner [diameter]="30" [strokeWidth]="4"></mat-spinner>
    </div>
  </ng-template>
</section>
