@import '../../../../../styles.scss';

.commission {
  background: pal(secondary);
  display: flex;
  align-items: center;

  span {
    display: block;
    width: 250px;
    padding: 20px 10px;
  }
}

.commission-select {
  display: flex;

  label {
    display: block;
    width: 90px;
    border-radius: 2px;
    text-align: center;
    padding: 10px;

    &:hover {
      cursor: pointer;
      background: pal(gray);
    }

    &.checked {
      background: pal(success, light);
    }
  }
}

form {
  width: 500px;

  .ap-form-label {
    text-align: left;
  }

  .ap-form-input__inline {
    width: 300px;
  }

  .form-footer mat-checkbox {
    margin-right: 30px;
  }

  ::ng-deep .mat-input-wrapper {
    padding-bottom: 9px !important;
    .mat-input-infix {
      width: 120px;

      .mat-input-element {
        margin-left: 10px;
      }
    }
  }
}
