<section>
  <div class="col row--gap32">
    <div class="col row--gap8">
      <h2 class="ap-heading ap-heading--h3">Create new referral link</h2>
      <p class="ap-copy" *ngIf="refundEnabled">
        Your refund commission rate:
        {{ defaultRefundCommission | percent : '1.0-2' }}<br />
        Set Friends’ commission bonus rate
      </p>
    </div>
    <form id="ref-link-form" class="ap-form col row--gap32" [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="col row--gap18">
        <div class="commission" *ngIf="refundEnabled">
          <span class="ap-copy">You Receive: {{ refundCommission | percent : '1.0-2' }}</span>
          <span class="ap-copy">Friends Receive: {{ bonusCommission | percent : '1.0-2' }}</span>
        </div>

        <div class="commission-select justify-between ap-copy" *ngIf="refundEnabled">
          <label
            *ngFor="let option of [1, 0.75, 0.5, 0.25, 0]"
            [for]="'keptRefund' + option"
            [class.checked]="form.get('keptRefund').value === option">
            <input
              [id]="'keptRefund' + option"
              [value]="option"
              type="radio"
              name="keptRefund"
              formControlName="keptRefund" />
            {{ getBonusCommission(option) | percent : '1.0-2' }}
          </label>
        </div>
      </div>

      <div class="col row--gap18">
        <div class="row justify-between" *ngIf="refundEnabled && (form.get('refund') || form.get('refundValidUntil'))">
          <div class="ap-form-input__box" *ngIf="form.get('refund')">
            <label for="refund" class="ap-form-label"> Custom refund commission rate </label>
            <input
              id="refund"
              class="ap-form-input ap-form-input--full"
              type="number"
              min="0"
              max="100"
              step="1"
              name="refund"
              formControlName="refund" />
            <span class="error-msg" *ngIf="form.hasError('custom', ['refund']) && formSubmitted">
              {{ form.getError('custom', ['refund']) }}
            </span>
          </div>
          <div class="ap-form-input__box" *ngIf="form.get('refundValidUntil')">
            <label class="ap-form-label">Refund valid until</label>
            <mat-form-field (click)="refundValidUntilPicker.open()" class="ap-form-input ap-form-input--narrow">
              <fa-icon [icon]="faCalendar" class="ap-icon ap-icon--prepend"></fa-icon>
              <input
                [formControl]="refundValidUntilControl"
                [matDatepicker]="refundValidUntilPicker"
                [min]="today"
                matInput
                type="text"
                autocomplete="off" />
              <mat-datepicker #refundValidUntilPicker></mat-datepicker>
            </mat-form-field>
            <span class="error-msg" *ngIf="form.hasError('custom', ['refundValidUntil']) && formSubmitted">
              {{ form.getError('custom', ['refundValidUntil']) }}
            </span>
          </div>
        </div>
        <div class="row justify-between" *ngIf="form.get('bonus') || form.get('validUntil')">
          <div class="ap-form-input__box" *ngIf="form.get('bonus')">
            <label for="refund" class="ap-form-label"> Additional bonus ({{ currencyCode }}) </label>
            <input
              id="bonus"
              class="ap-form-input ap-form-input--full"
              type="number"
              min="0"
              step="0.01"
              name="bonus"
              formControlName="bonus" />
            <span class="error-msg" *ngIf="form.hasError('custom', ['bonus']) && formSubmitted">
              {{ form.getError('custom', ['bonus']) }}
            </span>
          </div>
          <div class="ap-form-input__box" *ngIf="form.get('validUntil')">
            <label class="ap-form-label">Link valid until</label>
            <mat-form-field (click)="validUntilPicker.open()" class="ap-form-input ap-form-input--narrow">
              <fa-icon [icon]="faCalendar" class="ap-icon ap-icon--prepend"></fa-icon>
              <input
                [formControl]="validUntilControl"
                [matDatepicker]="validUntilPicker"
                [min]="today"
                matInput
                type="text"
                autocomplete="off" />
              <mat-datepicker #validUntilPicker></mat-datepicker>
            </mat-form-field>
            <span class="error-msg" *ngIf="form.hasError('custom', ['validUntil']) && formSubmitted">
              {{ form.getError('custom', ['validUntil']) }}
            </span>
          </div>
        </div>
        <ng-container *ngIf="chooseUserRole">
          <div *ngIf="form.get('userRoles'); else loading" class="ap-form-input__box">
            <label class="ap-form-label"> User roles </label>
            <mat-radio-group aria-label="Select user roles" formControlName="userRoles">
              <mat-radio-button value="advertiser">Advertiser</mat-radio-button>
              <mat-radio-button value="publisher">Publisher</mat-radio-button>
              <mat-radio-button value="advertiser,publisher">Both</mat-radio-button>
            </mat-radio-group>
          </div>
        </ng-container>
        <div class="ap-form-input__box">
          <label for="token" class="ap-form-label"> Referral token </label>
          <input
            id="token"
            class="ap-form-input ap-form-input--full"
            type="text"
            name="token"
            formControlName="token"
            placeholder="Leave blank to get random token" />
          <span *ngIf="form.get('token').valid" class="input-valid"></span>
          <span class="error-msg" *ngIf="form.hasError('minlength', ['token']) && formSubmitted">
            The token must be at least
            {{ form.getError('minlength', ['token']).requiredLength }}
            characters
          </span>
          <span class="error-msg" *ngIf="form.hasError('maxlength', ['token']) && formSubmitted">
            The token may not be greater than
            {{ form.getError('maxlength', ['token']).requiredLength }}
            characters.
          </span>
          <span class="error-msg" *ngIf="form.hasError('custom', ['token']) && formSubmitted">
            {{ form.getError('custom', ['token']) }}
          </span>
        </div>
        <div class="ap-form-input__box">
          <label for="comment" class="ap-form-label"> Note </label>
          <input
            id="comment"
            class="ap-form-input ap-form-input--full"
            type="text"
            name="comment"
            formControlName="comment" />
        </div>
      </div>
      <div class="form-footer">
        <mat-checkbox formControlName="singleUse" *ngIf="form.get('singleUse')"> Single use link </mat-checkbox>

        <button *ngIf="!showLoader; else loading" type="submit" class="ap-btn ap-btn--primary">Generate link</button>
      </div>
    </form>
  </div>
  <ng-template #loading>
    <div class="loading-wrapper">
      <mat-spinner [diameter]="30" [strokeWidth]="4"></mat-spinner>
    </div>
  </ng-template>
</section>
