@import '../../../../styles.scss';

#access-token {
  box-sizing: content-box;
  height: auto;
  overflow: hidden;
  padding: 5px 10px;
  width: 100%;
}

.copy-btn {
  @include btn(
    $color: pal(secondary),
    $background-color: pal(light),
    $border-color: pal(light)
  );
  max-height: 46px;
  text-align: left;

  @include media(md-down) {
    padding: 4px 12px;
  }

  &--icon {
    font-size: 12px;
    margin-right: 10px;
  }
}
