@import '../../../../../styles.scss';

.billing-table-row {
  padding: 15px 0;
  display: flex;
 border-bottom: 1px solid #eee;

  &  td {
    text-align: center;
    align-self: center;
  }

  &__status {
    @include font-weight(bold);
    max-width: 150px;

    &__0 {
      color: pal(green);
      background-color: pal(green, light);
    }

    &__1 {
      color: pal(gray);
      background-color: pal(gray, ultra-light);
    }

    &__2 {
      color: pal(red);
      background-color: pal(red, light);
    }
  }

  &__type {
    font-size: 1.7em;

    &--income {
      color: pal(green);
    }

    &--expenditure {
      color: pal(red);
    }
  }

  & &__amount {
    text-align: right;
    font-size: 1.1em;
  }
}
