@import '../../../../../styles.scss';

.billing-table-row {
  padding: 15px 0;
  display: flex;
  border-bottom: 1px solid #eee;

  & td {
    text-align: center;
    align-self: center;
  }

  &__status {
    @include font-weight(bold);
    max-width: 150px;
    position: relative;

    &[data-status='ACCEPTED'] {
      color: pal(green);
      background-color: pal(green, light);
    }

    &[data-status='PENDING'] {
      color: pal(gray);
      background-color: pal(gray, ultra-light);
    }

    &[data-status='REJECTED'] {
      color: pal(red);
      background-color: pal(red, light);
    }
  }

  &__status-cell {
    @include status-cell;
  }

  &__bonus {
    position: absolute;
    color: pal(yellow, base);
    z-index: 1;
    left: -11px;
    top: -20px;
  }

  &__type {
    font-size: 1.7em;

    &--icon {
      position: relative;
    }

    &--income {
      color: pal(green);
    }

    &--expenditure {
      color: pal(red);
    }
  }

  &__link {
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &__amount {
    text-align: right;
    font-size: 1.1em;
  }

  &__tooltip-placeholder {
    position: absolute;
    width: 100%;
    height: 100%;
  }
}
