<div class="col-xs-2">
  <div
    class="
      adsh-box
      adsh-box--small
      billing-table-status
      text-center"
    data-status="Active"
  >
    <span data-test="settings-billing-history-item-status">
      {{ billingHistoryItem.status | adsharesTokenValue }}
    </span>
  </div>
</div>
<div
  class="
    row
    align-center
    col-xs-2"
>
  <img
    class="
      adsh-icon
      adsh-icon--prepend"
    src="assets/images/calendar.svg"
    alt="Calendar Icon"
  >
  <p
    class="
      adsh-copy
      adsh-copy--large
      adsh-copy--semi
      adsh-copy--x-dark"
    data-test="settings-billing-history-item-date"
  >
    {{ billingHistoryItem.date }}
  </p>
</div>
<div class="col-xs-3">
  <p
    class="
      break-word
      adsh-copy
      adsh-copy--large
      adsh-copy--semi
      adsh-copy--x-dark"
    data-test="settings-billing-history-item-address"
  >
    {{ billingHistoryItem.address }}
  </p>
</div>
<div class="col-xs-5">
  <p
    class="break-word"
    data-test="settings-billing-history-item-link"
  >
    {{ billingHistoryItem.link }}
  </p>
</div>
