<tr class="billing-table-row row justify-between">
  <td class="billing-table-row__status-cell">
    <div
      class="
        dwmth-box
        dwmth-box--x-small
        billing-table-row__status
        text-center"
      attr.data-status="{{ status }}"
    >
      <span *ngIf="billingHistoryItem.status === statusEnum.UNCONFIRMED"
         matTooltipClass="dwmth-mat-tooltip"
         matTooltip="Confirm withdrawal by visiting link from an e-mail"
         matTooltipPosition="above"
         class="billing-table-row__tooltip-placeholder"
      >
      </span>
      <span data-test="settings-billing-history-item-status">
        {{ status }}
      </span>
    </div>
  </td>
  <td class="col-xs-1" title="{{type}}">
    <span class="billing-table-row__type--icon "
          data-test="settings-billing-history-item-type">
      <i *ngIf="showBonusIcon"
         class="material-icons billing-table-row__bonus"> star_rate </i>
      <fa-icon class="billing-table-row__type billing-table-row__type--{{typeClass || type}}"
               [icon]="icon"> </fa-icon>
    </span>
  </td>
  <td class="col-xs-2 billing-table-row__amount"
      data-test="settings-billing-history-item-amount">
    {{ billingHistoryItem.amount | formatMoney:11:crypto:code }}
  </td>
  <td class="col-xs-2">
    <img
      class="
      dwmth-icon
      dwmth-icon--prepend"
      src="assets/images/calendar.svg"
      alt="Calendar Icon"
    >
    <span
      class="
      dwmth-copy
      dwmth-copy--x-dark"
      data-test="settings-billing-history-item-date"
    >
      {{ billingHistoryItemDate }}
    </span>
  </td>
  <td class="col-xs-2">
    <span
      class="
      break-word
      dwmth-copy
      dwmth-copy--x-dark"
      data-test="settings-billing-history-item-address"
    >
      {{ billingHistoryItem.address }}
    </span>
  </td>
  <td class="col-xs-1"
      [ngClass]="{'billing-table-row__link': !!link}">
    <a *ngIf="link"
       [title]="link"
       target="_blank"
       href="{{ link }}"
       data-test="settings-billing-history-item-link"
    >
      {{billingHistoryItem.txid}}
    </a>
    <button *ngIf="billingHistoryItem.status === statusEnum.UNCONFIRMED"
            class="dwmth-btn dwmth-btn--white dwmth-copy--blue"
            (click)="cancelAwaitingTransaction(billingHistoryItem.id)"
            data-test="settings-billing-history-item-cancel-btn">
      CANCEL
    </button>
  </td>
</tr>

