@import '../../../../../styles.scss';

.billing-table-row {
  padding: 12px 0;
  border-bottom: 1px solid #eee;

  &__status {
    @include font-weight(semiBold);
    max-width: 150px;
    position: relative;
    padding: 8px;
    border-radius: 10px;
    display: inline-block;

    &[data-status='ACCEPTED'] {
      color: pal(success);
      background-color: pal(success, light);
    }

    &[data-status='REJECTED'] {
      color: pal(error);
      background-color: pal(error, light);
    }

    &[data-status='PENDING'] {
      color: pal(primary);
      background-color: pal(secondary, light);
    }

    &[data-status='RESERVED'] {
      background-color: pal(gray);
    }
  }

  &__status-cell {
    @include status-cell;
  }

  &__bonus {
    position: absolute;
    color: pal(warning);
    z-index: 1;
    left: -11px;
    top: -11px;
  }

  &__type {
    font-size: 1.7em;

    &--icon {
      position: relative;
    }

    &--income {
      color: pal(success, light);
    }

    &--expenditure {
      color: pal(error, light);
    }
  }

  &__link {
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &__tooltip-placeholder {
    position: absolute;
    width: 100%;
    height: 100%;
  }
}
