<div
  class="
    col
    adsh-confirmation-wrapper"
>
  <div
    class="
      col
      align-start"
  >
    <h2
      class="
        adsh-heading
        adsh-heading--primary"
    >
      Your password successfully changed.
    </h2>

  </div>
  <div>
      <button
              class="
        adsh-btn
        adsh-btn--wide
        adsh-btn--submit
        adsh-bg-blue"
              routerLink="/auth/login"
              data-test="auth-redirect-to-first-login"
      >
       Log in
      </button>
  </div>
</div>
