@import '../../../../styles';

.admin-earnings {
  margin: 30px 0 0 30px;
  text-align: center;

  &__format {
    width: 4ch;
  }

  .mat-slider-horizontal {
    width: 100%;
    margin: 50px 0 24px;
  }

  .earnings-input {
    border: none;
    width: 7ch;
    text-align: center;
  }

  .calculated-earnings {
    margin-left: 15px;
  }
}
