@import '../../../../styles';

.admin-earnings {
  height: 100%;
  text-align: center;

  &__format {
    width: 4ch;
  }

  .mat-slider-horizontal {
    width: 100%;
    margin: 40px 0 10px;
  }

  .earnings-input {
    border: none;
    width: 7ch;
    margin: 0;
    text-align: center;
  }

  .calculated-earnings {
    margin-left: 15px;
  }

  &__desc {
    min-height: 48px;
  }

  &__error {
    margin-top: 20px;
  }
}
