<div class="ap-confirmation ap-auth-container">
  <div class="col row--gap18 align-start">
    <h2 class="ap-heading ap-heading--h3">Reset your password</h2>
    <form
      #confirmPasswordForm="ngForm"
      (ngSubmit)="resetPassword()"
      class="ap-form col row--gap18"
      data-test="auth-confirm-password-form">
      <div class="ap-form-input__box">
        <label for="password" class="ap-form-label"> New password </label>
        <input
          id="password"
          class="ap-form-input ap-form-input--full"
          name="password"
          type="password"
          ngModel
          #password="ngModel"
          minlength="8"
          required
          data-test="auth-registration-form-password" />
        <span *ngIf="password.valid" class="input-valid"></span>
        <span class="error-msg" *ngIf="password.hasError('minlength') && password.touched">
          Minimum 8 signs required!
        </span>
        <span class="error-msg" *ngIf="password.hasError('required') && confirmPasswordForm.submitted">
          Password required
        </span>
      </div>

      <div class="ap-form-input__box">
        <label for="confirmPassword" class="ap-form-label"> Confirm password </label>
        <input
          id="confirmPassword"
          class="ap-form-input ap-form-input--full"
          name="confirmPassword"
          type="password"
          ngModel
          #confirmPassword="ngModel"
          required
          data-test="auth-registration-form-confirm-password" />
        <span *ngIf="confirmPasswordForm.value === password.value && password.valid" class="input-valid"></span>
        <span class="error-msg" *ngIf="confirmPassword.value !== password.value && confirmPassword.touched">
          Passwords don't match!
        </span>
      </div>

      <div class="row justify-center">
        <button class="ap-btn ap-btn--primary" data-test="auth-registration-form-submit-button">
          <span *ngIf="!isPasswordConfirm; else loading"> Save new password </span>
          <ng-template #loading>
            <mat-spinner [diameter]="20" [strokeWidth]="2" color="accent"></mat-spinner>
          </ng-template>
        </button>
      </div>
    </form>
  </div>
</div>
