<div
  class="
    col
    justify-around
    adsh-confirmation-wrapper"
>
  <div
    class="
      col
      align-start"
  >
    <h2
      class="
        adsh-heading
        adsh-heading--primary"
    >
      Reset your password.
    </h2>
      <form
              #confirmPasswordForm="ngForm"
              (ngSubmit)="resetPassword()"
              class="adsh-form"
              data-test="auth-confirm-password-form"
      >
          <div class="adsh-form-input__box
          adsh-copy
          adsh-copy--large">
              <label
                      for="password"
                      class="adsh-form-label"
              >
                New password
              </label>
              <input
                      id="password"
                      class="adsh-form-input"
                      name="password"
                      type="password"
                      ngModel
                      #password="ngModel"
                      minlength="8"
                      required
                      data-test="auth-registration-form-password"
              >
              <span
                      *ngIf="password.valid"
                      class="input-valid"
              ></span>
              <span class="error-msg" *ngIf="password.hasError('minlength') && password.touched">
          Minimum 8 signs required!
        </span>
              <span
                      class="error-msg"
                      *ngIf="password.hasError('required') && confirmPasswordForm.submitted"
              >
          Password required
        </span>
          </div>

          <div class="adsh-form-input__box">
              <label
                      for="confirmPassword"
                      class="adsh-form-label"
              >
                  Confirm Password
              </label>
              <input
                      id="confirmPassword"
                      class="adsh-form-input"
                      name="confirmPassword"
                      type="password"
                      ngModel
                      #confirmPassword="ngModel"
                      required
                      data-test="auth-registration-form-confirm-password"
              >
              <span
                      *ngIf="confirmPasswordForm.value === password.value && password.valid"
                      class="input-valid"
              ></span>
              <span
                      class="error-msg"
                      *ngIf="confirmPasswordForm.value !== password.value && confirmPassword.touched"
              >
          Passwords don't match!
        </span>
          </div>

          <button
                  class="
          adsh-btn
          adsh-btn--wide
          adsh-btn--blue
          adsh-form-submit-btn"
          data-test="auth-registration-form-submit-button"
          >
        <span *ngIf="!isPasswordConfirm ; else loading">
          Save new password
        </span>
              <ng-template #loading>
                  <mat-spinner [diameter]="20" [strokeWidth]="2" color="accent"></mat-spinner>
              </ng-template>
          </button>
      </form>
  </div>
</div>
