@import '../../../styles.scss';

.dwmth-confirmation {
  &-wrapper {
    height: 100%;
  }
}

h2 {
  margin-bottom: 20px;
}

p {
  @include media(lg-up) {
    max-width: 80%;
  }
}

form {
  .error-msg {
    max-width: 320px;
  }
}
