<section class="user-list">
  <div
    class="
      row
      justify-between
      align-center"
  >
    <div class="user-list__search-container row justify-between">
      <div>
        <mat-icon> search</mat-icon>
        <label>Search for users:
          <input
            [(ngModel)]="userSearch"
            (ngModelChange)="onSearchChange()"
            class="user-list__input"
            data-test="admin-user-search-input"
            id="search"
            placeholder="Search by email or domain"
          >
        </label>
      </div>
      <div class="user-list__filters">
        <label>Filter by status:</label>
        <mat-checkbox (change)="filterEmailUnconfirmed()"
                      [checked]="onlyEmailUnconfirmed"
                      class="user-list__checkbox">
          Unconfirmed email
        </mat-checkbox>
        <mat-checkbox (change)="filterAdminUnconfirmed()"
                      [checked]="onlyAdminUnconfirmed"
                      class="user-list__checkbox">
          Unconfirmed account
        </mat-checkbox>
        <label>Filter by type:</label>
        <mat-checkbox (change)="filterUsersByType(type, true)"
                      *ngFor="let type of userTypes"
                      [checked]="type === selectedType"
                      class="user-list__checkbox">
          {{type}}
        </mat-checkbox>
      </div>
    </div>
  </div>

  <table class="user-list__items">
    <app-table-navigation
      (sortTable)="sortTable($event)"
      [navigationName]="'userListNavigation'"
    ></app-table-navigation>
    <tbody *ngIf="!isLoading; else loading"
           class="col user-list__table-body">

    <app-user-list-item
      *ngFor="let user of users.data"
      [user]="user"
    ></app-user-list-item>
    <tr *ngIf="!users.data.length"
        class="user-list__loader-container">
      NO RESULTS
    </tr>
    </tbody>
    <ng-template #loading>
      <tr>
        <td>
          <div class="loading-wrapper user-list__loader-container">
            <mat-spinner [diameter]="60" [strokeWidth]="8"></mat-spinner>
          </div>
        </td>
      </tr>
    </ng-template>
  </table>

  <mat-paginator
    (page)="handlePaginationEvent($event)"
    [@fadeIn]
    [length]="users ? users.total : 0"
    [pageSize]="15"
  >
  </mat-paginator>
</section>
