<app-user-reports></app-user-reports>
<section
  class="
  container
    col
    user-list"
>
  <div
    class="
      row
      justify-between
      align-center"
  >
    <h1
      class="
          dwmth-heading
          dwmth-heading--primary"
    >
      Users
    </h1>

    <mat-accordion class="col-xs-12 user-list__filters">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>
              filter_list
            </mat-icon>
            Filter banners by type:
          </mat-panel-title>
          <mat-panel-description>
          {{ selectedType }}
          </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-checkbox *ngFor="let type of userTypes"
                      class="user-list__checkbox"
                      [checked]="type === selectedType"
                      (change)="filterUsersByType(type, true)">
          {{type}}
        </mat-checkbox>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <table class="user-list__items">
    <app-table-navigation
      [navigationName]="'userListNavigation'"
      (sortTable)="sortTable($event)"
    ></app-table-navigation>
    <tbody *ngIf="!isLoading; else loading"
           [@fadeIn]
           class="col user-list__table-body">
    <app-user-list-item
      *ngFor="let user of filteredUsers"
      [userInfoStats]="user"
    ></app-user-list-item>
    </tbody>
    <ng-template #loading>
      <div class="loading-wrapper user-list__loader-container"
           [@fadeIn]>
        <mat-spinner [diameter]="60" [strokeWidth]="8"></mat-spinner>
      </div>
    </ng-template>
  </table>

  <mat-paginator
    [length]="users ? users.total : 0"
    [pageSize]="15"
    (page)="handlePaginationEvent($event)"
  >
  </mat-paginator>
</section>
