@import '../../../styles.scss';

.user-list {
  margin-top: 25px;

  &__sort {
    margin-left: 5px;
  }

  &__filters {
    > * {
      margin: 10px 0;
    }
  }
}

.choose-user-type {
  margin-right: 20px;
}

.search {
  max-width: 180px;

  &-label {
    margin-right: 20px;
  }
}
