@import '../../../styles.scss';

.user-list {
  &__sort {
    margin-left: 5px;
  }

  &__items {
    margin-top: 15px;
  }

  &__filters {
    margin-bottom: 20px;
  }
}

.choose-user-type {
  margin-left: 20px;
}

.search {
  width: 100%;
}
