<mat-dialog-content class="text-center mat-dialog-content--narrow add-funds">
  <div (click)="dialogRef.close()" class="ap-dialog-close"></div>

  <div *ngIf="!loadingInfo; else loading" class="col row--gap8">
    <h2 class="ap-heading ap-heading--h3">
      <span *ngIf="useNativeDeposit">Deposit ADS</span>
      <span *ngIf="useWrappedDeposit">Deposit Wrapped ADS</span>
      <span *ngIf="useNowPaymentsDeposit" class="now_payments_logo"><span>NOW</span>Payments</span>
      <span *ngIf="!useNativeDeposit && !useNowPaymentsDeposit && !useWrappedDeposit">Deposit funds</span>
    </h2>
    <div *ngIf="isAutoWithdrawal" class="ap-alert ap-alert--warning">
      You have automatic withdrawal turned on. Depending on your settings, deposited funds may be returned to the sender
      immediately. Go to the <a (mousedown)="navigateToSettings($event)">settings</a>.
    </div>
    <div
      *ngIf="
        !useNativeDeposit && !useWrappedDeposit && !useNowPaymentsDeposit && !useFiatDeposit;
        else (useNativeDeposit && nativeDeposit) ||
          (useNowPaymentsDeposit && nowPaymentsDeposit) ||
          (useWrappedDeposit && wrappedDeposit) ||
          (useFiatDeposit && fiatDeposit)
      "
      class="col row--gap32">
      <p class="ap-copy">
        Select your preferred deposit method. You can choose between the native ADS coin and over 30 other
        cryptocurrencies, including BTC and ETH.
      </p>
      <div class="col row--gap32">
        <div class="col row--gap8">
          <button (click)="selectNativeDeposit()" class="ap-btn ap-btn--secondary">Deposit ADS</button>
          <p class="ap-copy">
            No fee, super fast.
            <a [href]="getAdsFaqLink" rel="noopener noreferrer nofollow" target="_blank"> How to get ADS? </a>
          </p>
        </div>

        <div class="col row--gap8">
          <button (click)="selectWrappedDeposit()" class="ap-btn ap-btn--secondary">Deposit Wrapped ADS</button>
          <p class="ap-copy">
            Easily bought on
            <a
              href="https://app.uniswap.org/#/swap?outputCurrency=0xcfcecfe2bd2fed07a9145222e8a7ad9cf1ccd22a"
              rel="noopener noreferrer nofollow"
              target="_blank"
              >Ethereum</a
            >
            and
            <a
              href="https://exchange.pancakeswap.finance/#/swap?outputCurrency=0xcfcecfe2bd2fed07a9145222e8a7ad9cf1ccd22a"
              rel="noopener noreferrer nofollow"
              target="_blank"
              >Binance</a
            >
            DEX-es
          </p>
        </div>

        <div class="col row--gap8">
          <button *ngIf="nowPayments !== null" (click)="selectNowPaymentsDeposit()" class="ap-btn ap-btn--secondary">
            Deposit with&nbsp;<span class="now_payments_logo"><span>NOW</span>Payments</span>
          </button>
          <p class="ap-copy" *ngIf="nowPayments !== null">
            Deposit BTC, ETH, LTC and other cryptocurrencies.
            <a href="https://nowpayments.io/supported-coins/" rel="noopener noreferrer nofollow" target="_blank"
              >Check the full list here.</a
            >
          </p>
        </div>

        <ng-container *ngIf="fiat">
          <button
            *ngFor="let currency of fiat.currencies"
            (click)="selectFiatDeposit(currency)"
            class="ap-btn ap-btn--secondary ap-btn-info">
            Order marketing services ({{ currency }})
          </button>
        </ng-container>
      </div>
    </div>
  </div>

  <ng-template #nativeDeposit>
    <div class="col row--gap32">
      <p class="ap-copy">Here is the information required to deposit funds to your account.</p>

      <div class="col row--gap32">
        <div class="col row--gap8">
          <div class="ap-form-input__box">
            <label class="ap-form-label" for="adshares-address"> Adshares’ account address: </label>
            <input
              #address
              [value]="adsharesAddress"
              class="ap-form-input ap-form-input--full"
              data-test="common-add-funds-dialog-adshares-address"
              id="adshares-address"
              name="adshares-address"
              readonly />
          </div>
          <p class="ap-copy text-left">
            Please transfer your ADS coins to this address. Remember to add a message (aka Payment ID or Memo),
            otherwise your funds will not be deposited.
          </p>
          <div class="row justify-end">
            <button
              (click)="copyInput(address)"
              class="ap-btn ap-btn--secondary"
              data-test="common-add-funds-dialog-adshares-address-copy">
              <fa-icon [icon]="faCopy" class="ap-icon ap-icon--prepend"></fa-icon>
              Copy to clipboard
            </button>
          </div>
        </div>

        <div class="col row--gap8">
          <div class="ap-form-input__box">
            <label class="ap-form-label" for="memo"> Message </label>
            <input
              #memo
              [value]="paymentMemo"
              class="ap-form-input ap-form-input--full"
              data-test="common-add-funds-dialog-user-memo"
              id="memo"
              name="memo"
              readonly
              type="url" />
          </div>
          <p class="ap-copy text-left">
            The message is necessary to deposit ADS coins to your account. Please add the message above to your
            transfer.
          </p>
          <div class="row justify-end">
            <button
              (click)="copyInput(memo)"
              class="ap-btn ap-btn--secondary"
              data-test="common-add-funds-dialog-user-memo-copy">
              <fa-icon [icon]="faCopy" class="ap-icon ap-icon--prepend"></fa-icon>
              Copy to clipboard
            </button>
          </div>
        </div>
      </div>
      <span *ngIf="!isConfirmed" class="error-msg"> Confirm account to deposit funds </span>

      <button (click)="restartDepositMethod()" *ngIf="nowPayments" class="ap-btn ap-btn--secondary">Back</button>
    </div>
  </ng-template>

  <ng-template #wrappedDeposit>
    <div class="col row--gap32">
      <p class="ap-copy">allows you to directly deposit wrapped ADS</p>

      <div class="col row--gap32" *ngIf="metamaskConnected && !metamaskTxid">
        <div class="col row--gap8">
          <p class="ap-copy text-left">
            Network: <span class="ap-copy--semi">{{ metamaskNetwork }}</span>
          </p>
          <p class="ap-copy text-left">
            Address: <span class="ap-copy--semi">{{ metamaskAccount }}</span>
          </p>
          <p class="ap-copy text-left">
            Available to deposit: <span class="ap-copy--semi">{{ metamaskAccountAds }} ADS</span>
          </p>
        </div>
        <div class="ap-form-input__box">
          <label class="ap-form-label" for="amount"> Deposit amount ADS: </label>
          <input
            class="ap-form-input ap-form-input--full"
            data-test="common-wrapped-dialog-adshares-amount"
            id="wrapped_amount"
            name="amount"
            max="1000000"
            step="0.0001"
            type="number"
            value="" />
          <span *ngIf="wrappedAmountError" class="error-msg"> Provide correct deposit amount </span>
        </div>

        <div class="col row--gap8 justify-center">
          <div *ngIf="isConfirmed" class="col row--gap8">
            <div class="row justify-center">
              <button
                (click)="depositWrapped()"
                class="ap-btn ap-btn--primary"
                data-test="common-now-payments-submit-button">
                <span *ngIf="!isFormBeingSubmitted; else loadingBtn">Deposit with Metamask</span>
              </button>
            </div>

            <p *ngIf="metamaskError" class="error-msg col-xs-12">
              {{ metamaskError }}
            </p>

            <p class="ap-alert ap-alert--info">
              You need to sign transaction using Metamask. A notification will be sent via e-mail once the funds have
              been deposited.
            </p>
          </div>

          <span *ngIf="!isConfirmed" class="error-msg col-xs-12"> Confirm account to deposit funds </span>
          <span *ngIf="nowPaymentsServerError" class="error-msg col-xs-12">
            An unexpected error occurred, please try again later.
          </span>
        </div>
      </div>

      <div class="col row--gap8" *ngIf="metamaskTxid">
        <p class="ap-alert ap-alert--success">Transaction submitted successfully.</p>
        <p class="ap-copy text-left">A notification will be sent via e-mail once the funds have been deposited.</p>
      </div>

      <div *ngIf="!metamaskConnected && metamaskAvailable" class="col">
        <button
          (click)="connectMetamask()"
          class="ap-btn ap-btn--primary"
          data-test="common-now-payments-submit-button">
          <span *ngIf="!isMetamaskConnecting; else loadingBtn">Connect Metamask</span>
        </button>
        <div *ngIf="metamaskChainError" class="error-msg">
          Unknown network. Only Ethereum an Binance Smart Chain is supported.
        </div>
      </div>

      <div class="" *ngIf="!metamaskAvailable">
        <p class="ap-copy ap-copy--error">
          Metamask is not installed on this browser. Please use other deposit methods.
        </p>
      </div>

      <button (click)="restartDepositMethod()" class="ap-btn ap-btn--secondary">Back</button>
    </div>
  </ng-template>

  <ng-template #nowPaymentsDeposit>
    <div class="col row--gap32">
      <p class="ap-copy">
        allows you to make deposits in Bitcoin, Ethereum, Litecoin, and over 30 other cryptocurrencies.
        <a href="https://nowpayments.io/supported-coins/" rel="noopener noreferrer nofollow" target="_blank"
          >Check the full list here.</a
        >
      </p>

      <div class="col row--gap32">
        <div class="ap-form-input__box">
          <label class="ap-form-label" for="amount"> Deposit amount ({{ nowPayments.currency }}): </label>
          <input
            (change)="changeNowPaymentsAmount($event)"
            (keyup)="keydownNowPaymentsAmount($event)"
            class="ap-form-input ap-form-input--full"
            data-test="common-now-payments-dialog-adshares-amount"
            id="amount"
            max="{{ nowPayments.maxAmount }}"
            min="{{ nowPayments.minAmount }}"
            name="amount"
            step="0.01"
            type="number"
            value="{{ nowPaymentsDefaultAmount }}" />
          <p class="ap-copy ap-copy--small">
            The min. deposit is
            <span class="ap-copy--semi">{{ nowPayments.minAmount }} {{ nowPayments.currency }}</span>
            and the max. is
            <span class="ap-copy--semi">{{ nowPayments.maxAmount }} {{ nowPayments.currency }}</span>
          </p>
          <span *ngIf="nowPaymentsAmountError" class="error-msg"> Provide correct deposit amount </span>
        </div>

        <div *ngIf="ADS_TOKEN_CODE === appCurrency" class="ap-alert ap-alert--info">
          <span class="ap-copy" data-test="common-now-payments-dialog-ads-amount">
            Your deposit will amount to approx.
            <span class="ap-copy--semi">
              {{
                nowPaymentsAdsAmount ? (nowPaymentsAdsAmount | formatMoney : 0 : crypto : code) : '? ' + ADS_TOKEN_CODE
              }}
            </span>
          </span>
        </div>

        <div class="col row--gap8">
          <div *ngIf="isConfirmed" class="col row--gap8">
            <button
              (click)="depositNowPaymentsFunds()"
              class="ap-btn ap-btn--primary"
              data-test="common-now-payments-submit-button">
              <span *ngIf="!isFormBeingSubmitted; else loadingBtn">Deposit</span>
            </button>
            <p class="ap-alert ap-alert--info">
              You will be redirected to NowPayments.io. Please note that it may take up to a few hours to deposit your
              funds, depending on the cryptocurrency you are using. A notification will be sent via e-mail once the
              funds have been deposited.
            </p>
          </div>

          <span *ngIf="!isConfirmed" class="error-msg"> Confirm account to deposit funds </span>
          <span *ngIf="nowPaymentsServerError" class="error-msg">
            An unexpected error occurred, please try again later.
          </span>
        </div>
      </div>

      <button (click)="restartDepositMethod()" class="ap-btn ap-btn--secondary">Back</button>
    </div>
  </ng-template>

  <ng-template #fiatDeposit>
    <div class="col row--gap32">
      <p class="ap-copy">You will get proforma invoice in {{ fiatCurrency }}</p>

      <div class="col row--gap8" *ngIf="fiatInvoice">
        <p class="ap-copy">You will receive funds in your account after the payment is credited</p>
        <div class="row justify-center">
          <a target="_blank" class="ap-btn ap-btn--secondary" [href]="fiatInvoice.downloadUrl">Download invoice</a>
        </div>
      </div>

      <form
        *ngIf="!fiatInvoice"
        id="fiat-form"
        class="ap-form col row--gap18"
        [formGroup]="fiatForm"
        (ngSubmit)="onFiatSubmit()">
        <div class="col row--gap8">
          <div class="ap-form-input__box">
            <label for="fiatNetAmount" class="ap-form-label"> Deposit amount ({{ fiatCurrency }}): </label>
            <input
              id="fiatNetAmount"
              class="ap-form-input ap-form-input--full"
              name="netAmount"
              formControlName="netAmount"
              max="{{ fiat.maxAmount }}"
              min="{{ fiat.minAmount }}"
              step="0.01"
              type="number" />
            <span *ngIf="fiatForm.get('netAmount').valid" class="input-valid"></span>
            <span
              class="error-msg"
              *ngIf="
                (fiatForm.hasError('min', ['netAmount']) ||
                  fiatForm.hasError('max', ['netAmount']) ||
                  fiatForm.hasError('required', ['netAmount'])) &&
                isFormBeingSubmitted
              ">
              Provide correct deposit amount
            </span>
            <span class="error-msg" *ngIf="fiatForm.hasError('custom', ['netAmount']) && isFormBeingSubmitted">
              {{ fiatForm.getError('custom', ['netAmount']) }}
            </span>
          </div>
          <span class="ap-form-label">
            The min. deposit is
            <strong>{{ fiat.minAmount }} {{ fiatCurrency }}</strong> and the max. is
            <strong>{{ fiat.maxAmount }} {{ fiatCurrency }}</strong>
          </span>
        </div>

        <div class="ap-form-input__box">
          <label for="fiatBuyerName" class="ap-form-label"> Company name: </label>
          <input
            id="fiatBuyerName"
            class="ap-form-input ap-form-input--full"
            name="buyerName"
            formControlName="buyerName"
            type="text" />
          <span *ngIf="fiatForm.get('buyerName').valid" class="input-valid"></span>
          <span class="error-msg" *ngIf="fiatForm.hasError('required', ['buyerName']) && isFormBeingSubmitted">
            Company name is required.
          </span>
          <span class="error-msg" *ngIf="fiatForm.hasError('max', ['buyerName']) && isFormBeingSubmitted">
            Company name may not be greater than
            {{ fiatForm.getError('maxlength', ['buyerName']).requiredLength }}
            characters.
          </span>
          <span class="error-msg" *ngIf="fiatForm.hasError('custom', ['buyerName']) && isFormBeingSubmitted">
            {{ fiatForm.getError('custom', ['buyerName']) }}
          </span>
        </div>

        <div class="ap-form-input__box">
          <label for="fiatBuyerAddress" class="ap-form-label"> Company address: </label>
          <input
            id="fiatBuyerAddress"
            class="ap-form-input ap-form-input--full"
            name="buyerAddress"
            formControlName="buyerAddress"
            type="text" />
          <span *ngIf="fiatForm.get('buyerAddress').valid" class="input-valid"></span>
          <span class="error-msg" *ngIf="fiatForm.hasError('required', ['buyerAddress']) && isFormBeingSubmitted">
            Company address is required.
          </span>
          <span class="error-msg" *ngIf="fiatForm.hasError('max', ['buyerAddress']) && isFormBeingSubmitted">
            Company address may not be greater than
            {{ fiatForm.getError('maxlength', ['buyerAddress']).requiredLength }}
            characters.
          </span>
          <span class="error-msg" *ngIf="fiatForm.hasError('custom', ['buyerAddress']) && isFormBeingSubmitted">
            {{ fiatForm.getError('custom', ['buyerAddress']) }}
          </span>
        </div>

        <div class="ap-form-input__box">
          <label for="fiatBuyerPostalCode" class="ap-form-label"> Postal code: </label>
          <input
            id="fiatBuyerPostalCode"
            class="ap-form-input ap-form-input--full"
            name="buyerPostalCode"
            formControlName="buyerPostalCode"
            type="text" />
          <span *ngIf="fiatForm.get('buyerPostalCode').valid" class="input-valid"></span>
          <span class="error-msg" *ngIf="fiatForm.hasError('max', ['buyerPostalCode']) && isFormBeingSubmitted">
            Postal code may not be greater than
            {{ fiatForm.getError('maxlength', ['buyerPostalCode']).requiredLength }}
            characters.
          </span>
          <span class="error-msg" *ngIf="fiatForm.hasError('custom', ['buyerPostalCode']) && isFormBeingSubmitted">
            {{ fiatForm.getError('custom', ['buyerPostalCode']) }}
          </span>
        </div>

        <div class="ap-form-input__box">
          <label for="fiatBuyerCity" class="ap-form-label"> City: </label>
          <input
            id="fiatBuyerCity"
            class="ap-form-input ap-form-input--full"
            name="buyerCity"
            formControlName="buyerCity"
            type="text" />
          <span *ngIf="fiatForm.get('buyerCity').valid" class="input-valid"></span>
          <span class="error-msg" *ngIf="fiatForm.hasError('max', ['buyerCity']) && isFormBeingSubmitted">
            City may not be greater than
            {{ fiatForm.getError('maxlength', ['buyerCity']).requiredLength }}
            characters.
          </span>
          <span class="error-msg" *ngIf="fiatForm.hasError('custom', ['buyerCity']) && isFormBeingSubmitted">
            {{ fiatForm.getError('custom', ['buyerCity']) }}
          </span>
        </div>

        <div class="ap-form-input__box">
          <label for="fiatBuyerCountry" class="ap-form-label"> Country: </label>
          <mat-select id="fiatBuyerCountry" class="ap-form-select ap-form-select--full" formControlName="buyerCountry">
            <input
              type="search"
              class="ap-form-input ap-form-search-option"
              placeholder="Search"
              (keyup)="filterCountries($event)" />
            <mat-option *ngFor="let country of filteredCountries" [value]="country">
              {{ country.name }}
            </mat-option>
          </mat-select>
          <span class="error-msg" *ngIf="fiatForm.hasError('required', ['buyerCountry']) && isFormBeingSubmitted">
            Country is required.
          </span>
        </div>

        <div class="row row--gap18 justify-between align-end">
          <div class="ap-form-input__box flex-auto">
            <label for="fiatBuyerVatId" class="ap-form-label"> VAT id (tax id): </label>
            <input
              id="fiatBuyerVatId"
              class="ap-form-input ap-form-input--full"
              name="buyerVatId"
              formControlName="buyerVatId"
              type="text" />
            <span *ngIf="fiatForm.get('buyerVatId').valid" class="input-valid"></span>
            <span class="error-msg" *ngIf="fiatForm.hasError('required', ['buyerVatId']) && isFormBeingSubmitted">
              VAT id is required.
            </span>
            <span class="error-msg" *ngIf="fiatForm.hasError('max', ['buyerVatId']) && isFormBeingSubmitted">
              VAT id may not be greater than
              {{ fiatForm.getError('maxlength', ['buyerVatId']).requiredLength }}
              characters.
            </span>
            <span class="error-msg" *ngIf="fiatForm.hasError('custom', ['buyerVatId']) && isFormBeingSubmitted">
              {{ fiatForm.getError('custom', ['buyerVatId']) }}
            </span>
          </div>
          <div class="ap-form-input__box">
            <mat-checkbox formControlName="euVat" *ngIf="fiatForm.get('euVat')" [disabled]="fiatEuVatDisabled">
              EU VAT
            </mat-checkbox>
          </div>
        </div>
        <div class="ap-form-input__box">
          <label for="fiatComments" class="ap-form-label"> Comments: </label>
          <input
            id="fiatComments"
            class="ap-form-input ap-form-input--full"
            name="comments"
            formControlName="comments"
            type="text" />
          <span *ngIf="fiatForm.get('comments').valid" class="input-valid"></span>
          <span class="error-msg" *ngIf="fiatForm.hasError('max', ['comments']) && isFormBeingSubmitted">
            Comments may not be greater than
            {{ fiatForm.getError('maxlength', ['comments']).requiredLength }}
            characters.
          </span>
          <span class="error-msg" *ngIf="fiatForm.hasError('custom', ['comments']) && isFormBeingSubmitted">
            {{ fiatForm.getError('custom', ['comments']) }}
          </span>
        </div>
        <div class="justify-center">
          <div *ngIf="isConfirmed">
            <button type="submit" class="ap-btn ap-btn--primary">
              <span *ngIf="!showLoader; else loadingBtn">Get invoice</span>
            </button>
          </div>
          <span *ngIf="!isConfirmed" class="error-msg col-xs-12"> Confirm account to deposit funds </span>
        </div>
      </form>
      <button (click)="restartDepositMethod()" class="ap-btn ap-btn--secondary">Back</button>
    </div>
  </ng-template>

  <ng-template #loading>
    <div class="loading-wrapper">
      <mat-spinner [diameter]="30" [strokeWidth]="4"></mat-spinner>
    </div>
  </ng-template>

  <ng-template #loadingBtn>
    <mat-spinner [diameter]="20" [strokeWidth]="2" color="accent"></mat-spinner>
  </ng-template>
</mat-dialog-content>
