<mat-dialog-content
  class="
    text-center
    mat-dialog-content--narrow"
>
  <div
    (click)="dialogRef.close()"
    class="adsh-dialog-close"
  ></div>
  <h1
    class="
      adsh-heading
      adsh-heading--primary"
  >
    Add Funds
  </h1>

  <p
    class="
      adsh-copy
      adsh-copy--large
      dialog-description"
  >
    Below are information needed to add funds to Your account.
  </p>

  <div
    *ngIf="adsharesAddress && paymentMemo; else loading"
    class="
      add-funds-content
      dialog-main-content"
  >
    <div class="adsh-form-input__box">
      <label
        for="adshares-address"
        class="adsh-form-label"
      >
        Our Adshares Address
      </label>
      <input
        id="adshares-address"
        class="
          adsh-form-input
          adsh-form-input--full"
        name="adshares-address"
        [value]="adsharesAddress"
        readonly
        #address
        data-test="common-add-funds-dialog-adshares-address"
      >
      <span class="input-valid"></span>
    </div>
    <p
      class="
        adsh-copy
        adsh-copy--large"
    >
      You need to send transfer to this address
    </p>
    <div
      class="
        row
        justify-end"
    >
      <button
        class="
          adsh-btn
          adsh-btn--blue"
        (click)="copyInput(address)"
        data-test="common-add-funds-dialog-adshares-address-copy"
      >
        Copy to clipboard
      </button>
    </div>

    <div class="adsh-form-input__box">
      <label
        for="memo"
        class="adsh-form-label"
      >
        Your MEMO
      </label>
      <input
        id="memo"
        class="
          adsh-form-input
          adsh-form-input--full"
        type="url"
        name="memo"
        [value]="paymentMemo"
        readonly
        #memo
        data-test="common-add-funds-dialog-user-memo"
      >
      <span class="input-valid"></span>
    </div>
    <p
      class="
        adsh-copy
        adsh-copy--large"
    >
      Your MEMO allows us to add transferred funds to Your account.
      We will send you a notification when we receive a transfer.
    </p>
    <div
      class="
        row
        justify-end"
    >
      <button
        class="
          adsh-btn
          adsh-btn--blue"
        (click)="copyInput(memo)"
        data-test="common-add-funds-dialog-user-memo-copy"
      >
        Copy to clipboard
      </button>
    </div>

    <div class="row">
      <span
        class="
          confirm-email-error-block
          error-msg
          col-xs-12"
        *ngIf="!isEmailConfirmed"
      >
        Confirm email before deposit
      </span>
    </div>
  </div>

  <ng-template #loading>
    <div class="loading-wrapper">
      <mat-spinner [diameter]="30" [strokeWidth]="4"></mat-spinner>
    </div>
  </ng-template>

</mat-dialog-content>
