<mat-dialog-content
  class="
    text-center
    mat-dialog-content--narrow"
>
  <div
    (click)="dialogRef.close()"
    class="dwmth-dialog-close"
  ></div>
  <h1
    class="
      dwmth-heading
      dwmth-heading--primary"
  >
    <span *ngIf="useNativeDeposit">Deposit ADS</span>
    <span *ngIf="useNowPaymentsDeposit" class="now_payments_logo"><span>NOW</span>Payments</span>
    <span *ngIf="!useNativeDeposit && !useNowPaymentsDeposit">Deposit funds</span>
  </h1>

  <div *ngIf="!loadingInfo; else loading">
    <div
      *ngIf="!useNativeDeposit && !useNowPaymentsDeposit;
        else useNativeDeposit && nativeDeposit || useNowPaymentsDeposit && nowPaymentsDeposit"
      class="add-funds-selector"
    >
      <p class="dwmth-copy dwmth-copy--large dialog-description">
        Select your preferred deposit method. You can choose between the native ADS coin and over 30 other
        cryptocurrencies, including BTC and ETH.
      </p>
      <div class="add-funds-content dialog-main-content">
        <button
          (click)="selectNativeDeposit()"
          class="dwmth-btn dwmth-btn--blue dwmth-btn--block"
        >
          Deposit ADS
        </button>
        <p class="dwmth-copy dwmth-copy--medium">
          No fee, super fast.
          <a href="http://adshar.es/getADS" rel="noopener noreferrer nofollow" target="_blank">
            How to get ADS?
          </a>
        </p>

        <button
          (click)="selectNowPaymentsDeposit()"
          class="dwmth-btn dwmth-btn--blue dwmth-btn--block"
        >
          Deposit with&nbsp;<span class="now_payments_logo"><span>NOW</span>Payments</span>
        </button>
        <p class="dwmth-copy dwmth-copy--medium">
          Deposit BTC, ETH, LTC and other cryptocurrencies.
          <a href="https://nowpayments.io/supported-coins/" rel="noopener noreferrer nofollow" target="_blank">Check the
            full list here.</a>
        </p>
      </div>
    </div>
  </div>

  <ng-template #nativeDeposit>
    <p class="dwmth-copy dwmth-copy--large dialog-description">
      Here is the information required to deposit funds to your account.
    </p>

    <div class="add-funds-content dialog-main-content">
      <div class="dwmth-form-input__box">
        <label
          class="dwmth-form-label"
          for="adshares-address"
        >
          Adshares’ account address:
        </label>
        <input
          #address
          [value]="adsharesAddress"
          class="dwmth-form-input dwmth-form-input--full"
          data-test="common-add-funds-dialog-adshares-address"
          id="adshares-address"
          name="adshares-address"
          readonly
        >
        <span class="input-valid"></span>
      </div>
      <p class="dwmth-copy dwmth-copy--blue add-funds-dialog__hint">
        Please transfer your ADS coins to this address.
        Remember to add a message (aka Payment ID or Memo), otherwise your funds will not be deposited.
      </p>
      <div
        class="row justify-end">
        <button
          (click)="copyInput(address)"
          class="dwmth-btn dwmth-btn--blue"
          data-test="common-add-funds-dialog-adshares-address-copy"
        >
          Copy to clipboard
        </button>
      </div>

      <div class="dwmth-form-input__box">
        <label
          class="dwmth-form-label"
          for="memo"
        >
          Message
        </label>
        <input
          #memo
          [value]="paymentMemo"
          class="dwmth-form-input dwmth-form-input--full"
          data-test="common-add-funds-dialog-user-memo"
          id="memo"
          name="memo"
          readonly
          type="url"
        >
        <span class="input-valid"></span>
      </div>
      <p class="dwmth-copy dwmth-copy--blue add-funds-dialog__hint">
        The message is necessary to deposit ADS coins to your account.
        Please add the message above to your transfer.
      </p>
      <div class="row justify-end">
        <button
          (click)="copyInput(memo)"
          class="dwmth-btn dwmth-btn--blue"
          data-test="common-add-funds-dialog-user-memo-copy"
        >
          Copy to clipboard
        </button>
      </div>

      <div class="row">
        <span
          *ngIf="!isEmailConfirmed"
          class="confirm-email-error-block error-msg col-xs-12"
        >
          Confirm email before deposit
        </span>
      </div>
    </div>

    <button
      (click)="restartDepositMethod()"
      *ngIf="nowPayments"
      class="dwmth-btn dwmth-btn--white"
    >
      Back
    </button>
  </ng-template>

  <ng-template #nowPaymentsDeposit>
    <p class="dwmth-copy dwmth-copy--large dialog-description">
      allows you to make deposits in Bitcoin, Ethereum,
      Litecoin, and over 30 other cryptocurrencies.
      <a href="https://nowpayments.io/supported-coins/" rel="noopener noreferrer nofollow" target="_blank">Check the
        full list here.</a>
    </p>

    <div class="add-funds-content dialog-main-content">
      <div class="dwmth-form-input__box">
        <label
          class="dwmth-form-label"
          for="amount"
        >
          Deposit amount ({{nowPayments.currency}}):
        </label>
        <input
          (change)="changeNowPaymentsAmount($event)"
          (keyup)="keydownNowPaymentsAmount($event)"
          class="dwmth-form-input dwmth-form-input--full"
          data-test="common-now-payments-dialog-adshares-amount"
          id="amount"
          max="{{nowPayments.maxAmount}}"
          min="{{nowPayments.minAmount}}"
          name="amount"
          step="0.01"
          type="number"
          value="{{nowPaymentsDefaultAmount}}"
        >
        <span
          *ngIf="nowPaymentsAmountError"
          class="error-msg"
        >
          Provide correct deposit amount
        </span>
        <span class="dwmth-form-label">
          The min. deposit is <strong>{{nowPayments.minAmount}} {{nowPayments.currency}}</strong>
          and the max. is <strong>{{nowPayments.maxAmount}} {{nowPayments.currency}}</strong>
        </span>
      </div>

      <div class="ads-amount">
        <span class="dwmth-form-label">
          Your deposit will amount to approx.
        </span>
        <span
          class="dwmth-copy dwmth-copy--large"
          data-test="common-now-payments-dialog-ads-amount"
        >
          {{ nowPaymentsAdsAmount ? (nowPaymentsAdsAmount | formatMoney:0:crypto:code) : '? ' + environment.cryptoCode }}
        </span>
      </div>

      <div class="row justify-center now-payments__btns-wrapper">
        <div *ngIf="isEmailConfirmed">
          <button
            (click)="depositNowPaymentsFunds()"
            class="dwmth-btn dwmth-btn--blue dwmth-btn--block"
            data-test="common-now-payments-submit-button"
          >
            <span *ngIf="!isFormBeingSubmitted; else loadingBtn">Deposit</span>
          </button>
          <p class="dwmth-copy dwmth-copy--blue add-funds-dialog__hint">
            You will be redirected to NowPayments.io.
            Please note that it may take up to a few hours to deposit your funds, depending on the cryptocurrency you
            are using.
            A notification will be sent via e-mail once the funds have been deposited.
          </p>
        </div>

        <span
          *ngIf="!isEmailConfirmed"
          class="error-msg col-xs-12"
        >
          Confirm email to deposit funds
        </span>
        <span
          *ngIf="nowPaymentsServerError"
          class="error-msg col-xs-12"
        >
          An unexpected error occurred, please try again later.
        </span>
      </div>
    </div>

    <button
      (click)="restartDepositMethod()"
      class="dwmth-btn dwmth-btn--white"
    >
      Back
    </button>
  </ng-template>

  <ng-template #loading>
    <div class="loading-wrapper">
      <mat-spinner [diameter]="30" [strokeWidth]="4"></mat-spinner>
    </div>
  </ng-template>

  <ng-template #loadingBtn>
    <mat-spinner [diameter]="20" [strokeWidth]="2" color="accent"></mat-spinner>
  </ng-template>

</mat-dialog-content>
