<div>
  <div
    class="
      adsh-box
      adsh-box--large
      col
      align-center
      justify-center
      text-center"
  >
    <img
      src="/assets/images/advertiser-account-illustration.svg"
      alt="Illustration">
    <div class="adsh-customize__box-description">
      <h2
        class="
          adsh-heading
          adsh-heading--primary"
      >
        Success! Your email address is confirmed now.
      </h2>

      <p
        class="
          adsh-copy
          adsh-copy--large"
      >
        Now you will be able to withdraw / deposit funds
        and use the app to its full potential.
      </p>
    </div>
    <a routerLink="/">
      <button
        class="
          row
          align-center
          adsh-btn
          adsh-btn--large
          adsh-btn--white
          adsh-btn--no-border"
      >
        <span
          class="
            adsh-heading
            adsh-heading--secondary"
        >
          Back to Dashboard
        </span>
      </button>
    </a>
  </div>
</div>
