@import '../../../../styles.scss';

.publisher-list-item {
  @include container($border-color: pal(gray, nearly-white));
  display: flex;
  justify-content: space-between;
  min-height: 52px;

  &__cell {
    @include copy($font-size: 16);
    display: flex;
    align-items: center;

    &--bold {
      @include copy(
        $color: pal(navy, base),
        $font-weight: semi,
        $font-size: 16
      );
    }
  }

  &__btn {
    @include btn(
      $border-color: pal(navy, light),
      $color: pal(navy, light),
      $background-color: pal(white),
      $padding-horizontal: 12px,
      $padding-vertical: 8px
    );
  }

  .change {
    font-size: 80%;
    display: flex;
    flex-flow: column;
    align-items: flex-end;
    justify-content: flex-end;

    &__positive {
      color: pal(green);
    }
    &__negative {
      color: pal(red);
    }
  }

  .group {
    position: relative;
    overflow: visible !important;
    padding: 0 !important;
    @include copy(
      $color: pal(navy, base),
      $font-weight: semi,
      $font-size: 16
    );

    > div {
      overflow: hidden;
      text-overflow: ellipsis;
      padding: 0.5em;
      white-space: nowrap;
    }

    &:hover > div {
      position: absolute;
      background: pal(gray, light);
      z-index: 100;
    }
  }

  .align-right {
    justify-content: flex-end;
  }
}
