@import '../../../styles';

.admin-dashboard {
  min-height: calc(100vh - #{$app-header-height});

  &__side-menu {
    height: 100%;
    padding: 24px 42px 24px 24px;
    min-height: calc(100vh - #{$app-header-height});
    background-color: pal(white);
  }

  .settings-outlet {
    @include media(md-up) {
      width: calc(100% - 100px);
    }

    @include media(lg-up) {
      width: calc(100vw - 740px);
    }
  }
}

.chart-wrapper {
  height: 400px;
  margin: 0px 0 80px;

  &--small {
    margin-top: 30px;
    height: 250px;
  }
}
