<section class="admin-dashboard row">
  <app-panel-blockade *ngIf="isPanelBlocked"
                      [url]="licenseDetailUrl"></app-panel-blockade>
  <div class="admin-dashboard__side-menu">
    <div
      *ngIf="showIndexUpdateError"
      class="dwmth-copy dwmth-copy--red justify-center message"
    >
      Panel placeholders' update time cannot be fetched.
    </div>
    <div
      *ngIf="showIndexUpdateMessage"
      class="dwmth-copy dwmth-copy--red justify-center message"
    >
      Panel placeholders were updated on {{ indexUpdateTime }}<br />
      <a
        *ngIf="showPreviewLink"
        [href]=PREVIEW_URL
        rel="noopener nofollow noreferrer"
        target="_blank"
      >
        preview available
      </a>
      <span
        *ngIf="!showPreviewLink"
        class="dwmth-copy"
      >
        generating preview
      </span>
    </div>
    <div *ngIf="adControllerUrl"
         class="dwmth-copy justify-center message"
    >
      <a [href]="adControllerUrl"
         rel="noopener nofollow noreferrer"
         target="_blank"
         data-test="settings-category-link"
      >
        <h3 class="dwmth-copy--large">
          <span class="dwmth-copy--x-dark">
            AdController Panel
          </span>
          <fa-icon [icon]="faExternalLinkSquareAlt" class="dwmth-icon dwmth-icon--large"></fa-icon>
        </h3>
      </a>
    </div>
    <ul>
      <li *ngFor="let menuItem of settings">
        <app-settings-menu-item [menuItem]="menuItem"></app-settings-menu-item>
      </li>
    </ul>
  </div>
  <div class="settings-outlet">
    <router-outlet></router-outlet>
  </div>
</section>
