@import '../../../../styles.scss';

.dwmth-ad-list {
  &__item {
    &--type {
      padding: 0 50px;
    }
  }
}

.classifier-list-item {
  &__row {
    max-height: 100px;
  }
  &__banner {
    height: auto;
    width: auto;
    max-width: 95%;
    max-height: 100px;
  }
  &__link {
    padding-right: 8px!important;
  }
}
