@import '../../../../styles.scss';

.adsh-ad-list__item {
  &--type {
    padding: 0 50px;
  }
}

.classifier-list-item {
  &__row {
    max-height: 100px;
  }
  &__banner {
    height: auto;
    width: auto;
    max-width: 95%;
    max-height: 100px;
  }
}
