<div class="adsh-box adsh-box--no-padding">
  <div class="adsh-ad-list__item">
    <div
      class="
        row
        align-center
        adsh-copy
        adsh-copy--semi"
    >
      <button
        *ngIf="classified !== APPROVED"
        type="button"
        class="
          adsh-btn
          adsh-btn--white
          adsh-blue"
        (click)="setBannerClassification(APPROVED)"
      >
        approve
      </button>

      <button
        *ngIf="classified !== REJECTED"
        type="button"
        class="
          adsh-btn
          adsh-btn--white
          adsh-blue"
        (click)="setBannerClassification(REJECTED)"
      >
        reject
      </button>

    </div>
  </div>
</div>
