<tr class="adsh-box row justify-between no-gutters">
  <td class="col-xs-5">
    <!-- TODO change with banner preview component -->
    <img *ngIf="bannerClassification.type === 'image'" src="{{ bannerClassification.url }}" alt="banner"/>

    <iframe
      *ngIf="bannerClassification.type === 'html'"
      [src]="bannerClassification.url | trustUrl"
      [sandbox]="'allow-same-origin allow-scripts'"
    ></iframe>
  </td>
  <td class="col-xs-1 col">
    <span class="text-left adsh-copy adsh-copy--blue adsh-copy--small"> {{ bannerClassification.type }} </span>
    <span class="text-left adsh-copy adsh-copy--bold"> {{ bannerClassification.width }} x {{ bannerClassification.height }} </span>
  </td>
  <td class="col-xs-4 col adsh-copy adsh-copy--semi">
    <span>
      Budget: {{ bannerClassification.budget | adsharesTokenValue:4 }}
    </span>
    <span>
      CPC: {{ bannerClassification.cpc | adsharesTokenValue:4 }}
    </span>
    <span>
      CPM: {{ bannerClassification.cpm | adsharesTokenValue:4 }}
    </span>
  </td>
  <td class="col-xs-2">
    <div>
      <button
        *ngIf="classified !== APPROVED"
        class="
          adsh-btn
          adsh-btn--white
          adsh-blue"
        (click)="setBannerClassification(APPROVED)"
      >
        Approve
      </button>
      <button
        *ngIf="classified !== REJECTED"
        class="
          adsh-btn
          adsh-btn--white
          adsh-blue"
        (click)="setBannerClassification(REJECTED)"
      >
        Reject
      </button>
    </div>
  </td>
</tr>

