@import '../../../../styles.scss';

.ap-ad-list {
  &__item {
    &--type {
      padding: 0 50px;
    }
  }
}

.classifier-list-item {
  &__row {
    max-height: 109px;
    border-bottom: 1px solid pal(gray);
    padding: 4px;
  }
  &__size-box {
    padding: 0 4px;
  }
  &__banner {
    height: auto;
    width: auto;
    max-width: 95%;
    max-height: 100px;
  }
  &__link {
    padding-right: 8px !important;
  }

  &__btns {
    display: flex;
    gap: 12px;
    max-width: 200px;

    &--classified {
      display: flex;
    }
    &--reversed {
      flex-direction: row-reverse;
    }

    & .classifier-btn {
      min-width: 0;
    }
  }
}
