<mat-chip-list *ngFor="let groupedItems of viewModel">
  <div
    class="adsh-copy"
    [ngClass]="{'targeting-display__exlude-text': isExclude}">
    {{ groupedItems[0] }} are<span *ngIf="isExclude">n't</span>:
  </div>

  <div
    class="
      row
      align-center
      selected-chips"
  >
    <mat-chip
      *ngFor="let item of groupedItems[1]"
      [ngClass]="{'hide-remove': canRemove}"
      (mouseout)="canRemove = true"
      (mouseover)="canRemove = false"
      (remove)="removeItem(item)"
    >
      <p
        class="
          adsh-copy
          adsh-copy--x-dark
          adsh-copy--semi"
      >
        {{ item.label }}
      </p>
      <div
        matChipRemove
        class="relative"
      >
        <span class="remove">x</span>
      </div>
    </mat-chip>
  </div>
</mat-chip-list>
