<div
  class="
    col
    justify-around
    adsh-confirmation-wrapper"
>
  <div
    class="
      col
      align-start"
  >
    <h2
      class="
        adsh-heading
        adsh-heading--primary"
    >
      You've correctly reset password.
    </h2>
    <p
      class="
        adsh-copy
        adsh-copy--large"
    >
      We have sent a message to your e-mail account with a link to reset the password.
    </p>
      <div>
          <p
                  class="
        adsh-copy
        adsh-copy--large"
          >
              Maybe you already have an account?
              <a
                      class="adsh-blue"
                      routerLink="/auth/login"
                      data-test="auth-redirect-to-login"
              >
                  Log In
              </a>
          </p>
          <p
                  class="
      adsh-copy
      adsh-copy--large"
          >
              Don't have an account?
              <a
                      class="adsh-blue"
                      routerLink="/auth/register"
                      data-test="auth-redirect-to-registration"
              >
                  Register
              </a>
          </p>
      </div>
  </div>
</div>
