<div
  *ngIf="reportsListAdvertiser.length > 0"
  class="reports-table dwmth-copy"
>
  <p
    class="dwmth-copy dwmth-copy--large"
  >
    Advertiser reports
  </p>
  <div
    *ngFor="let report of reportsListAdvertiser"
  >
    <app-reports-list-item
      [item]="report"
    ></app-reports-list-item>
  </div>
</div>
<div
  *ngIf="reportsListPublisher.length > 0"
  class="reports-table dwmth-copy"
>
  <p
    class="dwmth-copy dwmth-copy--large"
  >
    Publisher reports
  </p>
  <div
    *ngFor="let report of reportsListPublisher"
  >
    <app-reports-list-item
      [item]="report"
    ></app-reports-list-item>
  </div>
</div>
