<div *ngIf="reportListLoaded; else loading" class="col row--gap18 ap-copy">
  <div *ngIf="reportsListAdvertiser.length > 0">
    <h3 class="ap-heading ap-heading--h3">Advertiser reports</h3>
    <div class="col row--gap8">
      <app-reports-list-item *ngFor="let report of reportsListAdvertiser" [item]="report"></app-reports-list-item>
    </div>
  </div>
  <div *ngIf="reportsListPublisher.length > 0">
    <h3 class="ap-heading ap-heading--h3">Publisher reports</h3>
    <div class="col row--gap8">
      <app-reports-list-item *ngFor="let report of reportsListPublisher" [item]="report"></app-reports-list-item>
    </div>
  </div>
  <div *ngIf="0 === reportsListAdvertiser.length && 0 === reportsListPublisher.length">
    <p class="ap-copy">Report list is empty</p>
  </div>
</div>
<ng-template #loading>
  <div class="loading-wrapper">
    <mat-spinner [diameter]="30" [strokeWidth]="4"></mat-spinner>
  </div>
</ng-template>
