<div class="targeting-reach">
  <div class="row">
    <span class="targeting-reach--label">Available impressions up to:</span>
    <span *ngIf="!isLoading; else loading">{{ null !== reach ? (reach + ' daily') : 'no data' }}</span>
  </div>
  <div
    *ngIf="nextStepCpm && nextStepImpressions"
    class="row"
  >
    To reach up to {{ nextStepImpressions }} impressions a day set CPM greater than {{ nextStepCpm | formatMoney:2 }}
  </div>
</div>
<ng-template #loading>
  <mat-spinner [diameter]="20" [strokeWidth]="2" color="primary"></mat-spinner>
</ng-template>
