<div class="targeting-reach">
  <div class="row">
    <span class="targeting-reach--label">Total available impressions:</span>
    <span *ngIf="!isLoading; else loading">{{ null !== reach ? (reach + ' daily') : 'no data' }}</span>
  </div>
  <div *ngFor="let item of impressionsAndCpm">
    <div class="row">
      To reach {{ item.key }} impressions a day set CPM greater than {{ item.value | formatMoney:2 }}
    </div>
  </div>
</div>
<ng-template #loading>
  <mat-spinner [diameter]="20" [strokeWidth]="2" color="primary"></mat-spinner>
</ng-template>
