@import '../../../../../styles.scss';

.targeting-reach {
  min-width: 390px;
  min-height: 60px;
  margin: 16px 24px;

  &--label {
    @include font(24, normal);

    strong {
      padding: 0 5px;
      @include font(28, normal);
    }
  }

  &--info {
    margin-top: 5px;
  }

  &--error {
    color: pal(red);
  }

  mat-spinner {
    margin: auto;
  }
}
