<app-account-not-confirmed-bar></app-account-not-confirmed-bar>
<section
  class="reports-section"
>
  <div
    class="dwmth-box dwmth-box--large"
  >
    <div
      class="col"
    >
      <h2
        class="dwmth-heading dwmth-heading--primary"
      >
        Reports
      </h2>
      <p
        class="dwmth-copy dwmth-copy--large"
      >
        Here you can check the status of your reports and download them when they are ready.
      </p>
      <app-reports-list></app-reports-list>
    </div>
  </div>
</section>
