<div class="filters" (clickOutside)="hideDatepicker()">
  <button
    class="ap-btn ap-btn--secondary"
    (click)="showDatepicker()"
    data-test="settings-billing-history-filter-button">
    <fa-icon class="ap-icon ap-icon--prepend" [icon]="filterIcon"></fa-icon>
    Filter
  </button>

  <div class="billing-filters ap-box" [class.visible]="filterSelectorVisible">
    <div class="col row--gap8">
      <div class="row row--gap8 align-center">
        <label class="ap-copy ap-copy--small">From</label>
        <mat-form-field
          (click)="dateFromPicker.open()"
          class="ap-form-input ap-form-input--narrow ap-form-input--datepicker ap-form-input--datepicker--narrow row">
          <fa-icon [icon]="faCalendar" class="ap-icon ap-icon--prepend"></fa-icon>
          <input
            matInput
            [matDatepicker]="dateFromPicker"
            [formControl]="dateFrom"
            required
            [max]="dateTo.value || today" />
          <mat-datepicker
            #dateFromPicker
            (opened)="setCalendarStatus(true)"
            (closed)="setCalendarStatus(false)"></mat-datepicker>
        </mat-form-field>

        <label class="ap-copy billing-filters__label">To</label>
        <mat-form-field
          (click)="dateToPicker.open()"
          class="ap-form-input ap-form-input--narrow ap-form-input--datepicker ap-form-input--datepicker--narrow row">
          <fa-icon [icon]="faCalendar" class="ap-icon ap-icon--prepend"></fa-icon>
          <input
            matInput
            [matDatepicker]="dateToPicker"
            [formControl]="dateTo"
            required
            [min]="dateFrom.value"
            [max]="today"
            data-test="settings-billing-history-date-to" />
          <mat-datepicker
            #dateToPicker
            (opened)="setCalendarStatus(true)"
            (closed)="setCalendarStatus(false)"></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="col row--gap8 align-start">
        <label class="ap-copy ap-copy--small">Types:</label>
        <div class="row row--gap8">
          <mat-checkbox
            *ngFor="let type of transactionTypes"
            class="billing-filters__checkbox"
            [checked]="type.checked"
            (change)="onCheckboxChange($event, type.id)">
            {{ type.name }}
          </mat-checkbox>

          <mat-checkbox
            class="billing-history__checkbox"
            [checked]="isCheckedAll"
            (change)="onCheckboxAllChange($event)">
            All
          </mat-checkbox>
        </div>
      </div>

      <div class="row align-center justify-end">
        <button
          type="button"
          class="ap-btn ap-btn--primary"
          [class.disabled]="!dateTo.value || !dateFrom.value"
          (click)="filterBillingHistory()"
          data-test="settings-billing-history-apply-button">
          Apply
          <fa-icon [icon]="faArrowCircleRight" class="ap-icon ap-icon--append"></fa-icon>
        </button>
      </div>
    </div>
  </div>
</div>
