<div
  class="filters"
  (clickOutside)="hideDatepicker()"
>
  <button
    class="
      dwmth-btn
      dwmth-btn--blue"
    (click)="showDatepicker()"
    data-test="settings-billing-history-filter-button"
  >
    <fa-icon
      class="
        dwmth-icon
        dwmth-icon--prepend"
      [icon]="filterIcon"
    ></fa-icon>
    Filter
  </button>
  <div
    class="
      billing-filters
      dwmth-box"
    [class.visible]="filterSelectorVisible"
  >
    <div
      class="
        row
        filter-row
        align-center"
    >
      <label
        class="
          dwmth-copy
          billing-filters__label"
      >
        From
      </label>
      <mat-form-field
        class="
          dwmth-form-input
          dwmth-form-input--narrow
          dwmth-form-input--datepicker
          dwmth-form-input--datepicker--narrow
          row"
      >
        <img
          src="assets/images/calendar.svg"
          alt="Select date from"
          class="
            dwmth-icon
            dwmth-icon--prepend
            billing-filters__icon"
          (click)="dateFromPicker.open()"
        >
        <input
          (click)="dateFromPicker.open()"
          matInput
          [matDatepicker]="dateFromPicker"
          [formControl]="dateFrom"
          required
          [max]="dateTo.value || today"
          data-test="settings-billing-history-date-from"
        >
        <mat-datepicker-toggle
          matSuffix
          [for]="dateFromPicker"
        ></mat-datepicker-toggle>
        <mat-datepicker
            #dateFromPicker
            (opened)="setCalendarStatus(true)"
            (closed)="setCalendarStatus(false)"
        ></mat-datepicker>
      </mat-form-field>

      <label
        class="
          dwmth-copy
          billing-filters__label"
      >
        To
      </label>
      <mat-form-field
        class="
          dwmth-form-input
          dwmth-form-input--narrow
          dwmth-form-input--datepicker
          dwmth-form-input--datepicker--narrow
          row"
      >
        <img
          src="assets/images/calendar.svg"
          alt="Select date to"
          class="
            dwmth-icon
            dwmth-icon--prepend
            billing-filters__icon"
          (click)="dateToPicker.open()"
        >
        <input
          (click)="dateToPicker.open()"
          matInput
          [matDatepicker]="dateToPicker"
          [formControl]="dateTo"
          required
          [min]="dateFrom.value"
          [max]="today"
          data-test="settings-billing-history-date-to"
        >
        <mat-datepicker-toggle
          matSuffix
          [for]="dateToPicker"
        ></mat-datepicker-toggle>
        <mat-datepicker
            #dateToPicker
            (opened)="setCalendarStatus(true)"
            (closed)="setCalendarStatus(false)"
        ></mat-datepicker>
      </mat-form-field>
    </div>

    <div
      class="
        row
        filter-row
        align-center"
    >
      <label
        class="
          dwmth-copy
          billing-filters__label"
      >
        Types
      </label>
      <mat-checkbox
        *ngFor="let type of transactionTypes"
        class="billing-filters__checkbox"
        [checked]="type.checked"
        (change)="onCheckboxChange($event, type.id)"
      >
        {{ type.name }}
      </mat-checkbox>

      <mat-checkbox
        class="billing-history__checkbox"
        [checked]="isCheckedAll"
        (change)="onCheckboxAllChange($event)"
      >
        All
      </mat-checkbox>
    </div>

    <div
      class="
        row
        filter-row
        align-center
        justify-end"
    >
      <button
        type="button"
        class="
          dwmth-btn
          dwmth-button--small
          dwmth-bg-gray--light
          dwmth-navy"
        [class.disabled]="!dateTo.value || !dateFrom.value"
        (click)="filterBillingHistory()"
        data-test="settings-billing-history-apply-button"
      >
        Apply
        <img
          class="dwmth-icon--append"
          src="assets/images/chevron--right.svg"
        >
      </button>
    </div>
  </div>
</div>
