@import '../../../../styles';

.ap-edit-asset__navigation {
  height: 64px;

  &-step:last-of-type {
    .ap-step-link-indicator {
      display: none;
    }
  }

  .step-circle {
    width: 24px;
    height: 24px;
    border: 1px solid pal(primary);
    border-radius: 50%;
    margin-right: 15px;

    &.inactive {
      background-color: pal(gray);
      border-color: pal(gray);
      color: pal(light);

      & + p {
        color: pal(gray);
      }
    }

    &.active {
      background-color: pal(primary);
      border-color: pal(primary);
      color: pal(light);

      & + p {
        color: pal(primary);
        @include font-weight(bold);
      }
    }

    &.done {
      border-color: pal(dark);
      & + p {
        @include font-weight(bold);
      }
    }
  }
}
