@import '../../../../styles';

.ap-edit-asset__navigation {
  background: pal(light);
  height: 64px;

  &-step:last-of-type {
    .ap-step-link-indicator {
      display: none;
    }
  }

  .ap-circle {
    margin-right: 15px;

    &.done + p,
    &.active + p {
      @include font-weight(semi);
      color: pal(primary);
    }
  }
}
