<mat-dialog-content class="text-center mat-dialog-content--narrow">
  <div
    (click)="dialogRef.close()"
    class="dwmth-dialog-close"
  ></div>
  <h1 class="dwmth-heading dwmth-heading--primary">
    <span class="now_payments_logo"><span>NOW</span>Payments</span>
  </h1>
  <p class="dwmth-copy dwmth-copy--large dialog-description">
    allows you to deposit Bitcoin, Litecoin, Ethereum and over 30 others (<a
    href="https://nowpayments.io/supported-coins/" rel="noopener noreferrer nofollow" target="_blank">check full
    list</a>).
  </p>

  <div
    *ngIf="exchangeRate && currency; else loadingWrapper"
    class="now-payments-content dialog-main-content"
  >
    <div class="dwmth-form-input__box">
      <label
        for="amount"
        class="dwmth-form-label"
      >
        Deposit amount ({{currency}}):
      </label>
      <input
        id="amount"
        class="dwmth-form-input dwmth-form-input--full"
        name="amount"
        type="number"
        step="0.01"
        value="{{amount}}"
        min="{{minAmount}}"
        max="{{maxAmount}}"
        (keydown)="keydownAmount($event)"
        (change)="changeAmount($event)"
        data-test="common-now-payments-dialog-adshares-amount"
      >
      <span
        class="error-msg"
        *ngIf="amountError"
      >
          Provide correct deposit amount
        </span>
      <span class="dwmth-form-label">
        Minimal deposit is <b>{{minAmount}} {{currency}}</b>,
        maximal is <b>{{maxAmount}} {{currency}}</b>
      </span>
    </div>

    <div class="ads-amount">
      <span class="dwmth-form-label">
        You will receive approximately
      </span>
      <span
        class="dwmth-copy dwmth-copy--large"
        data-test="common-now-payments-dialog-ads-amount"
      >
        {{ adsAmount ? (adsAmount | formatMoney:2:crypto:code) : '? ' + environment.cryptoCode }}
      </span>
    </div>

    <div class="row justify-center now-payments__btns-wrapper">
      <button
        class="
            dwmth-btn
            dwmth-btn--blue
            dwmth-btn--block "
        data-test="common-now-payments-submit-button"
        *ngIf="isEmailConfirmed"
        (click)="depositFunds()"
      >
        <span *ngIf="!isFormBeingSubmitted ; else loading">Deposit</span>

        <ng-template #loading>
          <mat-spinner [diameter]="20" [strokeWidth]="2" color="accent"></mat-spinner>
        </ng-template>
      </button>

      <span
        class="error-msg col-xs-12"
        *ngIf="!isEmailConfirmed"
      >
        Confirm email to deposit funds
      </span>
      <span
        class="error-msg col-xs-12"
        *ngIf="serverError"
      >
        An unexpected error occurred, please try again later.
      </span>
    </div>
  </div>

  <ng-template #loadingWrapper>
    <div class="loading-wrapper">
      <mat-spinner [diameter]="30" [strokeWidth]="4"></mat-spinner>
    </div>
  </ng-template>

</mat-dialog-content>
