<section class="ap-info row align-center">
  <div class="container row ap-info__wrapper">
    <div class="col ap-info__poster justify-between">
      <div class="ap-info__content">
        <ng-content></ng-content>
      </div>
      <div class="ap-info__footer row justify-between">
        <a
          href="https://adshares.net?utm_source={{ source }}&utm_campaign=auth"
          target="_blank"
        >
          <img
            alt="Adshares Logo"
            class="ap-logo"
            src="assets/images/logo--white.png"
            srcset="
              assets/images/logo--white@2x.png 2x,
              assets/images/logo--white@3x.png 3x
            "
          />
        </a>
        <span class="ap-info__version">
          {{ version }}
        </span>
      </div>
    </div>
  </div>
  <img
    alt="bubbles"
    class="ap-info__bubbles"
    src="assets/images/bubbles1.svg"
  />
  <img
    alt="bubbles"
    class="ap-info__bubbles"
    src="assets/images/bubbles2.svg"
  />
  <img
    alt="bubbles"
    class="ap-info__bubbles"
    src="assets/images/bubbles3.svg"
  />
  <img
    alt="wave"
    class="ap-info__wave ap-info__wave-up"
    src="assets/images/wave-up.png"
    srcset="assets/images/wave-up@2x.png 2x, assets/images/wave-up@3x.png 3x"
  />
  <img
    alt="waves"
    class="ap-info__wave ap-info__wave-down"
    src="assets/images/wave-down.png"
    srcset="
      assets/images/wave-down@2x.png 2x,
      assets/images/wave-down@3x.png 3x
    "
  />
</section>
