<section class="ap-info row justify-center container">
  <div class="col">
    <div class="ap-info__content ap-auth-container">
      <ng-content></ng-content>
    </div>
    <div class="ap-info__footer row justify-between align-center ap-copy ap-copy--small">
      <a [href]="landingPageUrl" target="_self">
        <img class="ap-logo" src="assets/images/logo.png" [alt]="name" />
      </a>
      <span class="ap-info__version ap-copy ap-copy--gray">
        {{ version }}
      </span>
    </div>
  </div>
</section>
