@import '../../../../styles.scss';

.ap-info {
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow: hidden;

  &__content {
    background-color: pal(primary);
    text-align: left;
    border-radius: 10px 10px 0 0;
  }

  &__wrapper {
    height: 90%;
    width: 100vw;
    z-index: getIndex(authWrapper);
    justify-content: center;
  }

  &__footer {
    background-color: pal(primary);
    border-radius: 0 0 10px 10px;
    padding: 24px;
  }

  &__version {
    float: right;
  }
}
