<section class="access-tokens">
  <div class="ap-box ap-box--large">
    <div class="col">
      <h2 class="ap-heading ap-heading--primary">
        Access tokens
      </h2>
      <div class="row">
        <form [formGroup]="newTokenForm" (ngSubmit)="onAddToken()">
          <label for="name">Name: </label>
          <input id="name" type="text" formControlName="name">

          <label>Scopes: </label>
          <p *ngFor="let availableScope of availableScopes; let i = index" formGroupName="scopes">
            <mat-checkbox formControlName="{{ availableScope.id }}">{{ availableScope.description }}</mat-checkbox>
          </p>

          <button
            class="ap-btn ap-btn--blue"
            type="submit"
            [disabled]="!newTokenForm.valid"
          >
            <fa-icon
              class="ap-icon ap-icon--prepend"
              [icon]="createIcon"
            ></fa-icon>
            Create token
          </button>
        </form>
      </div>

      <table class="ap-copy">
        <app-table-navigation [navigationName]="'accessTokenItems'"></app-table-navigation>
        <tbody *ngIf="!isLoading; else loading">
          <app-access-token-list-item
            *ngFor="let accessToken of list"
            [accessToken]="accessToken"
          ></app-access-token-list-item>
        </tbody>
        <ng-template #loading>
          <div class="loading-wrapper">
            <mat-spinner [diameter]="30" [strokeWidth]="4"></mat-spinner>
          </div>
        </ng-template>
      </table>
    </div>
  </div>
</section>
