<app-edit-site-navigation
  [currentStep]="2"
  [medium]="site.medium"
  [showPlacements]="showPlacements"></app-edit-site-navigation>
<section class="homepage-view site-edit-pops-settings site-edit-create-posters-units container">
  <form [formGroup]="popsSettingsForm" class="ap-form">
    <div class="ap-box">
      <div class="box-title">
        <h1 class="ap-heading ap-heading--h2">Pops settings</h1>
        <p class="ap-copy box-subtitle">Pops ads are advertisements that show up in a new browser window.</p>
      </div>

      <div [ngClass]="adUnitSizes.length > 4 ? 'justify-between' : 'justify-center'" class="row row--gap18 box-content">
        <div
          class="poster-unit"
          [ngClass]="{
            'poster-unit--selected': popsSettingsForm.get(adUnit.size).get('selected').value
          }"
          *ngFor="let adUnit of adUnitSizes"
          role="button"
          (click)="selectAdUnit(adUnit.size)">
          <div class="row align-center justify-center">
            <div class="ap-copy">
              {{ adUnit.label }}
            </div>
          </div>
          <p class="ap-copy ap-copy--semi">
            <fa-icon
              class="selected-icon"
              [icon]="popsSettingsForm.get(adUnit.size).get('selected').value ? faCheck : faTimes"></fa-icon>
            {{ adUnit.size }}
          </p>
          <div class="row row--gap8">
            <div class="ap-chip-box" *ngFor="let tag of adUnit.tags">
              {{ tag }}
            </div>
          </div>
        </div>
        <div *ngIf="0 === adUnitSizes.length" class="ap-copy">Pops are not available for current medium</div>
      </div>
      <span *ngIf="this.popsSettingsForm.errors?.noAdUnitSelected" class="error-msg">
        At least one must be selected
      </span>
    </div>

    <div *ngIf="smartLinkEnabled && adUnitSizes.length > 0" class="ap-box">
      <div class="box-title">
        <h1 class="ap-heading ap-heading--h2">SmartLinks setting</h1>
        <p class="ap-copy box-subtitle">
          SmartLinks are dynamic hyperlinks that automatically direct users to monetizable content based on their
          preferences.
        </p>
      </div>

      <div class="row row--gap18 box-content justify-center">
        <div
          class="poster-unit"
          role="button"
          (click)="selectAdUnit(SMART_LINK_KEY)"
          [ngClass]="{
            'poster-unit--selected': popsSettingsForm.get(SMART_LINK_KEY).get('selected').value
          }">
          <div class="row align-center justify-center">
            <div class="ap-copy">SmartLink</div>
          </div>
          <p class="ap-copy ap-copy--semi">
            <fa-icon
              class="selected-icon"
              [icon]="popsSettingsForm.get(SMART_LINK_KEY).get('selected').value ? faCheck : faTimes"></fa-icon>
            {{ SMART_LINK_KEY }}
          </p>
        </div>
      </div>
      <span *ngIf="this.popsSettingsForm.errors?.noAdUnitSelected" class="error-msg">
        At least one must be selected
      </span>
    </div>

    <div class="ap-box ap-box--large row justify-between">
      <button class="ap-btn ap-btn--secondary" role="link" (click)="onStepBack()">Back</button>
      <div class="row row--gap8">
        <button
          *ngIf="createSiteMode"
          (click)="saveAdUnits(true)"
          type="button"
          class="ap-btn ap-btn--secondary"
          [disabled]="!this.popsSettingsForm.valid || changesSaved">
          Save as draft
        </button>
        <button
          type="submit"
          class="ap-btn ap-btn--primary"
          [disabled]="!this.popsSettingsForm.valid || changesSaved"
          (click)="onSubmit()">
          {{ createSiteMode ? 'Save & continue' : 'Update' }}
        </button>
      </div>
    </div>
  </form>
</section>
