@import '../../../../styles.scss';

.site-edit-create-posters-units {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;

  @include media(xxl-up) {
    max-width: 1500px;
  }

  @include media(xxxl-up) {
    max-width: 2000px;
  }

  .dwmth-box {
    margin: 8px 0;
  }

  &__poster-unit {
    text-align: center;
    background: white;
    padding: 7px;
    flex-basis: 16%;
    margin: 2px;
    border-radius: 2px;
    border: 2px solid pal(gray, ultra-light);
    cursor: pointer;
    pointer-events: all;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .selected-icon {
      font-size: 175%;
      color: pal(gray, 'semi-light');
      margin-right: 7px;
      vertical-align: middle;
      display: inline-block;
      width: 35px;
    }

    &:hover {
      box-shadow: 0 4px 12px pal(gray, base);
    }

    &-title {
      display: block;
    }

    &--selected {
      background: pal(gray, ultra-light);
      border-color: pal(green);

      .selected-icon {
        color: pal(green);
      }
    }
  }

  & .error-msg:not(.error-msg--small) {
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:after {
      position: static;
    }
  }

  &__unit-label {
    padding: 8px 0 2px;
  }

  &__delete-btn-wrapper {
    margin: 16px 0 0;
  }

  .dwmth-chip-box {
    margin-bottom: 4px;
  }

  .dwmth-form-label {
    margin: 0;
  }
}
