@import '../../../../styles.scss';

.site-edit-create-posters-units {

  & > .ap-heading {
    margin-top: 18px;
    margin-bottom: 18px;
  }

  & .error-msg:not(.error-msg--small) {
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:after {
      position: static;
    }
  }

  &__delete-btn-wrapper {
    margin: 16px 0 0;
  }

  .ap-chip-box {
    margin-bottom: 4px;
  }
}
