<section class="homepage-view site-edit-pops-settings site-edit-create-posters-units">
  <form
    [formGroup]="popsSettingsForm"
    (ngSubmit)="onSubmit()"
    class="dwmth-form"
    data-test="publisher-edit-site-pops-settings-form"
  >
    <div class="text-center site-edit-create-posters-units">
      <h1 class="dwmth-heading dwmth-heading--primary">Pops settings</h1>
      <p class="dwmth-copy dwmth-copy--large">
        Pops ads are advertisements that show up in a new browser window.<br />
        If you want to make extra profit, please activate pop-up or pop-under ads for your site below.
      </p>
    </div>

    <div class="dwmth-box dwmth-box--large site-edit-pops-settings__info-box">
      <div
        [ngClass]="adUnitSizes.length > 4 ? 'justify-between' : 'justify-center'"
        class="row"
      >
        <div
          class="site-edit-create-posters-units__poster-unit"
          [ngClass]="{'site-edit-create-posters-units__poster-unit--selected': popsSettingsForm.get(adUnit.size).get('selected').value }"
          *ngFor="let adUnit of adUnitSizes"
          role="button"
          (click)="selectAdUnit(adUnit.size)"
          data-test="publisher-edit-site-pops-settings-form-ad-unit-select"
        >
          <div class="row align-center justify-center site-edit-create-poster-unit__poster-unit__visualization-box">
            <div
              class="dwmth-copy site-edit-create-posters-units_poster-unit__visualization"
              data-test="publisher-edit-site-pops-settings-form-ad-unit-size"
            >{{ adUnit.label }}</div>
          </div>
          <strong
            class="site-edit-create-posters-units__poster-unit-title dwmth-copy dwmth-copy--semi dwmth-copy--x-dark dwmth-copy--medium"
            data-test="publisher-edit-site-pops-settings-form-ad-unit-name"
          >
            <fa-icon class="selected-icon"
                     [icon]="popsSettingsForm.get(adUnit.size).get('selected').value ? faCheck : faTimes"></fa-icon>
            {{ adUnit.size }}
          </strong>
          <div>
            <div
              class="dwmth-chip-box"
              *ngFor="let tag of adUnit.tags"
              data-test="publisher-edit-site-pops-settings-form-ad-unit-tag"
            >{{ tag }}</div>
          </div>
        </div>
      </div>
    </div>

    <div class="dwmth-box dwmth-box--large row justify-between">
      <button class="dwmth-btn dwmth-btn--white dwmth-blue"
              role="link"
              (click)="onStepBack()"
      >
        Back
      </button>
      <div class="row">
        <button
          *ngIf="createSiteMode"
          (click)="saveAdUnits(true)"
          type="button"
          class="dwmth-btn dwmth-btn--white dwmth-blue save-as-draft"
          data-test="publisher-edit-site-save-as-draft"
        >
          Save as draft
        </button>
        <button
          type="submit"
          class="dwmth-btn dwmth-btn--wide dwmth-btn--blue"
          data-test="publisher-edit-site-save-and-continue"
          [disabled]="changesSaved"
        >
          <span *ngIf="!changesSaved; else loading">{{createSiteMode ? "Save & continue" : "Update" }}</span>
          <ng-template #loading>
            <mat-spinner [diameter]="20" [strokeWidth]="2" color="accent"></mat-spinner>
          </ng-template>
        </button>
      </div>
    </div>

  </form>
</section>
