<div class="auto-withdraw ap-box">
  <div class="box-title">
    <h2 class="ap-heading ap-heading--h2">Auto withdrawal settings</h2>
    <div class="error-msg" *ngIf="isImpersonated">You cannot change user preferences during impersonation.</div>
  </div>

  <div class="box-content col row--gap8" *ngIf="!isImpersonated">
    <span class="warning-msg" *ngIf="!isAutoWithdrawalAvailable">
      To enable automatic withdrawals, you must first connect your account to ADS or BSC wallet.
    </span>
    <span class="warning-msg" *ngIf="isAutoWithdrawalAvailable">
      Automatic withdrawals applies to all incoming funds, including deposits. This setting is not recommended for
      advertisers.
    </span>
    <form [formGroup]="autoWithdrawalForm" class="ap-form col row--gap18" *ngIf="isAutoWithdrawalAvailable">
      <div class="ap-form-input__box">
        <mat-checkbox [checked]="wallet.isAutoWithdrawal" (change)="changeAutoWithdraw($event.checked)">
          Automatic withdrawal
        </mat-checkbox>
      </div>
      <div class="ap-form-input__box" *ngIf="showAutoWithdrawalForm">
        <label for="limit" class="ap-form-label">
          The threshold at which the funds will be withdrawn ({{ currencyCode }})
        </label>
        <input
          id="limit"
          type="number"
          step="0.01"
          name="limit"
          formControlName="limit"
          class="ap-form-input ap-form-input--full" />
        <span class="input-valid" *ngIf="autoWithdrawalForm.get('limit').valid"></span>
        <span
          class="error-msg"
          *ngIf="autoWithdrawalForm.hasError('required', ['limit']) && autoWithdrawalFormSubmitted">
          Threshold is required!
        </span>
        <span class="error-msg" *ngIf="errorWithdrawalSave">
          {{ errorWithdrawalSave }}
        </span>
      </div>
    </form>
  </div>
  <div class="box-content row justify-end">
    <button (click)="onAutoWithdrawalSave()" class="ap-btn ap-btn--primary" [disabled]="autoWithdrawalFormSubmitted">
      Save
    </button>
  </div>
</div>
