<mat-dialog-content>
  <h6 class="ap-copy ap-copy--small">Continue as</h6>

  <div class="ap-box ap-box--light-border choose-account">
    <div class="row align-center justify-center">
      <img src="/assets/images/advertiser-account-illustration.svg" alt="Advertiser Account Illustration" />
      <span class="ap-heading ap-heading--secondary"> Advertiser </span>
    </div>
    <button
      class="ap-btn ap-btn--wide ap-btn--blue"
      (click)="redirectToAdvertiser()"
      data-test="common-account-choose-advertiser">
      Continue
    </button>
  </div>

  <div class="ap-box ap-box--light-border choose-account">
    <div class="row align-center justify-center">
      <img src="/assets/images/publisher-account-illustration.svg" alt="Publisher Account Illustration" />
      <span class="ap-heading ap-heading--secondary"> Publisher </span>
    </div>
    <button
      class="ap-btn ap-btn--wide ap-btn--blue"
      (click)="redirectToPublisher()"
      data-test="common-account-choose-publisher">
      Continue
    </button>
  </div>
</mat-dialog-content>
