<mat-dialog-content>
  <div class="col row--gap8">
    <h6 class="ap-heading ap-heading--h3">Continue as</h6>

    <div (click)="redirectToAdvertiser()" class="row justify-between align-center choose-account">
      <img src="/assets/images/advertiser-account-illustration.svg" alt="Advertiser Account Illustration" />
      <span class="ap-heading ap-heading--h3"> Advertiser </span>
    </div>

    <div (click)="redirectToPublisher()" class="row justify-between align-center choose-account">
      <img src="/assets/images/publisher-account-illustration.svg" alt="Publisher Account Illustration" />
      <span class="ap-heading ap-heading--h3"> Publisher </span>
    </div>
  </div>
</mat-dialog-content>
