@import '../../../../styles.scss';


.choose-account {
  width: 100%;
  border: 1px dashed pal(secondary);
  border-radius: 10px;
  cursor: pointer;
  padding: 20px 30px;

  &:hover {
    background-color: pal(body-bg);
  }

  img {
    padding-right: 30px;
    width: 130px;
  }
}
