@import '../../../styles';

.ap-confirmation-alert {
  padding: 18px 0;
  background: #e6eaf3;

  .admin-unconfirmed {
    margin-right: 10px;
    color: pal(warning);
  }

  .container {
    padding-left: 30px;
    margin-left: 0;
  }
}
