<div class="ap-alert ap-alert--warning unconfirmed" *ngIf="display">
  <div class="container row align-center">
    <fa-icon [icon]="faUser" class="ap-icon ap-icon--prepend" size="lg"> </fa-icon>
    <div class="col">
      <p *ngIf="!isAdminConfirmed">The account is awaiting admin approval.</p>
      <p *ngIf="!isEmailConfirmed">
        You need to confirm your email address to be able to start using Adshares without limits.
        <a (click)="resendActivationEmail()" data-test="resend-activation-email-button"> Resend </a>
      </p>
    </div>
  </div>
</div>
