<mat-dialog-content
  class="
    text-center
    mat-dialog-content--narrow"
>
  <div
    (click)="dialogRef.close()"
    class="dwmth-dialog-close"
  ></div>
  <h1
    class="
      dwmth-heading
      dwmth-heading--primary"
  >
    Withdraw funds
  </h1>

  <p
    class="
      dwmth-copy
      dwmth-copy--large
      dwmth-customize-subheading"
  >
    Fill in the form below to withdraw your funds.
  </p>

  <div
    class="
      dialog-main-content
      dialog-main-content--short"
  >
    <form
      [formGroup]="withdrawFundsForm"
      (ngSubmit)="withdrawFunds()"
      class="dwmth-form"
      data-test="common-withdraw-funds-form"
    >
      <div class="dwmth-form-input__box">
        <label
          for="address"
          class="dwmth-form-label"
        >
          Account address
          <fa-icon
            matTooltipClass="dwmth-mat-tooltip"
            matTooltip="e.g. address of your ADS Wallet or an exchange"
            matTooltipPosition="above"
            [icon]="faQuestionCircle"
          ></fa-icon>
        </label>
        <input
          id="address"
          class="
            dwmth-form-input
            dwmth-form-input--full"
          name="address"
          formControlName="address"
          data-test="common-withdraw-funds-form-address"
        >
        <span
          *ngIf="withdrawFundsForm.get('address').valid"
          class="input-valid"
        ></span>
        <span
          class="error-msg"
          *ngIf="(!this.withdrawFundsForm.get('address').valid && this.withdrawFormSubmitted) || this.showAddressError"
        >
          Please provide a valid address.
        </span>
      </div>
      <p
        class="
          dwmth-copy
          dwmth-copy--blue
          dwmth-customize-subheading"
      >
        Your funds will be transferred to the address above.
        Please, remember to confirm the withdrawal via email within one hour.
      </p>

      <div class="total-funds">
        <p class="dwmth-form-label">
          Total balance:
        </p>
        <h1
          class="
            dwmth-heading
            dwmth-heading--primary"
          data-test="user-total-funds"
        >
          {{ adserverWallet.walletBalance | formatMoney:11:crypto:code}}
        </h1>
      </div>

      <div class="dwmth-form-input__box">
        <label
          for="amount"
          class="dwmth-form-label"
        >
          Withdrawal amount ({{cryptoCode}})
        </label>
        <input
          id="amount"
          class="
            dwmth-form-input
            dwmth-form-input--full"
          type="number"
          name="amount"
          formControlName="amount"
          min="0.01"
          data-test="common-withdraw-funds-form-withdraw-amount"
        >
        <span
          *ngIf="withdrawFundsForm.get('amount').valid"
          class="input-valid"
        ></span>
        <span
          class="error-msg"
          *ngIf="!withdrawFundsForm.get('amount').valid && withdrawFormSubmitted"
        >
          Provide withdrawal amount
        </span>
        <span
          class="error-msg"
          *ngIf="withdrawFundsForm.get('amount').value > adserverWallet.walletBalance/1e11"
        >
          The amount exceeds your balance
        </span>
      </div>

      <div class="
          withdraw-funds__btns-wrapper
          row
          justify-between">
        <button class="
                     dwmth-btn
                     dwmth-btn--white
                     dwmth-copy--blue"
                type="button"
                (click)="getMaxWithdrawAmount()"
                data-test="common-withdraw-funds-form-btn-withdraw-max"
        >
          Withdraw max
        </button>
      </div>

      <div
        class="
          row
          justify-center
          withdraw-funds__btns-wrapper"
      >
        <button
          class="
            dwmth-btn
            dwmth-btn--blue"
          type="button"
          (click)="calculateFee()"
          data-test="common-withdraw-funds-form-btn-calc-fee"
        >
          Calculate fee
        </button>
      </div>

      <div
        *ngIf="calculatedFee !== undefined"
        class="
          withdraw-funds__btns-wrapper
          dwmth-copy
          dwmth-copy--large
          dwmth-copy--x-dark
          dwmth-copy--semi"
      >
        <p>
          Transaction fee:
          <span
            class="fee"
            data-test="common-withdraw-funds-form-fee"
          >
            {{ calculatedFee | formatMoney:11:crypto:code }}
          </span>
        </p>
        <p>
          Total withdrawal amount:
          <span
            class="total-amount"
            data-test="common-withdraw-funds-form-total-withdraw-amount"
          >
            {{ calculatedTotal | formatMoney:11:crypto:code }}
          </span>
        </p>
        <p
          *ngIf="calculatedLeft !== undefined"
        >
          Left:
          <span
            data-test="common-withdraw-funds-form-funds-left"
          >
            {{ calculatedLeft | formatMoney:11:crypto:code }}
          </span>
        </p>
      </div>

      <button
        class="
          withdraw-funds__btns-wrapper
          dwmth-btn
          dwmth-btn--large
          dwmth-btn--white
          dwmth-btn--block
          row
          align-center"
        (click)="toggleMemoInput($event, !memoInputActive);"
        data-test="common-withdraw-funds-form-toggle-memo-input"
      >
        <img
          alt="Add message"
          class="
            dwmth-icon
            dwmth-icon--prepend"
          src="/assets/images/plus-circle--blue.svg"
        >
        <span
          class="
            dwmth-copy
            dwmth-copy--x-dark
            dwmth-copy--semi"
        >
          Add message
        </span>
      </button>

      <div
        class="dwmth-form-input__box"
        *ngIf="memoInputActive"
      >
        <label
          for="address"
          class="dwmth-form-label"
        >
          Message
        </label>
        <input
          id="memo"
          class="
            dwmth-form-input
            dwmth-form-input--full"
          name="memo"
          formControlName="memo"
          data-test="common-withdraw-funds-form-memo-input"
        >
        <span
          class="error-msg"
          *ngIf="withdrawFundsForm.hasError('pattern', ['memo'])"
        >
          Invalid message format
        </span>
      </div>
      <p
        class="
          dwmth-copy
          dwmth-copy--blue
          dwmth-customize-subheading"
      >
        It’s necessary to add a message (aka Payment ID or Memo) when transferring your funds directly to an exchange.
        <fa-icon
          matTooltipClass="dwmth-mat-tooltip"
          matTooltip="
              The message is provided by your exchange.
              Please check the deposit section of your exchange and copy-paste the message."
          matTooltipPosition="above"
          [icon]="faQuestionCircle"
        ></fa-icon>
      </p>

      <div
        class="
          row
          justify-center
          withdraw-funds__btns-wrapper"
      >
        <button
          class="
            dwmth-btn
            dwmth-btn--blue
            dwmth-btn--block "
          data-test="common-withdraw-funds-form-submit-button"
          *ngIf="isEmailConfirmed"
        >
        <span *ngIf="!isFormBeingSubmitted ; else loading">
          Withdraw
        </span>

          <ng-template #loading>
            <mat-spinner [diameter]="20" [strokeWidth]="2" color="accent"></mat-spinner>
          </ng-template>
        </button>

        <span
          class="
            error-msg
            col-xs-12"
          *ngIf="!isEmailConfirmed"
        >
          Confirm email to withdraw funds
        </span>
      </div>
    </form>
  </div>
</mat-dialog-content>
