@import '../../../../styles';

.total-funds {
  margin: 20px 0;
}

.calculations {
  margin: 20px 0;
}

.fee {
  color: pal(red);
}

.total-amount {
  color: pal(blue);
}

.dwmth-funds-summary__deposit-funds {
  margin-bottom: 30px;
}

.withdraw-funds__btns-wrapper  {
  margin: 16px 0;
}
