<section
  class="
    col
    site-list"
>
  <table class="site-list__items">
    <app-table-navigation
      [navigationName]="'siteListNavigation'"
      class="
          row
          dwmth-box
          dwmth-copy"
      (sortTable)="sortTable($event)"
    ></app-table-navigation>

    <tbody *ngIf="(sites && sitesTotals); else loading">
    <app-site-list-item
      *ngFor="let site of sites"
      [site]="site"
    ></app-site-list-item>
    <tr
      class="
            row
            dwmth-box
            align-center
            justify-between
            dwmth-copy
            dwmth-copy--semi"
    >
      <td
        class="
                status-totals-column
                row
                align-center"
      ></td>
      <td
        class="
              col-xs-3
              row
              justify-start
              align-center
              dwmth-copy
              dwmth-copy--bold"
      >
        Total - All Sites
      </td>
      <td
        class="
              col-xs-1
              row
              align-center"
        [title]="sitesTotals.revenue | adsharesTokenValue:'$'"
      >
        {{ sitesTotals.revenue | adsharesTokenValue:'$':2 }}
      </td>
      <td
        class="
              col-xs-1
              row
              align-center"
      >
        {{ sitesTotals.clicks }}
      </td>
      <td
        class="
              col-xs-1
              row
              align-center"
      >
        {{ sitesTotals.impressions }}
      </td>
      <td
        class="
              col-xs-1
              row
              align-center"
      >
        {{ sitesTotals.ctr | percent:'1.2-2' }}
      </td>
      <td
        class="
              col-xs-1
              row
              align-center"
        [title]="sitesTotals.averageRpm | adsharesTokenValue:'$'"
      >
        {{ sitesTotals.averageRpm | adsharesTokenValue:'$':2 }}
      </td>
      <td
        class="
              col-xs-1
              row
              align-center"
        [title]="sitesTotals.averageRpc | adsharesTokenValue:'$'"
      >
        {{ sitesTotals.averageRpc | adsharesTokenValue:'$':2 }}
      </td>
      <td class="col-xs-1 row"></td>
    </tr>
    </tbody>
  </table>

  <ng-template #loading>
    <div class="loading-wrapper">
      <mat-spinner [diameter]="30" [strokeWidth]="4"></mat-spinner>
    </div>
  </ng-template>

  <div
    class="
      dwmth-box
      dwmth-box--no-margin
      hidden-md"
  >
    <div
      class="
        row
        justify-center"
    >
      <button
        class="
          dwmth-btn
          dwmth-btn--white
          dwmth-btn--no-border
          dwmth-blue"
        (click)="navigateToCreateSite()"
        data-test="publisher-create-new-site"
      >
        <img
          class="
            dwmth-icon
            dwmth-icon--prepend"
          src="assets/images/plus-circle--blue.svg"
        >
        Add new site
      </button>
    </div>
  </div>
</section>

