@import '../../../styles.scss';

.site-list {
  &__sort {
    margin-left: 5px;
  }

  &__table {
    min-width: 1100px;
    & > .dwmth-box:first-of-type {
      padding: 10px;
    }
  }

  &__totals-status {
    @include status-cell;
  }

  &__scrollable-table {
    overflow: hidden;
    overflow-x: auto;
  }
}
