<article class="site-list__scrollable-table">
  <table class="site-list__table">
    <app-table-navigation
      [navigationName]="'siteListNavigation'"
      class="site-list__table-header"
      (sortTable)="sortTable($event)"></app-table-navigation>
    <tbody *ngIf="dataLoaded; else loading">
      <app-site-list-item *ngFor="let site of sites" [site]="site" [siteStatuses]="siteStatuses"></app-site-list-item>
      <tr class="site-list__totals-row">
        <td class="site-list__totals-status"></td>
        <td class="col-xs-3 site-list__totals-title">Total - All sites</td>
        <td class="col-xs-1" [title]="sitesTotals.revenue | formatMoney : 4">
          {{ sitesTotals.revenue | formatMoney : 2 }}
        </td>
        <td class="col-xs-1">
          {{ sitesTotals.clicks }}
        </td>
        <td class="col-xs-1">
          {{ sitesTotals.impressions | formatNumberWithComa }}
        </td>
        <td class="col-xs-1">
          {{ sitesTotals.ctr | percent : '1.2-2' }}
        </td>
        <td class="col-xs-1" [title]="sitesTotals.averageRpm | formatMoney : 4">
          {{ sitesTotals.averageRpm | formatMoney : 2 }}
        </td>
        <td class="col-xs-1"></td>
      </tr>
    </tbody>
  </table>
</article>
<ng-template #loading>
  <div class="loading-wrapper">
    <mat-spinner [diameter]="30" [strokeWidth]="4"></mat-spinner>
  </div>
</ng-template>
