<div class="dwmth-box dwmth-box--large admin-param row">
  <div>
    <h1 class="dwmth-heading dwmth-heading--secondary">
      {{title}}
    </h1>
    <p class="dwmth-copy admin-param__desc">
      {{desc}}
    </p>
  </div>

  <input
    *ngIf="!optionKeys().length"
    type="text"
    [ngModel]="value"
    class="dwmth-form-input admin-param__input"
    data-test="admin-params-input"
    (ngModelChange)="updateValue($event)"
  >

  <mat-select
    *ngIf="optionKeys().length"
    [value]="value"
    class="dwmth-form-input admin-param__select"
    (change)="updateValue($event.value)"
  >
    <mat-option
      *ngFor="let key of optionKeys()"
      [value]="key"
    >
      {{ options[key] }}
    </mat-option>
  </mat-select>
  <div>
    <ng-content></ng-content>
  </div>
</div>
