@import '../../../../styles.scss';

.campaign-edit-basic-information {


  &__info-box {
    & .ap-select {
      margin: 0;
      width: 220px;
    }

    & .ap-form-input__box:not(:last-child) {
      margin-bottom: 24px;
    }
  }

  & .input-250 {
    width: 250px;
  }

  @include media(xxl-up) {
    max-width: 900px;
  }

  @include media(xxxl-up) {
    max-width: 1100px;
  }

  & .ap-form-input {
    overflow: hidden;
  }
}

.advanced-settings label {
  margin: 2px 32px 4px 0;
}

::ng-deep .mat-datepicker-content {
  max-width: 296px;
}

::ng-deep .ngx-mat-timepicker {
  width: 140px;
}

::ng-deep .mat-form-field-infix {
  width: 170px !important;
}
