@import '../../../../styles.scss';

.campaign-edit-basic-information {
  max-width: 500px;
  margin: 0 auto;

  @include media(xxl-up) {
    max-width: 900px;
  }

  @include media(xxxl-up) {
    max-width: 1100px;
  }

  .dwmth-box {
    margin: 10px 0;
  }

  .input--right {
    padding-left: 30px;
  }

  .input-budget {
    width: 100%;
  }

  & .dwmth-form-input {
    overflow: hidden;
  }
}

.dwmth-form-input--date {
  max-height: 45px;
  padding: 3px 10px 0;
  border: 0;
  color: pal(black, mid-light);
}

.advanced-settings label {
  margin: 2px 32px 4px 0;
}
