<section
  class="
    homepage-view
    campaign-edit-basic-information"
>
  <div class="text-center">
    <h1
      class="
        dwmth-heading
        dwmth-heading--primary"
    >
      Basic Information
    </h1>
  </div>

  <form
    [formGroup]="campaignBasicInfoForm"
    (ngSubmit)="onSubmit()"
    class="dwmth-form"
    data-test="advertiser-edit-campaign-basic-information-form"
  >
    <div
      class="
        dwmth-box
        dwmth-box--large"
    >
      <div class="dwmth-form-input__box">
        <label
          for="campaignName"
          class="dwmth-form-label"
        >
          Campaign Name
        </label>
        <input
          id="campaignName"
          class="
            dwmth-form-input
            dwmth-form-input--full"
          name="campaignName"
          formControlName="name"
          data-test="advertiser-edit-campaign-basic-information-form-name"
        >
        <span
          *ngIf="campaignBasicInfoForm.get('name').valid"
          class="input-valid"
        ></span>
        <span
          class="error-msg"
          *ngIf="
            campaignBasicInfoForm.hasError('required', ['name']) &&
            campaignBasicInformationSubmitted"
        >
          Campaign name required!
        </span>
      </div>

      <div class="dwmth-form-input__box">
        <label
          for="campaignTargetURL"
          class="dwmth-form-label"
        >
          Target URL
        </label>
        <input
          id="campaignTargetURL"
          class="
            dwmth-form-input
            dwmth-form-input--full"
          type="text"
          name="campaignTargetURL"
          formControlName="targetUrl"
          data-test="advertiser-edit-campaign-basic-information-form-target-url"
        >
        <span
          *ngIf="
            campaignBasicInfoForm.get('targetUrl').valid"
          class="input-valid"></span>
        <span
          class="error-msg"
          *ngIf="!campaignBasicInfoForm.get('targetUrl').valid && campaignBasicInformationSubmitted"
        >
          Please provide a valid URL.
        </span>
      </div>

      <div class="dwmth-form-input__box">
        <div class="row no-gutters">
          <div
            class="
              col
              col-xs-5"
          >
            <div
              class="
                col
                relative"
            >
              <label
                for="campaign-max-cpc"
                class="dwmth-form-label"
              >
                Max CPC ({{currencyCode}})
              </label>
              <input
                id="campaign-max-cpc"
                class="
                  dwmth-form-input
                  input-budget"
                type="number"
                min="0.01"
                name="campaignMaxCpc"
                formControlName="maxCpc"
                data-test="advertiser-edit-campaign-basic-information-form-max-cpc"
              >
              <span
                *ngIf="campaignBasicInfoForm.get('maxCpc').valid"
                class="input-valid"
              ></span>
            </div>
            <span
              class="error-msg"
              *ngIf="
                campaignBasicInfoForm.hasError('required', ['maxCpc']) &&
                campaignBasicInformationSubmitted"
            >
              Max CPC required
            </span>
            <span
              class="error-msg"
              *ngIf="
                campaignBasicInfoForm.hasError('min', ['maxCpc']) &&
                campaignBasicInformationSubmitted"
            >
              Allowed minimum is 0
            </span>
          </div>
          <!-- divider -->
          <div
            class="
              col
              col-xs-2"
          >
          </div>
          <div
            class="
              col
              col-xs-5"
          >
            <div
              class="
                col
                relative"
            >
              <label
                for="campaign-max-cpm"
                class="dwmth-form-label"
              >
                Max CPM ({{currencyCode}})
              </label>
              <input
                id="campaign-max-cpm"
                class="
                  dwmth-form-input
                  input-budget"
                type="number"
                min="0.01"
                name="campaignMaxCpm"
                formControlName="maxCpm"
                data-test="advertiser-edit-campaign-basic-information-form-max-cpm"
              >
              <span
                *ngIf="campaignBasicInfoForm.get('maxCpm').valid"
                class="input-valid"
              ></span>
            </div>
            <span
              class="error-msg"
              *ngIf="
                campaignBasicInfoForm.hasError('required', ['maxCpm']) &&
                campaignBasicInformationSubmitted"
            >
              Max CPM required
            </span>
            <span
              class="error-msg"
              *ngIf="
                campaignBasicInfoForm.hasError('min', ['maxCpm']) &&
                campaignBasicInformationSubmitted"
            >
              Allowed minimum is 0
            </span>
          </div>
        </div>
      </div>

      <div class="dwmth-form-input__box">
        <div
          class="
            row
            no-gutters"
        >

          <div
            class="
              col
              col-xs-5"
          >
            <div class="relative">
              <label
                for="campaign-budget-per-day"
                class="dwmth-form-label"
              >
                Budget ({{currencyCode}} / day)
              </label>
              <input
                id="campaign-budget-per-day"
                class="
                  dwmth-form-input
                  input-budget"
                type="number"
                min="0.01"
                name="campaignBudgetPerDay"
                [formControl]="budgetPerDay"
                (focus)="onFocus('campaign-budget-per-day')"
                data-test="advertiser-edit-campaign-basic-information-form-budget-per-day"
              >
              <span
                *ngIf="campaignBasicInfoForm.get('budget').valid"
                class="input-valid"
              ></span>
            </div>
            <span
              class="error-msg"
              *ngIf="
                budgetPerDay.hasError('min') &&
                campaignBasicInformationSubmitted"
            >
              Budget required
            </span>
            <span
              class="error-msg"
              *ngIf="
                budgetPerDay.hasError('min') &&
                campaignBasicInformationSubmitted"
            >
              Allowed minimum is 0.01
            </span>
          </div>
          <!-- divider -->
          <div
            class="
              col
              col-xs-2"
          >
          </div>
          <div
            class="
              col
              col-xs-5"
          >
            <div class="relative">
              <label
                for="campaign-budget"
                class="dwmth-form-label"
              >
                Budget ({{currencyCode}} / hour)
              </label>
              <input
                id="campaign-budget"
                class="
                  dwmth-form-input
                  input-budget"
                type="number"
                min="0.01"
                name="campaignBudget"
                formControlName="budget"
                (focus)="onFocus('campaign-budget')"
                data-test="advertiser-edit-campaign-basic-information-form-budget"
              >
              <span
                *ngIf="campaignBasicInfoForm.get('budget').valid"
                class="input-valid"
              ></span>
            </div>
            <span
              class="error-msg"
              *ngIf="
                campaignBasicInfoForm.hasError('required', ['budget']) &&
                campaignBasicInformationSubmitted"
            >
              Budget required
            </span>
            <span
              class="error-msg"
              *ngIf="
                campaignBasicInfoForm.hasError('min', ['budget']) &&
                campaignBasicInformationSubmitted"
            >
              Allowed minimum is 0.0004
            </span>
          </div>
        </div>
      </div>

      <div class="dwmth-form-input__box">
        <div
          class="
            row
            justify-between
            no-gutters"
        >
          <div
            class="
              col
              col-xs-5
              col-xxl-3"
          >
            <label class="dwmth-form-label">Date of Start</label>
            <mat-form-field
              class="
                dwmth-form-input
                dwmth-form-input--narrow
                row"
            >
              <img
                [owlDateTimeTrigger]="dateStartPicker"
                src="/assets/images/calendar.svg"
                alt="Add new icon"
                class="dwmth-icon">
              <input
                class="
                dwmth-form-input
                dwmth-form-input--narrow
                dwmth-form-input--date
                row"
                [owlDateTime]="dateStartPicker"
                [formControl]="dateStart"
                [owlDateTimeTrigger]="dateStartPicker"
                [min]="today"
                matInput
                type="text"
                required
                data-test="advertiser-edit-campaign-basic-information-form-start-date"
              >
              <owl-date-time #dateStartPicker></owl-date-time>
            </mat-form-field>

            <span
              class="error-msg"
              *ngIf="dateStart.hasError('required') && campaignBasicInformationSubmitted"
            >
              Start date required
            </span>
          </div>
          <div
            class="
              col
              col-xs-5
              col-xxl-3"
          >
            <div
              class="
                row
                align-center
                justify-between"
            >
              <label class="dwmth-form-label">
                Date of End
              </label>
              <span
                class="
                  dwmth-copy
                  dwmth-copy--x-small
                  dwmth-blue
                  dwmth-copy--uppercase
                  dwmth-copy--semi"
              >
                Optional
              </span>
            </div>
            <mat-form-field class="dwmth-form-input
                                   dwmth-form-input--narrow
                                   row">
              <img [owlDateTimeTrigger]="dateEndPicker"
                   src="/assets/images/calendar.svg"
                   alt="Add new icon"
                   class="dwmth-icon">
              <input class="dwmth-form-input
                       dwmth-form-input--narrow
                       dwmth-form-input--date
                       row"
                     [owlDateTime]="dateEndPicker"
                     [owlDateTimeTrigger]="dateEndPicker"
                     matInput
                     [min]="dateStart.value"
                     [formControl]="dateEnd"
                     data-test="advertiser-edit-campaign-basic-information-form-end-date"
              >
              <owl-date-time #dateEndPicker></owl-date-time>
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
    <div
      class="dwmth-box
             dwmth-box--large
             row
             justify-between">
      <button type="button"
              class="dwmth-btn
                     dwmth-btn--white
                     dwmth-blue"
              (click)="onStepBack()"
              [disabled]="campaignBasicInformationSubmitted || changesSaved"
              data-test="advertiser-navigate-to-dashboard">
        {{ createCampaignMode ? 'Back to Dashboard' : 'Back' }}
      </button>
      <button class="dwmth-btn dwmth-btn--wide dwmth-btn--blue"
              data-test="advertiser-edit-campaign-save-and-continue">
        <span *ngIf="!changesSaved; else loading">
        {{ createCampaignMode ? 'Save & Continue' : 'Update' }}
        </span>
        <ng-template #loading>
          <mat-spinner [diameter]="20" [strokeWidth]="2" color="accent"></mat-spinner>
        </ng-template>
      </button>
    </div>
  </form>
</section>

