<app-edit-asset-navigation></app-edit-asset-navigation>
<section *ngIf="campaignBasicInfoForm" class="homepage-view campaign-edit-basic-information container">
  <form
    [formGroup]="campaignBasicInfoForm"
    (ngSubmit)="onSubmit()"
    class="ap-form"
    data-test="advertiser-edit-campaign-basic-information-form">
    <div class="ap-box campaign-edit-basic-information__info-box">
      <h1 class="ap-heading ap-heading--h2 box-title">Basic information</h1>
      <div class="box-content">
        <div class="ap-form-input__box">
          <label class="ap-form-label">Medium</label>
          <mat-select
            disableOptionCentering="true"
            *ngIf="isTaxonomy; else missingTaxonomy"
            class="ap-select"
            formControlName="medium"
            (selectionChange)="onMediumChange($event.value)"
            data-test="advertiser-edit-campaign-basic-information-medium-select">
            <mat-option
              *ngFor="let medium of media"
              [value]="medium.key"
              data-test="advertiser-edit-campaign-basic-information-medium-option">
              {{ medium.value }}
            </mat-option>
          </mat-select>
        </div>
        <div *ngIf="vendors.length > 0" class="ap-form-input__box">
          <label class="ap-form-label">Vendor</label>
          <mat-select
            class="ap-select"
            formControlName="vendor"
            data-test="advertiser-edit-campaign-basic-information-vendor-select">
            <mat-option
              *ngFor="let vendor of vendors"
              [value]="vendor.key"
              data-test="advertiser-edit-campaign-basic-information-vendor-option">
              {{ vendor.value }}
            </mat-option>
          </mat-select>
        </div>

        <div class="ap-form-input__box">
          <label for="campaignName" class="ap-form-label"> Campaign name </label>
          <input
            id="campaignName"
            class="ap-form-input ap-form-input--full"
            name="campaignName"
            formControlName="name"
            data-test="advertiser-edit-campaign-basic-information-form-name" />
          <span *ngIf="campaignBasicInfoForm.get('name').valid" class="input-valid"></span>
          <span
            class="error-msg"
            *ngIf="campaignBasicInfoForm.hasError('required', ['name']) && campaignBasicInformationSubmitted">
            Campaign name required!
          </span>
        </div>

        <div class="ap-form-input__box">
          <label for="campaignTargetURL" class="ap-form-label"> Target URL </label>
          <input
            id="campaignTargetURL"
            class="ap-form-input ap-form-input--full"
            type="text"
            name="campaignTargetURL"
            formControlName="targetUrl"
            data-test="advertiser-edit-campaign-basic-information-form-target-url" />
          <span *ngIf="campaignBasicInfoForm.get('targetUrl').valid" class="input-valid"></span>
          <span
            class="error-msg"
            *ngIf="!campaignBasicInfoForm.get('targetUrl').valid && campaignBasicInformationSubmitted">
            Please provide a valid URL.
          </span>
        </div>

        <div class="ap-form-input__box">
          <p class="ap-form-label"></p>
          <app-placeholders-accordion></app-placeholders-accordion>
        </div>

        <div class="ap-form-input__box">
          <div class="row row--gap18">
            <div class="col input-250 relative">
              <label for="campaign-budget-per-day" class="ap-form-label"> Budget ({{ currencyCode }}/day) </label>
              <input
                id="campaign-budget-per-day"
                class="ap-form-input ap-form-input--full"
                type="number"
                step="0.01"
                name="campaignBudgetPerDay"
                [formControl]="budgetPerDay"
                (focus)="onFocus('campaign-budget-per-day')"
                data-test="advertiser-edit-campaign-basic-information-form-budget-per-day" />
              <span *ngIf="campaignBasicInfoForm.get('budget').valid" class="input-valid"></span>
              <span class="error-msg" *ngIf="budgetPerDay.hasError('required') && campaignBasicInformationSubmitted">
                Budget required
              </span>
              <span class="error-msg" *ngIf="budgetPerDay.hasError('min') && campaignBasicInformationSubmitted">
                Allowed minimum is
                {{ this.campaignsConfig.minBudget | budgetPerDay | formatMoney : 2 : '' }}
              </span>
            </div>

            <div class="col input-250 relative">
              <label for="campaign-budget" class="ap-form-label"> Budget ({{ currencyCode }}/hour) </label>
              <input
                id="campaign-budget"
                class="ap-form-input ap-form-input--full"
                type="number"
                step="0.0001"
                name="campaignBudget"
                formControlName="budget"
                (focus)="onFocus('campaign-budget')"
                data-test="advertiser-edit-campaign-basic-information-form-budget" />
              <span *ngIf="campaignBasicInfoForm.get('budget').valid" class="input-valid"></span>
              <span
                class="error-msg"
                *ngIf="campaignBasicInfoForm.hasError('required', ['budget']) && campaignBasicInformationSubmitted">
                Budget required
              </span>
              <span
                class="error-msg"
                *ngIf="campaignBasicInfoForm.hasError('min', ['budget']) && campaignBasicInformationSubmitted">
                Allowed minimum is
                {{ this.campaignsConfig.minBudget | formatMoney : 2 : '' }}
              </span>
            </div>
          </div>
        </div>

        <div class="ap-form-input__box">
          <div class="row row--gap18">
            <div class="col input-250">
              <label class="ap-form-label">Start date</label>
              <mat-form-field
                (click)="dateStartPicker.open()"
                class="ap-form-input ap-form-input--narrow ap-form-input--full">
                <fa-icon [icon]="faCalendar" class="ap-icon ap-icon--prepend"></fa-icon>
                <input
                  [ngxMatDatetimePicker]="dateStartPicker"
                  [formControl]="dateStart"
                  [min]="today"
                  matInput
                  type="text"
                  required
                  data-test="advertiser-edit-campaign-basic-information-form-start-date" />
                <ngx-mat-datetime-picker #dateStartPicker></ngx-mat-datetime-picker>
              </mat-form-field>

              <span class="error-msg" *ngIf="dateStart.hasError('required') && campaignBasicInformationSubmitted">
                Start date required
              </span>
            </div>
            <div class="col input-250">
              <label class="ap-form-label"> End date (optional) </label>
              <mat-form-field
                (click)="dateEndPicker.open()"
                class="ap-form-input ap-form-input--narrow ap-form-input--full">
                <fa-icon [icon]="faCalendar" class="ap-icon ap-icon--prepend"></fa-icon>
                <input
                  [ngxMatDatetimePicker]="dateEndPicker"
                  matInput
                  [min]="dateStart.value"
                  [formControl]="dateEnd"
                  data-test="advertiser-edit-campaign-basic-information-form-end-date" />
                <ngx-mat-datetime-picker #dateEndPicker></ngx-mat-datetime-picker>
              </mat-form-field>
            </div>
          </div>
        </div>

        <mat-accordion class="ap-form-input-accordion">
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title> Advanced </mat-panel-title>
            </mat-expansion-panel-header>

            <div class="ap-form-input__box advanced-settings">
              <div class="row no-gutters">
                <label class="ap-copy"> Max CPM ({{ currencyCode }}) </label>
                <mat-checkbox
                  [checked]="isAutoCpm"
                  (change)="changeAutoCpm($event.checked)"
                  data-test="advertiser-edit-campaign-basic-information-form-auto-max-cpm">
                  auto
                </mat-checkbox>
              </div>
              <div *ngIf="!isAutoCpm" class="row no-gutters">
                <div class="col">
                  <div class="col relative">
                    <input
                      id="campaign-max-cpm"
                      class="ap-form-input input-budget"
                      type="number"
                      step="0.01"
                      name="campaignMaxCpm"
                      formControlName="maxCpm"
                      data-test="advertiser-edit-campaign-basic-information-form-max-cpm" />
                    <span *ngIf="campaignBasicInfoForm.get('maxCpm').valid" class="input-valid"></span>
                  </div>
                  <span
                    class="error-msg"
                    *ngIf="campaignBasicInfoForm.hasError('min', ['maxCpm']) && campaignBasicInformationSubmitted">
                    Allowed minimum is
                    {{ this.campaignsConfig.minCpm | formatMoney : 2 : '' }}
                  </span>
                </div>
              </div>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>

    <div class="ap-box">
      <div class="box-content row justify-between">
        <button
          type="button"
          class="ap-btn ap-btn--secondary"
          (click)="onStepBack()"
          [disabled]="campaignBasicInformationSubmitted || changesSaved"
          data-test="advertiser-navigate-to-dashboard">
          {{ createCampaignMode ? 'Back to dashboard' : 'Back' }}
        </button>
        <button
          *ngIf="isTaxonomy"
          class="ap-btn ap-btn--primary"
          data-test="advertiser-edit-campaign-save-and-continue">
          <span *ngIf="!changesSaved; else loading">
            {{ createCampaignMode ? 'Save & continue' : 'Update' }}
          </span>
          <ng-template #loading>
            <mat-spinner [diameter]="20" [strokeWidth]="2" color="accent"></mat-spinner>
          </ng-template>
        </button>
      </div>
    </div>
  </form>
</section>

<ng-template #missingTaxonomy>
  <div class="error-msg">Taxonomy is not available. Please contact support.</div>
</ng-template>
