@import './../../../../styles';

.information-dialog {
  max-width: 800px;

  &__box {
    @include copy;
    display: flex;
    justify-content: center;
    margin: 0 auto 8px;
  }

  &__info {
    margin-left: 8px;
    margin-right: 8px;
    white-space: nowrap;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__link {
    @include copy($color: pal(secondary));
    display: block;
    margin-top: 8px;

    &:hover,
    &:focus {
      color: pal(secondary);
    }
  }

  &__copy-icon {
    cursor: pointer;
    color: pal(secondary);
    outline: none;
  }
}
