<mat-dialog-content class="text-center information-dialog">
  <div (click)="dialogRef.close()" class="ap-dialog-close"></div>
  <div class="col row--gap18">
    <h2 class="ap-heading ap-heading--h3">Conversion link</h2>
    <div *ngIf="link" class="row align-center justify-center no-wrap">
      <span class="ap-copy--bold information-dialog__info">{{ link }}</span>
      <button
        class="ap-icon-btn ap-icon-btn--secondary"
        matTooltipClass="ap-mat-tooltip"
        matTooltip="Copy link"
        matTooltipPosition="above"
        (click)="copyToClipboard(link)">
        <fa-icon [icon]="faCopy"></fa-icon>
      </button>
    </div>
    <p *ngIf="isAdvanced" class="ap-copy">
      The link above is a conversion address, that must be used to execute a conversion. Please, place it on your site
      (e.g. as a src attribute of an img element). Before you proceed further, please
      <a [href]="CONVERSIONS_DESCRIPTION" rel="noopener noreferrer" target="_blank"> read the instruction </a>
      .
    </p>
    <p *ngIf="!isAdvanced" class="ap-copy">
      The link above is a conversion address, that must be used to execute a conversion. Please, place it on your site
      (e.g. as a src attribute of an img element).
    </p>
  </div>
</mat-dialog-content>
