@import "./../../../../styles";

.information-dialog {
  max-width: 800px;

  &__box {
    @include copy;
    display: flex;
    justify-content: space-around;
    margin: 0 auto 8px;

    &--small {
      max-width: 290px;
    }

    &--large {
      justify-content: center;
    }
  }

  &__info {
    margin-left: 8px;
    white-space: nowrap;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__link {
    @include copy($color: pal(blue, base));
    display: block;
    margin-top: 8px;

    &:hover,
    &:focus {
     color: darken(pal(blue, base), 15%);
    }
  }
}
