@import '../../../../../styles';

.report-list-item {
  min-height: 40px;
  &__icon {

    &--ready {
      color: pal(success);
    }

    &--preparing {
      color: pal(secondary);
    }

    &--deleted {
      color: pal(error);
    }
  }
}
