<div class="report-list-item row align-center">
  <div class="col-xs-10 ap-copy">
    <fa-icon
      class="ap-icon ap-icon--prepend report-list-item__icon--{{ item.state }}"
      size="lg"
      matTooltip="{{ item.state }}"
      matTooltipClass="ap-mat-tooltip"
      [icon]="icon">
    </fa-icon>
    {{ item.name }}
  </div>
  <div class="col-xs-2">
    <button
      *ngIf="REPORT_STATE_READY === item.state"
      type="button"
      class="ap-btn ap-btn--text"
      (click)="download()"
      data-test="report-download-button">
      Download
    </button>
  </div>
</div>
