<div
  class="
    col
    justify-around
    dwmth-confirmation-wrapper"
>
  <div
    class="
      col
      align-start"
  >
    <h2
      class="
        dwmth-heading
        dwmth-heading--primary"
    >
      You've registered successfully.
    </h2>
    <p
      class="
        dwmth-copy
        dwmth-copy--large"
    >
      You can already log into your account.
    </p>
    <button
      class="
        dwmth-btn
        dwmth-btn--wide
        dwmth-btn--submit
        dwmth-bg-blue"
      routerLink="/auth/login"
      data-test="auth-redirect-to-first-login"
    >
      Log in
    </button>
  </div>
  <div
    class="
      dwmth-box
      dwmth-box--light
      dwmth-box--large"
  >
      <p
        class="
          dwmth-copy
          dwmth-copy--large"
      >
        Please contact support if you will encounter any issue.
      </p>
      <p
        class="
          dwmth-copy
          dwmth-copy--large
          dwmth-blue"
      >
        <a
          [href]="'mailto:' + supportEmail"
          data-test="common-support-email"
        >
          {{ supportEmail }}
        </a>
      </p>
  </div>
</div>
