@import '../../../../styles.scss';

.campaign-edit-bid-strategy {
  max-width: 1300px;
  margin: 0 auto;

  @include media(xxxl-up) {
    max-width: 2000px;
  }

  .dwmth-box {
    margin: 10px 0;
  }
}

.space-top {
  margin-top: 30px;
}
