<section class="homepage-view campaign-edit-bid-strategy container">
  <div class="ap-box">
    <div class="box-title">
      <h2 class="ap-heading ap-heading--h2">Bid strategy</h2>
      <p class="ap-copy box-subtitle">Here you can edit bid strategy for the campaign.</p>
    </div>
  </div>

  <div class="ap-box">
    <div class="box-title">
      <h2 class="ap-heading ap-heading--h2">Select bid strategy for {{ campaign.basicInformation.name }} campaign</h2>
      <p class="ap-copy box-subtitle">
        Here you can select bid strategy for the campaign. You can preview all your bid strategies below. There is also
        an explanation what a bid strategy is.
      </p>
    </div>

    <div *ngIf="!isLoading && bidStrategies.length > 0" class="row align-center box-content">
      <div class="ap-form-input__box bid-strategy__select">
        <label class="ap-form-label">Select bid strategy</label>
        <mat-select class="ap-select" [(value)]="bidStrategyUuidSelected" (selectionChange)="onBidStrategySelect()">
          <mat-option *ngFor="let bidStrategy of bidStrategies" [value]="bidStrategy.uuid">
            {{ bidStrategy.name }}
          </mat-option>
        </mat-select>
      </div>
    </div>
    <div *ngIf="isLoading" class="loading-wrapper">
      <mat-spinner [diameter]="60" [strokeWidth]="8"></mat-spinner>
    </div>
  </div>

  <div class="bid-strategy-wrapper">
    <app-bid-strategy-settings
      [medium]="campaign.basicInformation.medium"
      [vendor]="campaign.basicInformation.vendor"></app-bid-strategy-settings>
  </div>

  <div class="ap-box">
    <div class="box-content row justify-between">
      <button
        type="button"
        class="ap-btn ap-btn--secondary"
        (click)="onStepBack()"
        [disabled]="submitted"
        data-test="advertiser-navigate-to-dashboard">
        Back
      </button>
    </div>
  </div>
</section>
