@import '../../../../styles.scss';

.site-edit-summary {
  max-width: 1200px;
  margin: 24px auto 0;

  @include media(xxl-up) {
    max-width: 1300px;
  }

  @include media(xxxl-up) {
    max-width: 2000px;
  }

  & > .ap-heading {
    margin-top: 18px;
    margin-bottom: 18px;
  }

  &__warning {
    color: pal(error);
  }

  &__info-cell {
    padding-left: 0;
  }

  &__poster-info {
    & > a {
      text-decoration: none;
    }
  }

  &__basic-info-element:first-of-type {
    margin-right: 32px;
  }

  &__poster-unit-title {
    margin-bottom: 12px;
  }

  &__poster-unit {
    text-align: center;
    padding: 7px;
    margin: 2px;
    border-radius: 10px;
    border: 2px solid pal(gray);
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: inset 4px 4px 5px rgba(0, 0, 0, 0.25), 0 0 0 rgba(0, 0, 0, 0.25);
  }

}

.targeting-title {
  margin-bottom: 10px;
}
