@import '../../../../styles.scss';

.site-edit-summary {

  & > .ap-heading {
    margin-top: 18px;
    margin-bottom: 18px;
  }

  &__warning {
    color: pal(error);
  }

  &__info-cell {
    padding-left: 0;
  }

  &__poster-info {
    & > a {
      text-decoration: none;
    }
  }

  &__basic-info-element:first-of-type {
    margin-right: 32px;
  }

  & .poster-unit {
    flex: 0 1 18%;
    max-width: 250px;
  }
}

.targeting-title {
  margin-bottom: 10px;
}
