<app-edit-site-navigation [currentStep]="5" [medium]="site.medium"></app-edit-site-navigation>
<section class="homepage-view site-edit-summary container">
  <div class="ap-box">
    <div class="box-title">
      <h1 class="ap-heading ap-heading--h2">Summary</h1>
      <p class="ap-copy box-subtitle">
        Please check if all settings are correct and publish the site. Next you need to get your code. Once you click
        the "Add site" button you will be redirected to the main dashboard. Please click the site you have just added,
        then the "Get code" button, copy the code for each of the placements and place it on your website. If you have
        any doubts please
        <a [href]="PUBLISHER_INSTRUCTION_LINK" rel="noopener noreferrer" target="_blank"> refer to the instruction. </a>
      </p>
    </div>
  </div>

  <div class="ap-box">
    <div class="row align-center justify-between box-title">
      <h3 class="ap-heading ap-heading--h3">1. Basic information</h3>
      <button
        routerLink="../basic-information"
        data-test="publisher-edit-site-summary-navigate-to-basic-information"
        class="ap-btn ap-btn--text">
        Edit
      </button>
    </div>

    <div class="row box-content">
      <div class="col site-edit-summary__basic-info-element">
        <p class="ap-copy">Website name</p>

        <p class="ap-copy ap-copy--semi" data-test="publisher-site-url">
          {{ site.name }}
        </p>
      </div>

      <div class="col-xs-4 col">
        <p class="ap-copy">Content language</p>

        <p class="ap-copy ap-copy--semi" data-test="publisher-site-language">
          {{ site.primaryLanguage }}
        </p>
      </div>
    </div>
  </div>

  <div class="ap-box">
    <div class="row align-center justify-between box-title">
      <h3 class="ap-heading ap-heading--h3">2. Exclusions</h3>
      <button
        routerLink="../additional-filtering"
        data-test="publisher-edit-site-summary-navigate-to-additional-information"
        class="ap-btn ap-btn--text">
        Edit
      </button>
    </div>
    <div class="box-content">
      <div class="row" *ngIf="!site.filteringArray.excludes.length">
        <strong class="site-edit-summary__warning ap-copy">(none)</strong>
      </div>
      <div class="row" *ngIf="!!site.filteringArray.excludes.length">
        <div class="col-xs-5 site-edit-summary__info-cell">
          <app-targeting-display
            [items]="site.filteringArray.excludes"
            [isExclude]="true"
            [canRemove]="false"
            [targetingOptions]="filteringOptions"></app-targeting-display>
        </div>
      </div>
    </div>
  </div>

  <ng-container *ngIf="displayAds">
    <div class="ap-box site-edit-summary__poster-info">
      <div class="row align-center justify-between box-title">
        <h3 class="ap-heading ap-heading--h3">3. Pops</h3>
        <button
          routerLink="../pops-settings"
          data-test="publisher-edit-site-summary-navigate-to-pops-settings"
          class="ap-btn ap-btn--text">
          Edit
        </button>
      </div>

      <div class="box-content">
        <div class="row" *ngIf="!popAdUnits.length">
          <strong class="site-edit-summary__warning ap-copy">(none)</strong>
        </div>
        <div *ngIf="!!popAdUnits.length" class="row row--gap18">
          <div
            class="poster-unit poster-unit--selected"
            *ngFor="let adUnit of popAdUnits"
            data-test="publisher-edit-site-summary-ad-units">
            <div class="row align-center justify-center">
              <div class="ap-copy poster-unit-title" data-test="publisher-edit-site-create-ad-units-form-ad-unit-size">
                {{ adUnit.name }}
              </div>
            </div>

            <strong
              class="ap-copy ap-copy--semi poster-unit-title"
              data-test="publisher-edit-site-create-poster-units-form-poster-unit-name">
              {{ adUnit.size }}
            </strong>
            <div class="row row--gap8 justify-center">
              <div
                class="ap-chip-box"
                *ngFor="let tag of adUnit.tags"
                data-test="publisher-edit-site-create-ad-units-form-ad-unit-tag">
                {{ tag }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="ap-box site-edit-summary__poster-info">
      <div class="row align-center justify-between box-title">
        <h3 class="ap-heading ap-heading--h3">4. Placements</h3>
        <button
          routerLink="../create-ad-units"
          data-test="publisher-edit-site-summary-navigate-to-create-ad-units"
          class="ap-btn ap-btn--text">
          Edit
        </button>
      </div>
      <div class="box-content">
        <div class="row" *ngIf="!displayAdUnits.length">
          <strong class="site-edit-summary__warning ap-copy">(none)</strong>
        </div>
        <div *ngIf="!!displayAdUnits.length" class="row row--gap18">
          <div
            class="poster-unit poster-unit--selected"
            *ngFor="let adUnit of displayAdUnits"
            data-test="publisher-edit-site-summary-ad-units">
            <div class="row align-center justify-center">
              <div class="ap-copy poster-unit-title" data-test="publisher-edit-site-create-ad-units-form-ad-unit-size">
                {{ adUnit.name }}
              </div>
            </div>

            <strong
              class="ap-copy ap-copy--semi"
              data-test="publisher-edit-site-create-poster-units-form-poster-unit-name">
              {{ adUnit.size }}
            </strong>
            <div class="row row--gap8 justify-center">
              <div
                class="ap-chip-box"
                *ngFor="let tag of adUnit.tags"
                data-test="publisher-edit-site-create-ad-units-form-ad-unit-tag">
                {{ tag }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>

  <div class="ap-box">
    <div class="box-content row justify-between">
      <a routerLink="../additional-filtering" data-test="publisher-edit-site-navigate-back">
        <button class="ap-btn ap-btn--secondary">Back</button>
      </a>

      <div class="row row--gap8">
        <button
          class="ap-btn ap-btn--secondary"
          type="button"
          (click)="saveSite(true)"
          data-test="publisher-edit-site-save-as-draft">
          Save as draft
        </button>
        <button
          [disabled]="canSubmit"
          class="ap-btn ap-btn--primary"
          (click)="saveSite(false)"
          type="button"
          data-test="publisher-edit-site-start-site">
          Add site
        </button>
      </div>
    </div>
  </div>
</section>
