@import '../../../../../src/styles';

.settings-menu-item {

  .mat-expansion-panel {
    background-color: transparent;

    & .mat-expansion-panel-header {
      padding: 12px 2rem;
      height: auto;
      color: pal(light);

      &:hover:not([aria-disabled=true]) {
        background-color: rgba(0, 47, 54, 0.5);
        border-radius: 10px
      }
    }

    ::ng-deep .mat-expansion-indicator::after {
      color: inherit;
    }

    ::ng-deep .mat-expansion-panel-body {
      background-color: pal(primary, dark);
      padding: 8px 0;
      height: auto;
      box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
    }
  }

  &__submenu-title {
    @include copy (
      $color: pal(light),
      $font-size: 18,
      $font-weight: semiBold
    );
  }

  &__submenu {
    @include copy (
      $color: pal(light),
      $font-size: 18,
    );

    & .active-tab {
      color: pal(secondary)
    }
  }

  &__submenu-item {
    cursor: pointer;
    padding: 12px 2rem;
    & > a {
      color: inherit;
      text-decoration: none;
      &:hover {
        text-decoration: none;
      }
    }

    &:hover{
      background-color: rgba(0, 61, 77, 0.5);
    }
  }
}
