<div class="settings-menu-item">
  <mat-expansion-panel
    [routerLinkActive]="'active-group'"
    #rla="routerLinkActive"
    [expanded]="rla.isActive || isPanelExpanded">
    <mat-expansion-panel-header class="panel-header">
      <mat-panel-title class="settings-menu-item__submenu-title">
        {{ menuItem.title }}
      </mat-panel-title>
    </mat-expansion-panel-header>

    <ul class="settings-menu-item__submenu">
      <li
        *ngFor="let subMenuItems of menuItem.values"
        [routerLink]="subMenuItems.path ? menuItem.link + subMenuItems.path : menuItem.link"
        routerLinkActive="active-tab"
        class="settings-menu-item__submenu-item">
        <span *ngIf="!!subMenuItems.name">{{ subMenuItems.name }}</span>
      </li>
    </ul>
  </mat-expansion-panel>
</div>
