@import '../../../../../src/styles';

.settings-menu-item {
  height: 100%;
  padding: 16px 0 16px 24px;
  border-left: 2px solid pal(gray);
  position: relative;

  &.active {
    border-color: pal(secondary);
  }

  &__submenu {
    margin-top: 16px;
    margin-left: 16px;
  }

  &__submenu-item {
    padding: 8px 0;
  }
}
