<div class="dwmth-box banner__wrapper">
  <section>
    <h1 class="dwmth-heading dwmth-heading--secondary">Site options</h1>
    <p class="dwmth-copy rejected-domains__desc">
      Site banners classifications settings.
    </p>
  </section>

  <div class="banner__controls">
    <mat-checkbox
            [checked]="siteOptions.acceptBannersManually === 1"
            (change)="onOptionChange($event.checked ? 1 : 0, 'acceptBannersManually')"
    >
      Require banner acceptance by default
    </mat-checkbox>
    <div class="banner__radio-wrapper">
      <label class="dwmth-copy" id="banners-classification">Classification of banners from the server</label>
      <mat-radio-group
              class="banner__radio-wrapper"
              aria-label="banners-classification"
              [(ngModel)]="siteOptions.classifierLocalBanners"
              (change)="onOptionChange($event.value, 'classifierLocalBanners')"
      >
        <mat-radio-button [value]="'all-by-default'">Default from all servers</mat-radio-button>
        <mat-radio-button [value]="'local-by-default'">Default from local server</mat-radio-button>
        <mat-radio-button [value]="'local-only'">Only from local server</mat-radio-button>
      </mat-radio-group>
    </div>
  </div>
  <div class="row justify-end align-center banner__submit-btn-box">
    <button class="dwmth-btn dwmth-btn--blue"
            [disabled]="!canSubmit"
            (click)="saveSettings()">
      Save settings
    </button>
  </div>
</div>
