<section class="notification-settings">
  <div
    class="
      adsh-box
      adsh-box--large"
  >
    <div class="col">
      <h2
        class="
          adsh-heading
          adsh-heading--primary"
      >
        Notification Settings
      </h2>
      <p
        class="
          adsh-copy
          adsh-copy--large"
      >
        In addition to these alerts, when necessary, we may send you communications about your advertising agreement with Adshares.
      </p>
      <div
        class="
          notification-table
          adsh-copy"
      >
        <div
          class="
            row
            align-center"
        >
          <div class="col-xs-6">
            Notification Type
          </div>
          <div class="col-xs-4">
            Notification Component
          </div>
          <div class="col-xs-2">
            Email
          </div>
        </div>
        <ul *ngIf="notificationsSettings && notificationsSettings.payload; else loading">
          <li
            class="
              row
              align-center"
            *ngFor="let notification of notificationsSettings.payload"
          >
            <div class="col-xs-6">
              <h5
                class="
                  adsh-heading
                  adsh-heading--secondary"
                data-test="settings-notification-name"
              >
                {{ notification.name }}
              </h5>
            </div>
            <div class="col-xs-4">
              <mat-slide-toggle
                color="primary"
                aria-label="notification-component"
                [checked]="notification.notify === true"
              ></mat-slide-toggle>
            </div>
            <div class="col-xs-2">
              <mat-slide-toggle
                color="primary"
                aria-label="notification-email"
                [checked]="notification.email === true"
              ></mat-slide-toggle>
            </div>
            <!-- <div class="col-xs-4">
              <mat-slide-toggle
                color="primary"
                (change)="onNotificationChange(notification, 'notification')"
                aria-label="notification-component"
                [checked]="notification.notification === true"
                ([ngModel])="notification.notification"
                data-test="settings-notifications-toggle-for-notification"
              ></mat-slide-toggle>
            </div>
            <div class="col-xs-2">
              <mat-slide-toggle
                color="primary"
                (change)="onNotificationChange(notification, 'email')"
                aria-label="notification-email"
                [checked]="notification.email === true"
                ([ngModel])="notification.email"
                data-test="settings-notification-toggle-for-email"
              ></mat-slide-toggle>
            </div> -->
          </li>
        </ul>
        <ng-template #loading>
          <div class="loading-wrapper">
            <mat-spinner [diameter]="30" [strokeWidth]="4"></mat-spinner>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</section>
