<section class="newsletter-settings">
  <div
    class="
      dwmth-box
      dwmth-box--large"
  >
    <div class="col">
      <h2
        class="
          dwmth-heading
          dwmth-heading--primary"
      >
        Newsletter
      </h2>
      <p
        class="
          dwmth-copy
          dwmth-copy--large"
      >
        We are using our newsletter to share important information about the development of our network, airdrop campaigns and other offers.
        If you prefer to unsubscribe, please change your settings below.
      </p>
      <div
        class="
          newsletter-table
          dwmth-copy"
      >
        <mat-slide-toggle
          color="primary"
          [disabled]="isSettingDisabled"
          [(ngModel)]="isSubscribed"
          (change)="onChangeSubscription(isSubscribed)"
        >
          Subscription
        </mat-slide-toggle>
      </div>
    </div>
  </div>
</section>
