@import '../../../../styles';

.user-list {
  &__sort {
    margin-left: 5px;
  }

  &__items {
    position: relative;
    height: calc((54px * 15) + 40px);
  }

  &__loader-container {
    @include copy($font-size: 32);
    height: calc(54px * 15);
    display: flex;
    width: 100%;
    background: rgba(255, 255, 255, 0.9);
    align-items: center;
    justify-content: center;
    top: 40px;
  }

  &__filters label {
    padding-right: 8px;
  }

  &__checkbox {
    margin-right: 24px;
    color: #4d5b82;
    font-family: 'Lato-Regular', sans-serif;
    font-size: 15px;
  }

  &__input {
    @include input;
    padding: 8px 12px;
    margin-left: 16px;
    width: 220px;
  }

  ::ng-deep &__no-actions {
    thead .table-nav__row:last-of-type,
    tbody .user-list-item td:last-of-type {
      display: none !important;
    }
  }

  & .mat-radio-group {
    flex-direction: row;
  }
}
