@import '../../../../styles';

.user-list {
  &__sort {
    margin-left: 5px;
  }

  &__loader-container {
    @include copy($font-size: 32);
    display: flex;
    width: 100%;
    color: pal(secondary);
    align-items: center;
    justify-content: center;
    top: 40px;
    margin: 24px 0;
  }

  ::ng-deep &__no-actions {
    thead .table-nav__row:last-of-type,
    tbody .user-list-item td:last-of-type {
      display: none !important;
    }
  }

  & .mat-radio-group {
    flex-direction: row;
  }
}
