@import '../../../../styles.scss';

.adsh-customize {
  &-subheading {
    max-width: 360px;
    margin: 0 auto;
  }

  &__box {
    padding: 20px 20px 10px;
    min-width: 400px;
    border: solid 1px pal(gray, light);
    margin: 40px 0;

    @include md-up {
      flex-basis: calc(50% - 15px);

      &:first-of-type {
        margin-right: 30px;
      }
    }

    &-description {
      margin: 20px 0 40px;
    }

    &.account-selected {
      border: solid 2px pal(blue);
    }
  }
}
