<tr class="user-list-item">
  <td class="col-xs-6 user-list-item__cell user-list-item__cell--bold">
    <button
      [disabled]="!canImpersonate"
      class="ap-btn ap-btn--tiny ap-btn--no-vertical-padding ap-btn--no-border ap-btn--white ap-btn--transparent"
      (click)="handleImpersonating()"
    >
      <fa-icon [icon]="faIconImpersonation" class="ap-icon ap-icon--large fa-lg"></fa-icon>
    </button>
    {{ user.email }}
    <fa-icon
      [icon]="faIconEmailConfirmed"
      class="ap-icon user-list-item__status"
      [class.confirmed]="user.isEmailConfirmed"
      [title]="user.isEmailConfirmed ? 'Email confirmed' : 'Email unconfirmed'"
    ></fa-icon>
    <fa-icon
      [icon]="faIconAdminConfirmed"
      class="ap-icon user-list-item__status"
      [class.confirmed]="user.isAdminConfirmed"
      [title]="user.isEmailConfirmed ? 'Account confirmed' : 'Account unconfirmed'"
    ></fa-icon>
  </td>
  <td class="col-xs-2 user-list-item__funds">
    {{ user.adserverWallet.walletBalance | formatMoney:2:crypto:code }}
    <ng-container *ngIf="calculateFunds">
      <br>
      <small>{{ user.adserverWallet.walletBalance | calculateInCurrency:2 }}</small>
    </ng-container>
  </td>
  <td class="col-xs-2 user-list-item__funds">
    {{ user.adserverWallet.bonusBalance | formatMoney:2:crypto:code }}
    <ng-container *ngIf="calculateFunds">
      <br>
      <small>{{ user.adserverWallet.bonusBalance | calculateInCurrency:2 }}</small>
    </ng-container>
  </td>
  <td
    class="col-xs-2 justify-center user-list-item__cell"
    [ngClass]="{'ap-copy--red': userRole === 'Banned'}"
    [title]="userRoleTitle">
    {{ userRole }}
  </td>
</tr>
