@import '../../../../../styles';

.user-list-item {
  @include container();
  border-bottom: 1px solid pal(gray);
  display: flex;
  justify-content: space-between;
  min-height: 52px;

  &__status {
    margin-left: 5px;
    color: pal(gray);

    &.confirmed {
      color: pal(success);
    }
  }

  &__btn {
    &[disabled] {
      border-color: pal(primary, light);
      color: pal(primary, light);
    }

    &--success {
      border-color: pal(success);
      color: pal(success);
    }

    &--warning {
      border-color: pal(warning);
      color: pal(warning);
    }

    &--danger {
      border-color: pal(error);
      color: pal(error);
    }
  }
}
