<tr class="user-list-item ap-copy">
  <td class="col-xs-6 user-list-item__cell user-list-item__cell--bold">
    <button [disabled]="!canImpersonate" class="ap-icon-btn" (click)="handleImpersonating()">
      <fa-icon [icon]="faIconImpersonation" class="ap-icon"></fa-icon>
    </button>
    {{ user.email }}
    <fa-icon
      [icon]="faIconEmailConfirmed"
      class="ap-icon user-list-item__status"
      [class.confirmed]="user.isEmailConfirmed"
      [title]="user.isEmailConfirmed ? 'Email confirmed' : 'Email unconfirmed'"></fa-icon>
    <fa-icon
      [icon]="faIconAdminConfirmed"
      class="ap-icon user-list-item__status"
      [class.confirmed]="user.isAdminConfirmed"
      [title]="user.isEmailConfirmed ? 'Account confirmed' : 'Account unconfirmed'"></fa-icon>
  </td>
  <td class="col col-xs-2 align-end ap-copy--tnum">
    <p>{{ user.adserverWallet.walletBalance | formatMoney : 2 : crypto : code }}</p>
    <p class="ap-copy--small" *ngIf="calculateFunds">
      {{ user.adserverWallet.walletBalance | calculateInCurrency : 2 }}
    </p>
  </td>
  <td class="col col-xs-2 align-end">
    <p>{{ user.adserverWallet.bonusBalance | formatMoney : 2 : crypto : code }}</p>
    <p *ngIf="calculateFunds" class="ap-copy--small ap-copy--tnum">
      {{ user.adserverWallet.bonusBalance | calculateInCurrency : 2 }}
    </p>
  </td>
  <td
    class="col-xs-2 justify-center ap-copy--small"
    [ngClass]="{ 'ap-copy--red': userRole === 'Banned' }"
    [title]="userRoleTitle">
    {{ userRole }}
  </td>
</tr>
