<tr class="user-list-item">
  <td class="col-xs-5 user-list-item__cell user-list-item__cell--bold">
    <button
      [disabled]="!canImpersonate"
      class="ap-icon-btn"
      (click)="handleImpersonating()"
    >
      <fa-icon [icon]="faIconImpersonation" class="ap-icon ap-icon--large fa-lg"></fa-icon>
    </button>
    {{ user.email }}
    <fa-icon
      [icon]="faIconEmailConfirmed"
      class="ap-icon user-list-item__status"
      [class.confirmed]="user.isEmailConfirmed"
      [title]="user.isEmailConfirmed ? 'Email confirmed' : 'Email unconfirmed'"
    ></fa-icon>
    <fa-icon
      [icon]="faIconAdminConfirmed"
      class="ap-icon user-list-item__status"
      [class.confirmed]="user.isAdminConfirmed"
      [title]="user.isEmailConfirmed ? 'Account confirmed' : 'Account unconfirmed'"
    ></fa-icon>
  </td>
  <td class="col-xs-2 user-list-item__funds">
    {{ user.adserverWallet.walletBalance | formatMoney:2:crypto:code }}
    <ng-container *ngIf="calculateFunds">
      <br>
      <small>{{ user.adserverWallet.walletBalance | calculateInCurrency:2 }}</small>
    </ng-container>
  </td>
  <td class="col-xs-2 user-list-item__funds">
    {{ user.adserverWallet.bonusBalance | formatMoney:2:crypto:code }}
    <ng-container *ngIf="calculateFunds">
      <br>
      <small>{{ user.adserverWallet.bonusBalance | calculateInCurrency:2 }}</small>
    </ng-container>
  </td>
  <td
    class="col-xs-2 justify-center user-list-item__cell"
    [ngClass]="{'ap-copy--red': userRole === 'Banned'}"
    [title]="userRoleTitle">
    {{ userRole }}
  </td>
  <td class="col-xs-1 user-list-item__cell user-list-item__cell--actions">
    <button
            mat-icon-button
            [matMenuTriggerFor]="menu"
            *ngIf="!user.isAdmin"
            aria-label="Example icon-button with a menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button
        mat-menu-item
        *ngIf="!user.isAdminConfirmed"
        class="user-list-item__btn user-list-item__btn--success"
        (click)="handleConfirmation()"
        [disabled]="isSaving"
      >
        Confirm
      </button>
      <button
        mat-menu-item
        *ngIf="loggedUser.isAdmin && !user.isAdmin && !user.isModerator && !user.isAgency  && !user.isBanned"
        class="user-list-item__btn user-list-item__btn--warning"
        (click)="handleSwitchingToModerator()"
        [disabled]="isSaving"
      >
        Switch to moderator
      </button>
      <button
        mat-menu-item
        *ngIf="(loggedUser.isAdmin || loggedUser.isModerator) && !user.isAdmin && !user.isModerator && !user.isAgency && !user.isBanned"
        class="user-list-item__btn"
        (click)="handleSwitchingToAgency()"
        [disabled]="isSaving"
      >
        Switch to agency
      </button>
      <button
        mat-menu-item
        *ngIf="(loggedUser.isAdmin && user.isModerator) || ((loggedUser.isAdmin || loggedUser.isModerator) && user.isAgency)"
        class="user-list-item__btn user-list-item__btn--warning"
        (click)="handleSwitchingToRegular()"
        [disabled]="isSaving"
      >
        Switch to regular
      </button>
      <button
        mat-menu-item
        *ngIf="(loggedUser.isAdmin || loggedUser.isModerator) && !user.isAdvertiser"
        class="user-list-item__btn"
        (click)="handleUserRightsChange('grantAdvertising')"
        [disabled]="isSaving"
      >
        Grant Advertising
      </button>
      <button
        mat-menu-item
        *ngIf="(loggedUser.isAdmin || loggedUser.isModerator) && !user.isPublisher"
        class="user-list-item__btn"
        (click)="handleUserRightsChange('grantPublishing')"
        [disabled]="isSaving"
      >
        Grant Publishing
      </button>
      <button
        mat-menu-item
        *ngIf="(loggedUser.isAdmin || loggedUser.isModerator) && user.isAdvertiser"
        class="user-list-item__btn"
        (click)="handleUserRightsChange('denyAdvertising')"
        [disabled]="isSaving"
      >
        Deny Advertising
      </button>
      <button
        mat-menu-item
        *ngIf="(loggedUser.isAdmin || loggedUser.isModerator) && user.isPublisher"
        class="user-list-item__btn"
        (click)="handleUserRightsChange('denyPublishing')"
        [disabled]="isSaving"
      >
        Deny Publishing
      </button>
      <button
        mat-menu-item
        class="user-list-item__btn user-list-item__btn--danger"
        *ngIf="(loggedUser.isAdmin && !user.isAdmin) && !user.isBanned"
        (click)="showBanConfirmationDialog()"
      >
        Ban user
      </button>
      <button
        mat-menu-item
        class="user-list-item__btn user-list-item__btn--danger"
        *ngIf="(loggedUser.isAdmin && !user.isAdmin) && user.isBanned"
        (click)="showUnbanConfirmationDialog()"
      >
        Unban user
      </button>
      <button
        mat-menu-item
        class="user-list-item__btn user-list-item__btn--danger"
        *ngIf="loggedUser.isAdmin && !user.isAdmin"
        (click)="showDeleteConfirmationDialog()"
      >
        Delete user
      </button>
    </mat-menu>
  </td>
</tr>
