@import '../../../../../styles';

.user-list-item {
  @include container($border-color: pal(gray));
  display: flex;
  justify-content: space-between;
  min-height: 52px;

  &__cell {
    @include copy($font-size: 16);
    display: flex;
    align-items: center;

    &--actions {
      justify-content: flex-end;
    }

    &--bold {
      @include copy(
        $color: pal(primary),
        $font-weight: semiBold,
        $font-size: 16
      );
    }
  }

  &__funds {
    @include copy($font-size: 16);
    text-align: right;
    small {
      font-size: 80%;
    }
  }

  &__status {
    margin-left: 5px;
    color: pal(gray);

    &.confirmed {
      color: pal(success);
    }
  }

  &__btn {
    &[disabled] {
      border-color: pal(primary, light);
      color: pal(primary, light);
    }

    &--success {
      border-color: pal(success);
      color: pal(success);
    }

    &--warning {
      border-color: pal(warning);
      color: pal(warning);
    }

    &--danger {
      border-color: pal(error);
      color: pal(error);
    }
  }
}
