@import '../../../../../styles';

.user-list-item {
  @include container($border-color: pal(gray, nearly-white));
  display: flex;
  justify-content: space-between;
  min-height: 52px;

  &__cell {
    @include copy($font-size: 16);
    display: flex;
    align-items: center;

    &--bold {
      @include copy(
        $color: pal(navy, base),
        $font-weight: semi,
        $font-size: 16
      );
    }
  }

  &__funds {
    @include copy($font-size: 16);
    text-align: right;
    small {
      font-size: 80%;
    }
  }

  &__status {
    margin-left: 5px;
    color: pal(gray, light);

    &.confirmed {
      color: pal(green, base);
    }
  }

  &__btn {
    @include btn(
      $border-color: pal(navy, light),
      $color: pal(navy, light),
      $background-color: pal(white),
      $padding-horizontal: 12px,
      $padding-vertical: 8px
    );
    margin-left: 5px;
    margin-right: 5px;

    &--sucess {
      border-color: pal(green, dark);
      color: pal(green, dark);
    }

    &--danger {
      border-color: pal(red, dark);
      color: pal(red, dark);
    }
  }
}
