@import '~@angular/material/theming';
@import "~ng-pick-datetime/assets/style/picker.min.css";

@include mat-core();

$app-primary: mat-palette($mat-blue, A200);
$app-accent:  mat-palette($mat-green, 300);
$app-theme:   mat-light-theme($app-primary, $app-accent);

// Include the default theme styles.
@include angular-material-theme($app-theme);

@import 'styles/mixins';
@import 'styles/colors';

@import 'styles/buttons';
@import 'styles/dashboard';
@import 'styles/forms';
@import 'styles/flexbox';
@import 'styles/normalize';
@import 'styles/typography';
@import 'styles/z-index';

@import 'styles/material-override';
@import 'styles/common';
@import 'styles/charts';

@import 'styles/advertiser';
