@use '@angular/material' as mat;

@include mat.core();

$app-primary: mat.define-palette(mat.$blue-palette, A200);
$app-accent: mat.define-palette(mat.$green-palette, 300);
$app-theme: mat.define-light-theme($app-primary, $app-accent);

// Include the default theme styles.
@include mat.all-component-themes($app-theme);

@import 'styles/mixins';
@import 'styles/keyframes';
@import 'styles/variables';
@import 'styles/colors';

@import 'styles/buttons';
@import 'styles/dashboard';
@import 'styles/forms';
@import 'styles/flexbox';
@import 'styles/normalize';
@import 'styles/typography';
@import 'styles/z-index';

@import 'styles/material-override';
@import 'styles/common';
@import 'styles/charts';
