<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title class="ap-form-label"> Placeholders </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="ap-box">List of available placeholders to use in target URL:</div>
    <div *ngFor="let placeholder of PLACEHOLDERS">
      <div class="ap-box">
        <span class="col-xs-2"
          ><code>{{ placeholder.id }}</code></span
        >
        -
        <span class="col-xs-10">{{ placeholder.description }}</span>
      </div>
    </div>
    <div class="ap-box">
      Place selected placeholders in the target URL. Any of these placeholders will be replaced with the proper
      value.<br />
      For example <code>{{ PLACEHOLDERS[0].id }}</code> will be replaced with the {{ PLACEHOLDERS[0].description }}.
    </div>
  </mat-expansion-panel>
</mat-accordion>
