@import '../../../../styles.scss';

.placeholders-accordion {

  & .mat-expansion-panel {
    border: 1px solid pal(primary);
    border-radius: 10px;
  }

  & .mat-expansion-panel-header-title {
    padding: 13px;
  }

  & .mat-expansion-panel-content {
    padding-left: 13px;
    padding-right: 13px;
  }

  & p:not(:last-child) {
    margin-bottom: 12px;
  }

  code {
    font-family: monospace;
  }
}


