<section class="preferences">
  <div
    class="
      adsh-box
      adsh-box--large"
  >
    <div class="col">
      <h2
        class="
          adsh-heading
          adsh-heading--primary"
      >
        Preferences
      </h2>
      <p
        class="
          adsh-copy
          adsh-copy--large"
      >
        Here you can change the email address you use on Adshares and your password
      </p>
      <form
        #changeEmailForm="ngForm"
        (ngSubmit)="onChangeEmail(email.value)"
        class="adsh-form">
        <div class="row align-start change-form">
          <div class="adsh-form-input__box">
            <label
              for="email"
              class="adsh-form-label"
            >
              Email Address
            </label>
            <input
              id="email"
              class="adsh-form-input"
              type="email"
              name="email"
              ngModel
              [email]="true"
              #email="ngModel"
              required
            >
            <span
              *ngIf="email.valid"
              class="input-valid"
            ></span>
            <span
              class="error-msg"
              *ngIf="email.hasError('email') && email.touched && email.value !== ''"
            >
              Invalid email!
            </span>
            <span
              class="error-msg"
              *ngIf="email.hasError('required') && changeEmailForm.submitted"
            >
              Email required
            </span>
          </div>
          <button
            class="
              adsh-btn
              adsh-btn--blue"
          >
            Change email
          </button>
        </div>
      </form>

      <form
        #changePasswordForm="ngForm"
        (ngSubmit)="onChangePassword(currentPassword.value, newPassword.value, newPasswordConfirm.value)"
        class="adsh-form">
        <div class="row align-start change-form">
          <div class="row">
            <div class="adsh-form-input__box">
              <label
                for="currentPassword"
                class="adsh-form-label"
              >
                Current Password
              </label>
              <input
                id="currentPassword"
                class="adsh-form-input"
                type="password"
                name="currentPassword"
                ngModel
                #currentPassword="ngModel"
                required
              >
              <span
                class="error-msg"
                *ngIf="currentPassword.hasError('required') && changePasswordForm.submitted"
              >
                Current password required
              </span>
            </div>
            <div class="adsh-form-input__box">
              <label
                for="newPassword"
                class="adsh-form-label"
              >
                New Password
              </label>
              <input
                id="newPassword"
                class="adsh-form-input"
                type="password"
                name="newPassword"
                ngModel
                #newPassword="ngModel"
                minlength="8"
                required
              >
              <span
                *ngIf="newPassword.valid"
                class="input-valid"
              ></span>
              <span class="error-msg" *ngIf="newPassword.hasError('minlength') && newPassword.touched">
              Minimum 8 signs required!
            </span>
              <span
                class="error-msg"
                *ngIf="newPassword.hasError('required') && changePasswordForm.submitted"
              >
              New password required
            </span>
            </div>
            <div class="adsh-form-input__box">
              <label
                for="newPasswordConfirm"
                class="adsh-form-label"
              >
                Confirm Password
              </label>
              <input
                id="newPasswordConfirm"
                class="adsh-form-input"
                type="password"
                name="newPasswordConfirm"
                ngModel
                #newPasswordConfirm="ngModel"
                required
              >
              <span
                *ngIf="newPasswordConfirm.value === newPassword.value && newPassword.valid"
                class="input-valid"
              ></span>
              <span
                class="error-msg"
                *ngIf="newPasswordConfirm.value !== newPassword.value && newPasswordConfirm.touched"
              >
                Passwords don't match!
              </span>
            </div>
          </div>
          <button
            class="
              adsh-btn
              adsh-btn--blue"
          >
            Change password
          </button>
        </div>
      </form>
      <div
        class="
          row
          align-center
          delete-account"
      >
        <p
          class="
            adsh-copy
            adsh-copy--large"
        >
          We do our best to give you a great experience - we'll be sad to see you leave us.
        </p>
        <button
          class="
            adsh-btn
            adsh-btn--white
            adsh-btn--no-border
            adsh-blue"
          (click)="foo()"
        >
          Delete Account
        </button>
      </div>
    </div>
  </div>
</section>
