<section class="preferences">
  <div
    class="
      adsh-box
      adsh-box--large"
  >
    <div class="col">
      <h2
        class="
          adsh-heading
          adsh-heading--primary"
      >
        Preferences
      </h2>
      <p
        class="
          adsh-copy
          adsh-copy--large"
      >
        Here you can change the email address you use on Adshares and your password.
      </p>

      <form
        [formGroup]="changeEmailForm"
        (ngSubmit)="onChangeEmail()"
        class="adsh-form"
        data-test="settings-change-email-form"
      >
        <div
          class="
            row
            align-start
            change-form"
        >
          <div class="adsh-form-input__box">
            <label
              for="email"
              class="adsh-form-label"
            >
              Email Address
            </label>
            <input
              id="email"
              class="adsh-form-input"
              type="email"
              name="email"
              formControlName="email"
              data-test="settings-change-email-form-email"
            >
            <span
              class="input-valid"
              *ngIf="changeEmailForm.get('email').valid"
            ></span>
            <span
              class="error-msg"
              *ngIf="changeEmailForm.hasError('email', ['email']) && changeEmailFormSubmitted"
            >
              Invalid email!
            </span>
            <span
              class="error-msg"
              *ngIf="changeEmailForm.hasError('required', ['email']) && changeEmailFormSubmitted"
            >
              Email required!
            </span>
            <span
              class="error-msg"
              *ngIf="afterRequestValidation.email.emailChangeFailed"
            >
              Something went wrong, please try again.
            </span>
            <span
              class="success-msg"
              *ngIf="afterRequestValidation.email.success"
            >
              Your email was changed successfully.
            </span>
          </div>
          <button
            class="
              adsh-btn
              adsh-btn--blue"
            data-test="settings-change-email-form-submit"
          >
            Change email
          </button>
        </div>
      </form>

      <form
        [formGroup]="changePasswordForm"
        (ngSubmit)="onChangePassword()"
        class="adsh-form"
        data-test="settings-change-password-form"
      >
        <div
          class="
            row
            align-start
            change-form"
        >
          <div class="row">
            <div class="adsh-form-input__box">
              <label
                for="currentPassword"
                class="adsh-form-label"
              >
                Current Password
              </label>
              <input
                id="currentPassword"
                class="adsh-form-input"
                type="password"
                name="currentPassword"
                formControlName="currentPassword"
                data-test="settings-change-password-form-current-password"
              >
              <span
                class="error-msg"
                *ngIf="
                  changePasswordForm.hasError('required', ['currentPassword']) &&
                  changePasswordFormSubmitted"
              >
                Current password required!
              </span>
              <span
                class="error-msg"
                *ngIf="afterRequestValidation.password.passwordChangeFailed"
              >
                Something went wrong, please try again later
              </span>
              <span
                class="error-msg"
                *ngIf="afterRequestValidation.password.wrongPreviousPassword"
              >
                Wrong password!
              </span>
              <span
                class="success-msg"
                *ngIf="afterRequestValidation.password.success"
              >
                Password changed
              </span>
            </div>

            <div class="adsh-form-input__box">
              <label
                for="newPassword"
                class="adsh-form-label"
              >
                New Password
              </label>
              <input
                id="newPassword"
                class="adsh-form-input"
                type="password"
                name="newPassword"
                formControlName="newPassword"
                data-test="settings-change-password-form-new-password"
              >
              <span
                class="input-valid"
                *ngIf="changePasswordForm.get('newPassword').valid"
              ></span>
              <span
                class="error-msg"
                *ngIf="
                  changePasswordForm.hasError('required', ['newPassword']) &&
                  changePasswordFormSubmitted"
              >
                New password required
              </span>
              <span
                class="error-msg"
                *ngIf="changePasswordForm.hasError('minlength', ['newPassword']) &&
                       changePasswordForm.get('newPassword').touched">
                Minimum 8 signs required!
              </span>
            </div>

            <div class="adsh-form-input__box">
              <label
                for="newPasswordConfirm"
                class="adsh-form-label"
              >
                Confirm Password
              </label>
              <input
                id="newPasswordConfirm"
                class="adsh-form-input"
                type="password"
                name="newPasswordConfirm"
                [formControl]="newPasswordConfirm"
                data-test="settings-change-password-form-new-password-confirm-password"
              >
              <span
                class="input-valid"
                *ngIf="
                  newPasswordConfirm.value === changePasswordForm.get('newPassword').value &&
                  changePasswordForm.get('newPassword').valid"
              ></span>
              <span
                class="error-msg"
                *ngIf="
                  newPasswordConfirm.value !== changePasswordForm.get('newPassword').value &&
                  newPasswordConfirm.touched &&
                  changePasswordForm.get('newPassword').touched"
              >
                Passwords don't match!
              </span>
            </div>
          </div>

          <button
            class="
              adsh-btn
              adsh-btn--blue"
            data-test="settings-change-password-form-submit"
          >
            Change password
          </button>
        </div>
      </form>
      <div
        class="
          row
          align-center
          delete-account"
      >
        <p
          class="
            adsh-copy
            adsh-copy--large"
        >
          We do our best to give you a great experience - we'll be sad to see you leave us.
        </p>
        <button
          class="
            adsh-btn
            adsh-btn--white
            adsh-btn--no-border
            adsh-blue"
          data-test="settings-delete-account"
        >
          Delete Account
        </button>
      </div>
    </div>
  </div>
</section>
