.preference {
  .email-wrapper {
    width: 400px
  }

  .password-wrapper {
    width: 250px
  }

  & .ap-btn {
    height: 47px;
    margin-top: 25px;
  }
}

.delete-account {
  margin-top: 30px;
}
