<section class="preferences">
  <div
    class="
      adsh-box
      adsh-box--large"
  >
    <div class="col">
      <h2
        class="
          adsh-heading
          adsh-heading--primary"
      >
        Email & Password
      </h2>
      <p
        class="
          adsh-copy
          adsh-copy--large"
      >
        Here you can change your Profile's email and password.
      </p>

      <form
        [formGroup]="changeEmailForm"
        (ngSubmit)="onChangeEmail()"
        class="adsh-form"
        data-test="settings-change-email-form"
      >
        <div
          class="
            row
            align-start
            change-form"
        >
          <div class="adsh-form-input__box">
            <label
              for="email"
              class="adsh-form-label"
            >
              Email Address
            </label>
            <input
              id="email"
              class="adsh-form-input"
              type="email"
              name="email"
              formControlName="email"
              data-test="settings-change-email-form-email"
              [placeholder]="user.email"
            >
            <span
              class="input-valid"
              *ngIf="changeEmailForm.get('email').valid"
            ></span>
            <span
              class="error-msg"
              *ngIf="changeEmailForm.hasError('email', ['email']) && changeEmailFormSubmitted"
            >
              Invalid email!
            </span>
            <span
              class="error-msg"
              *ngIf="changeEmailForm.hasError('required', ['email']) && changeEmailFormSubmitted"
            >
              Email required!
            </span>
            <span
              class="error-msg"
              *ngIf="errorEmailChange"
            >
              {{errorEmailChange}}
            </span>
          </div>
          <button
            class="
              adsh-btn
              adsh-btn--blue"
            data-test="settings-change-email-form-submit"
          >
            Change email
          </button>
        </div>
      </form>

      <form
        [formGroup]="changePasswordForm"
        (ngSubmit)="onChangePassword()"
        class="adsh-form"
        data-test="settings-change-password-form"
      >
        <div
          class="
            row
            align-start
            change-form"
        >

          <div class="row">
            <div class="adsh-form-input__box">
              <label
                for="currentPassword"
                class="adsh-form-label"
              >
                Current Password
              </label>
              <input
                id="currentPassword"
                class="adsh-form-input"
                type="password"
                name="currentPassword"
                formControlName="currentPassword"
                data-test="settings-change-password-form-current-password"
              >
              <span
                      class="error-msg"
                      *ngIf="errorsPasswordChange && ObjectKeys(errorsPasswordChange).length > 0"
              >
                <span *ngFor="let errorForm of ObjectKeys(errorsPasswordChange)">{{ errorsPasswordChange[errorForm] }}</span>
              </span>
              <span
                class="error-msg"
                *ngIf="
                  changePasswordForm.hasError('required', ['currentPassword']) &&
                  changePasswordFormSubmitted"
              >
                Current password required!
              </span>
            </div>
            <div class="adsh-form-input__box">
              <label
                for="newPassword"
                class="adsh-form-label"
              >
                New Password
              </label>
              <input
                id="newPassword"
                class="adsh-form-input"
                type="password"
                name="newPassword"
                formControlName="newPassword"
                data-test="settings-change-password-form-new-password"
              >
              <span
                class="input-valid"
                *ngIf="changePasswordForm.get('newPassword').valid"
              ></span>
              <span
                class="error-msg"
                *ngIf="
                  changePasswordForm.hasError('required', ['newPassword']) &&
                  changePasswordFormSubmitted"
              >
                New password required
              </span>
              <span
                class="error-msg"
                *ngIf="changePasswordForm.hasError('minlength', ['newPassword']) &&
                       changePasswordForm.get('newPassword').touched">
                Minimum 8 signs required!
              </span>
            </div>

            <div class="adsh-form-input__box">
              <label
                for="newPasswordConfirm"
                class="adsh-form-label"
              >
                Confirm Password
              </label>
              <input
                id="newPasswordConfirm"
                class="adsh-form-input"
                type="password"
                name="newPasswordConfirm"
                [formControl]="newPasswordConfirm"
                data-test="settings-change-password-form-new-password-confirm-password"
              >
              <span
                class="input-valid"
                *ngIf="
                  newPasswordConfirm.value === changePasswordForm.get('newPassword').value &&
                  changePasswordForm.get('newPassword').valid"
              ></span>
              <span
                class="error-msg"
                *ngIf="
                  newPasswordConfirm.value !== changePasswordForm.get('newPassword').value &&
                  newPasswordConfirm.touched &&
                  changePasswordForm.get('newPassword').touched"
              >
                Passwords don't match!
              </span>
            </div>
          </div>
          <button
            class="
              adsh-btn
              adsh-btn--blue"
            data-test="settings-change-password-form-submit"
          >
            Change password
          </button>
        </div>
        <!-- <div
                class="warning-msg"
                *ngIf="graceTime"
        >
          You password was expire in 3 days!
        </div> -->

      </form>
    </div>
  </div>
</section>
