.dialog {
  &__controls {
    margin-top: 1rem;
  }

  &__confirm-btn {
    min-width: 120px;
    margin-left: 16px;
  }
  .ap-success {
    &--large {
      font-size: 1.5rem !important;
    }
  }
}
