<mat-dialog-content class="text-center dialog">
  <div (click)="dialogRef.close()" class="ap-dialog-close"></div>

  <div class="col row--gap18">
    <h2 class="ap-heading ap-heading--h3">
      {{ title }}
    </h2>

    <p class="ap-copy ap-success ap-multiline" [innerHTML]="message"></p>

    <div class="row row--gap8 justify-center">
      <button class="ap-btn ap-btn--secondary" [mat-dialog-close]="false">No</button>

      <button class="ap-btn ap-btn--primary" [mat-dialog-close]="true" cdkFocusInitial>Yes</button>
    </div>
  </div>
</mat-dialog-content>
