<mat-dialog-content class="text-center dialog">
  <div
    (click)="dialogRef.close()"
    class="adsh-dialog-close"
  ></div>
  <h1
    class="
      adsh-heading
      adsh-heading--primary"
  >
    {{ title }}
  </h1>

  <p
    class="
      adsh-copy
      adsh-copy--large
      adsh-customize-subheading
      adsh-success
      adsh-success--large
      adsh-multiline"
  >
    {{ message }}
  </p>

  <button
    class="
      adsh-btn
      adsh-btn--white
      adsh-copy--dark"
    mat-button
    [mat-dialog-close]=false
  >
    No
  </button>

  <button
    class="
      dialog__confirm-btn
      adsh-btn
      adsh-btn--blue
      adsh-copy--white"
    mat-button
    [mat-dialog-close]=true
    cdkFocusInitial
  >
    Yes
  </button>
</mat-dialog-content>
