@import '../../../styles';

.agency-dashboard {
  width: 100%;
  min-height: calc(100vh - #{$app-header-height});

  .settings-outlet {
    width: 100%;

  }
}

.chart-wrapper {
  height: 400px;
  margin: 0 0 80px;

  &--small {
    margin-top: 30px;
    height: 250px;
  }
}
