<tr class="ref-link-list-item row justify-between">
  <td class="ref-link-settings__token">
    <a
      href="{{getRefLinkUrl()}}"
      target="_blank"
      rel="noopener nofollow noreferrer"
      title="Open referral link"
    >
      {{ refLink.token }}
      <fa-icon [icon]="faExternalLinkSquareAlt" class="dwmth-icon dwmth-icon--large"></fa-icon>
    </a>
    <small *ngIf="refLink.validUntil">Valid until: {{ refLink.validUntil | formatDate:dateFormat }}</small>
  </td>
  <td class="ref-link-settings__refund" *ngIf="refundEnabled">
    {{ refundCommission | percent:'1.0-2' }} / {{ bonusCommission | percent:'1.0-2' }}
    <div *ngIf="refLink.bonus">Bonus: {{ refLink.bonus | formatMoney:2 }}</div>
    <small *ngIf="refLink.refundValidUntil">Valid until: {{ refLink.refundValidUntil | formatDate:dateFormat }}</small>
  </td>
  <td class="ref-link-settings__comment">
    <em>{{ refLink.comment || "-" }}</em>
  </td>
  <td class="ref-link-settings__usage">
    {{ refLink.usageCount }}
    <small *ngIf="refLink.singleUse">(single use)</small>
  </td>
  <td class="ref-link-settings__refunded" *ngIf="refundEnabled">
    {{ refLink.refunded | formatMoney:4:crypto:code }}
  </td>
  <td class="ref-link-settings__actions col justify-between">
    <button
      class="dwmth-btn dwmth-btn--x-small dwmth-btn--blue"
      (click)="copyUrl()"
    >Copy URL
    </button>
    <button
      class="dwmth-btn dwmth-btn--x-small dwmth-btn--blue"
      (click)="delete()"
    >Delete
    </button>
  </td>
</tr>
