<tr class="ref-link-list-item row justify-between">
  <td class="row col-xs-3 text-left">
    <a href="{{ getRefLinkUrl() }}" target="_blank" rel="noopener nofollow noreferrer" title="Open referral link">
      {{ refLink.token }}
      <fa-icon [icon]="faExternalLinkSquareAlt" class="ap-icon ap-icon--large"></fa-icon>
    </a>
    <small *ngIf="refLink.validUntil">Valid until: {{ refLink.validUntil | formatDate : dateFormat }}</small>
  </td>
  <td class="row col-xs-2 text-left" *ngIf="refundEnabled">
    {{ refundCommission | percent : '1.0-2' }} /
    {{ bonusCommission | percent : '1.0-2' }}
    <div *ngIf="refLink.bonus">Bonus: {{ refLink.bonus | formatMoney : 2 }}</div>
    <small *ngIf="refLink.refundValidUntil"
      >Valid until: {{ refLink.refundValidUntil | formatDate : dateFormat }}</small
    >
  </td>
  <td class="row col-xs-2 text-left">
    <em>{{ refLink.comment || '-' }}</em>
  </td>
  <td class="col align-center justify-center col-xs-1">
    {{ refLink.usageCount }}
    <span class="ap-copy--small">single use</span>
  </td>
  <td class="row col-xs-2 text-left" *ngIf="refundEnabled">
    {{ refLink.refunded | formatMoney : 4 : crypto : code }}
  </td>
  <td class="row col-xs-2 text-left row--gap8">
    <button matTooltip="Copy" class="ap-icon-btn ap-icon-btn--secondary" (click)="copyUrl()">
      <fa-icon [icon]="faCopy"></fa-icon>
    </button>
    <button matTooltip="Delete" *ngIf="!refLink.used" class="ap-icon-btn ap-icon-btn--error" (click)="delete()">
      <fa-icon [icon]="faTrash"></fa-icon>
    </button>
  </td>
</tr>
