@import '../../../../styles.scss';

.campaign-edit-additional-targeting {
  max-width: 1000px;
  margin: 0 auto;

  @include media(xxl-up) {
    max-width: 1300px;
  }

  @include media(xxxl-up) {
    max-width: 2000px;
  }
}

.targeting-select-wrapper {
  margin-top: 30px;
}

.targeting-accordion {
  > .dwmth-box {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
