<app-edit-asset-navigation></app-edit-asset-navigation>
<section class="homepage-view campaign-edit-additional-targeting container">
  <ng-template #loadCampaign>
    <div class="loading-wrapper">
      <mat-spinner [diameter]="30" [strokeWidth]="4"></mat-spinner>
    </div>
  </ng-template>

  <ng-container *ngIf="!isLoading; else loadCampaign">
    <div class="ap-box">
      <h2 class="ap-heading ap-heading--h2 box-title">Targeting</h2>
      <div *ngIf="isAutoCpm" class="box-content">
        <div class="targeting-reach-wrapper">
          <app-targeting-reach
            *ngIf="isAutoCpm"
            [ads]="campaign.ads || []"
            [autoCpm]="true"
            [targeting]="{
              requires: this.addedItems,
              excludes: this.excludedItems
            }"
            [vendor]="campaign.basicInformation.vendor"></app-targeting-reach>
        </div>
      </div>

      <div *ngIf="!isAutoCpm" class="box-content col row--gap18">
        <div class="targeting-reach-wrapper">
          <app-targeting-reach
            [ads]="campaign.ads || []"
            [cpm]="campaignBasicInfoForm.get('maxCpm').value || 0"
            [targeting]="{
              requires: this.addedItems,
              excludes: this.excludedItems
            }"
            [vendor]="campaign.basicInformation.vendor"></app-targeting-reach>
        </div>
        <form
          *ngIf="!isAutoCpm"
          [formGroup]="campaignBasicInfoForm"
          (ngSubmit)="onSubmit()"
          class="ap-form cpm-form"
          data-test="advertiser-edit-campaign-additional-targeting-form">
          <div class="ap-form-input__box relative">
            <label for="campaign-max-cpm" class="ap-form-label"> Max CPM ({{ currencyCode }}) </label>
            <input
              id="campaign-max-cpm"
              class="ap-form-input input-budget"
              type="number"
              step="0.01"
              name="campaignMaxCpm"
              formControlName="maxCpm"
              data-test="advertiser-edit-campaign-additional-targeting-max-cpm" />
            <span *ngIf="campaignBasicInfoForm.get('maxCpm').valid" class="input-valid"></span>
            <span class="error-msg" *ngIf="campaignBasicInfoForm.hasError('min', ['maxCpm']) && submitted">
              Allowed minimum is
              {{ configuredMinCpm | formatMoney : 2 : '' }}
            </span>
          </div>
        </form>
      </div>

      <div class="box-content">
        <mat-accordion multi="true" data-test="advertiser-edit-campaign-additional-targeting-accordion">
          <mat-expansion-panel
            (opened)="requirePanelOpenState = true"
            (closed)="requirePanelOpenState = false"
            [expanded]="true"
            data-test="advertiser-edit-campaign-additional-targeting-accordion-panel-required">
            <mat-expansion-panel-header class="ap-heading ap-heading--h3">
              <mat-panel-title> Targeting </mat-panel-title>
            </mat-expansion-panel-header>

            <div class="row">
              <div class="col-xs-6 no-gutters ap-box--no-padding">
                <p class="ap-copy">
                  If you want to apply specific targeting to your campaign (e.g. language, country, device etc.), please
                  select options below. In case you want to target specific website, make sure that it is one of
                  Adshares publishers. Please note that your campaign reach will be limited by the options you select.
                </p>

                <div class="targeting-select-wrapper">
                  <app-targeting-select
                    *ngIf="targetingOptionsToAdd && targetingOptionsToAdd.length > 0"
                    [targetingOptions]="targetingOptionsToAdd"
                    [addedItems]="addedItems"
                    (itemsChange)="updateAddedItems($event)"></app-targeting-select>
                </div>
              </div>

              <div class="col-xs-6">
                <app-targeting-display
                  [items]="addedItems"
                  [canRemove]="true"
                  [isExclude]="false"
                  (itemsChange)="updateAddedItems($event)"
                  [targetingOptions]="targetingOptionsToAdd"></app-targeting-display>
              </div>
            </div>
          </mat-expansion-panel>

          <div class="ap-targeting-display__preview">
            <app-targeting-display
              [items]="addedItems"
              [canRemove]="true"
              [isExclude]="false"
              (itemsChange)="updateAddedItems($event)"
              [targetingOptions]="targetingOptionsToAdd"
              *ngIf="!requirePanelOpenState"></app-targeting-display>
          </div>

          <mat-expansion-panel
            (opened)="excludePanelOpenState = true"
            (closed)="excludePanelOpenState = false"
            data-test="advertiser-edit-campaign-additional-targeting-accordion-panel-excluded">
            <mat-expansion-panel-header class="ap-heading ap-heading--h3">
              <mat-panel-title> Exclusions </mat-panel-title>
            </mat-expansion-panel-header>

            <div class="row">
              <div class="col-xs-6">
                <p class="ap-copy">
                  If you want your ads not to be displayed on specific domains, devices, in certain countries or by a
                  specific group of users, please select options below.
                </p>

                <div class="targeting-select-wrapper">
                  <app-targeting-select
                    *ngIf="targetingOptionsToExclude && targetingOptionsToExclude.length > 0"
                    [targetingOptions]="targetingOptionsToExclude"
                    [addedItems]="excludedItems"
                    (itemsChange)="updateExcludedItems($event)"></app-targeting-select>
                </div>
              </div>

              <div class="col-xs-6">
                <app-targeting-display
                  [items]="excludedItems"
                  [canRemove]="true"
                  [isExclude]="true"
                  (itemsChange)="updateExcludedItems($event)"
                  [targetingOptions]="targetingOptionsToExclude"></app-targeting-display>
              </div>
            </div>
          </mat-expansion-panel>

          <div class="ap-targeting-display__preview">
            <app-targeting-display
              [items]="excludedItems"
              [canRemove]="true"
              [isExclude]="true"
              (itemsChange)="updateExcludedItems($event)"
              [targetingOptions]="targetingOptionsToExclude"
              *ngIf="!excludePanelOpenState"></app-targeting-display>
          </div>
        </mat-accordion>
      </div>
    </div>
  </ng-container>

  <div class="ap-box">
    <div class="box-content row justify-between">
      <button class="ap-btn ap-btn--secondary" role="link" (click)="onStepBack()">Back</button>
      <div class="row row--gap8">
        <button
          *ngIf="createCampaignMode"
          (click)="saveCampaignTargetingAndCpm(true)"
          class="ap-btn ap-btn--secondary"
          data-test="advertiser-edit-campaign-save-as-draft">
          Save as draft
        </button>
        <button
          (click)="onSubmit()"
          class="ap-btn ap-btn--primary"
          data-test="advertiser-edit-campaign-save-and-continue">
          <span *ngIf="!changesSaved; else loading">{{ createCampaignMode ? 'Save & continue' : 'Update' }}</span>
          <ng-template #loading>
            <mat-spinner [diameter]="20" [strokeWidth]="2" color="accent"></mat-spinner>
          </ng-template>
        </button>
      </div>
    </div>
  </div>
</section>
