<section class="row">
  <div class="col-xs-6">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          1. Requires
        </mat-panel-title>
      </mat-expansion-panel-header>

      <p>
        In this window, you can select the keywords that will help you choose the ads that are related to your site and meet your requirements.
      </p>

      <app-targeting-select
        [targetingOptions]="TargetingOptionsToAdd"
        [addedItems]="addedItems"
      ></app-targeting-select>
    </mat-expansion-panel>
  </div>

  <div class="col-xs-6">
    <app-targeting-display [items]="addedItems"></app-targeting-display>
  </div>
</section>

<section class="row">
  <div class="col-xs-6">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          2. Exclude
        </mat-panel-title>
      </mat-expansion-panel-header>

      <p>
        Some missing text
      </p>

      <app-targeting-select
        [targetingOptions]="TargetingOptionsToExclude"
        [addedItems]="excludedItems"
      ></app-targeting-select>

    </mat-expansion-panel>
  </div>

  <div class="col-xs-6">
    <app-targeting-display [items]="excludedItems"></app-targeting-display>
  </div>
</section>

<a
  routerLink="../basic-information"
  [queryParams]="{step: 1}"
>
  <button
    class="
      adsh-btn
      adsh-btn--white
      adsh-bg-green"
  >
    Back
  </button>
</a>

<a
  routerLink="../create-ad"
  [queryParams]="{step: 3}"
>
  <button
    class="
      adsh-btn
      adsh-btn--white
      adsh-bg-blue"
  >
    Save & Continue
  </button>
</a>

