@import '../../../../styles.scss';

.campaign-edit-additional-targeting {


  @include media(xxl-up) {
    max-width: 1300px;
  }

  @include media(xxxl-up) {
    max-width: 2000px;
  }

  .cpm-form {
    width: 210px
  }
}

.targeting-reach-wrapper {
  min-height: 58px;
}

.targeting-select-wrapper {
  margin-top: 30px;
}

.loading-wrapper {
  align-items: center;
  height: 600px;
}
