<mat-accordion class="classifier-filtering">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon>
          filter_list
        </mat-icon>
        Filter banners by status
      </mat-panel-title>
      <mat-panel-description>
        {{status.value ? status.value : ''}}
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-radio-group [formControl]="status" (change)="changeFiltering()">
      <mat-radio-button value="Approved">
        Approved
      </mat-radio-button>
      <mat-radio-button value="Rejected">
        Rejected
      </mat-radio-button>
      <mat-radio-button value="Unclassified">
        Unclassified
      </mat-radio-button>
      <mat-radio-button value="">
        All
      </mat-radio-button>
    </mat-radio-group>

  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon>
          filter_list
        </mat-icon>
        Filter banners by size
      </mat-panel-title>
      <mat-panel-description>
        <span *ngFor="let chosenSize of sizes"
              class="classifier-filtering__chosen-value">
          {{ chosenSize }}
        </span>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-checkbox *ngFor="let sizeOption of adSizesOptions"
                  (change)="sizeSelect($event, sizeOption)"> {{sizeOption}}
    </mat-checkbox>
  </mat-expansion-panel>
</mat-accordion>


