@import '../../../../styles.scss';

.classifier-filtering {
  width: 100%;

  & > mat-expansion-panel:not(:last-child) {
    margin-bottom: 4px;
  }

  &__chosen-value:not(:last-of-type) {
    margin-right: 8px;
  }

  &__label {
    @include label($margin-top: 0);
    display: block;
  }

  &__input {
    @include input;
  }

  &__btn {
    @include btn();
  }

  &__content-padding {
    padding-left: 12px;
  }

  &__icon {
    margin-right: 4px;
  }

  &__checkbox {
    padding-left: 16px;
    margin-top: 4px;
  }

  &__hidden {
    display: none;
  }
}
