@import '../../../../styles.scss';

.classifier-filtering {
  width: 100%;

  &__chosen-value:not(:last-of-type) {
    margin-right: 8px;
  }

  &__label {
    @include label($margin-top: 0);
    display: block;
  }

  &__input {
    @include input;
    margin-right: 8px;
  }

  &__btn {
    @include btn();
  }

  &__content-padding{
    padding-left: 12px;
  }

  &__icon{
    margin-right: 4px;
  }
}

.local-classifier{

  &__wrapper{
    padding-left: 16px;
  }
}
