<mat-accordion class="classifier-filtering">
  <mat-expansion-panel>
    <mat-expansion-panel-header class="classifier-filtering__content-padding">
      <mat-panel-title>
        <mat-icon class="classifier-filtering__icon"> filter_list </mat-icon>
        Filter banners by status
      </mat-panel-title>
      <mat-panel-description>
        {{ statusDescription }}
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-radio-group [formControl]="status" (change)="changeFiltering()">
      <mat-radio-button value="Approved">
        {{ isGlobal ? 'Omitted' : 'Approved' }}
      </mat-radio-button>
      <mat-radio-button value="Rejected">
        {{ isGlobal ? 'Rejected' : 'Omitted' }}
      </mat-radio-button>
      <mat-radio-button value="Unclassified"> Unclassified </mat-radio-button>
      <mat-radio-button value=""> All </mat-radio-button>
    </mat-radio-group>
  </mat-expansion-panel>
  <mat-expansion-panel *ngIf="sizeOptions.length > 0">
    <mat-expansion-panel-header class="classifier-filtering__content-padding">
      <mat-panel-title>
        <mat-icon class="classifier-filtering__icon"> filter_list </mat-icon>
        Filter banners by size
      </mat-panel-title>
      <mat-panel-description>
        <span *ngIf="sizes.length === 0 && filtering.sizes.length === 0" class="classifier-filtering__chosen-value">
          All
        </span>
        <span *ngIf="sizeOptions.length === filtering.sizes.length" class="classifier-filtering__chosen-value">
          All matching
        </span>
        <ng-container *ngIf="sizes.length !== sizeOptions.length">
          <span *ngFor="let chosenSize of sizes" class="classifier-filtering__chosen-value">
            {{ chosenSize }}
          </span>
        </ng-container>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div class="col row--gap8">
      <div class="row row--gap32">
        <mat-checkbox (change)="sizeOptionChange($event, 'allSizes')" [checked]="allSizes"> All </mat-checkbox>
        <mat-checkbox (change)="sizeOptionChange($event, 'allSizesMatching')" [checked]="allSizesMatching">
          All matching
        </mat-checkbox>
      </div>

      <div class="row row--gap8">
        <mat-checkbox
          *ngFor="let sizeOption of sizeOptions"
          (change)="sizeSelect($event, sizeOption)"
          [checked]="filtering.sizes.includes(sizeOption)">
          {{ sizeOption }}
        </mat-checkbox>
      </div>
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header class="classifier-filtering__content-padding">
      <mat-panel-title>
        <mat-icon class="classifier-filtering__icon"> filter_list </mat-icon>
        Filter banners by landing url
      </mat-panel-title>
      <mat-panel-description>
        <span class="classifier-filtering__chosen-value">
          {{ landingUrl.value }}
        </span>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <form (submit)="changeFilteringByLandingUrl()">
      <label class="classifier-filtering__label" for="landingUrl"> Landing url </label>
      <div class="row row--gap8">
        <input id="landingUrl" [formControl]="landingUrl" type="text" class="classifier-filtering__input" />
        <button type="submit" class="ap-btn ap-btn--secondary">Search</button>
      </div>
    </form>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header class="classifier-filtering__content-padding">
      <mat-panel-title>
        <mat-icon class="classifier-filtering__icon"> filter_list </mat-icon>
        Filter banners by id
      </mat-panel-title>
      <mat-panel-description>
        <span class="classifier-filtering__chosen-value">
          {{ bannerId.value }}
        </span>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <form (submit)="changeFilteringByBannerId()">
      <label class="classifier-filtering__label" for="bannerId"> Banner id </label>
      <div class="row row--gap8">
        <input id="bannerId" [formControl]="bannerId" type="text" class="classifier-filtering__input" />
        <div class="row row--gap8">
          <button type="submit" class="ap-btn ap-btn--secondary">Search</button>
          <button class="ap-btn ap-btn--secondary ap-btn-error" (click)="changeFilteringByBannerIdReset()">
            Clear
          </button>
        </div>
      </div>
    </form>
  </mat-expansion-panel>
</mat-accordion>
<div [ngClass]="classifierOption === 'local-only' ? 'classifier-filtering__hidden' : 'classifier-filtering__checkbox'">
  <mat-checkbox [checked]="classifierLocalBanners !== 0" (change)="changeFilterByServer($event.checked)">
    Show banners only from local server
  </mat-checkbox>
</div>
