<mat-dialog-content
  class="
    text-center
    mat-dialog-content--narrow"
>
  <div
    (click)="dialogRef.close()"
    class="adsh-dialog-close"
  ></div>
  <h1
    class="
      adsh-heading
      adsh-heading--primary"
  >
    Change Address
  </h1>

  <p
    class="
      adsh-copy
      adsh-copy--large
      dialog-description"
  >
    Etiam pretium dapibus congue. Praesent a lorem erat. Morbi mollis posuere lacus, vel semper risus.
  </p>

  <div
    class="
      add-funds-content
      dialog-main-content"
  >
    <form
      [formGroup]="changeWithdrawAddressForm"
      (ngSubmit)="changeWithdrawAddress()"
      class="adsh-form"
    >
      <div class="adsh-form-input__box">
        <label
          for="ethereum-address"
          class="adsh-form-label"
        >
          Your Wallet Address
        </label>
        <input
          id="ethereum-address"
          class="
            adsh-form-input
            adsh-form-input--full"
          name="ethereum-address"
          [value]="userEthAddress"
          disabled
        >
        <span class="input-valid"></span>
      </div>

      <div class="adsh-form-input__box">
        <label
          for="address"
          class="adsh-form-label"
        >
          New Address
        </label>
        <input
          id="address"
          class="
            adsh-form-input
            adsh-form-input--full"
          type="url"
          name="address"
          formControlName="address"
        >
        <span
          *ngIf="changeWithdrawAddressForm.get('address').valid"
          class="input-valid"
        ></span>
        <span
          class="error-msg"
          *ngIf="
            (changeWithdrawAddressForm.hasError('minlength', ['address'])
            || changeWithdrawAddressForm.hasError('maxlength', ['address']))
            && changeAddressFormSubmitted"
        >
          Wrong address format.
        </span>
        <span
          class="error-msg"
          *ngIf="!changeWithdrawAddressForm.get('address').valid && changeAddressFormSubmitted"
        >
          Please provide a valid address.
        </span>
      </div>

      <div
        class="
          row
          justify-center"
      >
        <button
          class="
            adsh-btn
            adsh-btn--blue"
        >
          <span *ngIf="!isFormBeingSubmitted ; else loading">
              Save
            </span>
          <ng-template #loading>
            <mat-spinner [diameter]="20" [strokeWidth]="2" color="accent"></mat-spinner>
          </ng-template>
        </button>
      </div>
    </form>
  </div>
</mat-dialog-content>
